Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

[WIP] Name change, macro fix
  code/_macros.dm
  code/modules/power/fusion/core/_core.dm
Labels: Code

pass 1
  code/modules/boh_misc/firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Code, Map

adds eighties haircut
  icons/mob/human_races/species/human/hair.dmi
Labels: Icon

adds eighties haircut
  code/modules/sprite_accessories/_accessory_hair.dm
Labels: Code

Update Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code

Adds maid outfits to loadout
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
Labels: Code

fixes errors
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
Labels: Code

Updates test checks
  test/check-paths.sh
Labels: ‚ùåDO NOT MERGE

Fixes strange use of parent referral
  code/_onclick/hud/ability_screen_objects.dm
Labels: Code

Updates a couple items
  code/controllers/subsystems/ghostroles.dm
  code/modules/ghostroles/spawner/base.dm
Labels: Code

abril fulz
  code/modules/organs/internal/species/insectoid.dm.bak
  maps/torch/job/service_jobs.dm.bak
Labels: Code, Map

oops
  code/modules/organs/internal/species/insectoid.dm.bak
  maps/torch/job/service_jobs.dm.bak
Labels: Code, Map

restricts to role
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
Labels: Code

fixes errors
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
Labels: Code

Female sprites
  code/datums/underwear/undershirt.dm
  icons/mob/human.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
Labels: Code, Icon, Map

[APRIL FOOLS] MAID EDITION
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/outfits/corporate_outfits.dm
  maps/torch/job/outfits/engineering_outfits.dm
  maps/torch/job/outfits/exploration_outfits.dm
  maps/torch/job/outfits/hestia_outfits.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/outfits/research_outfits.dm
  maps/torch/job/outfits/security_outfits.dm
  maps/torch/job/outfits/service_outfits.dm
  maps/torch/job/outfits/supply_outfits.dm
Labels: Map

[APRIL FOOLS] MULTIBALL EDITION
  maps/torch/job/command_jobs.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

ARMOR
  code/game/gamemodes/wizard/servant_items/infiltrator.dm
Labels: Code

[APRIL FOOLS] SECURE PERMABRIG EDITION
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Update recipes_oven.dm
  code/modules/cooking/recipes/recipes_oven.dm
Labels: Code

Update snacks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Code

yep. MEMES.
  code/modules/boh_misc/firearms.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/officer_pistol.dmi
Labels: Code, Icon

command/pol/fix
  code/modules/boh_misc/boxes.dm
  maps/torch/structures/closets/command.dm
Labels: Code, Map

Update boxes.dm
  code/modules/boh_misc/boxes.dm
Labels: Code

Update boxes.dm
  code/modules/boh_misc/boxes.dm
Labels: Code

Saferooms: The Ensafening
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Fixes
  maps/torch/torch2_deck4.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

ye
  code/modules/boh_misc/firearms.dm
  icons/obj/guns/officer_pistol.dmi
Labels: Code, Icon

Cognito
  maps/torch/torch2_deck4.dmm
Labels: Map

Fixes
  baystation12.dme
  code/controllers/subsystems/ghostroles.dm
  code/game/atoms.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawnpoint/spawnpoint.dm
  code/modules/mob/mob_helpers.dm
Labels: Code

Update plasmasans.dm
  code/modules/species/station/plasmasans.dm
Labels: Code

SMARTGUNS EVERYWHERE
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Update The_Hestian_Debacle.png
  maps/torch/lobby/The_Hestian_Debacle.png
Labels: Map

Hestian_Debacle MK2
  maps/torch/lobby/The_Hestian_Debacle.png
Labels: Map

Fixes
  maps/torch/torch5_deck1.dmm
Labels: Map

More fixes
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Even more fixes
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Last fixes?
  maps/torch/torch5_deck1.dmm
Labels: Map

Wiring fix
  maps/torch/torch6_bridge.dmm
Labels: Map

Last fix?
  maps/torch/torch3_deck3.dmm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
