Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

bowmans for infantry
  maps/torch/infantry/outfits.dm
  maps/torch/structures/closets.dm
Labels: Map

imagine forgetting commas
  maps/torch/structures/closets.dm
Labels: Map

Initial Commit
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
Labels: Map

atmospherics.dm traducidooo
  code/datums/supplypacks/atmospherics.dm
Labels: Code

emergency.dm traducido.
  code/datums/supplypacks/emergency.dm
Labels: Code

oopsie doopsie
  code/datums/supplypacks/atmospherics.dm
Labels: Code

Fixes leaky pipe
  maps/torch/torch3_deck3.dmm
Labels: Map

Custodial.dm traduciiidooo
  code/datums/supplypacks/custodial.dm
Labels: Code

tradutraducieeendo
  code/datums/supplypacks/supply.dm
Labels: Code

paro de traaaducir... uh, pueden merguear si gustan
  code/modules/emotes/definitions/visible.dm
Labels: Code

rolas
  sound/music/andromeda.ogg
  sound/music/cumzone.ogg
  sound/music/curbyour.ogg
  sound/music/dust.ogg
  sound/music/hlife.ogg
  sound/music/spesscowboy.ogg
  sound/music/title2.ogg
  sound/music/title6.ogg
  sound/music/virtualinsanity.ogg
Labels: Sound

grammar
  code/modules/emotes/definitions/audible.dm
Labels: Code

oops missed one
  code/modules/emotes/definitions/audible.dm
Labels: Code

reorganises mess (Kitchen layout reworked + hydro trays, wood mess)
  maps/torch/torch3_deck3.dmm
Labels: Map

Forgot what this changed but I hope it fixes shit
  maps/torch/torch3_deck3.dmm
Labels: Map

Fixes leaky pipe in cabins (how tf?), shuffles hydro trays
  maps/torch/torch3_deck3.dmm
Labels: Map

Where the fuck are all these leaky pipes coming from
  maps/torch/torch3_deck3.dmm
Labels: Map

Adds pipes to /maintenance/, god damnit Travis
  maps/torch/torch4_deck2.dmm
Labels: Map

arreglo... cosas )¿
  code/modules/emotes/definitions/synthetics.dm
  code/modules/emotes/definitions/visible.dm
Labels: Code

Pastes current dev map and pastes in changes
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map

Por QuÉ tIEnE Que Ser TaN comPlicADo
  code/modules/emotes/definitions/visible.dm
Labels: Code

Removes APC from aux med
  maps/torch/torch2_deck4.dmm
Labels: Map

twiddle
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Map

fashionscape
  maps/torch/items/machinery.dm
Labels: Map

i am a literal retard
  maps/torch/items/machinery.dm
Labels: Map

changes names of pouch colours
  code/modules/clothing/under/accessories/armor.dm
Labels: Code

greys in separate file grr
  code/modules/clothing/under/accessories/armor_boh.dm
Labels: Code

draw
  code/modules/boh_misc/vending.dm
Labels: Code

Switches the center tables around. Fucking bearcat ass error giving crap
  maps/torch/torch3_deck3.dmm
Labels: Map

Possibly fixes unit test
  code/game/machinery/alarm.dm
Labels: Code

no more thermals
  maps/torch/torch1_deck5.dmm
Labels: Map

no more green
  code/game/machinery/telecomms/presets.dm
Labels: Code

oh no mistake
  maps/torch/torch1_deck5.dmm
Labels: Map

Initial (re)commit
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map

Disposal pipe fix. Mine QDEL_IN change.
  code/game/objects/effects/mines.dm
  maps/torch/torch3_deck3.dmm
Labels: Code, Map

hud icon
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Diona machine go whoom
  code/modules/species/station/station.dm
Labels: Code

Very important typo fix
  maps/torch/items/clothing/solgov-head.dm
Labels: Map

Rig fixes and QoL
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  modular_mithra/code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code

Merchant can has RobCo
  maps/torch/z1_admin.dmm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
