Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Update storage.dm
  maps/torch/infantry/storage.dm
Labels: Map

hotfix 2 hotfixboogaloo
  maps/torch/job/hestia_jobs.dm
Labels: Map

Update firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Map

Update firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Map

Update solbanner.dm
  maps/torch/items/solbanner.dm
Labels: Map

gives mantids their crystal brothime
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Autolathe/Matter Tweaks
  code/game/objects/items/devices/paint_gun.dm
  code/game/objects/items/plunger.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/game/objects/items/weapons/tape.dm
  code/modules/fabrication/designs/general/designs_devices_components.dm
  code/modules/fabrication/designs/general/designs_tools.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Code

Lets Riflemen be Corporals (E4s) again
  maps/torch/job/hestia_jobs.dm
Labels: Map

Readds stun to arterial.
  code/modules/projectiles/projectile/beams.dm
Labels: Code

oops
  maps/torch/structures/closets.dm
Labels: Map

Infantry locker teaks
  maps/torch/structures/closets.dm
Labels: Map

Makes Bearcat crew provocateurs
  maps/away/bearcat/bearcat_jobs.dm
Labels: Map

Update unishi_jobs.dm
  maps/away/unishi/unishi_jobs.dm
Labels: Map

Update crashed_pod.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
Labels: Map

Commmmmmmmmmit
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
Labels: Code

Repara el mapa
  maps/torch/torch6_bridge.dmm
Labels: Map

A uriel le gustan las sandias
  code/datums/security_state.dm
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/silicon.dm
  code/game/jobs/job/symbiote.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/general/04_flavor.dm
  code/modules/client/preference_setup/loadout/lists/clothing.dm
  code/modules/client/preference_setup/loadout/lists/earwear.dm
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/client/preference_setup/loadout/lists/storage.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/lists/tactical.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/client/preference_setup/loadout/lists/utility.dm
  code/modules/client/preference_setup/loadout/lists/utility_boh.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/client/preference_setup/loadout/lists/xenowear_boh.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/mob/say.dm
  modular_mithra/code/modules/species/station/akula.dm
  modular_mithra/code/modules/species/station/custom.dm
  modular_mithra/code/modules/species/station/vasilissan.dm
  modular_mithra/code/modules/species/station/vulpkanin.dm
Labels: Code

Archivo malo caca
  modular_mithra/code/modules/mithra/sprite_accessories_vr .dm
Labels: Code

Cambio en un archivo malfuncionando
  baystation12.dme
Labels: none

Re adds Adjudicator and Bailiff, removes SGR.
  maps/torch/datums/reports/solgov.dm
  maps/torch/items/cards_ids.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/torch_areas.dm
Labels: Map

Re adds the judicial protection locker.
  maps/torch/structures/closets/misc.dm
Labels: Map

Fixes the huds
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Add's blueshield locker to the adjudicator's office.
  maps/torch/torch6_bridge.dmm
Labels: Map

Mas min
  code/game/jobs/job/civilian.dm
Labels: Code

Adds the augmented ties to the CL and Adjudicator.
  maps/torch/structures/closets/misc.dm
Labels: Map

The fix
  maps/torch/structures/closets/misc.dm
Labels: Map

Era este
  code/game/jobs/job/civilian.dm
  maps/torch/job/supply_jobs.dm
Labels: Code, Map

Traduccion a la xenoarqueologia
  code/modules/xenoarcheaology/anomaly_container.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  code/modules/xenoarcheaology/artifacts/autocloner.dm
  code/modules/xenoarcheaology/artifacts/crystal.dm
  code/modules/xenoarcheaology/artifacts/gigadrill.dm
  code/modules/xenoarcheaology/artifacts/replicator.dm
  code/modules/xenoarcheaology/boulder.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/misc.dm
  code/modules/xenoarcheaology/sampling.dm
Labels: Code

medical.dm (WIP)
  code/datums/uplink/medical.dm
Labels: Code

Adds magboots to syndie voidsuit purchase.
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Code

medical.dm traducido.
  code/datums/uplink/medical.dm
Labels: Code

Fixes.
  code/datums/uplink/armor_and_tactical_wear.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Code

multi-pen.dm
  code/modules/paperwork/pen/multi_pen.dm
Labels: Code

changes
  code/modules/boh/items/plasmasans.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/species/station/plasmasans.dm
Labels: Code

Más traducción a la Xenoarquelogia
  code/modules/xenoarcheaology/finds/find_spawning.dm
  code/modules/xenoarcheaology/finds/finds.dm
  code/modules/xenoarcheaology/finds/finds_defines.dm
  code/modules/xenoarcheaology/finds/fossils.dm
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
  code/modules/xenoarcheaology/tools/artifact_harvester.dm
  code/modules/xenoarcheaology/tools/artifact_scanner.dm
  code/modules/xenoarcheaology/tools/equipment.dm
  code/modules/xenoarcheaology/tools/geosample_scanner.dm
  code/modules/xenoarcheaology/tools/tools.dm
Labels: Code

Repara guantes
  code/modules/client/preference_setup/loadout/lists/gloves.dm
Labels: Code

fuck shitcode
  code/_onclick/hud/ability_screen_objects.dm
  code/modules/spells/spells.dm
Labels: Code

found the issue
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/spells/spells.dm
Labels: Code

Traducción xeno
  code/modules/xenoarcheaology/artifacts/gigadrill.dm
  code/modules/xenoarcheaology/boulder.dm
  code/modules/xenoarcheaology/sampling.dm
  code/modules/xenoarcheaology/tools/tools.dm
Labels: Code

Update torch2_deck4.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
