Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Done
  code/modules/boh_misc/machinery.dm
  maps/away/voxship/voxship-1.dmm
Labels: Code, Map

makes :A and .A send radio chatter on the infantry channel.
  code/modules/mob/living/say.dm
Labels: Code

Changes to turrets, the map and more.
  code/game/machinery/portable_turret.dm
  maps/away/voxship/voxship-1.dmm
  maps/torch/torch_define.dm
Labels: Code, Map

All done now'tm
  maps/away/voxship/voxship-1.dmm
Labels: Map

Burn chamber fix
  maps/away/voxship/voxship-1.dmm
Labels: Map

Quill pet!
  maps/away/voxship/voxship-1.dmm
  maps/torch/torch_define.dm
Labels: Map

attachments moment
  code/modules/projectiles/guns/attachments.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/guns/gun_attachments.dmi
Labels: Code, Icon

Wallmeds and food!
  maps/away/voxship/voxship-1.dmm
  maps/torch/torch_define.dm
Labels: Map

Added a church
  maps/away/voxship/voxship-1.dmm
Labels: Map

More?
  maps/away/voxship/voxship-1.dmm
Labels: Map

Reimplements APA
  maps/torch/job/corporate_jobs.dm
Labels: Map

Adjusted SGR and Guard access
  maps/torch/job/command_jobs.dm
Labels: Map

Skrell viable ship surgeon
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Map

dsadsdsa
  code/modules/mob/say.dm
  code/modules/mob/typing_indicator.dm
Labels: Code

Veteris background fix
  modular_mithra/code/modules/species/station/humanathi.dm
Labels: Code

Makes Sword Sheathes wearable on more things.
  code/game/objects/items/weapons/melee/misc.dm
  icons/mob/onmob/onmob_suit.dmi
Labels: Code, Icon

Combat Medic Uniform Change
  maps/torch/job/outfits/hestia_outfits.dm
Labels: Map

Clan_adopted
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  modular_mithra/code/modules/species/station/humanathi.dm
Labels: Code

Adds Tasers to Security's Kit Options
  code/modules/boh_misc/boxes.dm
  maps/torch/structures/closets/security.dm
Labels: Code, Map

whoooo - - - Provides Infantry with a revolver that isn't non-lethal by default. That's about it. - - -
  code/modules/projectiles/guns/energy/secure.dm
  maps/torch/infantry/storage.dm
Labels: Code, Map

Apply suggestions from code review
  code/modules/clothing/suits/jobs.dm
  maps/torch/items/encryption_keys.dm
  maps/torch/job/command_jobs.dm
Labels: Code, Map

Add files via upload
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Button fix, and Corpo guard locker readded.
  maps/torch/torch6_bridge.dmm
Labels: Map

Actual sorted bridge map.
  maps/torch/torch6_bridge.dmm
Labels: Map

Corpo guard actually added back.
  maps/torch/job/torch_jobs.dm
Labels: Map

Removes Phoron Catalyst Requirement
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Code

Halves amount healed per tick
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code

Adds Temperature Requirement.
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Code

Adds flavourtext on mixing
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Code

indentation fixes, desc better
  code/modules/culture_descriptor/culture/cultures_unathi.dm
Labels: Code

fixes shutters
  maps/torch/torch3_deck3.dmm
Labels: Map

Scrubber fix.
  maps/torch/torch6_bridge.dmm
Labels: Map

Removing redundant area
  maps/torch/torch_areas.dm
Labels: Map

readds arm legguards as sec thing
  maps/torch/loadout/loadout_accessories_boh.dm
Labels: Map

does medium plates under same restriction
  maps/torch/loadout/loadout_accessories_boh.dm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
  maps/away/voxship/voxship_areas.dm
Labels: Map

Update voxship.dm
  maps/away/voxship/voxship.dm
Labels: Map

Sol Gov Rep + Fed Guard (#1305)
  code/modules/clothing/suits/jobs.dm
  icons/turf/areas.dmi
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/items/encryption_keys.dm
  maps/torch/items/headsets.dm
  maps/torch/items/psyker/agent_items.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_ranks.dm
Labels: Code, Icon, Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

actually doesnt add the medium plates for balance reason
  maps/torch/loadout/loadout_accessories_boh.dm
Labels: Map
