Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Vox docking
  maps/away/voxship/voxship.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
Labels: Map

Lets the crew be just a bit more lazy.
  code/game/machinery/turret_control.dm
Labels: Code

Undoes that?
  code/game/machinery/turret_control.dm
Labels: Code

Try 2
  code/game/machinery/turret_control.dm
Labels: Code

Fixed that CI
  maps/away/voxship/voxship.dm
Labels: Map

hidden_item edits
  code/modules/clothing/clothing.dm
Labels: Code

reduces the engineering age minimum
  maps/torch/job/engineering_jobs.dm
Labels: Map

Changes the engineer minimum to 19
  maps/torch/job/engineering_jobs.dm
Labels: Map

Update maps/random_ruins/exoplanet_ruins/fighter_exoplanet/fighter_exoplanet.dm
  maps/random_ruins/exoplanet_ruins/fighter_exoplanet/fighter_exoplanet.dm
Labels: Map

adds ruin to dme
  baystation12.dme
Labels: none

Mantid Turret
  code/game/machinery/portable_turret.dm
Labels: Code

Adds tilt (lean)
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Code

Update portable_turret.dm
  code/game/machinery/portable_turret.dm
Labels: Code

Explo Access Expansion
  maps/torch/job/exploration_jobs.dm
Labels: Map

Battery of fixes
  code/game/machinery/hologram.dm
  code/game/objects/items/weapons/circuitboards/machinery/holopad.dm
  code/modules/ascent/ascent_machines.dm
  code/modules/research/designs/designs_circuits.dm
Labels: Code

bug fix
  code/modules/research/designs/designs_weapon.dm
Labels: Code

Update uniforms.dm
  maps/torch/datums/uniforms.dm
Labels: Map

Fixes erros, adds extra uniforms
  maps/torch/datums/uniforms.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: Map

fixes spelling error
  maps/torch/items/clothing/solgov-under.dm
Labels: Map

Update skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

New Cargo orders
  code/datums/supplypacks/galley.dm
  code/datums/supplypacks/materials.dm
Labels: Code

fixes spelling error
  maps/torch/items/clothing/solgov-under.dm
Labels: Map

Update baystation12.dme
  baystation12.dme
Labels: none

Give the same medical skill that a surgeon have to the Serpentid queen
  maps/away/ascent/ascent_jobs.dm
Labels: Map

(READY) SSV changes (#1483)
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

(READY) Update PULL_REQUEST_TEMPLATE.md (#1477)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

adds optional non-stripey uniforms
  maps/torch/datums/uniforms_fleet.dm
Labels: Map

Final touches I hope
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent_jobs.dm
Labels: Map

Fixes runtime
  maps/torch/datums/uniforms_fleet.dm
Labels: Map

Medical lifts. Some area changes.
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_elevator.dm
  maps/torch/torch_shuttles.dm
  maps/torch/z2_transit.dmm
Labels: Map

Fix for the ore pro, and QOL pass
  maps/away/voxship/voxship-1.dmm
Labels: Map

Missed this fix for the armorys power
  maps/away/voxship/voxship-1.dmm
Labels: Map

Chemistry, Atmospherics, APCs, Shutters.
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

100% not a fix for a kind of bug in the on-going round...
  maps/away/voxship/voxship-1.dmm
Labels: Map

Update ascent_jobs.dm
  maps/away/ascent/ascent_jobs.dm
Labels: Map

Let's remove all the hardstuns in the game
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/magnetic.dm
Labels: Code

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

a
  maps/away/voxship/voxship-1.dmm
Labels: Map

November 9, 1989
  maps/away/voxship/voxship-1.dmm
Labels: Map

Fixs more "in the walls"
  maps/away/voxship/voxship-1.dmm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
