Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Update taurbodies.dm
  modular_mithra/code/modules/mithra/taurbodies.dm
Labels: Code

fixes plasmasans
  code/modules/species/station/plasmasans.dm
  maps/torch/torch_ranks_boh.dm
Labels: Code, Map

pathfinder update :)
  icons/obj/bureaucracy.dmi
  maps/torch/items/stamps.dm
  maps/torch/torch2_deck4.dmm
Labels: Icon, Map

some exoplanet ruin about bluespace
  baystation12.dme
  maps/random_ruins/exoplanet_ruins/blue_puddle/blue_puddle.dm
  maps/random_ruins/exoplanet_ruins/blue_puddle/blue_puddle.dmm
Labels: Map

Update mantid_food.dm
  code/modules/boh/ascent2/mantid_food.dm
Labels: Code

Fixes Hyposprays
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Code

Mech Armor Balance Pass
  code/modules/mechs/components/armour.dm
Labels: Code

Seizuro moment
  code/modules/boh/ascent2/firearms.dm
  code/modules/boh/ascent2/projectiles.dm
Labels: Code

removes mithra bullshit
  modular_mithra/code/modules/species/station/station.dm
Labels: Code

Changes
  code/modules/boh/ascent2/firearms.dm
  code/modules/boh/ascent2/projectiles.dm
Labels: Code

removes lean
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Code

Offship gloves
  code/modules/ascent/ascent_rigs.dm
  code/modules/skrell/skrell_rigs.dm
Labels: Code

removes hair options from Unathi
  code/modules/sprite_accessories/_accessory_facial.dm
  code/modules/sprite_accessories/_accessory_hair.dm
  modular_mithra/code/modules/sprite_accessories/_accessory_hair.dm
Labels: Code

buffs darkvision
  code/__defines/species.dm
Labels: Code

Less Painful Laces (TM)
  code/modules/organs/internal/stack.dm
  sound/effects/lace_destroyed.ogg
Labels: Code, Sound

Update medals.dm
  code/modules/clothing/under/accessories/medals.dm
Labels: Code

Update onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
Labels: Map

guh
  maps/torch/infantry/outfits.dm
  maps/torch/job/outfits/hestia_outfits.dm
Labels: Map

SFP nonsense
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/torch_ranks.dm
  maps/torch/torch_ranks_boh.dm
Labels: Map

ugh
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Code

I forgor
  maps/torch/job/command_jobs.dm
Labels: Map

Makes it so that stacks do not explode on cryo
  code/modules/organs/internal/stack.dm
Labels: Code

Makes the blood actually blood colour
  code/modules/organs/internal/stack.dm
Labels: Code

[WIP] Smol addition, adds DynamicInit
  code/controllers/subsystems/initialization/barsys.dm
Labels: Code

Weave
  icons/mob/onmob/onmob_eyes.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_under.dmi
  icons/obj/clothing/obj_under.dmi
  icons/weaver_icons_vr.dmi
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/traits.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_abilities.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_constructions.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_objects.dm
  modular_mithra/code/modules/species/station/human2.dm
  modular_mithra/code/modules/species/station/vasilissan.dm
Labels: Code, Icon

Update scavver_gantry.dm
  maps/away/scavver/scavver_gantry.dm
Labels: Map

Update scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry-2.dmm
Labels: Map

Update scavver_gantry.dm
  maps/away/scavver/scavver_gantry.dm
Labels: Map

Update scavver_gantry.dm
  maps/away/scavver/scavver_gantry.dm
Labels: Map

new unathi horn options
  code/modules/sprite_accessories/accessory_unathi.dm
  icons/mob/human_races/species/unathi/hair.dmi
Labels: Code, Icon

readds horns to species_custom
  code/modules/sprite_accessories/accessory_unathi.dm
Labels: Code

ascentshipgobrrr
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
Labels: Map

also gives Gynes weaver
  code/modules/species/mantid/mantid.dm
Labels: Code

Gantry
  maps/away/scavver/scavver_gantry.dm
  maps/torch/z2_transit.dmm
Labels: Map

FUCKIFORGOTTHEBEDS
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
Labels: Map

forgot color
  code/modules/species/mantid/mantid.dm
Labels: Code

woops that was a chair I missed
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
Labels: Map

Update ascent.dm
  maps/away/ascent/ascent.dm
Labels: Map

Hestia: Ballistically Armed Edition
  code/modules/research/designs/designs_mechfab.dm
Labels: Code

Revert "Changes the merc_smg description"
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code
