Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Forgot something :C
  maps/torch/datums/uniforms_fleet.dm
Labels: Map

Update uniforms_exp_fleet.dm
  maps/torch/datums/uniforms_exp_fleet.dm
Labels: Map

Adds Three Eye to the uplink and Jerraman changes, minor fixes.
  code/datums/uplink/medical.dm
  code/game/jobs/access_datum.dm
  code/modules/psionics/equipment/foundation_weapon.dm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/structures/closets/command.dm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Code, Map

Burger man
  maps/torch/job/medical_jobs.dm
Labels: Map

Update hestia_jobs.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

test... para... adherent... and that.
  maps/torch/job/torch_jobs.dm
Labels: Map

acceso a exploradores en la consola de despegue.
  maps/torch/job/exploration_jobs.dm
Labels: Map

te voy a revivir travis.
  maps/torch/job/exploration_jobs.dm
Labels: Map

Removes the limit on adherents/round
  code/modules/species/station/adherent.dm
Labels: Code

Lowers the price of Three Eye to 50TC
  code/datums/uplink/medical.dm
Labels: Code

energy/projectile
  code/modules/projectiles/projectile/energy.dm
Labels: Code

the gun itself
  code/modules/projectiles/guns/energy/stun.dm
Labels: Code

stinger icon
  icons/obj/guns/stinger.dmi
Labels: Icon

onmob sprites
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
Labels: Icon

adds stinger to uplink
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

changes recharge time back to 1.5 (90 seconds)
  code/modules/projectiles/guns/energy/stun.dm
Labels: Code

oops
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

Lowers the TC price of the flashdark to 16 and returns its size to that of a normal flashlight.
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/devices/flashlight.dm
Labels: Code

Slight increase to range
  code/game/objects/items/devices/flashlight.dm
Labels: Code

finally makes the stinger more viable
  code/modules/projectiles/projectile/energy.dm
Labels: Code

Nuevos traits
  modular_mithra/code/modules/mithra/traits_neutral.dm
Labels: Code

Revert "Tajaran Resprite + Haircuts"
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/code/modules/sprite_accessories/accessory_tajara.dm
  modular_mithra/icons/mob/ears.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/body.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/deformed_body.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/husk.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/tail.dmi
  modular_mithra/icons/mob/tails.dmi
Labels: Code, Icon

Might fix it
  maps/torch/torch4_deck2.dmm
Labels: Map

fuck
  maps/torch/torch4_deck2.dmm
Labels: Map

Slight TC increase
  code/datums/uplink/devices and tools.dm
Labels: Code

my computer has gained the ability to copy old non existant versions of files JUST TO FUCK WITH ME
  maps/torch/torch4_deck2.dmm
Labels: Map

Deck 5 back to normal
  maps/torch/torch5_deck1.dmm
Labels: Map

AHHHHHHHHHHHHH
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

More fixed not done yet
  code/game/objects/items/weapons/storage/misc.dm
  code/game/turfs/flooring/flooring_decals.dm
  icons/turf/flooring/decals.dmi
  maps/torch/structures/closets/medical.dm
  maps/torch/torch_areas.dm
  maps/torch/torch_shuttles.dm
  maps/torch/z2_transit.dmm
Labels: Code, Icon, Map

Should fix everything now
  code/modules/reagents/reagent_containers/spray.dm
Labels: Code

And that little camera fix
  maps/torch/torch6_bridge.dmm
Labels: Map

Glove stuff.
  code/modules/detectivework/forensics.dm
Labels: Code

Final fix hopefully?
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

1
  maps/torch/torch4_deck2.dmm
Labels: Map

2
  maps/torch/torch_areas.dm
Labels: Map

Travis errored
  maps/torch/torch_areas.dm
Labels: Map

initial
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Map

initial
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
Labels: Map

LPA
  maps/torch/job/corporate_jobs.dm
Labels: Map

will this fix it
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
