Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Fixes track jacket problem and music license
  code/datums/music_tracks/boh_music_tracks.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
Labels: Code, Map

music take 2
  code/datums/music_tracks/boh_music_tracks.dm
Labels: Code

Minor flavor changes
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
Labels: Code

Update misc.dm
  code/datums/outfits/jobs/misc.dm
Labels: Code

Update overseer.dm
  code/game/gamemodes/wizard/servant_items/overseer.dm
Labels: Code

Update overseer.dm
  code/game/gamemodes/wizard/servant_items/overseer.dm
Labels: Code

Update gift_wrappaper.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
Labels: Code

Update handcuffs.dm
  code/game/objects/items/weapons/handcuffs.dm
Labels: Code

Update handcuffs.dm
  code/game/objects/items/weapons/handcuffs.dm
Labels: Code

Update random.dm
  code/game/objects/random/random.dm
Labels: Code

Update overseer.dm
  code/game/gamemodes/wizard/servant_items/overseer.dm
Labels: Code

Update torch4_deck2.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map

Update windowdoor.dm
  code/game/machinery/doors/windowdoor.dm
Labels: Code

hmm, today i will shitcode in a new uniform for bo
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

oops
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

default is now traitor
  code/controllers/subsystems/ticker.dm
Labels: Code

rename this
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

to prevent server melt
  code/game/gamemodes/traitor/traitor.dm
Labels: Code

workaround for non-command
  maps/torch/loadout/_defines.dm
Labels: Map

Update maps/torch/loadout/_defines.dm
  maps/torch/loadout/_defines.dm
Labels: Map

add the OFFICER_ROLES #define tag to the fleet officer fatigues
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

fix the dumb defines
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

Adds the fleet officer coveralls to the loadout (#1000)
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

Fix server crashes from syndicates endlessly shooting leeches
  code/modules/mob/living/simple_animal/hostile/leech.dm
Labels: Code

pouches no longer "heavier" than plates
  code/modules/clothing/under/accessories/armor.dm
  code/modules/clothing/under/accessories/armor_boh.dm
Labels: Code

Revert "Fix server crashes from syndicates endlessly shooting leeches"
  code/modules/mob/living/simple_animal/hostile/leech.dm
Labels: Code

Contractor Infantry
  code/modules/modular_computers/file_system/manifest.dm
  code/procs/announce.dm
  maps/torch/infantry/storage.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/outfits/hestia_outfits.dm
  maps/torch/structures/closets.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_areas.dm
Labels: Code, Map

Should actually fix the crash
  maps/away/derelict/derelict-station.dmm
Labels: Map

quick fixes
  code/modules/modular_computers/file_system/manifest.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/outfits/hestia_outfits.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_areas.dm
Labels: Code, Map

Mapmerged Deck 5
  maps/torch/torch1_deck5.dmm
Labels: Map

Hostile mobs don't break the server now. Fixes space tiles on slaver base.
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  maps/away/slavers/slavers_base.dmm
  maps/torch/torch1_deck5.dmm
Labels: Code, Map

Update command_jobs.dm
  maps/torch/job/command_jobs.dm
Labels: Map

Revert "Removes all foundation pistol spawns."
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/structures/closets/command.dm
Labels: Map

Removes med access
  maps/torch/job/command_jobs.dm
Labels: Map

Test, don't shoot me please.
  maps/away/slavers/slavers_base.dmm
  maps/torch/datums/reports/solgov.dm
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/infantry/firearms.dm
  maps/torch/items/cards_ids.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_uniform_boh.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/services.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_antagonism.dm
  maps/torch/torch_areas.dm
  maps/torch/torch_ranks.dm
  maps/torch/torch_ranks_boh.dm
  maps/torch/torch_shuttles.dm
  maps/torch/z1_admin.dmm
Labels: Map

Tessssting.....
  maps/away/slavers/slavers_base.dmm
  maps/torch/datums/reports/solgov.dm
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/infantry/firearms.dm
  maps/torch/items/cards_ids.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_uniform_boh.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/services.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_antagonism.dm
  maps/torch/torch_areas.dm
  maps/torch/torch_ranks.dm
  maps/torch/torch_ranks_boh.dm
  maps/torch/torch_shuttles.dm
  maps/torch/z1_admin.dmm
Labels: Map

Now heals brain damage and does a tiny bit less agony
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code

Removed brain heal
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code

The AMR and XO revolver changes.
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Code

Infantry is back
  maps/torch/job/hestia_jobs.dm
  maps/torch/structures/closets.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_areas.dm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
