Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Big block of bullshit, indev
  code/modules/ascent/ascent_outfit.dm
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/organs/internal/species/insectoid.dm
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_rig_modules.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_under.dmi
  icons/obj/rig_modules.dmi
  icons/obj/surgery.dmi
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
  maps/away/ascent/ascent_areas.dm
  maps/away/ascent/ascent_jobs.dm
Labels: Code, Icon, Map

Makeshift Weaponry expansion (#1400)
  code/__defines/guns.dm
  code/game/objects/items/weapons/grenades/explosive.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/crafting/crafting_spear_prod.dm
  code/modules/crafting/crafting_zipgun.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/zipgun.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/crafting_icons.dmi
  icons/obj/guns/zipgun.dmi
  icons/obj/weapons.dmi
  sound/weapons/gunbarrel_burst.ogg
Labels: Code, Icon, Sound

Descriptions of weapons
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: Code

Removes inf access to polyi
  html/changelogs/N8Toe-Infpolypaccess.yml
  maps/torch/job/hestia_jobs.dm
Labels: Map

Map fixes + circuit printing
  code/modules/research/designs/designs_circuits.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
Labels: Code, Map

Pulse Changes
  code/modules/projectiles/projectile/beams.dm
  icons/obj/guns/pulse_carbine.dmi
Labels: Code, Icon

Solvent
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/onmob/onmob_rig_modules.dmi
Labels: Code, Icon

access
  html/changelogs/N8Toe-Infpolypaccess.yml
  maps/torch/job/hestia_jobs.dm
Labels: Map

makes yeosa names 3 words long
  code/modules/mob/language/alien/unathi.dm
  code/modules/species/station/lizard_subspecies.dm
Labels: Code

fixes conflit baddabingbaddabomb
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
Labels: Icon

new sprites
  icons/obj/guns/pulse_carbine.dmi
  icons/obj/guns/pulse_pistol.dmi
Labels: Icon

Full Medical Remap
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

More circuit fixes
  code/modules/research/designs/designs_circuits.dm
Labels: Code

makes the tazer carbine look different when it's on zappy mode. (#1422)
  code/modules/projectiles/guns/energy/stun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/taser_carbine.dmi
Labels: Code, Icon

death to changelogs
  html/changelogs/N8Toe-Infpolypaccess.yml
Labels: none

grrr I hate baycode grrr
  code/modules/ascent/ascent_id.dm
  code/modules/ascent/ascent_outfit.dm
  code/modules/organs/internal/species/insectoid.dm
  icons/obj/ascent.dmi
  maps/away/ascent/ascent_jobs.dm
Labels: Code, Icon, Map

Final initial fixes
  code/modules/overmap/projectiles/missiles/missile.dm
  code/modules/overmap/ships/computers/target_control.dm
  maps/torch/torch3_deck3.dmm
Labels: Code, Map

Final fixes
  maps/torch/torch2_deck4.dmm
Labels: Map

Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Labels: Github

fixes unathi language stuff for rawl and squealing
  code/modules/emotes/definitions/_species.dm
  maps/away/rawl/rawl_jobs.dm
Labels: Code, Map

# This is a combination of 9 commits. # This is the 1st commit message:
  .github/ISSUE_TEMPLATE.md
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/mob/language/alien/unathi.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/species/station/lizard_subspecies.dm
  icons/mob/light_overlays.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_rig_modules.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/unathi/generated/onmob_rig_back_unathi.dmi
  icons/mob/species/unathi/onmob_feet_unathi.dmi
  icons/mob/species/unathi/onmob_hands_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/guns/taser_carbine.dmi
  icons/obj/rig_modules.dmi
  maps/torch/infantry/hardsuit.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_define.dm
Labels: Code, Icon, Map, Github

nerfs swords, buffs machetes
  code/modules/emotes/definitions/_species.dm
  maps/away/rawl/rawl_jobs.dm
Labels: Code, Map

nerfs swords, buffs machetes
  .github/ISSUE_TEMPLATE.md
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/mob/language/alien/unathi.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/species/station/lizard_subspecies.dm
  icons/mob/light_overlays.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_rig_modules.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/unathi/generated/onmob_rig_back_unathi.dmi
  icons/mob/species/unathi/onmob_feet_unathi.dmi
  icons/mob/species/unathi/onmob_hands_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/guns/taser_carbine.dmi
  icons/obj/rig_modules.dmi
  maps/away/rawl/rawl_jobs.dm
  maps/torch/infantry/hardsuit.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_define.dm
Labels: Code, Icon, Map, Github

Infantry Fighting Hardsuit
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_rig_modules.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/unathi/generated/onmob_rig_back_unathi.dmi
  icons/mob/species/unathi/onmob_feet_unathi.dmi
  icons/mob/species/unathi/onmob_hands_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/rig_modules.dmi
  maps/torch/infantry/hardsuit.dm
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
Labels: Code, Icon, Map

Update supply_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Map

Removes Palette
  icons/obj/guns/pulse_carbine.dmi
  icons/obj/guns/pulse_pistol.dmi
Labels: Icon

Adjusted Prospector ranks
  maps/torch/job/supply_jobs.dm
Labels: Map

Nerfs Makeshift Guns
  code/modules/crafting/crafting_spear_prod.dm
  code/modules/projectiles/guns/projectile/zipgun.dm
Labels: Code

Update zipgun.dm
  code/modules/projectiles/guns/projectile/zipgun.dm
Labels: Code

Various vox changes for preview
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship_jobs.dm
Labels: Map

weird
  maps/away/voxship/voxship-2.dmm
Labels: Map

Yeppers
  maps/away/voxship/voxship-2.dmm
Labels: Map

Update voxship-2.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Psi changes 1
  code/game/jobs/job/job.dm
  code/modules/psionics/complexus/complexus_latency.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Code, Map

Update voxship-2.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Psi changes 1 (#1441)
  code/game/jobs/job/job.dm
  code/modules/psionics/complexus/complexus_latency.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Code, Map

Fixed the oxygen problem in the vox ship
  maps/away/voxship/voxship-1.dmm
Labels: Map

New Pulse Carbine Sprites by ShadeAware +Very small damage buff (#1429)
  code/modules/projectiles/projectile/beams.dm
  icons/obj/guns/pulse_carbine.dmi
  icons/obj/guns/pulse_pistol.dmi
Labels: Code, Icon

Requested changes
  maps/away/voxship/voxship_jobs.dm
Labels: Map

Chaplain's locker
  maps/away/voxship/voxship-2.dmm
Labels: Map
