Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Revert "Removes fuzzy cuffs, makes straitjackets adminspawn only for now."
  code/datums/outfits/jobs/misc.dm
  code/game/gamemodes/wizard/servant_items/overseer.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/spells/general/toggle_armor.dm
  maps/torch/torch4_deck2.dmm
Labels: Code, Map

Adds new ERT Sprites, descriptions and armor vaules for each suit.
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/rig_modules.dmi
Labels: Code, Icon

RIGs now have their own specific movement sound! Hoorah!
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
Labels: Code

Fixes two mapping errors.
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

changes the descriptions to be short but sweet.
  code/modules/clothing/spacesuits/rig/suits/ert.dm
Labels: Code

Blacklists adjudicator, bailiff and infantry from antags
  code/game/antagonist/station/renegade.dm
  code/game/antagonist/station/traitor.dm
  maps/torch/torch_antagonism.dm
Labels: Code, Map

Race war now, aka species branch changes and cleanup
  baystation12.dme
  code/modules/species/station/station.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks.dm
  maps/torch/torch_ranks_boh.dm
  modular_mithra/code/modules/species/station/akula.dm
  modular_mithra/code/modules/species/station/sergal.dm
  modular_mithra/code/modules/species/station/vasilissan.dm
  modular_mithra/code/modules/species/station/vulpkanin.dm
Labels: Code, Map

MERCHANT SHUTTLE BUG FIX
  maps/torch/torch1_deck5.dmm
Labels: Map

MERCHANT SHUTTLE BUG FIX(part II)
  maps/torch/z1_admin.dmm
Labels: Map

-deletes infantry areas(D5) on torch_areas
  maps/torch/torch_areas.dm
Labels: Map

Infantry Armory Wipe + Merchant Dock Fix
  maps/torch/torch1_deck5.dmm
Labels: Map

Give Merchant acess to his own windoors
  maps/torch/z1_admin.dmm
Labels: Map

Delete Infantry Armory and Fix Merchant(CI clean)
  maps/torch/torch1_deck5.dmm
Labels: Map

Trying to fix the 6k diff on torch1_deck5.dmm
  maps/torch/torch1_deck5.dmm
Labels: Map

Go away unga formatting(mapmerge2)
  maps/torch/torch1_deck5.dmm
Labels: Map

Go away unga format(mapmerge2) - z1_admin
  maps/torch/z1_admin.dmm
Labels: Map

Fixes all secure windoors access - MerchantShuttle
  maps/torch/z1_admin.dmm
Labels: Map

Fix Issue #987 Bar Windoor Access
  maps/torch/torch3_deck3.dmm
Labels: Map

Fixing runtime error
  maps/torch/torch3_deck3.dmm
Labels: Map

med remap
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

fixes accidental strongdmm changes
  maps/torch/torch4_deck2.dmm
Labels: Map

Travis
  maps/torch/torch5_deck1.dmm
Labels: Map

fixes unit tests
  maps/torch/torch_unit_testing.dm
Labels: Map

Fixes More Travis Errors
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_unit_testing.dm
Labels: Map

final fix hopefully
  maps/torch/torch_unit_testing.dm
Labels: Map

Revert "Regeneration and minor balance changes."
  code/game/objects/auras/regenerating_aura.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/species/species.dm
Labels: Code

Makes the merchant role spawn 100%
  maps/torch/job/misc_jobs.dm
Labels: Map

Increased min age on adjudicator, clarified bailiff duties.
  maps/torch/job/hestia_jobs.dm
Labels: Map

Cuts the access levels on adjudicator, bailiff, and lawyer down a notch.
  maps/torch/job/hestia_jobs.dm
Labels: Map

Slight fix, made a typo.
  maps/torch/job/hestia_jobs.dm
Labels: Map

The thing.
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

Lowers ascent armor a tier.
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Nerf's the support lance down a bit.
  code/modules/boh/ascent2/projectiles.dm
Labels: Code

Slight skrell voidsuit buff
  code/modules/clothing/spacesuits/void/misc.dm
Labels: Code

UCG gear for loadout, become a true slav today
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/suits/miscellaneous.dm
Labels: Code

Boombox
  code/modules/client/preference_setup/loadout/lists/utility.dm
Labels: Code

Cheeki breeki overload
  code/_global_vars/lists/flavor.dm
  code/datums/music_tracks/boh_music_tracks.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/under/miscellaneous.dm
  sound/music/boh/cheekibreeki.ogg
Labels: Code, Sound

new line for travis
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
Labels: Code

Update code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
Labels: Code

Forgot pixels
  modular_mithra/icons/mob/human_races/species/vasilissan/body.dmi
Labels: Icon

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
