Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Update eye.dm
  code/modules/mob/observer/eye/freelook/ai/eye.dm
Labels: Code

firing range
  maps/torch/torch1_deck5.dmm
Labels: Map

lathe + bloodbag + medkit removal
  maps/torch/torch1_deck5.dmm
Labels: Map

damage_mult
  code/modules/projectiles/gun.dm
Labels: Code

Cell changes + new "small" terminal sprite.
  icons/obj/computer.dmi
  icons/obj/power.dmi
Labels: Icon

Fixes Infantry Leader Access
  maps/torch/job/hestia_jobs.dm
Labels: Map

Psionic advisor Access Nerf
  maps/torch/job/hestia_jobs.dm
Labels: Map

Adds fleet fatigue to people in fleet
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

arrest baton ecksdee
  baystation12.dme
  code/modules/boh/admin/items.dm
Labels: Code

Update loadout_uniform_boh.dm
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

BAYBAYBYA
  code/modules/boh_misc/firearms.dm
  icons/boh/items/launchers64.dmi
Labels: Code, Icon

Update firearms.dm
  code/modules/boh_misc/firearms.dm
Labels: Code

Update automatic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

rocketlauncher
  code/__defines/guns.dm
  code/modules/boh_misc/firearms.dm
  code/modules/item_worth/worths_list.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/launcher/rocket.dm
  code/modules/projectiles/projectile/special.dm
  icons/boh/obj/guns/launchers64.dmi
  icons/obj/projectiles.dmi
  maps/torch/infantry/firearms.dm
  maps/torch/infantry/storage.dm
  sound/weapons/guns/interaction/rpg_reload.ogg
  sound/weapons/gunshot/rpg_fire.ogg
Labels: Code, Icon, Sound, Map

Update ert_base.dmm
  maps/antag_spawn/ert/ert_base.dmm
Labels: Map

bay sprites removed
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/projectile/special.dm
Labels: Code

rpg
  code/modules/projectiles/guns/launcher/rocket.dm
  code/modules/projectiles/projectile/special.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
Labels: Code, Icon

finaltouches
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/guns/launcher/rocket.dm
  sound/weapons/guns/interaction/rpgoneuse_deploying.ogg
Labels: Code, Sound

Update medical_jobs.dm
  maps/torch/job/medical_jobs.dm
Labels: Map

Remove psionic powers from Counselor
  maps/torch/job/medical_jobs.dm
Labels: Map

adds storage alt click
  code/game/objects/items/weapons/storage/storage.dm
Labels: Code

rahckets
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile.dm
  icons/boh/obj/guns/launchers64.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
Labels: Code, Icon

First, the sound effects
  sound/items/megaphone.ogg
  sound/machines/airlock_break.ogg
  sound/voice/warble.ogg
  sound/weapons/unjam.ogg
Labels: Sound

lets me do pill energy
  code/game/objects/items/weapons/storage/firstaid.dm
Labels: Code

Then, the code itself
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/devices/megaphone.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/projectiles/guns/projectile.dm
Labels: Code

conciouscontorl
  icons/mob/onmob/onmob_back.dmi
  icons/mob/onmob/onmob_belt_mirror.dmi
Labels: Icon

Update firearms.dm
  code/modules/boh_misc/firearms.dm
Labels: Code

shipsidemules
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Map

FUCK FUCK FUCK
  code/modules/species/outsider/vox.dm
Labels: Code

haha
  code/modules/species/outsider/vox.dm
Labels: Code

Oopsie
  icons/obj/power.dmi
Labels: Icon

makes pda glow work good
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/ntos/subtypes/device.dm
Labels: Code

accuracy
  code/modules/boh/makeshift_weapons/improv_rifle.dm
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/mantid.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: Code

acc_mod rework
  code/modules/mob/living/carbon/human/human.dm
  code/modules/projectiles/gun.dm
Labels: Code

Update human.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Code

Update gun.dm
  code/modules/projectiles/gun.dm
Labels: Code

Commit.
  code/game/verbs/ooc.dm
  interface/skin.dmf
Labels: Code

You think you're racist, huh?
  code/datums/communication/pray.dm
  code/datums/uplink/uplink_items.dm
  code/modules/integrated_electronics/subtypes/output.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/vueui/ui.dm
Labels: Code

ohshitaratt
  baystation12.dme
  code/__defines/subsystems.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/ping.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/goonchat/browserassets/css/styles_template.css
  code/modules/goonchat/browserassets/js/jquery.min.js
Labels: Code

Update revolver.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Code

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
