Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Changes Fall damage armor peircing.
  code/modules/multiz/movement.dm
Labels: Code

Delete movement.dm
  movement.dm
Labels: none

Autolathe/Matter Tweaks
  code/game/objects/items/devices/paint_gun.dm
  code/game/objects/items/plunger.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/game/objects/items/weapons/tape.dm
  code/modules/fabrication/designs/general/designs_devices_components.dm
  code/modules/fabrication/designs/general/designs_tools.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Code

Lets Riflemen be Corporals (E4s) again
  maps/torch/job/hestia_jobs.dm
Labels: Map

Detethers most ghosttraps from a role pref so they actually work with our playerbase.
  code/modules/ghosttrap/trap.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: Code, Icon

Infantry locker teaks
  maps/torch/structures/closets.dm
Labels: Map

oops
  maps/torch/structures/closets.dm
Labels: Map

Remove Telepathy from genemods
  modular_mithra/code/modules/mithra/traits_positive.dm
Labels: Code

Gives forensics a security belt on their locker
  maps/torch/structures/closets/security.dm
Labels: Map

Segundo commit traducciones1 xd
  code/datums/ai_law_sets.dm
  modular_mithra/code/modules/mithra/body_markings.dm
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/code/modules/mithra/traits_negative.dm
  modular_mithra/code/modules/mithra/traits_neutral.dm
  modular_mithra/code/modules/mithra/traits_positive.dm
Labels: Code

Yeet
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
Labels: Code

Makes Bearcat crew provocateurs
  maps/away/bearcat/bearcat_jobs.dm
Labels: Map

Update unishi_jobs.dm
  maps/away/unishi/unishi_jobs.dm
Labels: Map

Update crashed_pod.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dm
Labels: Map

Add both sprites
  icons/obj/trash.dmi
Labels: Icon

Hazard Vests
  code/modules/clothing/suits/jobs.dm
Labels: Code

ascent rigs scaan now carry any gun
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Medical Stuff
  code/modules/clothing/suits/jobs.dm
Labels: Code

Fixes travis.
  baystation12.dme
  code/__defines/materials.dm
  code/datums/outfits/cult.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/cultify/other.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/cult/runes/_runes.dm
  code/game/gamemodes/cult/runes/astral_journey.dm
  code/game/gamemodes/cult/runes/blood_drain.dm
  code/game/gamemodes/cult/runes/confuse.dm
  code/game/gamemodes/cult/runes/convert.dm
  code/game/gamemodes/cult/runes/defile.dm
  code/game/gamemodes/cult/runes/emp.dm
  code/game/gamemodes/cult/runes/equip.dm
  code/game/gamemodes/cult/runes/imbue_runes.dm
  code/game/gamemodes/cult/runes/obscure_reveal.dm
  code/game/gamemodes/cult/runes/offering.dm
  code/game/gamemodes/cult/runes/revive.dm
  code/game/gamemodes/cult/runes/shade.dm
  code/game/gamemodes/cult/runes/summon_material.dm
  code/game/gamemodes/cult/runes/summon_pylon.dm
  code/game/gamemodes/cult/runes/summon_shell.dm
  code/game/gamemodes/cult/runes/tear_reality.dm
  code/game/gamemodes/cult/runes/teleport.dm
  code/game/gamemodes/cult/runes/tome.dm
  code/game/gamemodes/cult/runes/wall.dm
  code/game/gamemodes/cult/runes/weapons.dm
  code/game/gamemodes/cult/talisman.dm
  code/game/objects/structures/window.dm
  code/game/turfs/flooring/flooring.dm
  code/modules/materials/definitions/materials_other.dm
  code/modules/materials/material_sheets.dm
  code/modules/mob/living/simple_animal/constructs/soulstone.dm
  code/modules/mob/living/simple_animal/shade.dm
  icons/turf/flooring/cult.dmi
  icons/turf/flooring/tiles.dmi
  test/check-paths.sh
Labels: Code, Icon, ‚ùåDO NOT MERGE

Fixes psychic whisper's "LRP" behavior features.
  code/modules/mob/living/carbon/human/human_powers.dm
Labels: Code

Adresses a dumb lore concern in telepathy.
  modular_mithra/code/modules/mithra/traits_positive.dm
Labels: Code

No longer can talk to the dead.
  code/modules/mob/living/carbon/human/human_powers.dm
Labels: Code

Traducción Torch_setup
  maps/torch/torch_setup.dm
Labels: Map

arreglo de una falta
  maps/torch/torch_setup.dm
Labels: Map

Clarifies a bit.
  modular_mithra/code/modules/mithra/traits_positive.dm
Labels: Code

arreglo... de tiron...¿De errores?
  baystation12.dme
Labels: none

telepathy now logs.
  code/modules/mob/living/carbon/human/human_powers.dm
Labels: Code

Pequeña reparacion
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
Labels: Code

item_attack.dm traducido.
  code/_onclick/item_attack.dm
Labels: Code

Travis please cease
  maps/torch/torch_unit_testing.dm
Labels: Map

Stuff
  code/game/objects/random/random.dm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/icarus/icarus-1.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/magshield/magshield.dmm
  maps/away/mining/mining-asteroid.dmm
  maps/away/mining/mining-orb.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/mobius_rift/mobius_rift.dmm
  maps/away/slavers/slavers_base.dmm
  maps/away/smugglers/smugglers.dmm
  maps/random_ruins/exoplanet_ruins/deserted_lab/deserted_lab.dmm
  maps/torch/infantry/awaysitestuff.dm
  maps/torch/infantry/firearms.dm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/torch.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Code, Map

ANTI-RUSSIAN PROPAGANDA
  code/game/objects/random/random.dm
  code/modules/overmap/exoplanets/planet_types/garbage.dm
Labels: Code

whoops
  code/game/objects/random/random.dm
  maps/torch/job/hestia_jobs.dm
Labels: Code, Map

Maint value increased.
  code/game/objects/random/random.dm
  maps/torch/job/hestia_jobs.dm
Labels: Code, Map

Unload Wartorn. Disables Infantry.
  maps/torch/job/hestia_jobs.dm
Labels: Map

Inf Skills Hotfix
  maps/torch/infantry/storage.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

Update mob.dm
  code/modules/mob/mob.dm
Labels: Code

Adds a simple medal vendor for all medals(including SCG Command exclusive) in the Captain's Cabin.
  icons/obj/vending.dmi
  maps/torch/items/rewards.dm
  maps/torch/torch.dm
  maps/torch/torch6_bridge.dmm
Labels: Icon, Map

Update hestia_jobs.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

adjusttoxloss
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code
