Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

No you are not fucking Yuri from RA2 while being that edgelord Rahn from RA2 MO.
  maps/torch/job/hestia_jobs.dm
Labels: Map

Makes you into somewhat Rahn but Rahn isnt a vatgrown genesoldier but instead a regular solider
  maps/torch/job/hestia_jobs.dm
Labels: Map

Changes kits to use satchels instead of boxes.
  code/datums/uplink/armor_and_tactical_wear.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Code

Bootleg Unbranded Peestol, Shiny Equipment Kit
  maps/torch/items/psyker/agent_items.dm
Labels: Map

Adds Gun to psi advisor's locker (Again)
  maps/torch/structures/closets/command.dm
Labels: Map

changes to dek bridg
  maps/torch/torch6_bridge.dmm
Labels: Map

Actually, let's leave the gun briefcase JUST IN CASE
  maps/torch/items/psyker/agent_items.dm
Labels: Map

Just regular briefcases
  maps/torch/items/clothing/boh_clothing.dm
Labels: Map

More blueshield memes.
  maps/torch/items/cards_ids.dm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

I dun goofed
  maps/torch/items/psyker/agent_items.dm
Labels: Map

I dun goofed Part 2: Superhats loses their mind
  maps/torch/items/psyker/agent_items.dm
Labels: Map

Updated Marine and Gilgamesh/Terran uniform names and descriptions to be lore-compliant. Minor changes to Fleet and Surveyor Corp uniforms as well; mostly fixing errors in their descriptions.
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/items/clothing/terran-feet.dm
  maps/torch/items/clothing/terran-hands.dm
  maps/torch/items/clothing/terran-head.dm
  maps/torch/items/clothing/terran-suit.dm
  maps/torch/items/clothing/terran-under.dm
Labels: Map

Lowered GAS insuls to 4 TC (originally 6)
  code/datums/uplink/devices and tools.dm
Labels: Code

Title and alt titles: Arbiter edition.
  maps/torch/job/command_jobs.dm
Labels: Map

Enables the SFP as one of the branches: Arbiter edition.
  maps/torch/job/command_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Update code/game/objects/items/weapons/material/swiss.dm
  code/game/objects/items/weapons/material/swiss.dm
Labels: Code

skelepal
  code/game/objects/structures/skele_stand.dm
Labels: Code

(Hopefully) fixes the psyker gunbox
  maps/torch/items/psyker/agent_items.dm
Labels: Map

Apply suggestions from code review
  modular_mithra/code/modules/mob/inventory.dm
Labels: Code

Renames the SGR to the Chief Magistrate.
  maps/torch/job/command_jobs.dm
Labels: Map

Arbiter text fixes.
  maps/torch/job/command_jobs.dm
Labels: Map

Adds Plasmamemes
  baystation12.dme
  code/__defines/chemistry.dm
  code/__defines/mobs.dm
  code/__defines/species.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/modules/boh/items/plasmasans.dm
  code/modules/boh/organs/plasmasans.dm
  code/modules/species/station/plasmasans.dm
  icons/mob/human_races/species/plasmasans/body.dmi
  icons/mob/human_races/species/plasmasans/deformed_body.dmi
  icons/mob/human_races/species/plasmasans/husk.dmi
  icons/mob/human_races/species/plasmasans/preview.dmi
  icons/mob/species/plasmasans/onmob.dmi
  icons/mob/species/plasmasans/onmob_head_plasmasans.dmi
  icons/mob/species/plasmasans/onmob_suit_plasmasans.dmi
  icons/obj/clothing/species/plasmasans/obj_head_plasmasans.dmi
  icons/obj/clothing/species/plasmasans/obj_suit_plasmasans.dmi
  icons/obj/storage.dmi
Labels: Code, Icon

Some bullshit fixes
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/modules/mob/living/carbon/breathe.dm
  code/modules/organs/internal/lungs.dm
  code/modules/species/station/plasmasans.dm
  icons/obj/tank.dmi
Labels: Code, Icon

Everything works now.
  code/game/objects/items/weapons/tanks/tank_types.dm
Labels: Code

esword buff
  code/game/objects/items/weapons/melee/energy.dm
Labels: Code

Start of a Vox Rework.
  code/__defines/culture.dm
  code/__defines/languages.dm
  code/modules/culture_descriptor/culture/cultures_vox.dm
  code/modules/culture_descriptor/faction/factions_vox.dm
  code/modules/culture_descriptor/location/locations_vox.dm
  code/modules/culture_descriptor/religion/religions_vox.dm
  code/modules/mob/language/alien/antag.dm
  code/modules/mob/living/carbon/human/descriptors/descriptors_vox.dm
  code/modules/species/outsider/vox.dm
Labels: Code

fixes box speedmerge gang
  maps/torch/items/psyker/agent_items.dm
Labels: Map

Makes holograms not retrieve icons from records
  code/game/machinery/hologram.dm
Labels: Code

Uniform set ups, minor text change.
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Fixes a mix up.
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Final uniform change for arbiter.
  maps/torch/items/clothing/boh_clothing.dm
Labels: Map

Set's the Chief Magistrate's supervisors.
  maps/torch/job/command_jobs.dm
Labels: Map

Removes flash from augmented tie.
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code

Removed access restriction on augmented tie.
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code

Adds the judicial protection locker.
  maps/torch/structures/closets/misc.dm
Labels: Map

Puts liason access restrictions on APA locker.
  maps/torch/structures/closets/misc.dm
Labels: Map

First Commit
  code/game/objects/items/weapons/surgery_tools.dm
Labels: Code

Re-Buff CO Revolver
  code/modules/boh_misc/munitions.dm
Labels: Code

Second commit
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/items/weapons/tape.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/fabrication/designs/general/designs_general.dm
Labels: Code

Changes fixes one tile to be made correctly next to pathfinder office
  maps/torch/torch2_deck4.dmm
Labels: Map
