Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Update ascent-2.dmm
  maps/away/ascent/ascent-2.dmm
Labels: Map

AAAH YOU SHOULDN'T HAVE THAT
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Update magnetic.dm
  code/modules/projectiles/projectile/magnetic.dm
Labels: Code

Update voxslug.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: Code

fixes tiros
  code/modules/ascent/ascent_rigs.dm
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
Labels: Code, Icon

reduces tiro skill points
  maps/away/ascent/ascent_jobs.dm
Labels: Map

nerfs par weapons, queen weapons, and shitcode.
  code/modules/ascent/ascent_rigs.dm
Labels: Code

RESTRICTS SPECIES BETTER
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Adds sink
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Update voxslug.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: Code

No more medical lift :cry:
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_elevator.dm
Labels: Map

Lift area removal :cry:
  maps/torch/torch_areas.dm
Labels: Map

saferoom bolts
  maps/torch/torch5_deck1.dmm
Labels: Map

Fixes CI, adds lacking cameras.
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

chemistry fixes
  maps/torch/torch5_deck1.dmm
Labels: Map

Medical belts start with basic chems
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  maps/torch/structures/closets/medical.dm
Labels: Code, Map

Passable sink
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Robotics Sulph Acid
  maps/torch/torch4_deck2.dmm
Labels: Map

Update ascent_jobs.dm
  maps/away/ascent/ascent_jobs.dm
Labels: Map

Allows Roboticists to be W1, W2, W3
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Update torch5_deck1.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

makes prommies immune to rads and pressure
  code/modules/species/station/prometheans.dm
Labels: Code

removes ugly empty line I added by mistake
  code/modules/species/station/prometheans.dm
Labels: Code

missile buff
  code/modules/overmap/projectiles/missiles/equipment/payload/diffuser.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/explosive.dm
Labels: Code

body shielding is directional
  code/modules/projectiles/projectile.dm
Labels: Code

Munitions Technician
  maps/torch/job/supply_jobs.dm
Labels: Map

fuck bearcat
  baystation12.dme
  maps/random_ruins/exoplanet_ruins/fighter_exoplanet/fighter_exoplanet.dmm
Labels: Map

Fucking Irkalla starts 'coding' or rather reflavoring shit again somebody stop them before they stealth buff cargo for joe jones gimmicks
  code/modules/ascent/ascent_rigs.dm
Labels: Code

removes void protection
  code/modules/species/station/prometheans.dm
Labels: Code

i hate bay
  baystation12.dme
Labels: none

nerfs firing speed of all pistols and adds jam chance to p20
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: Code

uh
  code/modules/projectiles/ammunition.dm
  sound/weapons/guns/bulletin_mag.ogg
Labels: Code, Sound

yay
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: Code

Adds a medical department pager.
  maps/torch/torch5_deck1.dmm
Labels: Map

Update designs_beaker.dm
  code/modules/research/designs/designs_beaker.dm
Labels: Code

Adds disease3 and BEM as a feature test
  baystation12.dme
  code/modules/disease/_disease.dm
  code/modules/disease/disease_symptoms.dm
  code/modules/disease/diseases/bem.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Code

Update uniforms_marine-corps.dm
  maps/torch/datums/uniforms_marine-corps.dm
Labels: Map

Fixes Uniforms
  maps/torch/datums/uniforms_exp_fleet.dm
  maps/torch/datums/uniforms_marine-corps.dm
  maps/torch/items/clothing/solgov-suit.dm
Labels: Map

I'm Sorry - - - Additions: - Adds Black Poppy to Xenobio's seed vendor. - Adds Cannabis to both Xenobio and general botany vendor. - - -
  code/modules/hydroponics/seed_storage.dm
Labels: Code

Update torch_jobs_boh.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map
