Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Update torch5_deck1.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

fixed step_x = 0
  maps/torch/torch5_deck1.dmm
Labels: Map

Update boxes.dm
  code/modules/boh_misc/boxes.dm
Labels: Code

Update torch6_bridge.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

changes other secondary bridge/AI data core doors to also be unbolted at round start
  maps/torch/torch6_bridge.dmm
Labels: Map

fixes armory buttons, revamps evidence storage
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

updates the lights in evidence storage; updates the tables of loot spawned in lockers as well
  maps/torch/torch5_deck1.dmm
Labels: Map

Makes the XO's revolver not suck.
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Code

various changes to security
  code/modules/boh_misc/boxes.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Code, Map

fixed the health values of reinforced windows in the armory being strange
  maps/torch/torch5_deck1.dmm
Labels: Map

moves emergency bridge APC; miscellaneous fixes
  maps/torch/torch6_bridge.dmm
Labels: Map

fixes an issue with windows spawning the wrong way
  maps/torch/torch5_deck1.dmm
Labels: Map

Makes the TOC accessible at all
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

changes the TOC to not be worthless
  maps/torch/torch5_deck1.dmm
Labels: Map

Update torch6_bridge.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

access fixes
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

fixes the power in the primary access door to the TOC
  maps/torch/torch6_bridge.dmm
Labels: Map

travis fixes
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

travis fixes
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Bridge Storage armory button now cordoned off
  maps/torch/torch6_bridge.dmm
Labels: Map

travis fixes
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

fixes missing disposals pipe
  maps/torch/torch5_deck1.dmm
Labels: Map

travis fixes
  maps/torch/torch5_deck1.dmm
Labels: Map

quick and dirty travis fixes
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

travis fixes
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

adds a decal beneath the bridge button
  maps/torch/torch6_bridge.dmm
Labels: Map

access edits
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

TOC now has more than a single light; also the SMES in it charges by default now
  maps/torch/torch5_deck1.dmm
Labels: Map

testing the buttons more
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Update torch6_bridge.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

fixes
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

fixed a single tile in the toc missing an area
  maps/torch/torch5_deck1.dmm
Labels: Map

fixes an issue that would cause the TOC's door to be unpowered until the bridge deck substation fully charged
  maps/torch/torch6_bridge.dmm
Labels: Map

misc changes
  maps/torch/torch6_bridge.dmm
Labels: Map

makes the new TOC more appealing
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

futher TOC touching and button rename
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Revert "Branch/rank tweaks for diona, adherent, and prometheans"
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Map

Makes organ damage not heal passively, without enough nutrients, removes oxy_mult.
  code/game/objects/auras/regenerating_aura.dm
Labels: Code

moves scrubbers, switches TOC SMES output on by default
  maps/torch/torch5_deck1.dmm
Labels: Map

Update torch5_deck1.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map
