Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

you are now manually breathing
  baystation12.dme
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_resomi.dm
  code/modules/culture_descriptor/faction/factions_resomi.dm
  code/modules/culture_descriptor/location/locations_resomi.dm
  code/modules/mob/language/alien/resomi.dm
  code/modules/species/station/resomi.dm
  icons/obj/clothing/species/resomi/uniform.dmi
Labels: Code, Icon

Added chemistry skill
  maps/torch/job/research_jobs.dm
Labels: Map

Scientists now start with basic chemistry skill
  maps/torch/job/research_jobs.dm
Labels: Map

the game
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/clothing/suits/alien.dm
  code/modules/mob/language/alien/resomi.dm
  code/modules/species/station/resomi.dm
Labels: Code

I wonder if this will fix it
  code/unit_tests/mob_tests.dm
Labels: Code

Victim one: Laser Carbine.
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Marksman Laser and Incendiary laser rebalanced.
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Stun revolver and stun rifle boogaloo.
  code/modules/projectiles/projectile/energy.dm
Labels: Code

Removed Ckey restrictions
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
Labels: Code

MAXIMUM EAR DAMAGE: SONIC CANNON EDITION!
  code/modules/projectiles/projectile/energy.dm
Labels: Code

Removes names from genemod option names
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
Labels: Code

Travis please cease
  maps/torch/torch_unit_testing.dm
Labels: Map

aaaaaaaaaa
  baystation12.dme
Labels: none

aaaaaaaa
  baystation12.dme
Labels: none

RIG QoL, as per the closed PR.
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
Labels: Code

Lowers distance falloff on las carbine.
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Reverts incendiary laser change.
  code/modules/projectiles/projectile/beams.dm
Labels: Code

buff the vox pocket tank
  code/game/objects/items/weapons/tanks/tank_types.dm
Labels: Code

gave the pocket tanks to the shoal crew.
  maps/away/voxship/voxship_jobs.dm
Labels: Map

makes the regular backpack vox tank slightly buffed with its air volume
  code/game/objects/items/weapons/tanks/tank_types.dm
Labels: Code

Increases marksman rifle accuracy.
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Changes las carbine.
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Modular Rig QoL Hotfix
  maps/torch/items/rigs.dm
Labels: Map

Update combat.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
Labels: Code

Add the shitcode
  code/game/objects/items/weapons/tools/weldingtool.dm
  sound/items/WelderActivate.ogg
  sound/items/WelderDeactivate.ogg
Labels: Code, Sound

Stuff
  code/game/objects/random/random.dm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/icarus/icarus-1.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/magshield/magshield.dmm
  maps/away/mining/mining-asteroid.dmm
  maps/away/mining/mining-orb.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/mobius_rift/mobius_rift.dmm
  maps/away/slavers/slavers_base.dmm
  maps/away/smugglers/smugglers.dmm
  maps/random_ruins/exoplanet_ruins/deserted_lab/deserted_lab.dmm
  maps/torch/infantry/awaysitestuff.dm
  maps/torch/infantry/firearms.dm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/torch.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Code, Map

commented out spacers and grav worlders.
  code/modules/species/station/human_subspecies.dm
Labels: Code

updated Baystation12 dme
  baystation12.dme
Labels: none

commented out the non genemod races
  maps/torch/job/torch_jobs.dm
Labels: Map

commented out more redundant genemodding race ranks
  maps/torch/torch_ranks.dm
Labels: Map

commented out even more redundant genemodding ranks
  maps/torch/torch_ranks_boh.dm
Labels: Map

moved Sergal.dm to be modulrized with Mithra and made them Genemod only
  modular_mithra/code/modules/species/station/Sergal.dm
Labels: Code

Made Akula Genemod only species
  modular_mithra/code/modules/species/station/akula.dm
Labels: Code

Made Tajaran a genemod only species
  modular_mithra/code/modules/species/station/tajaran.dm
Labels: Code

Made Vassilians Genemod only
  modular_mithra/code/modules/species/station/vasilissan.dm
Labels: Code

made Vulpkanin Genemod only
  modular_mithra/code/modules/species/station/vulpkanin.dm
Labels: Code

Modularizes Tritonians with Mithra and makes them Genemod only.
  modular_mithra/code/modules/species/station/Tritonian.dm
Labels: Code

Fix the commented out blocks
  code/modules/species/station/human_subspecies.dm
Labels: Code

deleted the commented out blocks
  maps/torch/job/torch_jobs.dm
Labels: Map

deleted the commented out blocks
  maps/torch/torch_ranks.dm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
