Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Add files via upload
  icons/mob/onmob/onmob_feet.dmi
Labels: Icon

Delete obj_hands.dmi
  icons/obj/clothing/obj_hands.dmi
Labels: Icon

Add files via upload
  icons/obj/clothing/obj_hands.dmi
Labels: Icon

Delete obj_feet.dmi
  icons/obj/clothing/obj_feet.dmi
Labels: Icon

Add files via upload
  icons/obj/clothing/obj_feet.dmi
Labels: Icon

Delete obj_head.dmi
  icons/obj/clothing/obj_head.dmi
Labels: Icon

Add files via upload
  icons/obj/clothing/obj_head.dmi
Labels: Icon

Delete obj_suit.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Icon

Add files via upload
  icons/obj/clothing/obj_suit (1).dmi
Labels: Icon

Delete uniques.dmi
  maps/torch/icons/obj/uniques.dmi
Labels: Map

Add files via upload
  maps/torch/icons/obj/uniques.dmi
Labels: Map

Delete onmob_suit (1).dmi
  icons/mob/onmob/onmob_suit (1).dmi
Labels: Icon

Add files via upload
  icons/mob/onmob/onmob_suit.dmi
Labels: Icon

Delete onmob_head (1).dmi
  icons/mob/onmob/onmob_head (1).dmi
Labels: Icon

Add files via upload
  icons/mob/onmob/onmob_head.dmi
Labels: Icon

Delete obj_suit (1).dmi
  icons/obj/clothing/obj_suit (1).dmi
Labels: Icon

Add files via upload
  icons/obj/clothing/obj_suit.dmi
Labels: Icon

Delete onmob_rig_back (1).dmi
  icons/mob/onmob/onmob_rig_back (1).dmi
Labels: Icon

Add files via upload
  icons/mob/onmob/onmob_rig_back.dmi
Labels: Icon

Create admin.txt
  config/admin.txt
Labels: ‚ùåDO NOT MERGE

Update and rename admin.txt to admins.txt
  config/admin.txt
  config/admins.txt
Labels: ‚ùåDO NOT MERGE

Create admin_ranks
  config/admin_ranks
Labels: ‚ùåDO NOT MERGE

Update admins.txt
  config/admins.txt
Labels: ‚ùåDO NOT MERGE

Rename admin_ranks to admin_ranks.txt
  config/admin_ranks.txt
Labels: ‚ùåDO NOT MERGE

Delete admin_ranks.txt
  config/admin_ranks.txt
Labels: ‚ùåDO NOT MERGE

Delete admins.txt
  config/admins.txt
Labels: ‚ùåDO NOT MERGE

initial
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Code

Lore adjustments.
  code/modules/culture_descriptor/faction/factions_human.dm
Labels: Code

Renames.
  baystation12.dme
  code/game/gamemodes/objective.dm
  code/game/objects/items/toys.dm
  code/modules/boh_misc/firearms.dm
  code/modules/library/manuals/security.dm
  maps/torch/datums/reports/command.dm
  maps/torch/datums/reports/deck.dm
  maps/torch/datums/reports/exploration.dm
  maps/torch/datums/reports/robotics.dm
  maps/torch/datums/reports/security.dm
  maps/torch/datums/reports/solgov.dm
  maps/torch/items/cards_ids.dm
  maps/torch/items/clothing/boh_accessory.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/headsets.dm
  maps/torch/items/items.dm
  maps/torch/items/machinery.dm
  maps/torch/items/manuals.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/structures/signs.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_define.dm
  maps/torch/torch_overmap.dm
  maps/torch/torch_setup.dm
Labels: Code, Map

Cursed SEA rig
  maps/torch/items/rigs.dm
Labels: Map

fixes
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
Labels: Map

Missed NTF ref
  maps/torch/loadout/loadout_head.dm
Labels: Map

damn NTEF
  maps/torch/items/clothing/solgov-head.dm
Labels: Map

GAS Hardsuit Backpack
  icons/obj/rig_modules.dmi
Labels: Icon

yooooo
  maps/torch/job/misc_jobs.dm
Labels: Map

Changes wording of high command announcements
  maps/torch/torch_define.dm
Labels: Map

THE GUN UPDATE
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/launcher/rocket.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Sidearm Buff
  maps/torch/infantry/firearms.dm
Labels: Map

Fleet beret adjustments
  maps/antag_spawn/ert/ert_base.dmm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_head.dm
Labels: Map

Fixes error, oops!
  maps/torch/loadout/loadout_accessories.dm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
