Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

moves stinger from stun to special
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
Labels: Code

makes code look more standard
  code/modules/projectiles/projectile/energy.dm
Labels: Code

really travis
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
Labels: Code

baby
  maps/torch/torch3_deck3.dmm
Labels: Map

Makes roundstart percentages visible again.
  code/datums/vote/gamemode.dm
Labels: Code

more buffs
  code/modules/projectiles/guns/energy/special.dm
Labels: Code

Uniform Fixes
  maps/torch/datums/uniforms_exp_fleet.dm
Labels: Map

test
  maps/torch/icons/assignment_hud_boh1.dmi
Labels: Map

test2
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/icons/assignment_hud_boh1.dmi
Labels: Map

test3
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

test4
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

test5
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

test6
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

I think I actually did it this time.
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

You saw nothing.
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Conflict again, I dare you.
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

1
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Hmmm..
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

hm
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Test: adds lawyer icon
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Re adds Icon: Adjudicator.
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

test: adds bailiff icon
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Test: Removes all new icons
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

New Test.
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Adds a new tactical armor set in to cargo. "you can have it any color you want as long as it's black."
  code/datums/supplypacks/security.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/jobs/security.dm
Labels: Code

I forgot... the tag.
  code/modules/clothing/under/accessories/armor.dm
Labels: Code

...internal testing made me realise. I forgot to add the sprites to the comitt. Oops.
  icons/mob/onmob/onmob_under.dmi
  icons/obj/clothing/obj_under.dmi
Labels: Icon

Nerds the CO's Revolver SLIGHTLY.
  code/modules/boh_misc/munitions.dm
Labels: Code

Changes the default laser sound (laser carbines will be affected)
  code/modules/projectiles/projectile/beams.dm
  sound/weapons/Laser4.wav
Labels: Code, Sound

Its a wav and not a ogg woops!
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Re-adds the CO firing pin.
  code/modules/boh_misc/firearms.dm
Labels: Code

Adds Brand New Marksman Rifle
  code/__defines/guns.dm
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/obj/guns/hornet.dmi
  maps/torch/datums/supplypacks/security.dm
  sound/weapons/gunshot/hornet.ogg
Labels: Code, Icon, Sound, Map

Changes damage to 50, removes agony, re-adds AP of 10.
  code/modules/boh_misc/firearms.dm
  code/modules/boh_misc/munitions.dm
Labels: Code

Attempt to fix travis.
  maps/torch/torch3_deck3.dmm
Labels: Map

Re-adds New supply D5
  maps/torch/torch1_deck5.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map

Adjusts the costs of "loud" traitor items
  code/datums/uplink/.dm
Labels: Code

Changes the cost of stims and zerk
  code/datums/uplink/medical.dm
Labels: Code

Removes slugs from maint spawn
  code/game/objects/random/random.dm
Labels: Code

Rename .dm to highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

General gun balance pass
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
Labels: Code

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
