Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Additional fixes
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

removes skrell railgun hardstun
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/projectile/magnetic.dm
Labels: Code

Polo uniform switcharoonie
  icons/mob/human.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
Labels: Icon, Map

Minor pixelhunting
  icons/mob/human.dmi
Labels: Icon

Updates uniforms
  maps/torch/datums/uniforms_fleet.dm
Labels: Map

Fixes Merge Errors
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Changes to security stun weaponry
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Update stun.dm
  code/modules/projectiles/guns/energy/stun.dm
Labels: Code

the batong with no fucky wucky
  code/modules/boh/admin/items.dm
Labels: Code

Remove Radiation Mutation - - - This is a simple comment out to remove mutation of viruses via radiation. :) - - -
  code/modules/virus2/disease2.dm
Labels: Code

moves the batong somewhere friendly
  baystation12.dme
  code/modules/boh/admin/items.dm
  maps/torch/items/items.dm
Labels: Code, Map

Supermatter Alarm Updates
  code/game/area/Space Station 13 areas.dm
  code/game/machinery/_machines_base/machine_construction/item_chassis.dm
  code/game/machinery/wall_frames.dm
  code/modules/supermatter/supermatter.dm
  icons/obj/engine.dmi
  sound/misc/alert24.mp3
Labels: Code, Icon, Sound

Minor fixes, not complete
  baystation12.dme
  code/datums/observation/supermatter_status.dm
  code/modules/supermatter/supermatter.dm
Labels: Code

should work now
  baystation12.dme
Labels: none

didn't work, works now
  code/modules/supermatter/supermatter.dm
Labels: Code

replaces audio file
  code/modules/supermatter/supermatter.dm
  sound/misc/alert24.mp3
  sound/misc/alert24.ogg
Labels: Code, Sound

removes minor remnant of another code branch
  code/game/area/Space Station 13 areas.dm
Labels: Code

fixes issue
  code/modules/supermatter/supermatter.dm
Labels: Code

Code orange fixes
  code/modules/supermatter/supermatter.dm
Labels: Code

Armblade paths
  code/modules/augment/active/armblades.dm
Labels: Code

Fixes more errors
  code/modules/augment/active/armblades.dm
  code/modules/research/designs/designs_mechfab.dm
Labels: Code

Makes armblades work. Holy shit I hate null vars.
  code/modules/augment/item.dm
Labels: Code

Adds some comments so that people know how these work.
  code/modules/augment/active/armblades.dm
Labels: Code

fix
  maps/torch/torch2_deck4.dmm
Labels: Map

Revert "SMARTGUNS EVERYWHERE"
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Smartguns Fix
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/security.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

should fix things, (idk)
  maps/torch/structures/closets/misc.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

fixes map error (idk it worked on my end)
  maps/torch/torch6_bridge.dmm
Labels: Map

Update recipes_oven.dm
  code/modules/cooking/recipes/recipes_oven.dm
Labels: Code

Update snacks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Code

purp suggs
  code/game/objects/items/weapons/surgery_tools.dm
Labels: Code

SAM Emplacements - - - Initial PR, just a draft.
  baystation12.dme
  code/modules/overmap/projectiles/missiles/equipment/payload/sam.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/thruster.dm
  code/modules/overmap/projectiles/missiles/missile_platform.dm
  code/modules/overmap/projectiles/missiles/presets/sam.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmi
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
Labels: Code, Map

error
  code/game/objects/items/weapons/surgery_tools.dm
Labels: Code

Polymer machete sheath
  code/modules/client/preference_setup/loadout/lists/tactical.dm
  code/modules/clothing/under/accessories/holster.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
Labels: Code, Icon

Adds powerfists, pop-out gun, extras
  baystation12.dme
  code/modules/augment/active/adaptive_binoculars.dm
  code/modules/augment/active/corrective_lenses.dm
  code/modules/augment/active/glare_dampeners.dm
  code/modules/augment/active/iatric_monitor.dm
  code/modules/augment/active/leukocyte_breeder.dm
  code/modules/augment/active/nerve_dampeners.dm
  code/modules/augment/active/popout_guns.dm
  code/modules/augment/active/powerfists.dm
  code/modules/augment/implanter.dm
  code/modules/clothing/glasses/glasses.dm
Labels: Code

removes bad argument
  code/modules/augment/active/iatric_monitor.dm
  code/modules/augment/active/leukocyte_breeder.dm
Labels: Code

Gives the machete a sword sound
  code/game/objects/items/weapons/material/misc.dm
Labels: Code

ERT beginning
  code/datums/ert/nanotrasen.dm
  code/datums/ert/outsider.dm
  code/datums/ert/responseteam.dm
  code/datums/ert/tcfl.dm
  code/datums/outfits/ert/anvil_team_ds.dm
  code/datums/outfits/ert/mercenary.dm
  code/datums/outfits/ert/nt_ert.dm
  code/modules/ghostroles/spawner/antagonist/revenant.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/ghostroles/spawner/human/kataphract.dm
  code/modules/ghostroles/spawner/human/merchant.dm
  code/modules/ghostroles/spawner/human/pra.dm
  code/modules/ghostroles/spawner/human/responseteams/anvil_team_ds.dm
  code/modules/ghostroles/spawner/human/responseteams/ap_eridani.dm
  code/modules/ghostroles/spawner/human/responseteams/deathsquad.dm
  code/modules/ghostroles/spawner/human/responseteams/human/elyra.dm
  code/modules/ghostroles/spawner/human/responseteams/human/fsf.dm
  code/modules/ghostroles/spawner/human/responseteams/iac.dm
  code/modules/ghostroles/spawner/human/responseteams/mercenary.dm
  code/modules/ghostroles/spawner/human/responseteams/miners.dm
  code/modules/ghostroles/spawner/human/responseteams/nt_ert.dm
  code/modules/ghostroles/spawner/human/responseteams/solgov_ert.dm
  code/modules/ghostroles/spawner/human/responseteams/syndicate.dm
  code/modules/ghostroles/spawner/human/responseteams/tajara/kosmostrelki.dm
  code/modules/ghostroles/spawner/human/responseteams/tcfl.dm
  code/modules/ghostroles/spawner/human/responseteams/ucgnf_ds.dm
  code/modules/ghostroles/spawner/human/responseteams/unathi/kataphracts.dm
  code/modules/ghostroles/spawner/human/visitor.dm
  code/modules/ghostroles/spawner/human/zenghu.dm
Labels: Code

Test
  code/datums/ert/nanotrasen.dm
  code/datums/ert/outsider.dm
  code/datums/ert/responseteam.dm
  code/datums/ert/tcfl.dm
  code/datums/outfits/ert/mercenary.dm
  code/datums/outfits/ert/nt_ert.dm
  code/modules/clothing/spacesuits/void/ert.dm
  vueui/src/components/view/misc/ghostspawner.vue
Labels: Code

Morpheus body markings 1
  modular_mithra/code/modules/mithra/body_markings.dm
  modular_mithra/icons/mob/human_races/markings.dmi
Labels: Code, Icon
