Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

okso
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/ammunition/handfuls.dm
  icons/obj/ammo.dmi
Labels: Code, Icon

Reduced further.
  code/modules/psionics/complexus/complexus_latency.dm
Labels: Code

Minor SSV tweaks
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

change map good yes
  maps/torch/torch5_deck1.dmm
Labels: Map

SPEEDMERGE RENAME POSITIONS OORAH JACOB STONE MARSOC OORAH
  maps/torch/job/hestia_jobs.dm
Labels: Map

shameless buff
  code/modules/clothing/under/accessories/storage.dm
Labels: Code

fixes a missing sprite (#1228)
  icons/obj/guns/foundation.dmi
Labels: Icon

shameless buff (#1234)
  code/modules/clothing/under/accessories/storage.dm
Labels: Code

fix hlemet
  icons/mob/species/unathi/onmob_head_unathi.dmi
Labels: Icon

Working
  baystation12.dme
  code/modules/boh_misc/pouches.dm
  icons/obj/storage.dmi
Labels: Code, Icon

Update maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs.dm
Labels: Map

woah'm
  maps/away/voxship/voxship_jobs.dm
  maps/away/voxship/voxship_jobs_boh.dm
Labels: Map

yeppers
  maps/away/voxship/voxship_jobs_boh.dm
Labels: Map

cont
  code/modules/culture_descriptor/culture/cultures_vox.dm
  code/modules/culture_descriptor/faction/factions_vox.dm
  code/modules/species/outsider/vox.dm
Labels: Code

Final hopefully
  code/modules/culture_descriptor/location/locations_vox.dm
Labels: Code

fixes a check
  code/modules/culture_descriptor/location/locations_vox.dm
Labels: Code

update
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: Icon

whoops, compiling!
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/ammunition/handfuls.dm
Labels: Code

its fucked
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_jobs.dm
Labels: Map

Update handfuls.dm
  code/modules/projectiles/ammunition/handfuls.dm
Labels: Code

GAS Job Restrictions (#1217)
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
  maps/torch/job/torch_jobs.dm
Labels: Code, Map

makes the jacket i like
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
Labels: Code, Icon

fixes loadou
  maps/torch/loadout/loadout_head.dm
  maps/torch/loadout/loadout_head_boh.dm
Labels: Map

buffs fleet
  maps/torch/torch_ranks.dm
Labels: Map

Update beams.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

makes the jacket i like (#1240)
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
Labels: Code, Icon

adds the merchant hatch
  maps/torch/z1_admin.dmm
Labels: Map

makes pens less suicide-tier
  code/modules/paperwork/paper.dm
  code/modules/paperwork/pen/pen.dm
  code/modules/paperwork/pen/retractable_pen.dm
Labels: Code

fixes more unathi sprites
  icons/mob/species/unathi/onmob_head_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_under_solgov_unathi.dmi
Labels: Icon, Map

allows you to make harsuits frie
  code/modules/clothing/spacesuits/rig/rig.dm
Labels: Code

Vox changes
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Code, Map

tries to fix merge conflict
  icons/mob/species/unathi/onmob_head_unathi.dmi
Labels: Icon

i hate technobug
  baystation12.dme
  code/__defines/guns.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/attachments.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/guns/gun_attachments.dmi
Labels: Code, Icon

No hardsuit
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Code, Map

lets unathi wear forensics gloves
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Code

thing
  maps/torch/job/command_jobs.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/torch6_bridge.dmm
Labels: Map

Update gun.dm
  code/modules/projectiles/gun.dm
Labels: Code

gives unathi more fatigue options and fixes a hat
  icons/mob/species/unathi/onmob_head_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_under_solgov_unathi.dmi
Labels: Icon, Map

Update voxship_jobs.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Map

fixes yeosa eye glowing
  code/modules/species/station/lizard.dm
  code/modules/species/station/lizard_subspecies.dm
Labels: Code

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
