Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

unathi inhand sprite adds (#1394)
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: Icon

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Added new hairs as requested
  code/modules/sprite_accessories/_accessory_hair.dm
  html/changelogs/N8Toe-sojournhair.yml
  icons/mob/human_races/species/human/hair.dmi
Labels: Code, Icon

fix
  code/modules/sprite_accessories/_accessory_hair.dm
  html/changelogs/N8Toe-sojournhair.yml
  icons/mob/human_races/species/human/hair.dmi
Labels: Code, Icon

Add files via upload
  code/game/machinery/portturret_boh.dm
Labels: Code

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
Labels: Map

Add files via upload
  maps/away/voxship/voxship.dm
Labels: Map

The Last(tm) Vox ship update! (#1395)
  code/game/machinery/portturret_boh.dm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
Labels: Code, Map

early work, still doesn't compile, kill me
  code/__defines/guns.dm
  code/modules/crafting/crafting_zipgun.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/zipgun.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/obj/ammo.dmi
  icons/obj/crafting_icons.dmi
  icons/obj/guns/zipgun.dmi
  sound/weapons/gunbarrel_burst.ogg
Labels: Code, Icon, Sound

changing some notes
  code/modules/crafting/crafting_zipgun.dm
  code/modules/projectiles/guns/projectile/zipgun.dm
Labels: Code

Wiggle
  baystation12.dme
  code/game/objects/items/weapons/implants/implants/vox.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  icons/obj/device.dmi
  icons/obj/items.dmi
Labels: Code, Icon

Sadly no case
  code/game/objects/items/weapons/implants/implants/vox.dm
  icons/obj/items.dmi
Labels: Code, Icon

Fix
  icons/mob/human_races/species/human/hair.dmi
Labels: Icon

Wish me luck
  code/game/objects/items/weapons/implants/implants/vox.dm
Labels: Code

Update voxship-2.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Revert "Update voxship-2.dmm"
  maps/away/voxship/voxship-2.dmm
Labels: Map

10%
  maps/torch/infantry/firearms.dm
Labels: Map

lets veteris wear the suits
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/void/misc.dm
  icons/mob/onmob/onmob_suit.dmi
Labels: Code, Icon

Ports New Hairstyles from Sojourn (#1398)
  code/modules/sprite_accessories/_accessory_hair.dm
  html/changelogs/N8Toe-sojournhair.yml
  icons/mob/human_races/species/human/hair.dmi
Labels: Code, Icon

lets veteris wear the suits (#1403)
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/void/misc.dm
  icons/mob/onmob/onmob_suit.dmi
Labels: Code, Icon

Add files via upload
  maps/away/voxship/voxship-2.dmm
Labels: Map

Missiles Initial Commit
  code/__defines/overmap.dm
  code/_helpers/unsorted.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/turfs/turf.dm
  code/modules/overmap/contacts/contact_sensors.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/projectiles/missiles/equipment/missile_equipment.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/antimissile.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/diffuser.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/emp.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/explosive.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/payload.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/armer.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/cargo.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/passenger.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/sensor.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/thruster.dm
  code/modules/overmap/projectiles/missiles/missile.dm
  code/modules/overmap/projectiles/missiles/presets/antispace.dm
  code/modules/overmap/projectiles/missiles/presets/cargo.dm
  code/modules/overmap/projectiles/missiles/presets/diffusive.dm
  code/modules/overmap/projectiles/missiles/presets/explosive.dm
  code/modules/overmap/projectiles/missiles/presets/impact.dm
  code/modules/overmap/projectiles/missiles/presets/passenger.dm
  code/modules/overmap/projectiles/missiles/presets/sensor_probe.dm
  code/modules/overmap/projectiles/projectile.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/target_control.dm
  code/modules/overmap/ships/ship.dm
  icons/obj/bigmissile.dmi
  icons/obj/missile_equipment.dmi
  icons/obj/overmap.dmi
Labels: Code, Icon

Adds template
  nano/templates/target.tmpl
Labels: none

Add dme file
  baystation12.dme
Labels: none

Fixes clamp
  code/modules/overmap/ships/computers/target_control.dm
Labels: Code

Update voxslug.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: Code

Update vox.dm
  code/game/objects/items/weapons/implants/implants/vox.dm
Labels: Code

Update voxship-2.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Finale version
  baystation12.dme
  code/game/objects/items/weapons/implants/implants/vox.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
  icons/obj/device.dmi
Labels: Code, Icon

return of aga-eakhe
  code/__defines/culture.dm
  code/modules/culture_descriptor/religion/religions_unathi.dm
  code/modules/species/station/lizard_subspecies.dm
Labels: Code

funnyvoxissue
  code/game/machinery/portturret_boh.dm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Code, Map

Voxslug and instruction changes
  code/game/objects/items/weapons/implants/implants/vox.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: Code

fixes weird vox issues
  code/game/machinery/portturret_boh.dm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Code, Map

lets the rawl fake-dock with the d4 airlock
  maps/away/rawl/rawl_shuttles.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
Labels: Map

return of aga-eakhe (#1407)
  code/__defines/culture.dm
  code/modules/culture_descriptor/religion/religions_unathi.dm
  code/modules/species/station/lizard_subspecies.dm
Labels: Code

lets the rawl fake-dock with the d4 airlock (#1410)
  maps/away/rawl/rawl_shuttles.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
Labels: Map

Update skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Self destructing after miss
  code/modules/overmap/projectiles/missiles/missile.dm
Labels: Code

fix veteris suits
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/void/void.dm
Labels: Code

Sensor weird changes undone
  code/modules/overmap/ships/computers/sensors.dm
Labels: Code

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
