Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Tactical Frogs
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/accessories/armor.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
  icons/obj/clothing/species/skrell/obj_head_skrell.dmi
Labels: Code, Icon

Adds MULE's to the list of species that may not be a Tiro.
  maps/away/ascent/ascent_jobs.dm
Labels: Map

Parry sounds + everything needed to make 'em work
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  sound/weapons/parry/parry_energy.ogg
  sound/weapons/parry/parry_gen.ogg
  sound/weapons/parry/parry_metallarge.ogg
  sound/weapons/parry/parry_metalsmall.ogg
  sound/weapons/parry/parry_psi.ogg
  sound/weapons/parry/parry_wood.ogg
Labels: Code, Sound

Adds rest of helmet covers
  code/modules/clothing/under/accessories/armor.dm
  code/modules/clothing/under/accessories/armor_boh.dm
  icons/boh/mob/onmob/onmob_modular_armor.dmi
  icons/boh/obj/clothing/obj_modular_armor.dmi
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
Labels: Code, Icon

E
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/clothing/under/accessories/armor_boh.dm
  icons/boh/mob/onmob/onmob_modular_armor.dmi
  icons/boh/obj/clothing/obj_modular_armor.dmi
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/mob/species/skrell/onmob_modular_armor_skrell.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
  icons/obj/clothing/species/skrell/obj_modular_armor_skrell.dmi
Labels: Code, Icon

organs now drop when body parts are gibbed
  code/modules/organs/external/_external.dm
Labels: Code

Sets the acid dispenser density to 0
  maps/torch/torch4_deck2.dmm
Labels: Map

Update scavver_gantry.dm
  maps/away/scavver/scavver_gantry.dm
Labels: Map

Fleet polo & pants "overhaul"
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

reactionaryPR
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/antag_spawn/ninja/ninja_base.dmm
Labels: Map

Ascent clothes shuffle
  code/modules/ascent/ascent_outfit.dm
  icons/mob/species/nabber/onmob_under_gas.dmi
Labels: Code, Icon

this works
  baystation12.dme
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/external/_external.dm
  code/modules/species/species.dm
  icons/mob/human_races/sprite_accessories/taurs.dmi
  icons/mob/taurmob/taursuits_naga.dmi
  icons/mob/taurmob/taursuits_slug.dmi
  icons/mob/taurmob/taursuits_spider.dmi
  icons/weaver_icons_vr.dmi
  modular_mithra/code/__defines/misc.dm
  modular_mithra/code/_helpers/global_lists.dm
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/code/modules/mithra/taurbodies.dm
  modular_mithra/code/modules/mithra/update_icons_vr.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/traits.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_abilities.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_constructions.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_objects.dm
  modular_mithra/code/modules/species/station/custom.dm
  modular_mithra/code/modules/species/station/human2.dm
  modular_mithra/code/modules/species/station/vasilissan.dm
Labels: Code, Icon

removes incorrect comment
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Code

Likely just doing it wrong but carl said this
  test/check-paths.sh
Labels: ‚ùåDO NOT MERGE

OOPS
  test/check-paths.sh
Labels: ‚ùåDO NOT MERGE

Whoops. Accidental layer edit.
  maps/away/ascent/ascent-1.dmm
Labels: Map

Final fix. Hopefully.
  maps/away/ascent/ascent-1.dmm
Labels: Map

Update scavver_gantry.dm
  maps/away/scavver/scavver_gantry.dm
Labels: Map

further restrictions
  code/__defines/mobs.dm
  modular_mithra/code/modules/mithra/taurbodies.dm
  modular_mithra/code/modules/species/station/extreme_modder.dm
Labels: Code

Sidearms
  maps/torch/loadout/loadout_sikits.dm
Labels: Map

Actual polo & pants overhaul
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
Labels: Map

Fleet polo's for undershirt selection
  code/datums/underwear/undershirt.dm
  icons/mob/human.dmi
Labels: Code, Icon

I have absolutely no idea what i'm doing
  code/modules/clothing/clothing.dm
Labels: Code

Changes the merc_smg description
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

hee hoo indents fucked themselves
  modular_mithra/code/modules/species/station/extreme_modder.dm
Labels: Code

Burntime increase for Ecigs
  code/game/objects/items/weapons/ecigs.dm
Labels: Code

Neural Laces can now die.
  code/modules/boh/organs/disintegratable.dm
  code/modules/surgery/organs_internal.dm
Labels: Code

Update ecigs.dm
  code/game/objects/items/weapons/ecigs.dm
Labels: Code

Sparrow moment
  code/modules/clothing/ears/headphones.dm
Labels: Code

Update stack.dm
  code/modules/organs/internal/stack.dm
Labels: Code

Update scavver_gantry.dm
  maps/away/scavver/scavver_gantry.dm
Labels: Map

okso
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/boh_misc/boxes.dm
  code/modules/projectiles/ammunition/handfuls.dm
Labels: Code

Taur Restrictions - - - Taurs can no longer be CO/XO. They no longer have access to alarune stuff, because cringe plant pod. Additionally, tailmaws have been removed. - - -
  baystation12.dme
  maps/torch/job/torch_jobs.dm
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/code/modules/mithra/taurbodies.dm
Labels: Code, Map

yeahok
  code/modules/projectiles/ammunition/handfuls.dm
  icons/obj/ammo.dmi
Labels: Code, Icon

Update scavver_gantry.dm
  maps/away/scavver/scavver_gantry.dm
Labels: Map

Revert "Update stack.dm"
  code/modules/organs/internal/stack.dm
Labels: Code

hh
  icons/mob/human_races/sprite_accessories/taurs.dmi
  modular_mithra/code/modules/mithra/taurbodies.dm
  modular_mithra/code/modules/mithra/update_icons_vr.dm
Labels: Code, Icon

Lace destruction now works
  code/modules/organs/internal/stack.dm
Labels: Code

Test Value for Lace Hit
  code/modules/organs/internal/stack.dm
Labels: Code

fffffuck it
  code/__defines/mobs.dm
  icons/mob/human_races/sprite_accessories/taurs.dmi
  maps/torch/job/torch_jobs.dm
  modular_mithra/code/modules/species/station/extreme_modder.dm
Labels: Code, Icon, Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
