Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Re-implements the removal of Bodyshielding.
  code/modules/projectiles/projectile.dm
Labels: Code

fixes 2 more maint doors
  maps/torch/torch5_deck1.dmm
Labels: Map

Tablet Sprite
  code/modules/modular_computers/computers/subtypes/dev_tablet.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: Code, Icon

fixes 2 more maint doors (#1351)
  maps/torch/torch5_deck1.dmm
Labels: Map

fixes whoopsy terrsten
  code/modules/culture_descriptor/location/locations_unathi.dm
Labels: Code

possible tersten fix? idk
  code/__defines/culture.dm
Labels: Code

Unique OFD sound effect
  code/modules/overmap/disperser/disperser_fire.dm
  sound/machines/disperser_far.ogg
Labels: Code, Sound

fixes 2 more doors
  maps/torch/torch3_deck3.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

fixes 2 doors
  maps/torch/torch3_deck3.dmm
Labels: Map

fixes 2 doors (#1357)
  maps/torch/torch3_deck3.dmm
Labels: Map

adds knife sheath more properly
  code/modules/client/preference_setup/loadout/lists/tactical.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
Labels: Code, Icon

fixes piping issue with rawl
  maps/away/rawl/rawl.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship_areas.dm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-2.dmm
Labels: Map

fixes all the runtimes I can find
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/z1_admin.dmm
Labels: Map

fixes that last bastard
  maps/torch/z1_admin.dmm
Labels: Map

Volume adjustments
  code/modules/overmap/disperser/disperser_fire.dm
  sound/machines/disperser_far.ogg
Labels: Code, Sound

fixes all the runtimes I can find (for real) (#1361)
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/z1_admin.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

armalis down to 1 slot
  maps/away/voxship/voxship_jobs_boh.dm.bak
Labels: Map

Delete voxship_jobs_boh.dm.bak
  maps/away/voxship/voxship_jobs_boh.dm.bak
Labels: Map

Holy vox books
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/obj/storage.dmi
Labels: Code, Icon

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Add files via upload
  code/game/machinery/portturret_boh.dm
Labels: Code

Requested changes
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
Labels: Code

Random space removal
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
Labels: Code

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-2.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

New Vox ship! (#1319)
  code/game/machinery/portturret_boh.dm
  code/modules/overmap/disperser/disperser_charge.dm
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
  maps/away/voxship/voxship_areas.dm
Labels: Code, Icon, Map

various changes to the rawl, adds dohruk flightsuits and war picks. Buffs the heavy radio.
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/under/corporate.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_under_corporate.dmi
  icons/mob/species/unathi/generated/onmob_under_corporate_unathi.dmi
  icons/obj/clothing/obj_under.dmi
  icons/obj/weapons.dmi
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl_jobs.dm
Labels: Code, Icon, Map

New sound effect for when the OFD fires (#1362)
  code/modules/overmap/disperser/disperser_fire.dm
  sound/machines/disperser_far.ogg
Labels: Code, Sound

Holy vox books (#1365)
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  icons/obj/storage.dmi
Labels: Code, Icon

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-2.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map
