Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

yaya
  code/datums/trading/weaponry.dm
  maps/torch/z1_admin.dmm
Labels: Code, Map

Update z1_admin.dmm
  maps/torch/z1_admin.dmm
Labels: Map

Ascent Turret Update
  code/game/machinery/portable_turret.dm
  code/game/machinery/turret_control.dm
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
  maps/away/ascent/ascent.dm
  maps/away/ascent/ascent_shuttles.dm
Labels: Code, Map

Federal Agent Icon
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Updates Play Global Sound
  code/modules/admin/verbs/playsound.dm
Labels: Code

Update mech_damage.dm
  code/modules/mechs/mech_damage.dm
Labels: Code

Update Turrets
  maps/away/ascent/ascent.dm
Labels: Map

Adds offer_ghost from /tg/
  code/_helpers/game.dm
  code/_helpers/maths.dm
  code/_helpers/time.dm
  code/_helpers/unsorted.dm
  code/datums/browser.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/mob/mob_helpers.dm
Labels: Code

Adds the mantid dispenser
  baystation12.dme
  code/modules/boh/ascent2/mantid_food.dm
  icons/obj/food.dmi
  icons/obj/machines/mantid_food.dmi
  maps/away/ascent/ascent-1.dmm
Labels: Code, Icon, Map

fixes P10 icons
  maps/torch/infantry/firearms.dm
Labels: Map

Description
  maps/torch/infantry/firearms.dm
Labels: Map

[WIP] BARSYS BABY
  baystation12.dme
  code/__defines/barsys/mixingsteps.dm
  code/controllers/subsystems/initialization/barsys.dm
  code/modules/barsys/drink_recipe.dm
  code/modules/barsys/mixing_steps.dm
  modular_mithra/code/__defines/mixology/alcohols.dm
  modular_mithra/code/__defines/mixology/juices.dm
  modular_mithra/code/__defines/mixology/syrups.dm
  modular_mithra/code/modules/mixology/sour_class.dm
Labels: Code

fuck
  maps/random_ruins/exoplanet_ruins/c_fighter/c_fighter.dmm
Labels: Map

to make the CL work
  maps/random_ruins/exoplanet_ruins/c_fighter/c_fighter.dmm
Labels: Map

Exempts head from being damaged off.
  code/modules/organs/external/_external_damage.dm
Labels: Code

Unrelated Typo fix
  code/modules/surgery/generic.dm
Labels: Code

Update away_sites_testing.dm
  maps/away_sites_testing/away_sites_testing.dm
Labels: Map

Suit sensor prefs + IPC charge on sensors
  code/controllers/subsystems/jobs.dm
  code/datums/repositories/crew/binary.dm
  code/datums/repositories/crew/vital.dm
  code/modules/client/preference_setup/general/03_equipment.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/silicon/robot/analyzer.dm
  nano/templates/crew_monitor.tmpl
Labels: Code

Update torch.dm
  maps/torch/torch.dm
Labels: Map

fixes smelter bruh moment
  maps/away/rawl/rawl.dmm
Labels: Map

Adjustment
  code/__defines/armor.dm
  maps/torch/infantry/hardsuit.dm
Labels: Code, Map

Unifies naming of suits
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void/merc.dm
  maps/torch/items/rigs.dm
Labels: Code, Map

Allows the head to be removed via throat-slitting if it's taken 100 brute damage.
  code/modules/mob/grab/normal/grab_normal.dm
Labels: Code

Update scavver_gantry.dm
  maps/away/scavver/scavver_gantry.dm
Labels: Map

Xenowear Skrellian Uniform
  code/modules/client/preference_setup/loadout/lists/xenowear_boh.dm
Labels: Code

Pariah-be-gone
  code/modules/species/outsider/vox.dm
  maps/torch/torch_ranks_boh.dm
Labels: Code, Map

Removes some of the bad grammar
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
Labels: Code

bearcat is gae
  maps/random_ruins/exoplanet_ruins/c_fighter/c_fighter.dmm
Labels: Map

baycode moment
  code/modules/client/preference_setup/loadout/lists/xenowear_boh.dm
  code/modules/clothing/under/miscellaneous.dm
Labels: Code

Adds a unique decapitation message!
  code/modules/mob/grab/normal/grab_normal.dm
Labels: Code

damn bro why the alien got pockets
  code/modules/species/xenomorphs/alien_species.dm
Labels: Code

malice
  code/modules/clothing/under/miscellaneous.dm
Labels: Code

Update scavver_gantry.dm
  maps/away/scavver/scavver_gantry.dm
Labels: Map

handful changes
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/ammunition/handfuls.dm
  icons/obj/ammo.dmi
Labels: Code, Icon

adds sec compact smartgun
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/firearms.dm
Labels: Code

lok
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/ammunition/handfuls.dm
Labels: Code

makes it sidearm and buffs tazer to accomodate change
  code/modules/boh_misc/boxes.dm
  code/modules/projectiles/guns/energy/stun.dm
Labels: Code

Locks all npm dependency versions to fixed
  vueui/package-lock.json
  vueui/package.json
Labels: none

Forgot two
  vueui/package.json
Labels: none

Restricts Vox to merchant only
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Map
