Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

correction
  code/modules/culture_descriptor/culture/cultures_vox.dm
Labels: Code

yup
  code/modules/culture_descriptor/religion/religions_vox.dm
Labels: Code

FIXES AAAAAAAAAAA
  code/_global_vars/configuration.dm
  code/modules/boh/ascent2/structures.dm
  maps/away/ascent/ascent-1.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
Labels: Code, Map

yeah 2.0
  code/_global_vars/configuration.dm
Labels: Code

yuppers
  maps/torch/datums/supplypacks/security.dm
Labels: Map

Update client_procs.dm
  code/modules/client/client_procs.dm
Labels: Code

Update colors.dm
  code/__defines/colors.dm
Labels: Code

grayons
  maps/torch/torch2_deck4.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

emergency hotfix
  maps/torch/structures/closets.dm
Labels: Map

fixes areas
  maps/torch/torch2_deck4.dmm
Labels: Map

More CI patches
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_areas.dm
Labels: Map

yup
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Update meteor.dm
  code/game/gamemodes/meteor/meteor.dm
Labels: Code

h
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/clothing/spacesuits/void/misc.dm
  maps/torch/loadout/loadout_xeno.dm
Labels: Code, Map

Balanarmalis
  maps/away/voxship/voxship_jobs.dm
  maps/away/voxship/voxship_jobs_boh.dm
Labels: Map

Finishes new SSV.
  code/game/machinery/portable_turret.dm
  code/modules/boh/antiboarding/tur_id.dm
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
  maps/torch/torch2_deck4.dmm
Labels: Code, Map

pain
  code/game/objects/items/weapons/shields.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
  maps/torch/items/clothing/boh_accessory.dm
Labels: Code, Map

Added The Cuchulain Foundation faction
  code/modules/culture_descriptor/faction/factions_human.dm
Labels: Code

Hime haircut alts
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Code, Icon

Update explosive.dm
  code/game/objects/items/weapons/grenades/explosive.dm
Labels: Code

yup it's that time again - - - Balance: - Infantry once again locked to requiring an SL. - - -
  maps/torch/job/hestia_jobs.dm
Labels: Map

makes the PR be not bad
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Code, Icon

Update factions_human.dm
  code/modules/culture_descriptor/faction/factions_human.dm
Labels: Code

Oops, forgot about define
  code/__defines/culture.dm
Labels: Code

Removes combat augs from loadout
  maps/torch/loadout/loadout_augments.dm
Labels: Map

e
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  maps/torch/loadout/loadout_xeno.dm
Labels: Code, Map

Removes Jam Chance
  code/modules/boh_misc/firearms.dm
  code/modules/codex/entries/guns.dm
  code/modules/merchant/merchant_guns.dm
  code/modules/projectiles/guns/projectile.dm
  maps/torch/infantry/firearms.dm
Labels: Code, Map

Update ascent_machines.dm
  code/modules/ascent/ascent_machines.dm
Labels: Code

Fixes Tool Implants
  code/modules/augment/active/polytool.dm
Labels: Code

Balance
  code/game/gamemodes/godmode/godmode.dm
  code/modules/supermatter/supermatter.dm
Labels: Code

Update complexus_latency.dm
  code/modules/psionics/complexus/complexus_latency.dm
Labels: Code

FUCK FUCK FUCK
  code/modules/supermatter/supermatter.dm
Labels: Code

Singulo Go Blam
  maps/torch/torch1_deck5.dmm
Labels: Map

fullauto
  code/_onclick/click.dm
  code/modules/client/client_defines.dm
  code/modules/projectiles/gun.dm
Labels: Code

Update automatic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

Update automatic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

Update projectile.dm
  code/modules/projectiles/projectile.dm
Labels: Code

Update click.dm
  code/_onclick/click.dm
Labels: Code

Update complexus_latency.dm
  code/modules/psionics/complexus/complexus_latency.dm
Labels: Code

Update complexus_latency.dm
  code/modules/psionics/complexus/complexus_latency.dm
Labels: Code
