Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Revert "Revert "Changes the merc_smg description""
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

Makes the KOSMAG smaller
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
Labels: Map

doubles few gamemode requirements
  code/game/gamemodes/mixed/crossfire.dm
  code/game/gamemodes/mixed/infestation.dm
Labels: Code

Makes the KOSMAG smaller
  maps/torch/torch3_deck3.dmm
Labels: Map

Final finishing touches
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
Labels: Map

Fixes a thing
  maps/torch/torch3_deck3.dmm
Labels: Map

missilepoddoorreview
  maps/torch/torch3_deck3.dmm
Labels: Map

massdriverbegonethot
  maps/torch/torch3_deck3.dmm
Labels: Map

I still wanna fix these eventually
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_abilities.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_constructions.dm
Labels: Code

Changes SM Sprite to something nicer.
  icons/obj/engine.dmi
Labels: Icon

Re-adds Telecomms Relay
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/presets.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/weapons/circuitboards/machinery/telecomms.dm
  code/modules/research/designs/designs_circuits.dm
Labels: Code

Hotfix
  code/game/machinery/telecomms/telecomunications.dm
Labels: Code

I made weed better
  code/modules/hydroponics/seed_datums.dm
Labels: Code

DreamCheckerCompliance
  code/game/machinery/telecomms/machine_interactions.dm
Labels: Code

Fixed Recpie Listing on Mech Fab
  code/modules/research/designs/designs_mechfab.dm
Labels: Code

makes eye glow work good
  code/modules/organs/internal/eyes.dm
Labels: Code

radiation mod for unat
  code/modules/species/station/lizard.dm
Labels: Code

vox removal
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Plasma Rifle
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/antagonist/outsider/raider.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/energy.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/items/righthand_guns_secure.dmi
  icons/obj/guns/plasma_rifle.dmi
  icons/obj/projectiles.dmi
  maps/torch/datums/supplypacks/security.dm
  sound/weapons/multiplas_rifle.ogg
Labels: Code, Icon, Sound, Map

rebalances yeosa, mostly to have a slower metabolism
  baystation12.dme
  code/game/objects/auras/regenerating_aura.dm
  code/modules/species/station/lizard_subspecies.dm
Labels: Code

whoops forgot this file
  code/modules/organs/internal/species/yeosa.dm
Labels: Code

Buffs antag one
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Code

Hestia: Holy Armor up the Ass Edition
  code/modules/mechs/components/armour.dm
  code/modules/mechs/equipment/combat.dm
Labels: Code

Hestia: Mechs are scuffed this fixes it hopefully edition.
  code/modules/mechs/premade/combat.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/mechs/premade/light.dm
Labels: Code

Admins can now see sensor stuff
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Code

Balances Powerloader Health
  code/modules/mechs/premade/powerloader.dm
Labels: Code

Adds Transform
  code/modules/admin/view_variables/topic.dm
  code/modules/admin/view_variables/view_variables.dm
Labels: Code

E
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Code

beep boop
  code/modules/organs/internal/stack.dm
  sound/effects/lacefail_survival.ogg
Labels: Code, Sound

No! Bad snek!
  code/game/antagonist/antagonist.dm
Labels: Code

Update stack.dm
  code/modules/organs/internal/stack.dm
Labels: Code

Psionic spawn fix
  maps/torch/torch6_bridge.dmm
Labels: Map

maybe fixes runtime ?
  code/modules/projectiles/guns/energy/special.dm
Labels: Code

E
  code/modules/projectiles/guns/energy/secure.dm
Labels: Code

Update special.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Code

Bay Overmap sprites
  code/modules/overmap/_defines.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/planet_types/wartorn.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/ships/ship.dm
  icons/obj/overmap.dmi
  icons/turf/space.dmi
Labels: Code, Icon

FSEA uniform
  maps/torch/job/outfits/boh_outfits.dm
Labels: Map

Coveralls
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

commissary
  torch2_deck4.dmm
Labels: none

Fixes path checks.
  test/check-paths.sh
Labels: ‚ùåDO NOT MERGE
