Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

hmm
  baystation12.dme
Labels: none

maybe?
  baystation12.dme
  code/modules/boh/admin/items.dm
  maps/torch/torch_areas.dm
Labels: Code, Map

Adds Boron & Supply Stuff (#1169)
  code/datums/supplypacks/dispcarts.dm
  code/datums/supplypacks/medical.dm
  code/game/objects/random/random.dm
  code/modules/materials/material_sheets.dm
  code/modules/power/fusion/_setup.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  maps/torch/datums/supplypacks/security.dm
Labels: Code, Icon, Map

sord
  code/game/objects/items/weapons/melee/misc.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_belt.dmi
  icons/obj/clothing/obj_belt.dmi
  icons/obj/clothing/obj_belt_overlays.dmi
  icons/obj/weapons.dmi
  maps/torch/datums/uniforms_exp_fleet.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/datums/uniforms_marine-corps.dm
  sound/effects/holster/blade_unsheath.ogg
  sound/weapons/bladeslice.ogg
Labels: Code, Icon, Sound, Map

Removes unused areas (#1184)
  code/modules/boh/admin/items.dm
  maps/torch/torch_areas.dm
Labels: Code, Map

swordsbelike
  icons/mob/onmob/onmob_back.dmi
  icons/mob/onmob/onmob_belt.dmi
Labels: Icon

mjp can't spell
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Code

Crest fixes
  maps/torch/items/manuals.dm
  maps/torch/torch_setup.dm
Labels: Map

unit error fix?
  code/game/objects/items/weapons/melee/misc.dm
Labels: Code

More accurate snipers, SSV bugfixes, Pulse damage scaling.
  code/game/machinery/portable_turret.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/skrell/skrell_rigs.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Code, Map

Crest fixes (#1187)
  maps/torch/items/manuals.dm
  maps/torch/torch_setup.dm
Labels: Map

Update misc.dm
  code/game/objects/items/weapons/melee/misc.dm
Labels: Code

Speeds up surgery steps slightly
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
Labels: Code

Fixes CI
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
Labels: Map

Going to piss shit and cum if this doesn't work.
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
Labels: Map

See changelogs/Spummm_1190.txt
  code/datums/trading/ai.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/unique.dm
  code/modules/item_worth/worths_list.dm
  html/changelogs/Spummm_1190.txt
  maps/torch/z1_admin.dmm
Labels: Code, Map

Update food.dm
  code/datums/trading/food.dm
Labels: Code

Update food.dm
  code/datums/trading/food.dm
Labels: Code

Update unique.dm
  code/datums/trading/unique.dm
Labels: Code

Update ai.dm
  code/datums/trading/ai.dm
Labels: Code

Update food.dm
  code/datums/trading/food.dm
Labels: Code

Fixes Z-level pulling
  code/datums/movement/mob.dm
Labels: Code

Update maps/torch/z1_admin.dmm
  maps/torch/z1_admin.dmm
Labels: Map

Update maps/torch/z1_admin.dmm
  maps/torch/z1_admin.dmm
Labels: Map

m'uh roonchat
  baystation12.dme
  code/_helpers/animations.dm
  code/_helpers/game.dm
  code/_helpers/mobs.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/floating_message.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
Labels: Code

Update automatic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

Update automatic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

Update automatic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

Update automatic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

Update automatic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

fixes berets and some hands
  icons/mob/species/unathi/onmob_hands_unathi.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  maps/torch/items/clothing/solgov-hands.dm
  maps/torch/items/clothing/solgov-head.dm
Labels: Icon, Map

BEGONE
  maps/torch/job/misc_jobs.dm
Labels: Map

fixes berets and some hands (#1199)
  icons/mob/species/unathi/onmob_hands_unathi.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  maps/torch/items/clothing/solgov-hands.dm
  maps/torch/items/clothing/solgov-head.dm
Labels: Icon, Map

Fixes CI
  code/modules/culture_descriptor/location/locations_vox.dm
  test/check-paths.sh
Labels: Code, ‚ùåDO NOT MERGE

solrepjob
  baystation12.dme
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

fix
  baystation12.dme
Labels: none

species
  maps/torch/job/command_jobs.dm
Labels: Map

Update munitions.dm
  code/modules/boh_misc/munitions.dm
Labels: Code

Removal of GAS from Antagonistic Roles - - - Balance: - Completely prevents GAS from spawning as (& being chosen for) traitor. - - -
  code/modules/species/station/nabber.dm
Labels: Code

gluger
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  icons/obj/guns/pistol.dmi
Labels: Code, Icon

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
