Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Cleans up some stuff, allows IPC judge.
  maps/torch/job/torch_jobs.dm
Labels: Map

Removes Arbiter title.
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/job/command_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Sets player age reqs to bailiff and Chief.
  maps/torch/job/command_jobs.dm
Labels: Map

Moves new jobs to the BoH_Job folder.
  maps/torch/job/command_jobs.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

Renames /blueshield to /bailiff and /representative to /adjudicator.
  maps/torch/datums/reports/solgov.dm
  maps/torch/items/cards_ids.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/torch_areas.dm
Labels: Map

Renames Chief Adjudicator to just Adjudicator.
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/job/hestia_jobs.dm
Labels: Map

RIG Backpacks - DarkRP Stunstick
  baystation12.dme
  code/modules/boh/admin/items.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
Labels: Code

Travis, please.
  code/modules/boh/admin/items.dm
Labels: Code

fuck you
  code/datums/uplink/implants.dm
Labels: Code

Update fbp.dm
  code/modules/organs/internal/species/fbp.dm
Labels: Code

Removes greeting (#769)
  .github/workflows/greetings.yml
Labels: Github

Initial Commit
  code/modules/client/preference_setup/loadout/lists/misc.dm
Labels: Code

Lowers MRE cost to 2
  code/modules/client/preference_setup/loadout/lists/misc.dm
Labels: Code

added lobby art
  maps/torch/lobby/HestiaLobby-01.png
Labels: Map

IPC's can use vey med prostheses.
  code/modules/organs/robolimbs.dm
Labels: Code

update torch_lobby.dm
  maps/torch/torch_lobby.dm
Labels: Map

makes the Ebow actually do what it's supposed to. (AKA: reverts ebow nerf)
  code/modules/projectiles/projectile/energy.dm
Labels: Code

nerfs the bow a lot as well.
  code/modules/projectiles/guns/energy/stun.dm
Labels: Code

No you are not fucking Yuri from RA2 while being that edgelord Rahn from RA2 MO.
  maps/torch/job/hestia_jobs.dm
Labels: Map

Makes you into somewhat Rahn but Rahn isnt a vatgrown genesoldier but instead a regular solider
  maps/torch/job/hestia_jobs.dm
Labels: Map

Adds Gun to psi advisor's locker (Again)
  maps/torch/structures/closets/command.dm
Labels: Map

Bootleg Unbranded Peestol, Shiny Equipment Kit
  maps/torch/items/psyker/agent_items.dm
Labels: Map

Just regular briefcases
  maps/torch/items/clothing/boh_clothing.dm
Labels: Map

Actually, let's leave the gun briefcase JUST IN CASE
  maps/torch/items/psyker/agent_items.dm
Labels: Map

I dun goofed Part 2: Superhats loses their mind
  maps/torch/items/psyker/agent_items.dm
Labels: Map

I dun goofed
  maps/torch/items/psyker/agent_items.dm
Labels: Map

fixes box speedmerge gang
  maps/torch/items/psyker/agent_items.dm
Labels: Map

First Commit
  code/game/objects/items/weapons/surgery_tools.dm
Labels: Code

WOOPS! Fixed path errors, matter cost
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/tape.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/fabrication/designs/general/designs_general.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
Labels: Code

Second commit
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/items/weapons/tape.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/fabrication/designs/general/designs_general.dm
Labels: Code

Adds even more recyclables
  code/game/objects/items/weapons/clothingbag.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Code

Getting rid of explorer-net shell until it's not torch exclusive
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
Labels: Code

fixed heavy speedloader type path
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
Labels: Code

fix
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
Labels: Code

Changes kits to use satchels instead of boxes.
  code/datums/uplink/armor_and_tactical_wear.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Code

Thicc commit.
  baystation12.dme
  code/datums/uplink/armor_and_tactical_wear.dm
  code/datums/uplink/chemicals.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/datums/uplink/uplink_categories.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  icons/obj/device.dmi
Labels: Code, Icon

Lowered GAS insuls to 4 TC (originally 6)
  code/datums/uplink/devices and tools.dm
Labels: Code

No stale gimmick but I need a better writer
  maps/torch/datums/game_modes/torch_revolution.dm
Labels: Map

RIG Backpacks - DarkRP Stunstick
  baystation12.dme
  code/modules/boh/admin/items.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
Labels: Code

Travis, please.
  code/modules/boh/admin/items.dm
Labels: Code

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
