Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Ascent food and IMS changes
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
Labels: Map

Update ascent-2.dmm
  maps/away/ascent/ascent-2.dmm
Labels: Map

Update ascent-2.dmm
  maps/away/ascent/ascent-2.dmm
Labels: Map

Fixes-Books
  code/modules/library/manuals/security.dm
  maps/torch/items/manuals.dm
Labels: Code, Map

Removes my Fuckup
  code/modules/library/manuals/security.dm
  maps/torch/items/manuals.dm
Labels: Code, Map

Fixes Manuals, now with 30% less oof
  baystation12.dme
  code/modules/library/manuals/security.dm
  maps/torch/items/manuals.dm
Labels: Code, Map

Combat Medic Marine
  maps/torch/job/hestia_jobs.dm
Labels: Map

Fixes my fuckup 2 electric boogaloo
  code/modules/library/manuals/security.dm
  maps/torch/items/manuals.dm
Labels: Code, Map

Fixes links
  maps/torch/items/manuals.dm
Labels: Map

uniform
  maps/torch/items/manuals.dm
Labels: Map

compiling
  code/game/objects/items/weapons/tools/screwdriver.dm
Labels: Code

Fixes Purp's formatting issues with the books
  maps/torch/items/manuals.dm
Labels: Map

Fixes Minor mistake
  maps/torch/items/manuals.dm
Labels: Map

Revert "Bay Overmap sprites"
  code/modules/overmap/_defines.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/planet_types/wartorn.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/ships/ship.dm
  icons/obj/overmap.dmi
  icons/turf/space.dmi
Labels: Code, Icon

Adds Steward
  code/datums/outfits/jobs/civilian.dm
  code/datums/supplypacks/dispcarts.dm
  code/game/jobs/access_datum.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/barsign.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/modules/boh/items/plasmasans.dm
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
  maps/torch/items/cards_ids.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/outfits/service_outfits.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/structures/closets/services.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_areas.dm
Labels: Code, Map

hud
  icons/mob/hud.dmi
Labels: Icon

E
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/z1_admin.dmm
Labels: Map

pixelfix
  icons/mob/species/unathi/onmob_accessories_sol_unathi.dmi
  icons/mob/species/unathi/onmob_accessories_unathi.dmi
Labels: Icon

Update Chemistry-Recipes.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Code

Fixes Ninja Uplink
  code/game/antagonist/outsider/ninja.dm
Labels: Code

lowers amount of antags
  code/game/gamemodes/mixed/spyvspy.dm
  code/game/gamemodes/traitor/traitor.dm
Labels: Code

Adds a new phoron suit choice.
  code/modules/boh/items/plasmasans.dm
  icons/mob/species/plasmasans/onmob_head_plasmasans.dmi
  icons/mob/species/plasmasans/onmob_suit_plasmasans.dmi
  icons/obj/clothing/species/plasmasans/obj_head_plasmasans.dmi
  icons/obj/clothing/species/plasmasans/obj_suit_plasmasans.dmi
Labels: Code, Icon

arrr
  code/game/machinery/doors/airlock.dm
  maps/torch/structures/closets/engineering.dm
Labels: Code, Map

deboning
  icons/obj/tools.dmi
Labels: Icon

Requested changes 2: Electric Boogaloo
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

Update surgery_tools.dm
  code/game/objects/items/weapons/surgery_tools.dm
Labels: Code

Initial commit
  baystation12.dme
  code/__defines/damage_organs.dm
  code/__defines/mobs.dm
  code/modules/augment/active.dm
  code/modules/augment/active/armblades.dm
  code/modules/augment/active/circuit.dm
  code/modules/augment/active/hudimplants.dm
  code/modules/augment/active/polytool.dm
  code/modules/augment/active/tool/engineering.dm
  code/modules/augment/active/tool/surgical.dm
  code/modules/augment/augment.dm
  code/modules/augment/item.dm
  code/modules/augment/passive/armor.dm
  code/modules/augment/passive/boost.dm
  code/modules/augment/passive/boost/muscle.dm
  code/modules/augment/passive/nanoaura.dm
  code/modules/augment/simple.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/external/diagnostics.dm
  code/modules/organs/organ.dm
  code/modules/research/designs/designs_mechfab.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/robotics.dm
  maps/torch/loadout/loadout_augments.dm
Labels: Code, Map

changes veteris and yeosa
  code/game/objects/auras/regenerating_aura.dm
  modular_mithra/code/modules/species/station/humanathi.dm
Labels: Code

extra yeosa changes I forgo
  code/modules/species/station/lizard_subspecies.dm
Labels: Code

tweaks auras of veteris and yeosa to be more similar
  code/game/objects/auras/regenerating_aura.dm
Labels: Code

Update surgery_tools.dm
  code/game/objects/items/weapons/surgery_tools.dm
Labels: Code

uh
  maps/torch/structures/closets/misc.dm
  maps/torch/torch6_bridge.dmm
Labels: Map

[WIP] Adds a new React() proc to the RUST
  code/_helpers/global_access.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
Labels: Code

[WIP] The commenting
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
Labels: Code

[WIP] Now compiles
  code/_helpers/global_access.dm
Labels: Code

[WIP] Adds AP, CNO, TPA - [PLAYTEST PLEASE]
  code/_helpers/cmp.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
Labels: Code

[WIP] Delimits explosion, adds proton-proton reactions
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
Labels: Code

[WIP] Radiation
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
Labels: Code

[WIP] Multi-Z rads
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
Labels: Code

[WIP] Brig shouldn't die, just be tickled
  code/modules/power/fusion/core/core_field.dm
Labels: Code
