Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

WOOPS! Fixed path errors, matter cost
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/tape.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/fabrication/designs/general/designs_general.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
Labels: Code

Getting rid of explorer-net shell until it's not torch exclusive
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
Labels: Code

Adds augmented tie to Chief Magistrate and Corporate Rep
  maps/torch/structures/closets/misc.dm
Labels: Map

Remap of the SGR/Chief Magistrate's office.
  maps/torch/torch6_bridge.dmm
Labels: Map

Even more blueshield memes.
  maps/torch/job/command_jobs.dm
Labels: Map

Reposition's Arbiter on the list.
  maps/torch/job/torch_jobs.dm
Labels: Map

Fixes Arbiter locker access.
  maps/torch/structures/closets/misc.dm
Labels: Map

conflict fix attempt 1.
  maps/torch/job/outfits/command_outfits.dm
Labels: Map

Fixes blueshield locker.
  maps/torch/structures/closets/misc.dm
Labels: Map

Fixes air alarm sensor settings for server and sauna
  code/game/machinery/alarm.dm
Labels: Code

Fixes huds on Arbiter and Chief Magistrate.
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Adds Arbiter to loadout defines.
  maps/torch/loadout/_defines.dm
Labels: Map

Adds alt title to chief magistrate, chief prefect.
  maps/torch/job/command_jobs.dm
Labels: Map

Map update
  maps/torch/torch6_bridge.dmm
Labels: Map

Burger
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Adds even more recyclables
  code/game/objects/items/weapons/clothingbag.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Code

testing completed
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

burgmerge
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Burger?
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

removes the fucking infantry vending machine i put in the counselors office
  maps/torch/torch5_deck1.dmm
Labels: Map

Fuck
  maps/torch/torch3_deck3.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Map

double fuck
  maps/torch/torch6_bridge.dmm
Labels: Map

fixed heavy speedloader type path
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
Labels: Code

is that fucking coherent enough for you mother fucker
  maps/torch/torch6_bridge.dmm
Labels: Map

Fuck you fuck you fuck you
  maps/torch/torch6_bridge.dmm
Labels: Map

pain and suffering
  maps/torch/torch6_bridge.dmm
Labels: Map

FUCK YOU FUCK YOU FUCK YOU FUCK YOU FUCK YOU FUCK YOU FUCK YOU FUCK YOU
  maps/torch/torch6_bridge.dmm
Labels: Map

FUCK YOU TRAVIS FUCK YOU FUCK
  maps/torch/torch5_deck1.dmm
Labels: Map

Adds another magistrate alt title.
  maps/torch/job/command_jobs.dm
Labels: Map

Removes most race restrictions on Chief Magistrate.
  maps/torch/job/torch_jobs.dm
Labels: Map

ready
  code/modules/mob/language/alien/antag.dm
  code/modules/mob/living/carbon/breathe.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/organs/internal/lungs.dm
Labels: Code

OH GOD OH FUCK
  code/modules/boh/items/plasmasans.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Code

ok now it's ready
  code/modules/boh_misc/equipment.dm
  code/modules/clothing/suits/bio.dm
  icons/mob/species/plasmasans/onmob.dmi
Labels: Code, Icon

it compiles, so it werks
  code/modules/boh/items/plasmasans.dm
  code/modules/species/station/plasmasans.dm
Labels: Code

Gestures
  code/modules/mob/language/alien/mantid.dm
Labels: Code

Snip Snap
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: Code

Snip Snap 2: Robotic Boogawoo
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
Labels: Code

Swapped titles around. Adjudicator is main title.
  maps/torch/job/command_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Fixes a mistake. Makes Magistrate a contractor.
  maps/torch/job/command_jobs.dm
Labels: Map

Fixes huds. Again.
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
