Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

The Bridge changes.
  maps/torch/structures/closets/misc.dm
  maps/torch/torch6_bridge.dmm
Labels: Map

TC tweaks I almost forgot.
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

map fixes
  maps/torch/torch1_deck5.dmm
Labels: Map

Wire fix try 2
  maps/torch/torch1_deck5.dmm
Labels: Map

Wires 3
  maps/torch/torch1_deck5.dmm
Labels: Map

Add files via upload
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
Labels: Map

WiReS 4
  maps/torch/torch1_deck5.dmm
Labels: Map

wIrEs 5 (why god why)
  maps/torch/torch1_deck5.dmm
Labels: Map

WIRES 6 REEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
  maps/torch/torch1_deck5.dmm
Labels: Map

Final???
  maps/torch/torch1_deck5.dmm
Labels: Map

I placed a stray wire tabbing back in. REEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE!
  maps/torch/torch1_deck5.dmm
Labels: Map

Adjusts O2 closet RNG
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Code

This is literally it.
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Code

Updates ammo.
  code/datums/uplink/ammunition.dm
Labels: Code

Updates guns
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

Map changes
  maps/torch/torch1_deck5.dmm
Labels: Map

Tiny wire fix
  maps/torch/torch1_deck5.dmm
Labels: Map

bicard/kelo in trauma/burn pouches
  code/game/objects/items/weapons/storage/med_pouch.dm
Labels: Code

Replaces cold medicine w/health analyzer
  code/game/objects/items/weapons/storage/firstaid.dm
Labels: Code

Add files via upload
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
Labels: Map

Seems legit.
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Code

Updates description on magnum revolver.
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

Removes NTNet requirement for P2P. Adds uplink program to downloadables.
  code/__defines/misc.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/antagonist/uplink.dm
  code/modules/modular_computers/file_system/programs/generic/nttransfer.dm
  code/modules/modular_computers/file_system/programs/research/ntmonitor.dm
  nano/templates/ntnet_monitor.tmpl
Labels: Code

Removes Sergal from suit cyclers.
  code/game/machinery/suit_cycler.dm
  maps/torch/items/machinery.dm
Labels: Code, Map

Makes the secure vial carrier and the nullglass item box not cancel psionics.
  code/modules/psionics/equipment/foundation_weapon.dm
Labels: Code

Fixes the ERT base not needing access.
  maps/antag_spawn/ert/ert.dm
  maps/antag_spawn/ert/ert_base.dmm
Labels: Map

Puts two KADs to the nuke room. Puts a charger into perma.
  maps/torch/torch5_deck1.dmm
Labels: Map

Getting relaced reduces your combat skills to nothing for a hour
  code/modules/organs/internal/stack.dm
Labels: Code

Slight adjustments
  code/modules/organs/internal/stack.dm
Labels: Code

Full stop.
  code/modules/organs/internal/stack.dm
Labels: Code

What even went wrong here
  code/modules/organs/internal/stack.dm
Labels: Code

Small errors
  code/modules/organs/internal/stack.dm
Labels: Code

Time fix
  code/modules/organs/internal/stack.dm
Labels: Code

Lasers no longer .delete organs
  code/modules/organs/external/_external_damage.dm
Labels: Code

Span removal
  code/modules/organs/internal/stack.dm
Labels: Code

Changes requested
  code/modules/organs/external/_external_damage.dm
Labels: Code

Rad lockers spawn with 2 tox + 2 rad pouches
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Code

Roland's request: Rad suits spawn in pairs (see list)
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Code

Removes extra spaces
  code/modules/clothing/suits/utility.dm
Labels: Code

Getting relaced reduces your combat skills to nothing/basic for 30 minutes (#1022)
  code/modules/organs/internal/stack.dm
Labels: Code

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
