Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

En que estaba pensando?
  config/example/admin_ranks.txt
  config/example/admins.txt
  config/example/alienwhitelist.txt
  config/example/away_site_blacklist.txt
  config/example/config.txt
  config/example/custom_sprites.txt
  config/example/dbconfig.txt
  config/example/dbconfig_docker.txt
  config/example/exoplanet_ruin_blacklist.txt
  config/example/game_options.txt
  config/example/jobs.txt
  config/example/lore.html
  config/example/moderators.txt
  config/example/motd.txt
  config/example/rules.html
  config/example/space_ruin_blacklist.txt
  config/example/webhooks.json
Labels: ‚ùåDO NOT MERGE

"Licencias" a musica y pruebo huds
  code/datums/music_tracks/manaos_music_tracks.dm
  icons/mob/hud.dmi
Labels: Code, Icon

burbin
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/z2_transit.dmm
Labels: Map

fuck you escape pod 9 *t-pose*
  maps/torch/backup/z2_transit.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_shuttles.dm
Labels: Map

Esto debería reparar algunos hud V1
  icons/mob/hud.dmi
Labels: Icon

Hud v2
  icons/mob/hud.dmi
Labels: Icon

No Runtimes UNO :)
  code/modules/games/uno.dm
Labels: Code

Hud v3
  icons/mob/hud.dmi
Labels: Icon

Travass
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Map

Hud FINAL
  icons/mob/hud.dmi
Labels: Icon

Ahora si - HUDS
  icons/mob/hud.dmi
Labels: Icon

UNO para el Loadout
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/games/uno.dm
Labels: Code

Tweaks before testing and maint work
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Repara algo de travis
  code/datums/music_tracks/businessend.dm
  code/datums/music_tracks/salutjohn.dm
Labels: Code

Delete z2_transit.dmm
  maps/torch/backup/z2_transit.dmm
Labels: Map

Puto Initialize
  code/modules/games/uno.dm
Labels: Code

fuck you travis, you cant tell me what to do
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Uses the correct carts now
  maps/torch/torch5_deck1.dmm
Labels: Map

Weak lollipops
  code/game/objects/items/weapons/storage/misc.dm
  maps/torch/torch5_deck1.dmm
Labels: Code, Map

More minor changes
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Fixes a vent (I hope)
  maps/torch/torch5_deck1.dmm
Labels: Map

Fixing issues found in testing
  maps/torch/torch5_deck1.dmm
Labels: Map

More issues
  maps/torch/torch5_deck1.dmm
Labels: Map

Fixes a button and a mistake from my last PR
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

slap
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Code

0.5 becomes 1.5
  code/modules/projectiles/projectile/bullets.dm
Labels: Code

Buffs buckshot
  code/modules/projectiles/projectile/bullets.dm
Labels: Code

Finishing touches
  maps/torch/torch5_deck1.dmm
Labels: Map

Broke a disposal, woops
  maps/torch/torch5_deck1.dmm
Labels: Map

tones it down to 5 ap
  code/modules/projectiles/projectile/bullets.dm
Labels: Code

Pills for chemist powergame
  maps/torch/torch5_deck1.dmm
Labels: Map

Changes based on feedback
  maps/torch/torch5_deck1.dmm
Labels: Map

Map merge error fix
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

rulez sux
  html/rules.html
Labels: none

Debería reparar algo de travis
  baystation12.dme
  maps/away/blueriver/blueriver-2.dmm
Labels: Map

Aver si esto es de tu talla...
  baystation12.dme
Labels: none

Te vas a reparar travis, me escuchaste?
  maps/bearcat/bearcat.dm
Labels: Map

Arrodillate ante mi, Travis.
  maps/bearcat/bearcat_lobby.dm
Labels: Map

The End of Travis
  icons/mob/hud.dmi
  maps/bearcat/bearcat_jobs.dm
Labels: Icon, Map

yaba daba du!
  maps/bearcat/bearcat_jobs.dm
Labels: Map
