Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

makes yeosa regen cheaper and removes meme comment
  code/game/objects/auras/regenerating_aura.dm
  code/modules/organs/internal/species/yeosa.dm
Labels: Code

Update onmob_rig_modules.dmi
  icons/mob/onmob/onmob_rig_modules.dmi
Labels: Icon

oops
  icons/mob/onmob/onmob_rig_modules.dmi
Labels: Icon

Reduces block value
  code/game/objects/items/weapons/shields.dm
Labels: Code

Reverts slowdown
  code/game/objects/items/weapons/shields.dm
Labels: Code

Update attempt #2
  code/game/objects/items/weapons/shields.dm
Labels: Code

Updates SSV
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Update station.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code

Update combat.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
Labels: Code

Update ert.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
Labels: Code

Update protolathe.dm
  code/modules/research/protolathe.dm
Labels: Code

Update revolver.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Code

Requested changes
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Map

I made the cryo office nobody used a public office
  maps/torch/torch3_deck3.dmm
Labels: Map

Gantry Fixes
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
Labels: Map

Additional Fixes
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
Labels: Map

MSQ name adjustment
  maps/away/ascent/ascent_jobs.dm
Labels: Map

sutures
  code/game/objects/items/weapons/storage/firstaid.dm
  icons/obj/surgery.dmi
Labels: Code, Icon

Update firstaid.dm
  code/game/objects/items/weapons/storage/firstaid.dm
Labels: Code

Update surgery_tools.dm
  code/game/objects/items/weapons/surgery_tools.dm
Labels: Code

Update medical.dm
  code/game/objects/items/stacks/medical.dm
Labels: Code

yarr harr
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/ears/earrings.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/spacesuits/void/void.dm
  maps/torch/infantry/hardsuit.dm
  maps/torch/items/rigs.dm
  modular_mithra/code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code, Map

Update skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Map

Gantry Fixes
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry_jobs.dm
Labels: Map

slem
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/xenobiological/items.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
Labels: Code, Icon

fixis
  code/modules/mob/holder.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code

Revert "I made the cryo office nobody used a public office"
  maps/torch/torch3_deck3.dmm
Labels: Map

myel wasn't good enough
  code/modules/organs/external/_external.dm
  code/modules/organs/external/wounds/wound.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code

cryo office made public I hope I merged it this time
  maps/torch/torch3_deck3.dmm
Labels: Map

it didnt even fucking selfcharge before this
  code/modules/power/cell.dm
Labels: Code

I swear to christ if this isnt fixed this time
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_areas.dm
Labels: Map

AAAAAAAAA
  maps/torch/torch_areas.dm
Labels: Map

eyedherent
  code/modules/species/station/adherent.dm
Labels: Code

Interface Hotfix - - - Change: - Simply removes the rules button and appends a wiki button next to the Discord button. That's about it. - - -
  code/modules/client/goonchatint.dm
  interface/skin.dmf
Labels: Code

Revert "Interface Hotfix"
  code/modules/client/goonchatint.dm
  interface/skin.dmf
Labels: Code

jarrr
  code/datums/outfits/jobs/engineering.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/tools/crowbar.dm
  code/game/objects/items/weapons/tools/screwdriver.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/game/objects/items/weapons/tools/wirecutter.dm
  code/game/objects/items/weapons/tools/wrench.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/research/designs/designs_tool.dm
  icons/obj/tools.dmi
  sound/items/change_drill.ogg
  sound/items/change_jaws.ogg
  sound/items/drill_hit.ogg
  sound/items/drill_use.ogg
  sound/items/jaws_cut.ogg
Labels: Code, Icon, Sound

yarr
  code/game/objects/items/weapons/storage/belt.dm
Labels: Code

Ports https://github.com/Baystation12/Baystation12/pull/28233
  code/controllers/subsystems/ticker.dm
  code/game/antagonist/antagonist_print.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: Code

makes diona roast recipe possible
  code/modules/cooking/recipes/recipes_oven.dm
Labels: Code

Integrated circuit teleporter fix
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: Code

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
