Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

i forgot to push this
  code/modules/projectiles/guns/projectile/revolver.dm
  icons/obj/guns/foundation.dmi
  icons/obj/guns/revolvers.dmi
  maps/torch/icons/obj/uniques.dmi
Labels: Code, Icon, Map

last fix (IM GOING TO GET RACIST)
  code/datums/uplink/badassery.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Code

mediumfix
  icons/obj/guns/revolvers.dmi
Labels: Icon

Update Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: Code

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  code/controllers/subsystems/zcopy.dm
  code/datums/wires/camera.dm
  code/datums/wires/particle_accelerator.dm
  code/game/machinery/vending.dm
  code/game/objects/structures/ironing_board.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/mob/living/bot/remotebot.dm
  code/modules/mob/living/carbon/alien/diona/_nymph.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/research/message_server.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/finds/talking.dm
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
Labels: Code

Adds Boron & Supply Stuff
  code/datums/supplypacks/dispcarts.dm
  code/datums/supplypacks/medical.dm
  code/modules/materials/material_sheets.dm
  code/modules/power/fusion/_setup.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  maps/torch/datums/supplypacks/security.dm
Labels: Code, Map

Corrects Logs - - - Bugfix: - Admin log viewing didn't work in the traditional manner until now. Gone ahead and fixed it. - - -
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/getlogs.dm
Labels: Code

creth
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Code

LMG ammo, too
  maps/torch/datums/supplypacks/security.dm
Labels: Map

how did I forget that
  maps/torch/datums/supplypacks/security.dm
Labels: Map

Update Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code

C R E T H
  code/datums/uplink/medical.dm
Labels: Code

Fixes CI
  code/modules/reagents/dispenser/cartridge_presets.dm
Labels: Code

Fixes a couple window-related bugs
  code/_onclick/adjacent.dm
  code/game/atoms.dm
  code/game/objects/structures.dm
  code/game/objects/structures/window.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/materials/recipes_furniture.dm
Labels: Code

Update medical.dm
  code/datums/uplink/medical.dm
Labels: Code

Update medical.dm
  code/datums/uplink/medical.dm
Labels: Code

Revert "Makes revolvers break open to be reloaded and eject casings."
  code/modules/projectiles/guns/projectile/revolver.dm
  icons/obj/guns/foundation.dmi
  icons/obj/guns/revolvers.dmi
  maps/torch/icons/obj/uniques.dmi
Labels: Code, Icon, Map

Update revolver.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Code

gun
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  maps/torch/items/items.dm
  sound/weapons/gunshot/revolver_medium.ogg
  sound/weapons/gunshot/revolver_small.ogg
  sound/weapons/gunshot/revolver_strong.ogg
Labels: Code, Sound, Map

fixes
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  icons/obj/guns/revolvers.dmi
  maps/torch/icons/obj/uniques.dmi
Labels: Code, Icon, Map

Update revolvers.dmi
  icons/obj/guns/revolvers.dmi
Labels: Icon

Update ammunition.dm
  code/datums/uplink/ammunition.dm
Labels: Code

Update revolver.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Code

fucking makes it work FUCK
  code/game/machinery/suit_cycler_units.dm
  modular_mithra/code/modules/clothing/spacesuits/void/void.dm
Labels: Code

anzxnfxmmsa
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  sound/voice/LizardBellow.ogg
  sound/voice/LizardSqueal.ogg
Labels: Code, Sound

tweaks the bearcat's overmap values
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_shuttles.dm
Labels: Map

See changelogs/Spummm_1179.txt
  code/controllers/subsystems/trade.dm
  code/datums/trading/_trading_defines.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  html/changelogs/Spummm_1179.txt
  maps/torch/z1_admin.dmm
Labels: Code, Map

See changelogs/Spummm_1179.txt
  code/controllers/subsystems/trade.dm
  code/datums/trading/_trading_defines.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  html/changelogs/Spummm_1179.txt
  maps/torch/z1_admin.dmm
Labels: Code, Map

Update misc.dm
  code/datums/trading/misc.dm
Labels: Code

Update misc.dm
  code/datums/trading/misc.dm
Labels: Code

Update code/datums/trading/misc.dm
  code/datums/trading/misc.dm
Labels: Code

Update code/datums/trading/misc.dm
  code/datums/trading/misc.dm
Labels: Code

Merchant stuff (#1181)
  code/controllers/subsystems/trade.dm
  code/datums/trading/_trading_defines.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  html/changelogs/Spummm_1179.txt
  maps/torch/z1_admin.dmm
Labels: Code, Map

Fixes the L6_SAW LMG, Adds wielded sprites
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  maps/torch/datums/supplypacks/security.dm
Labels: Code, Icon, Map

Revert "adds shipside mules (Civi only.)"
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Map

Death
  maps/torch/torch_ranks_boh.dm
Labels: Map

fixes CI
  code/game/objects/random/random.dm
Labels: Code

Removes unused areas
  maps/torch/torch_areas.dm
Labels: Map

Revert "Removes unused areas"
  maps/torch/torch_areas.dm
Labels: Map

uum
  code/modules/boh/admin/items.dm
Labels: Code
