Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

FAK Buff, Kind Of
  code/game/objects/items/weapons/storage/firstaid.dm
Labels: Code

Fix 2.0, hopefully?
  maps/torch/torch3_deck3.dmm
Labels: Map

yes
  maps/torch/torch.dm
Labels: Map

Span checks.
  code/game/objects/items/weapons/surgery_tools.dm
Labels: Code

Lets try this?
  maps/torch/torch3_deck3.dmm
Labels: Map

Update scavver_gantry.dm
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry.dm
  maps/away/scavver/scavver_gantry_jobs.dm
  maps/away/scavver/scavver_gantry_shuttles.dm
  maps/away/scavver/scavver_gantry_sprites.dmi
  maps/away_sites_testing/away_sites_testing.dm
  maps/torch/torch.dm
  maps/torch/z2_transit.dmm
Labels: Map

pipe fixes
  torch2_deck4.dmm
Labels: none

i love gaming
  icons/mob/onmob/onmob_belt_mirror.dmi
  maps/torch/items/clothing/solgov-suit.dm
Labels: Icon, Map

Update solgov-suit.dm
  maps/torch/items/clothing/solgov-suit.dm
Labels: Map

Update solgov-suit.dm
  maps/torch/items/clothing/solgov-suit.dm
Labels: Map

Update torch6_bridge.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Fixes EM shielded armor
  code/modules/mechs/components/armour.dm
Labels: Code

pharmor
  code/modules/boh/items/plasmasans.dm
Labels: Code

pain
  commissary_finalest.dmm
Labels: none

Add files via upload
  maps/torch/torch2_deck4.dmm
Labels: Map

Pulls viewcones from: https://github.com/Baystation12/Baystation12/pull/21764
  baystation12.dme
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
  code/modules/species/species.dm
  code/modules/species/station/nabber.dm
  code/modules/vision_cone/vision_cone.dm
  icons/mob/vision_cone.dmi
Labels: Code, Icon

Update alien_species.dm
  code/modules/species/xenomorphs/alien_species.dm
Labels: Code

Update alien_species.dm
  code/modules/species/xenomorphs/alien_species.dm
Labels: Code

Update alien_species.dm
  code/modules/species/xenomorphs/alien_species.dm
Labels: Code

Update alien_species.dm
  code/modules/species/xenomorphs/alien_species.dm
Labels: Code

Fixed?
  baystation12.dme
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
  code/modules/species/species.dm
  code/modules/species/station/nabber.dm
  code/modules/species/xenomorphs/alien_species.dm
  code/modules/vision_cone/vision_cone.dm
  icons/mob/vision_cone.dmi
Labels: Code, Icon

Provides Diona exemption from viewcones.
  code/modules/species/station/station.dm
Labels: Code

finalfixhopefullymaybe
  maps/torch/torch2_deck4.dmm
Labels: Map

ye
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

-_-
  maps/torch/torch2_deck4.dmm
Labels: Map

fix vox
  code/modules/clothing/spacesuits/alien.dm
Labels: Code

force bearcat language
  maps/away/bearcat/bearcat_jobs.dm
Labels: Map

description
  code/modules/boh/ascent2/projectiles.dm
Labels: Code

Makes Loadout Guns LTL
  code/modules/boh_misc/firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Code, Map

Fixes errors
  code/modules/boh_misc/firearms.dm
  maps/torch/infantry/firearms.dm
  maps/torch/loadout/loadout_sikits.dm
Labels: Code, Map

guns
  code/modules/boh/security2/pepperballs.dm
  code/modules/projectiles/ammunition/handfuls.dm
Labels: Code

bruh?
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Code

Update handfuls.dm
  code/modules/projectiles/ammunition/handfuls.dm
Labels: Code

Update symbiote.dm
  code/game/jobs/job/symbiote.dm
Labels: Code

Buffs shields.
  code/game/objects/items/weapons/shields.dm
Labels: Code

Gives the plasma rifle actual size
  code/modules/projectiles/guns/energy/special.dm
Labels: Code

unathi bracelet icons
  icons/mob/species/unathi/generated/onmob_accessories_unathi.dmi
Labels: Icon

mapmerged
  maps/torch/torch2_deck4.dmm
Labels: Map

fixes eye glow
  code/modules/organs/internal/eyes.dm
Labels: Code

yeosarebalance
  code/modules/organs/internal/species/yeosa.dm
Labels: Code

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
