Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Update complexus_latency.dm
  code/modules/psionics/complexus/complexus_latency.dm
Labels: Code

Ascent want that bath water
  code/game/objects/structures/mineral_bath.dm
Labels: Code

Fixes compile
  code/modules/supermatter/supermatter.dm
Labels: Code

prevents any gun in the game from 1 shotting the SM
  code/modules/supermatter/supermatter.dm
Labels: Code

buffs
  code/modules/supermatter/supermatter.dm
Labels: Code

yes
  code/datums/trading/weaponry.dm
Labels: Code

Change 1
  maps/torch/infantry/storage.dm
Labels: Map

Update storage.dm
  maps/torch/infantry/storage.dm
Labels: Map

Update storage.dm
  maps/torch/infantry/storage.dm
Labels: Map

Update closets.dm
  maps/torch/structures/closets.dm
Labels: Map

Update closets.dm
  maps/torch/structures/closets.dm
Labels: Map

Update firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Map

resolves server compile error fuck you
  maps/torch/torch_lobby.dm
Labels: Map

Fixes this
  maps/torch/torch_lobby.dm
Labels: Map

Update torch_lobby.dm
  maps/torch/torch_lobby.dm
Labels: Map

unfucks sec rifles + infantry rifles
  maps/torch/infantry/firearms.dm
Labels: Map

Update gamemode.dm
  code/__defines/gamemode.dm
Labels: Code

Update complexus_latency.dm
  code/modules/psionics/complexus/complexus_latency.dm
Labels: Code

Update storage.dm
  maps/torch/infantry/storage.dm
Labels: Map

oOoOO no more 4 man rifleman
  maps/torch/job/hestia_jobs.dm
Labels: Map

Update firearms.dm
  code/modules/boh_misc/firearms.dm
Labels: Code

Update munitions.dm
  code/modules/boh_misc/munitions.dm
Labels: Code

Radiation burn cap
  code/modules/mob/living/carbon/damage_procs.dm
Labels: Code

still too much
  code/modules/mob/living/carbon/damage_procs.dm
Labels: Code

Update closets.dm
  maps/torch/structures/closets.dm
Labels: Map

Minor fixes and observatory addition
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
  maps/torch/torch2_deck4.dmm
Labels: Map

Chemlab changes and screwdriver
  maps/torch/torch5_deck1.dmm
Labels: Map

adds dark matter overmap hazard
  code/modules/events/event_container.dm
  code/modules/events/gravity.dm
  code/modules/overmap/events/event.dm
  icons/obj/overmap.dmi
Labels: Code, Icon

1
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/station.dm
  icons/mob/light_overlays.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/skrell/onmob_suit_skrell.dmi
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/generated/onmob_head_unathi.dmi
  icons/mob/species/unathi/generated/onmob_rig_back_unathi.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/species/skrell/obj_head_skrell.dmi
  icons/obj/clothing/species/skrell/obj_suit_skrell.dmi
  icons/obj/clothing/species/unathi/obj_head_unathi.dmi
  icons/obj/clothing/species/unathi/obj_suit_unathi.dmi
  icons/obj/light_overlays.dmi
  maps/torch/icons/mob/onmob_feet_solgov.dmi
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/obj/skrell/obj_head_solgov_skrell.dmi
  maps/torch/icons/obj/skrell/obj_suit_solgov_skrell.dmi
  maps/torch/icons/obj/unathi/obj_head_solgov_unathi.dmi
  maps/torch/icons/obj/unathi/obj_suit_solgov_unathi.dmi
  maps/torch/icons/obj/uniques.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/rigs.dm
Labels: Code, Icon, Map

adds contractor robo
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Ejector windoor fix
  maps/torch/torch4_deck2.dmm
Labels: Map

remind me to fix explo voidsuit sprites
  code/datums/item_modifiers/space_suits.dm
  code/game/machinery/suit_cycler_units.dm
  maps/torch/icons/mob/skrell/onmob_head_solgov_skrell.dmi
  maps/torch/icons/mob/skrell/onmob_suit_solgov_skrell.dmi
  maps/torch/icons/mob/unathi/onmob_head_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_suit_solgov_unathi.dmi
  maps/torch/icons/obj/obj_feet_solgov.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/rigs.dm
  maps/torch/torch6_bridge.dmm
Labels: Code, Map

yup yup fixed
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/ammunition/boxes.dm
Labels: Code

Windoor SM eject fix
  maps/torch/torch4_deck2.dmm
Labels: Map

door
  maps/torch/torch2_deck4.dmm
Labels: Map

aux door
  maps/torch/torch2_deck4.dmm
Labels: Map

fixes oh god oh fuck
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Emergency Mapfix - - - No idea how this passed by us for so long, but this prevents the Vox's engine bay from being vented normally by a button on the Human vessel. What a mess. - - -
  maps/away/voxship/voxship-1.dmm
Labels: Map

Explo fixes
  code/datums/item_modifiers/space_suits.dm
  code/modules/clothing/spacesuits/spacesuits.dm
Labels: Code

Fixes windows turning into non-reinforced variants
  code/game/objects/structures/window.dm
Labels: Code
