Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

leyes de la AI.dm
  code/datums/ai_law_sets.dm
Labels: Code

done
  code/game/objects/structures/wall_frame.dm
  maps/torch/infantry/awaysitestuff.dm
  maps/~mapsystem/maps_unit_testing.dm
Labels: Code, Map

oop
  maps/torch/torch.dm
Labels: Map

Arreglos en las leyes de IA
  code/datums/ai_law_sets.dm
Labels: Code

Con suerte repara a la IA
  code/game/jobs/job/silicon.dm
Labels: Code

nNo
  code/datums/ai_law_sets.dm
Labels: Code

Me pasan archivos incompletos man
  code/datums/ai_law_sets.dm
Labels: Code

WIP
  code/datums/supplypacks/operations.dm
Labels: Code

arreglo de tildes
  code/modules/codex/entries/guns.dm
  modular_mithra/code/modules/mithra/body_markings.dm
  modular_mithra/code/modules/mithra/traits_neutral.dm
  modular_mithra/code/modules/mithra/traits_positive.dm
Labels: Code

Alertas y anuncios traducidos
  maps/torch/torch_announcements.dm
  maps/torch/torch_security_state.dm
Labels: Map

Quick Fix™
  code/modules/boh/ascent2/items.dm
Labels: Code

Gives Infantry access to EVA
  maps/torch/job/hestia_jobs.dm
Labels: Map

Gives forensics EVA access
  code/game/jobs/job/security.dm
Labels: Code

Combat Tech skill buffs
  maps/torch/job/hestia_jobs.dm
Labels: Map

SL & Combat tech locker buffs & tweaks
  maps/torch/structures/closets.dm
Labels: Map

Gives the APA access to command comms & a maglight
  maps/torch/structures/closets/misc.dm
Labels: Map

rank tweaks
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

oops
  maps/torch/job/hestia_jobs.dm
Labels: Map

Sec gunboxes - detailed choices
  code/modules/boh_misc/boxes.dm
Labels: Code

Changes infantry gunbox choice names
  maps/torch/infantry/storage.dm
Labels: Map

Initial Commit (Engi department rework)
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map

Add binocs to the SL locker
  maps/torch/structures/closets.dm
Labels: Map

Woops, deletes copypasted department floating in space
  maps/torch/torch3_deck3.dmm
Labels: Map

done
  maps/~mapsystem/maps_unit_testing.dm
Labels: Map

fuck this pr
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_areas.dm
  maps/~mapsystem/maps_unit_testing.dm
Labels: Map

lol
  maps/torch/torch_unit_testing.dm
Labels: Map

Fixes APC/pipe shenanigans (Engi bay+A/P Maint)
  maps/torch/torch4_deck2.dmm
Labels: Map

my ass
  maps/torch/torch_unit_testing.dm
Labels: Map

Connects engineering to the grid (for real this time)
  maps/torch/torch4_deck2.dmm
Labels: Map

oops
  maps/torch/structures/closets/misc.dm
Labels: Map

Hola wenas solo soy una leve traducción, es un WIP
  code/datums/supplypacks/operations.dm
Labels: Code

MK1: Removes the most obvious contenders.
  code/modules/research/designs/designs_weapon.dm
Labels: Code

Adds a few of the weapons to the lathe.
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
Labels: Code

MK2: Hits two items I missed.
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/research/designs/designs_weapon.dm
Labels: Code

WIP
  code/datums/supplypacks/atmospherics.dm
Labels: Code

Minor set up for new designs.
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: Code

MK3: Or how in the world did I almost forget to remove these two?
  code/modules/research/designs/designs_weapon.dm
Labels: Code

Buffs the E sword's damage.
  code/game/objects/items/weapons/melee/energy.dm
Labels: Code

Connects D2 SMES breaker, Moves noticeboard
  maps/torch/torch4_deck2.dmm
Labels: Map

why was this even removed
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_accessories_boh.dm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
