Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Bearcat Remake (#1239)
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_jobs.dm
Labels: Map

Update torch_areas.dm
  maps/torch/torch_areas.dm
Labels: Map

Ascent and Skrell guns rebalance
  code/modules/boh/ascent2/projectiles.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/magnetic.dm
  maps/torch/items/clothing/boh_clothing.dm
Labels: Code, Map

Further adjustments
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
Labels: Code

Update torch_areas.dm (#1269)
  maps/torch/torch_areas.dm
Labels: Map

Changed name, added a "special gun" per kit, nerfs
  code/modules/boh_misc/boxes.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Code, Map

Tempoary bioreactor fix
  code/modules/boh_misc/machinery.dm
Labels: Code

gives yeosa punching
  code/modules/species/station/lizard_subspecies.dm
Labels: Code

gives yeosa punching (#1273)
  code/modules/species/station/lizard_subspecies.dm
Labels: Code

Tempoary bioreactor fix (#1272)
  code/modules/boh_misc/machinery.dm
Labels: Code

Changed name, added a "special gun" per kit, nerfs (#1271)
  code/modules/boh_misc/boxes.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Code, Map

Fixes deck 2 security directional signs. (#1268)
  maps/torch/torch4_deck2.dmm
Labels: Map

reduces the cbt of the merchant blast doors by 50%
  maps/torch/z1_admin.dmm
Labels: Map

Update skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

reduces the cbt of the merchant blast doors by 50% (#1274)
  maps/torch/z1_admin.dmm
Labels: Map

Revert "Removes bodyshielding until further notice"
  code/modules/projectiles/projectile.dm
Labels: Code

Revert "fixes z level movey groovey"
  code/datums/movement/mob.dm
Labels: Code

NSFW
  code/modules/client/preference_setup/general/04_flavor.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: Code

whoopers
  maps/torch/infantry/firearms.dm
Labels: Map

lets try this again
  code/game/machinery/suit_cycler_units.dm
  test/check-paths.sh
Labels: Code, ‚ùåDO NOT MERGE

s
  code/game/machinery/suit_cycler_units.dm
Labels: Code

buff
  maps/torch/infantry/firearms.dm
Labels: Map

Update nabber.dm
  code/modules/species/station/nabber.dm
Labels: Code

Update random.dm
  code/game/objects/random/random.dm
Labels: Code

Update designs_rig_modules.dm
  code/modules/research/designs/designs_rig_modules.dm
Labels: Code

Update ascent_jobs.dm
  maps/away/ascent/ascent_jobs.dm
Labels: Map

Update hardsuit_modules.dm
  code/datums/uplink/hardsuit_modules.dm
Labels: Code

Update hardsuit_modules.dm
  code/datums/uplink/hardsuit_modules.dm
Labels: Code

a
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Update ascent_rigs.dm
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Update hardsuit_modules.dm
  code/datums/uplink/hardsuit_modules.dm
Labels: Code

bearcat fixes
  maps/away/bearcat/bearcat-2.dmm
Labels: Map

makes unathi background selection better, rewrites lore blurbs to give the important stuff
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  code/modules/culture_descriptor/faction/factions_unathi.dm
  code/modules/culture_descriptor/location/locations_unathi.dm
  code/modules/culture_descriptor/religion/religions_unathi.dm
  code/modules/species/station/lizard.dm
  code/modules/species/station/lizard_subspecies.dm
  modular_mithra/code/modules/species/station/custom.dm
  modular_mithra/code/modules/species/station/human2.dm
  modular_mithra/code/modules/species/station/humanathi.dm
  modular_mithra/code/modules/species/station/tajaran.dm
Labels: Code

fixes indentation error
  code/modules/culture_descriptor/location/locations_unathi.dm
Labels: Code

reverts yawet's stealth buffs
  maps/away/ascent/ascent_jobs.dm
Labels: Map

Revert "Update nabber.dm"
  code/modules/species/station/nabber.dm
Labels: Code

attachments work again
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/attachments.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/guns/gun_attachments.dmi
Labels: Code, Icon

Revert "Revert "Update nabber.dm""
  code/modules/species/station/nabber.dm
Labels: Code

Revert "Reverts Yawet's Stealth Buffs to Monarch Serpentids"
  maps/away/ascent/ascent_jobs.dm
Labels: Map

Update skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
