Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

SGR guard skill point increase
  maps/torch/job/command_jobs.dm
Labels: Map

allows high branch skills to overwrite low job skills
  code/modules/client/preference_setup/occupation/skill_selection.dm
Labels: Code

makes med maint doors non-suck (#1325)
  maps/torch/torch5_deck1.dmm
Labels: Map

Various quality of life changes for merchant that should make it much more fun to play (#1330)
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/weaponry.dm
  maps/torch/z1_admin.dmm
Labels: Code, Map

allows high branch skills to overwrite low job skills (#1341)
  code/modules/client/preference_setup/occupation/skill_selection.dm
Labels: Code

revolver is accurate and penetrates now, shoots much slower (#1334)
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/gun.dm
Labels: Code

Update command_jobs.dm
  maps/torch/job/command_jobs.dm
Labels: Map

Shittywebedit (REDACTED TEXT) (#1338)
  code/_helpers/text.dm
  nano/css/shared.css
Labels: Code

SGR & guard edits (#1339)
  maps/torch/job/command_jobs.dm
  maps/torch/loadout/_defines.dm
Labels: Map

i may hate bays naming standard bu ok
  maps/torch/infantry/firearms.dm
Labels: Map

SGR Guard locker fix,
  maps/torch/job/command_jobs.dm
Labels: Map

SGR Guard locker fix, (#1342)
  maps/torch/job/command_jobs.dm
Labels: Map

The giant storage upgrade for skrells.
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

Requested changes
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
Labels: Code

The giant storage upgrade for skrells. (#1343)
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

maybe functional rawl changes?
  code/__defines/colors.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/under/accessories/holster.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/weapons.dmi
  maps/torch/torch.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_overmap.dm
  maps/torch/z2_transit.dmm
Labels: Code, Icon, Map

Update firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Map

adds rawl properly
  code/__defines/colors.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/under/accessories/holster.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/weapons.dmi
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl.dmm
  maps/away/rawl/rawl_areas.dm
  maps/away/rawl/rawl_jobs.dm
  maps/away/rawl/rawl_shuttles.dm
  maps/away/rawl/rawl_sprites.dmi
  maps/torch/torch.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_overmap.dm
  maps/torch/z2_transit.dmm
Labels: Code, Icon, Map

Vox nerfs the big umpf
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship_jobs.dm
  maps/away/voxship/voxship_jobs_boh.dm
Labels: Map

Update voxship_jobs.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Map

More recharge time
  maps/away/voxship/voxship_jobs.dm
Labels: Map

Reverts the Charge Boost to Vox Flux Cannon
  code/modules/projectiles/guns/energy/vox.dm
Labels: Code

Update jetpacks.dm
  code/modules/boh_misc/jetpacks.dm
Labels: Code

cowboy unathi cowboy unathi
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  code/modules/culture_descriptor/location/locations_unathi.dm
  code/modules/species/station/lizard.dm
  modular_mithra/code/modules/species/station/humanathi.dm
Labels: Code

Update beams.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Update energy.dm
  code/modules/projectiles/projectile/energy.dm
Labels: Code

I did a stupid
  maps/away/voxship/voxship_jobs.dm
Labels: Map

cowboy unathi cowboy unathi (#1348)
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  code/modules/culture_descriptor/location/locations_unathi.dm
  code/modules/species/station/lizard.dm
  modular_mithra/code/modules/species/station/humanathi.dm
Labels: Code

Sniper does not stun, 12 second rechare time for the focused shot
  code/modules/projectiles/guns/energy/vox.dm
  code/modules/projectiles/projectile/beams.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Code, Map

Stupid update system
  maps/away/voxship/voxship_jobs.dm
Labels: Map

Better desc
  maps/away/voxship/voxship_jobs.dm
Labels: Map

I hate github, I hate github
  maps/away/voxship/voxship_jobs.dm
Labels: Map

adds rawl properly (#1345)
  code/__defines/colors.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/under/accessories/holster.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/weapons.dmi
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl.dmm
  maps/away/rawl/rawl_areas.dm
  maps/away/rawl/rawl_jobs.dm
  maps/away/rawl/rawl_shuttles.dm
  maps/away/rawl/rawl_sprites.dmi
  maps/torch/torch.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_overmap.dm
  maps/torch/z2_transit.dmm
Labels: Code, Icon, Map

The Vox-lore man asked if I could change the books
  maps/away/voxship/voxship-1.dmm
Labels: Map

Update voxship_jobs.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Update voxship_jobs.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Map

Update vox.dm
  code/modules/projectiles/guns/energy/vox.dm
Labels: Code

Update beams.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Update voxship_jobs_boh.dm
  maps/away/voxship/voxship_jobs_boh.dm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
