Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

More floor
  maps/away/voxship/voxship-1.dmm
Labels: Map

fix CI
  maps/away/voxship/voxship-1.dmm
Labels: Map

NERFS YOUR SHIT
  maps/torch/infantry/hardsuit.dm
Labels: Map

guh
  code/game/objects/items/weapons/storage/belt.dm
Labels: Code

Update energy.dm
  code/modules/projectiles/projectile/energy.dm
Labels: Code

FUCK
  maps/away/ascent/ascent_jobs.dm
Labels: Map

okay if yall want it
  maps/away/ascent/ascent_jobs.dm
Labels: Map

FJGDF
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent_jobs.dm
Labels: Map

Robotics changes and their OR
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Viro Prep and a few enhancements
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

First round of CI fixes
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

CI fixes round 2
  code/game/area/Space Station 13 areas.dm
  code/modules/events/prison_break.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_elevator.dm
  maps/torch/torch_unit_testing.dm
  maps/~mapsystem/maps_unit_testing.dm
Labels: Code, Map

I HAVE NO IDEA IF THIS FIXES IT
  code/game - Shortcut.lnk
Labels: Code

Delete game - Shortcut.lnk
  code/game - Shortcut.lnk
Labels: Code

Update ascent_jobs.dm
  maps/away/ascent/ascent_jobs.dm
Labels: Map

Update loadout_accessories.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: Map

Adds TGS
  baystation12.dme
  code/__defines/tgs.config.dm
  code/__defines/tgs.dm
  code/datums/tgs_event_handler.dm
  code/game/world.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/README.md
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/README.md
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/interop_version.dm
  code/modules/tgs/v5/undefs.dm
Labels: Code

this should work?
  maps/away/ascent/ascent_jobs.dm
Labels: Map

QoL fixes
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_elevator.dm
Labels: Map

CI fix. Final commits and fixes.
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

kill me
  baystation12.dme
Labels: none

CI Fixes 2
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Map

Mk59 esoterics cheese fix
  code/modules/boh_misc/firearms.dm
Labels: Code

Update fighter_exoplanet.dmm
  maps/random_ruins/exoplanet_ruins/fighter_exoplanet/fighter_exoplanet.dmm
Labels: Map

Clothing edits
  maps/torch/datums/uniforms.dm
  maps/torch/datums/uniforms_exp_fleet.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/items/uniform_vendor_boh.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/outfits/engineering_outfits.dm
  maps/torch/job/outfits/exploration_outfits.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/outfits/security_outfits.dm
  maps/torch/job/outfits/service_outfits.dm
  maps/torch/job/outfits/supply_outfits.dm
  maps/torch/job/outfits/torch_outfits.dm
  maps/torch/torch.dm
Labels: Map

buffs breacher suits
  code/modules/clothing/spacesuits/rig/suits/alien.dm
Labels: Code

Better layout. Fixes some oversights.
  maps/torch/torch5_deck1.dmm
Labels: Map

gives maas renegade.dm
  code/game/antagonist/station/renegade.dm
Labels: Code

Rebalances Skrell Scout Ship
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Adds Back hardsuits
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

CI fixes, final commits
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

makes it possile to fuel the byakhee
  maps/torch/torch6_bridge.dmm
Labels: Map

Guest pass, some more things.
  maps/torch/torch5_deck1.dmm
Labels: Map

Fixes one window thingy.
  maps/torch/torch5_deck1.dmm
Labels: Map

Removes observation bay
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Update ascent-1.dmm
  maps/away/ascent/ascent-1.dmm
Labels: Map

Minor edits
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Ascent Ship Turrets
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
Labels: Map

Revert "Update ascent-1.dmm"
  maps/away/ascent/ascent-1.dmm
Labels: Map

Update disperser_console.dm
  code/modules/overmap/disperser/disperser_console.dm
Labels: Code

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
