Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

makes pepperball and rubber shots more distinctive
  code/modules/projectiles/projectile/bullets.dm
  sound/weapons/bonk.ogg
  sound/weapons/gunshot/fastspike.ogg
Labels: Code, Sound

fixes mild spacing error!
  code/modules/projectiles/projectile/bullets.dm
Labels: Code

adds real sounds
  code/modules/projectiles/projectile/bullets.dm
  sound/weapons/bonk.ogg
  sound/weapons/rubberthunk_flesjh.ogg
  sound/weapons/rubberthunk_metal.ogg
Labels: Code, Sound

Gantry Port
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry.dm
  maps/away/scavver/scavver_gantry_jobs.dm
  maps/away/scavver/scavver_gantry_shuttles.dm
  maps/away/scavver/scavver_gantry_sprites.dmi
Labels: Map

Update ascent_jobs.dm
  maps/away/ascent/ascent_jobs.dm
Labels: Map

language stuff
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/projectiles/guns/energy/mantid.dm
Labels: Code

gives the p20 jam chance
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: Code

Merchant overhaul
  code/datums/trading/food.dm
  code/datums/trading/unique.dm
  code/datums/trading/weaponry.dm
  code/modules/item_worth/worths_list.dm
  code/modules/merchant/merchant_guns.dm
  maps/torch/z1_admin.dmm
Labels: Code, Map

gives the rawl pipe room floors and a decal
  maps/away/rawl/rawl.dmm
Labels: Map

Update worths_list.dm
  code/modules/item_worth/worths_list.dm
Labels: Code

Merchant overhaul v2
  code/datums/trading/ai.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/unique.dm
  code/datums/trading/weaponry.dm
  code/modules/item_worth/worths_list.dm
  code/modules/merchant/merchant_guns.dm
  maps/torch/z1_admin.dmm
Labels: Code, Map

Fixes
  code/datums/trading/goods.dm
  maps/torch/z1_admin.dmm
Labels: Code, Map

adds a check for activated psionics to leeching
  code/modules/psionics/complexus/complexus_process.dm
Labels: Code

Replaces the P20 with the P10
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  maps/torch/infantry/firearms.dm
  maps/torch/loadout/loadout_sikits.dm
Labels: Code, Map

fixes some names
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: Code

updates the gun again
  maps/torch/infantry/firearms.dm
Labels: Map

Mech Changes Yay
  code/modules/mechs/components/armour.dm
  code/modules/mechs/mech_damage.dm
  code/modules/mechs/premade/combat.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/mechs/premade/light.dm
  code/modules/mechs/premade/misc.dm
  code/modules/mechs/premade/powerloader.dm
  code/modules/mob/living/silicon/robot/component.dm
Labels: Code

Crashed Fighter v2
  baystation12.dme
  maps/random_ruins/exoplanet_ruins/c_fighter/c_fighter.dm
  maps/random_ruins/exoplanet_ruins/c_fighter/c_fighter.dmm
Labels: Map

Gantry Part II
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry.dm
  maps/away/scavver/scavver_gantry_jobs.dm
  maps/away/scavver/scavver_gantry_shuttles.dm
  maps/away/scavver/scavver_gantry_sprites.dmi
Labels: Map

wires no more
  maps/random_ruins/exoplanet_ruins/c_fighter/c_fighter.dmm
Labels: Map

Tiro Update
  maps/away/ascent/ascent_jobs.dm
Labels: Map

Revert "Adds a check for Operant Psionics for leeching message."
  code/modules/psionics/complexus/complexus_process.dm
Labels: Code

hehe funny xeno fix :)
  code/modules/species/xenomorphs/alien_species.dm
Labels: Code

ugh
  code/game/machinery/turret_control.dm
  maps/away/voxship/voxship_areas.dm
Labels: Code, Map

Update z2_transit.dmm
  maps/torch/z2_transit.dmm
Labels: Map

update to make CL
  maps/random_ruins/exoplanet_ruins/c_fighter/c_fighter.dmm
Labels: Map

adds the ability to purchase missile parts through supply
  code/datums/supplypacks/munitions.dm
Labels: Code

Infantry hardsuit rebalance
  maps/torch/infantry/hardsuit.dm
Labels: Map

mad
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: Code

Adds new ballistic armor define
  code/__defines/armor.dm
  maps/torch/infantry/hardsuit.dm
Labels: Code, Map

gives RPDs to SL, combat medic and combat tech
  maps/torch/structures/closets.dm
Labels: Map

Gives combat medic hardsuit chem injector module and medHUD module
  maps/torch/structures/closets.dm
Labels: Map

yes
  code/modules/species/xenomorphs/alien_species.dm
Labels: Code

yes
  maps/torch/icons/assignment_hud.dmi
Labels: Map

yes
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Update alien_species.dm
  code/modules/species/xenomorphs/alien_species.dm
Labels: Code

Fix #1535 because of a stupid override
  code/game/machinery/computer/buildandrepair.dm
Labels: Code

make alien go see dark
  code/modules/species/xenomorphs/alien_species.dm
Labels: Code

More
  code/datums/trading/goods.dm
  code/modules/item_worth/worths_list.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/z1_admin.dmm
Labels: Code, Map

More water
  maps/torch/z1_admin.dmm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
