Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Nerfs the Axe's damage by 20. One handed it does 20 damage, twohanded it does 40.
  code/game/objects/items/weapons/material/twohanded.dm
Labels: Code

Hit chances changed
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/kidneys.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/organs/internal/stack.dm
Labels: Code

Eye adjustment
  code/modules/organs/internal/eyes.dm
Labels: Code

Kidney
  code/modules/organs/internal/kidneys.dm
Labels: Code

Slight agony adjustments
  code/modules/organs/external/_external_damage.dm
Labels: Code

Makes Security Bomb Suit Immune to Explosions Again. + Adds New Juggernaut Suit. (#1021)
  code/datums/uplink/armor_and_tactical_wear.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/suits/utility.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Code, Icon

A message that playes when laces go splat
  code/modules/organs/internal/stack.dm
Labels: Code

tiny fix
  code/modules/organs/internal/stack.dm
Labels: Code

To prevent conflict
  code/modules/organs/internal/stack.dm
Labels: Code

Blue bloody stuff
  code/modules/organs/internal/stack.dm
Labels: Code

Much much larger health pool
  code/modules/organs/internal/stack.dm
Labels: Code

Update stack.dm
  code/modules/organs/internal/stack.dm
Labels: Code

Ups health and adds destruction effects
  code/modules/organs/internal/stack.dm
Labels: Code

Lace go splat
  code/modules/organs/internal/stack.dm
Labels: Code

Update code/modules/organs/internal/stack.dm
  code/modules/organs/internal/stack.dm
Labels: Code

Revert "Adjudicator PR tweaks."
  maps/torch/job/hestia_jobs.dm
Labels: Map

Revert "Changes job ages"
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
Labels: Map

Revert "Adjudicator speedrun fix."
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Revert "Revert "Adjudicator speedrun fix.""
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Revert "Revert "Changes job ages""
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
Labels: Map

Revert "Revert "Adjudicator PR tweaks.""
  maps/torch/job/hestia_jobs.dm
Labels: Map

Dagon Remodal
  maps/torch/torch1_deck5.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Adds infantry areas and wipes lawyer areas
  maps/torch/torch_areas.dm
Labels: Map

Fixed a small error i found, this line is also not used so its cool
  code/modules/organs/internal/stack.dm
Labels: Code

Proper fix to the error, enabled inf
  code/modules/organs/internal/stack.dm
  maps/torch/job/hestia_jobs.dm
Labels: Code, Map

More Map changes
  maps/torch/torch1_deck5.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Storage areas
  maps/torch/torch_areas.dm
Labels: Map

More map adjustments
  maps/torch/torch1_deck5.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Forgot some wires, adjusted an area.
  maps/torch/torch5_deck1.dmm
Labels: Map

Removes lawyer, bailiff and adjudicator. Adds solgov rep
  code/game/jobs/job/captain.dm
  maps/torch/datums/reports/solgov.dm
  maps/torch/items/cards_ids.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/services.dm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_antagonism.dm
  maps/torch/torch_areas.dm
Labels: Code, Map

SolGov Area replace
  maps/torch/torch6_bridge.dmm
Labels: Map

Fixes access error
  maps/torch/torch6_bridge.dmm
Labels: Map

Added 1 more rifleman
  maps/torch/job/hestia_jobs.dm
Labels: Map

Initial Unbabyproofing.
  code/modules/boh_misc/firearms.dm
  code/modules/boh_misc/munitions.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/torch_areas.dm
Labels: Code, Map

cont
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

cont
  maps/torch/infantry/corporate/firearms.dm
  maps/torch/infantry/corporate/outfits.dm
  maps/torch/infantry/corporate/storage.dm
  maps/torch/infantry/corporate/vending.dm
  maps/torch/torch5_deck1.dmm
Labels: Map

initial
  maps/torch/job/torch_jobs.dm
Labels: Map

cont
  code/modules/boh_misc/firearms.dm
  icons/obj/guns/laser_carbine.dmi
  maps/torch/items/explo_shotgun.dm
  maps/torch/items/rigs.dm
  maps/torch/torch5_deck1.dmm
Labels: Code, Icon, Map

cont
  code/__defines/mobs.dm
  maps/torch/loadout/loadout_augments.dm
Labels: Code, Map

cont
  README.md
  code/modules/boh_misc/firearms.dm
  maps/torch/loadout/loadout_augments.dm
  maps/torch/structures/closets.dm
  maps/torch/torch1_deck5.dmm
Labels: Code, Map
