Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Perdiste Travis.
  maps/torch/torch1_deck5.dmm
  maps/torch/torch3_deck3.dmm
Labels: Map

Adds Adjudicator's documents, removes the umbra protoc
  code/game/objects/items/documents.dm
  maps/torch/torch6_bridge.dmm
Labels: Code, Map

Titles
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Allows Civ Trainees
  maps/torch/job/medical_jobs.dm
Labels: Map

ha ha, me stupid
  maps/torch/job/medical_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

deadspatch officer
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

dear whoever put icons in the map folder, go fuck yourself
  maps/torch/icons/assignment_hud.dmi
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/job/medical_jobs.dm
Labels: Map

job restriction tweaks
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Map

comma
  maps/torch/torch_ranks_boh.dm
Labels: Map

i don't know why undefs exist but here
  maps/torch/torch_ranks_boh.dm
Labels: Map

quick and dirty fix?
  code/modules/surgery/surgery.dm
Labels: Code

Will make another PR later for this.
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

GAS jobs
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
Labels: Code

Less ,
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Dis is it bois
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_suit.dm
Labels: Map

Help Gabo hates fun and is threatening to blow up hestia!
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  maps/torch/loadout/loadout_uniform.dm
Labels: Code, Map

UPDATEEE
  maps/torch/job/research_jobs.dm
Labels: Map

1
  maps/torch/job/research_jobs.dm
Labels: Map

One more that needs nuking
  maps/torch/job/medical_jobs.dm
Labels: Map

2*
  maps/torch/job/medical_jobs.dm
Labels: Map

I think I did this right.
  maps/torch/torch5_deck1.dmm
Labels: Map

Adminverbs - Hide Most
  code/modules/admin/admin_verbs.dm
Labels: Code

Sent to Lobby
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
Labels: Code

15 minutos mi wacho
  code/controllers/evacuation/evacuation_pods.dm
Labels: Code

Actually gives forensics EVA access (#7)
  maps/torch/job/security_jobs.dm
Labels: Map

Whoops
  tools/dmitool/Finished/groin_f.png
  tools/dmitool/Finished/groin_m.png
  tools/dmitool/Finished/head_f.png
  tools/dmitool/Finished/head_m.png
  tools/dmitool/Finished/l_arm.png
  tools/dmitool/Finished/l_foot.png
  tools/dmitool/Finished/l_hand.png
  tools/dmitool/Finished/l_leg.png
  tools/dmitool/Finished/r_arm.png
  tools/dmitool/Finished/r_foot.png
  tools/dmitool/Finished/r_hand.png
  tools/dmitool/Finished/r_leg.png
  tools/dmitool/Finished/torso_f.png
  tools/dmitool/Finished/torso_m.png
  tools/dmitool/old/groin_f.png
  tools/dmitool/old/groin_m.png
  tools/dmitool/old/head_f.png
  tools/dmitool/old/head_m.png
  tools/dmitool/old/l_arm.png
  tools/dmitool/old/l_foot.png
  tools/dmitool/old/l_hand.png
  tools/dmitool/old/l_leg.png
  tools/dmitool/old/r_arm.png
  tools/dmitool/old/r_foot.png
  tools/dmitool/old/r_hand.png
  tools/dmitool/old/r_leg.png
  tools/dmitool/old/torso_f.png
  tools/dmitool/old/torsonew.png
  tools/dmitool/tajtail_loop1.png
  tools/dmitool/tajtail_master.png
  tools/dmitool/tajtail_static.png
Labels: ‚ùåDO NOT MERGE

// WIP
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/icons/mob/human_races/species/tajaran/body.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/deformed_body.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/husk.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/tail.dmi
  modular_mithra/icons/mob/tails.dmi
  tools/dmitool/Finished/groin_f.png
  tools/dmitool/Finished/groin_m.png
  tools/dmitool/Finished/head_f.png
  tools/dmitool/Finished/head_m.png
  tools/dmitool/Finished/l_arm.png
  tools/dmitool/Finished/l_foot.png
  tools/dmitool/Finished/l_hand.png
  tools/dmitool/Finished/l_leg.png
  tools/dmitool/Finished/r_arm.png
  tools/dmitool/Finished/r_foot.png
  tools/dmitool/Finished/r_hand.png
  tools/dmitool/Finished/r_leg.png
  tools/dmitool/Finished/torso_f.png
  tools/dmitool/Finished/torso_m.png
  tools/dmitool/old/groin_f.png
  tools/dmitool/old/groin_m.png
  tools/dmitool/old/head_f.png
  tools/dmitool/old/head_m.png
  tools/dmitool/old/l_arm.png
  tools/dmitool/old/l_foot.png
  tools/dmitool/old/l_hand.png
  tools/dmitool/old/l_leg.png
  tools/dmitool/old/r_arm.png
  tools/dmitool/old/r_foot.png
  tools/dmitool/old/r_hand.png
  tools/dmitool/old/r_leg.png
  tools/dmitool/old/torso_f.png
  tools/dmitool/old/torsonew.png
  tools/dmitool/tajtail_loop1.png
  tools/dmitool/tajtail_master.png
  tools/dmitool/tajtail_static.png
Labels: Code, Icon, ‚ùåDO NOT MERGE

New taj haircuts
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/code/modules/sprite_accessories/accessory_tajara.dm
  modular_mithra/icons/mob/ears.dmi
Labels: Code, Icon

Adds Biomechnical Technician title to roboticist
  maps/torch/job/engineering_jobs.dm
Labels: Map

burger change
  code/modules/surgery/surgery.dm
Labels: Code

No va a funcionar pero por intentar
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Code, Icon

añado 2 cabellos más
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Code, Icon

Gives Pilot mining office access.
  maps/torch/job/exploration_jobs.dm
Labels: Map

arreglo de path
  code/modules/sprite_accessories/_accessory_hair.dm
Labels: Code

;)
  code/modules/sprite_accessories/_accessory_hair.dm
Labels: Code

Ze big brained fix.
  code/game/machinery/suit_cycler_units.dm
  maps/torch/job/exploration_jobs.dm
Labels: Code, Map

done
  icons/mob/human_races/species/human/hair.dmi
Labels: Icon

reeeee
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Code, Icon

TRAVIS QUIEREME
  code/modules/sprite_accessories/_accessory_hair.dm
Labels: Code

Polo time
  maps/torch/datums/uniforms_exp_fleet.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
