Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

cont
  code/__defines/mobs.dm
Labels: Code

cont
  maps/torch/torch5_deck1.dmm
Labels: Map

changelogs/probablycarl-master.yml
  html/changelogs/probablycarl-master.yml
Labels: none

cont
  maps/torch/torch6_bridge.dmm
Labels: Map

cont
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/modules/boh/ascent2/items.dm
  code/modules/boh/ascent2/projectiles.dm
  code/modules/boh/nullglass/weapons.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  maps/torch/lobby/The_Hestian_Debacle.png
  maps/torch/torch_lobby.dm
  sound/AI/welcome.ogg
  sound/weapons/EnergyBoom.ogg
Labels: Code, Sound, Map

removes unused logs
  html/changelogs/MDP-localsounds.yml
  html/changelogs/MDP-radial.yml
  html/changelogs/N8GCC.yml
  html/changelogs/N8gills.yml
  html/changelogs/burgerbb-unlimitedpower.yml
Labels: none

cont
  html/changelogs/.all_changelog.yml
  html/changelogs/probablycarl-master.yml
Labels: none

File heading correction.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Labels: none

Template modification. Whoops.
  html/templates/header.html
Labels: none

New changelog going forward.
  html/changelog.html
Labels: none

aaaaaaaaaaaaaaaaa
  code/datums/music_tracks/boh_music_tracks.dm
  code/modules/client/preference_setup/general/04_flavor.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  html/rules.html
  icons/ss13_32.png
  icons/ss13_32_old.png
  icons/ss13_64.png
  icons/ss13_64_old.png
  maps/torch/torch_lobby.dm
  sound/music/boh/Bastion_Of_Void.ogg
Labels: Code, Icon, Sound, Map

cont
  code/datums/music_tracks/boh_music_tracks.dm
  html/changelog.html
  html/changelogs/.all_changelog.yml
Labels: Code

cont
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_areas.dm
Labels: Map

Corrections.
  code/game/world.dm
  html/rules.html
Labels: Code

Removes Travis, ports working CI from Nebula
  .github/workflows/test.yml
  .travis.yml
  SpacemanDMM.toml
Labels: Github

Port Linter Annotations
  .github/workflows/test.yml
Labels: Github

changelog
  html/changelogs/MDP-cifix.yml
Labels: none

fixes undocumented change
  html/changelogs/MDP-cifix.yml
Labels: none

Ports SpacemanDMM install script.
  scripts/install-spaceman-dmm.sh
Labels: none

makes it executable
  scripts/install-spaceman-dmm.sh
Labels: none

loosen code standards a bit
  SpacemanDMM.toml
Labels: none

fixes spawn count
  test/check-paths.sh
Labels: ‚ùåDO NOT MERGE

temp
  code/__defines/overmap.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/world.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
  interface/interface.dm
  interface/skin.dmf
  maps/torch/torch_lobby.dm
  nano/templates/disperser.tmpl
Labels: Code, Map

initial
  nano/templates/disperser.tmpl
Labels: none

temp
  html/rules.html
  maps/torch/items/explo_shotgun.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_setup.dm
Labels: Map

yup
  code/datums/ai_law_sets.dm
  code/modules/boh_misc/firearms.dm
  maps/torch/items/clothing/boh_accessory.dm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/items/uniform_vendor_boh.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/torch_ranks_boh.dm
Labels: Code, Map

yeah
  maps/torch/items/manuals.dm
Labels: Map

stuff
  code/game/objects/items/weapons/material/misc.dm
  code/modules/client/client_procs.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  html/rules.html
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/torch_access.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_overmap.dm
  maps/torch/torch_presets.dm
  maps/torch/torch_shuttles.dm
  sound/effects/-adminhelp.ogg
  sound/effects/-adminhelp_old.ogg
  sound/effects/adminhelp.ogg
Labels: Code, Sound, Map

woah'm
  maps/torch/job/hestia_jobs.dm
Labels: Map

Oops, all Sol Fleet!
  code/game/objects/items/weapons/secrets_disk.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/corporate.dm
  code/modules/codex/entries/jukebox.dm
  code/modules/codex/entries/paperwork.dm
  code/modules/culture_descriptor/faction/factions_human.dm
  code/modules/culture_descriptor/faction/factions_skrell.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/library/manuals/union.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  maps/away/icarus/icarus.dm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dm
  maps/torch/datums/shackle_law_sets.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/items/rigs.dm
  maps/torch/job/command_jobs.dm
  maps/torch/loadout/loadout_xeno.dm
Labels: Code, Map

whoops
  code/modules/boh_misc/boxes.dm
Labels: Code

Delete onmob_rig_back.dmi
  icons/mob/onmob/onmob_rig_back.dmi
Labels: Icon

Add files via upload
  icons/mob/onmob/onmob_rig_back (1).dmi
Labels: Icon

Delete onmob_head.dmi
  icons/mob/onmob/onmob_head.dmi
Labels: Icon

Add files via upload
  icons/mob/onmob/onmob_head (1).dmi
Labels: Icon

Delete onmob_suit.dmi
  icons/mob/onmob/onmob_suit.dmi
Labels: Icon

Add files via upload
  icons/mob/onmob/onmob_suit (1).dmi
Labels: Icon

Delete onmob_hands.dmi
  icons/mob/onmob/onmob_hands.dmi
Labels: Icon

Add files via upload
  icons/mob/onmob/onmob_hands.dmi
Labels: Icon

Delete onmob_feet.dmi
  icons/mob/onmob/onmob_feet.dmi
Labels: Icon

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
