Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Cult upgrade
  icons/obj/guns/bloodpike.dmi
Labels: Icon

Cult
  code/modules/mechs/equipment/cult.dm
  code/modules/mechs/premade/cult.dm
  code/modules/projectiles/guns/energy/cult.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_parts.dmi
  icons/mecha/mech_weapon_overlays.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/obj/guns/bloodpike.dmi
Labels: Code, Icon

Ability to make them
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes/forge_exosuit.dm
  code/game/gamemodes/cult/runes/summon_gun.dm
Labels: Code

hi
  maps/torch/datums/uniforms_marine-corps.dm
Labels: Map

mjp has a small brain
  maps/torch/datums/uniforms_marine-corps.dm
Labels: Map

Boosts server population Adds Pop
  code/modules/mob/living/silicon/robot/drone/drone.dm
  maps/random_ruins/exoplanet_ruins/deserted_lab/deserted_lab.dm
Labels: Code, Map

yeah ok
  baystation12.dme
  code/__defines/misc.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/living/floating_say.dm
  code/modules/mob/living/say.dm
Labels: Code

Update floating_say.dm
  code/modules/mob/living/floating_say.dm
Labels: Code

Update skin.dmf
  interface/skin.dmf
Labels: none

Revert "Update skin.dmf"
  interface/skin.dmf
Labels: none

Update skin.dmf
  interface/skin.dmf
Labels: none

yeah
  code/_onclick/click.dm
  code/modules/client/client_defines.dm
  code/modules/client/preferences_toggle.dm
  code/modules/projectiles/gun.dm
Labels: Code

BODYAN
  code/game/machinery/bodyscanner.dm
Labels: Code

Scanners in medbay now face east/west
  maps/torch/torch5_deck1.dmm
Labels: Map

ok actually its a gun gun goes in boot
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: Code

Revert "Update taurbodies.dm"
  modular_mithra/code/modules/mithra/taurbodies.dm
Labels: Code

revert taurs
  baystation12.dme
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/external/_external.dm
  code/modules/species/species.dm
  icons/mob/taurmob/taursuits_naga.dmi
  icons/mob/taurmob/taursuits_slug.dmi
  icons/mob/taurmob/taursuits_spider.dmi
  modular_mithra/code/__defines/misc.dm
  modular_mithra/code/_helpers/global_lists.dm
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/code/modules/mithra/update_icons_vr.dm
  modular_mithra/code/modules/species/station/custom.dm
  modular_mithra/code/modules/species/station/human2.dm
  modular_mithra/code/modules/species/station/vasilissan.dm
  test/check-paths.sh
Labels: Code, Icon, ‚ùåDO NOT MERGE

Removes Taurs
  baystation12.dme
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/external/_external.dm
  code/modules/species/species.dm
  icons/mob/human_races/sprite_accessories/taurs.dmi
  icons/mob/taurmob/taursuits_naga.dmi
  icons/mob/taurmob/taursuits_slug.dmi
  icons/mob/taurmob/taursuits_spider.dmi
  icons/weaver_icons_vr.dmi
  modular_mithra/code/__defines/misc.dm
  modular_mithra/code/_helpers/global_lists.dm
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/code/modules/mithra/taurbodies.dm
  modular_mithra/code/modules/mithra/update_icons_vr.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/traits.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_abilities.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_constructions.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_objects.dm
  modular_mithra/code/modules/species/station/custom.dm
  modular_mithra/code/modules/species/station/extreme_modder.dm
  modular_mithra/code/modules/species/station/human2.dm
  modular_mithra/code/modules/species/station/vasilissan.dm
  test/check-paths.sh
Labels: Code, Icon, ‚ùåDO NOT MERGE

Removes Taurs
  baystation12.dme
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/species/mantid/mantid.dm
  maps/torch/job/torch_jobs.dm
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
Labels: Code, Map

Update playablecolony.dm
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
Labels: Map

Port Phase 2: Cloning, Runtimes, Preferences, and Neural Laces
  code/controllers/configuration.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/head.dm
  maps/torch/lobby/HestiaLobby-01.png
  maps/torch/lobby/The_Hestian_Debacle.png
  maps/torch/lobby/hullside.gif
  maps/torch/lobby/lobby_screen.gif
  maps/torch/lobby/ship.gif
  maps/torch/lobby/torchlogo.gif
  maps/torch/torch_lobby.dm
  modular_boh/code/game/machinery/cloning.dm
  modular_boh/code/modules/modular_computer/cloning.dm
  nano/templates/cloning.tmpl
  nano/templates/resleever.tmpl
Labels: Code, Map

Revert "Remove vox armalis"
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/clothing/_clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/suits/alien.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/vox.dm
  code/modules/mob/holder.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/organs/robolimbs.dm
  code/modules/projectiles/guns/energy/vox.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/outsider/zombie.dm
  icons/mob/human_races/species/vox/armalis_body.dmi
  icons/mob/human_races/species/vox/armalis_eyes.dmi
  icons/mob/human_races/species/vox/armalis_husk.dmi
  icons/mob/human_races/species/vox/armalis_preview.dmi
  icons/mob/human_races/species/vox/blood_mask_armalis.dmi
  icons/mob/human_races/species/vox/damage_mask_armalis.dmi
  icons/mob/human_races/species/vox/damage_overlay_armalis.dmi
  icons/mob/species/vox/onmob_eyes_vox_armalis.dmi
  icons/mob/species/vox/onmob_feet_vox_armalis.dmi
  icons/mob/species/vox/onmob_hands_vox_armalis.dmi
  icons/mob/species/vox/onmob_head_vox_armalis.dmi
  icons/mob/species/vox/onmob_mask_vox_armalis.dmi
  icons/mob/species/vox/onmob_suit_vox_armalis.dmi
  icons/mob/species/vox/onmob_under_vox_armalis.dmi
Labels: Code, Icon

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
