Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Update pistol.dm
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: Code

i reduced this to 15mm and forgot
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: Code

Promethean torso fix
  code/modules/organs/external/species/prometheans.dm
Labels: Code

fixes movey groovey
  code/datums/movement/mob.dm
Labels: Code

bad originization
  code/game/objects/items/weapons/cards_ids.dm
  icons/turf/areas.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_ranks.dm
Labels: Code, Icon, Map

passenger as alt-title
  maps/torch/job/misc_jobs.dm
Labels: Map

corp rep!!!
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/torch6_bridge.dmm
Labels: Map

plant
  maps/torch/torch6_bridge.dmm
Labels: Map

adds pools
  code/controllers/subsystems/fluids.dm
  code/game/machinery/pipe/pipe_datums/device_pipe_datums.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/drain.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_fluids.dm
  code/modules/materials/recipes_stacks.dm
  icons/obj/drain.dmi
  icons/obj/tiles.dmi
  icons/obj/watercloset.dmi
  icons/turf/flooring/pool.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Code, Icon, Map

poor person bed
  maps/torch/torch6_bridge.dmm
Labels: Map

New Revolver Sprites
  icons/obj/guns/revolvers.dmi
Labels: Icon

Cursed
  code/game/jobs/job/job.dm
  code/modules/admin/topic.dm
  code/modules/mob/new_player/new_player.dm
  modular_mithra/code/modules/mithra/global_lists_vr.dm
  modular_mithra/code/modules/mithra/spawncheck.dm
Labels: Code

wa
  modular_mithra/code/modules/mithra/global_lists_vr.dm
Labels: Code

s
  code/modules/admin/topic.dm
Labels: Code

photocopier4corp
  maps/torch/torch6_bridge.dmm
Labels: Map

union cards
  maps/torch/torch6_bridge.dmm
Labels: Map

Those changes broke the mapping CI even further.
  code/datums/trading/ai.dm
  code/datums/trading/misc.dm
Labels: Code

Revert "Cursed Species ban code"
  code/game/jobs/job/job.dm
  code/modules/admin/topic.dm
  code/modules/mob/new_player/new_player.dm
  modular_mithra/code/modules/mithra/spawncheck.dm
Labels: Code

Revert "Revert "Cursed Species ban code""
  code/game/jobs/job/job.dm
  code/modules/admin/topic.dm
  code/modules/mob/new_player/new_player.dm
  modular_mithra/code/modules/mithra/spawncheck.dm
Labels: Code

a
  code/game/jobs/job/job.dm
Labels: Code

New revolver icons
  icons/obj/guns/revolvers.dmi
Labels: Icon

CHECK YOUR CIs
  code/datums/trading/ai.dm
  code/datums/trading/misc.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_areas.dm
Labels: Code, Map

Adds some empty IV bags to medical
  maps/torch/torch5_deck1.dmm
Labels: Map

Update torch_jobs.dm
  maps/torch/job/torch_jobs.dm
Labels: Map

Update cultures_serpentid.dm
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
Labels: Code

Update torch_jobs.dm
  maps/torch/job/torch_jobs.dm
Labels: Map

Update torch_jobs.dm
  maps/torch/job/torch_jobs.dm
Labels: Map

Revert "Removal of GAS from Antagonistic Roles"
  code/modules/species/station/nabber.dm
Labels: Code

Update alien.dm
  code/modules/projectiles/guns/launcher/alien.dm
Labels: Code

New revolver icons (#1214)
  icons/obj/guns/revolvers.dmi
Labels: Icon

Adds some empty IV bags to medical (#1216)
  maps/torch/torch5_deck1.dmm
Labels: Map

handfuls.
  baystation12.dme
  code/__defines/guns.dm
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/ammunition/handfuls.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/ammo.dmi
Labels: Code, Icon

Update ammo.dmi
  icons/obj/ammo.dmi
Labels: Icon

dexp
  code/modules/organs/blood.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code

Discord Corrections - - - Misc: - Should fix the link for Discord on the hub. - - -
  code/game/world.dm
Labels: Code

god help me
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/clothing/suits/jobs.dm
  maps/torch/items/cards_ids.dm
  maps/torch/items/encryption_keys.dm
  maps/torch/items/headsets.dm
  maps/torch/items/psyker/agent_items.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Code, Map

Update unique.dm
  code/datums/trading/unique.dm
Labels: Code

Update unique.dm (#1226)
  code/datums/trading/unique.dm
Labels: Code

Update foundation.dmi
  icons/obj/guns/foundation.dmi
Labels: Icon

Update foundation.dmi
  icons/obj/guns/foundation.dmi
Labels: Icon
