Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Update skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship.dm
Labels: Map

yeah, I never added these sounds, and?
  code/modules/projectiles/guns/attachments.dm
Labels: Code

Allows GAS to be surgeons.
  code/modules/culture_descriptor/culture/cultures_serpentid.dm
Labels: Code

FUCKYOU GOD FUFKFDF GFUCK FUCK FUCK FUCK THIS STUPID FUCKING THING THIS WAS A WEEKS WORTH OF TIIIIME
  code/modules/mob/say.dm
  code/modules/mob/typing_indicator.dm
Labels: Code

Weapon Fab access update.
  code/modules/boh/fabrication/weaponsfab.dm
Labels: Code

infantrymomento
  maps/torch/infantry/firearms.dm
  maps/torch/infantry/storage.dm
Labels: Map

fixes indentation error, adds the age minimum thing
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  code/modules/species/station/lizard.dm
Labels: Code

Re-allows Vox Merchants.
  maps/torch/job/misc_jobs.dm
Labels: Map

Added commas
  maps/torch/job/misc_jobs.dm
Labels: Map

Corrected duplication
  maps/torch/job/misc_jobs.dm
Labels: Map

Reverts retarded Yawet buffs
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Update firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Map

Revert "makes D100 have 100 sides"
  code/game/objects/items/weapons/dice.dm
Labels: Code

Reverts retarded Yawet buffs (#1295)
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Light Rig added to MechFab
  code/modules/research/designs/designs_mechfab.dm
Labels: Code

Updates Light Rig to not allow combat mods.
  code/modules/clothing/spacesuits/rig/suits/light.dm
Labels: Code

Update vox.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
Labels: Code

Update voxship-1.dmm
  maps/away/voxship/voxship-1.dmm
Labels: Map

Update firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Map

ye
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/attachments.dm
  sound/items/attachment_add.ogg
  sound/items/attachment_remove.ogg
Labels: Code, Sound

Fixed error.
  code/modules/research/designs/designs_mechfab.dm
Labels: Code

Removed combat mod limitations
  code/modules/clothing/spacesuits/rig/suits/light.dm
Labels: Code

Fixing me being dumb
  code/modules/research/designs/designs_mechfab.dm
Labels: Code

Adds armor plates to loadout
  maps/torch/loadout/loadout_accessories_boh.dm
Labels: Map

FUCK FUCK FUCK
  code/modules/clothing/spacesuits/rig/suits/vox.dm
Labels: Code

maybe?
  code/__defines/culture.dm
  code/modules/boh_misc/munitions.dm
Labels: Code

Do not merge. Testing shit
  code/modules/boh/fabrication/scienceweaponsfab
Labels: Code

Rename scienceweaponsfab to scienceweaponsfab.dm
  code/modules/boh/fabrication/scienceweaponsfab.dm
Labels: Code

Removing CorpoSec
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Update security_jobs.dm
  maps/torch/job/security_jobs.dm
Labels: Map

yeppers
  maps/torch/items/clothing/boh_clothing.dm
Labels: Map

Update loadout_accessories_boh.dm
  maps/torch/loadout/loadout_accessories_boh.dm
Labels: Map

KOSMAG Added + Description Tweaks
  code/datums/supplypacks/munitions.dm
Labels: Code

Stupidity Control
  code/datums/supplypacks/munitions.dm
Labels: Code

Vox ship changes
  maps/away/voxship/voxship-1.dmm
Labels: Map

More changes
  maps/away/voxship/voxship-1.dmm
Labels: Map

Update voxship-1.dmm
  maps/away/voxship/voxship-1.dmm
Labels: Map

Update voxship-1.dmm
  maps/away/voxship/voxship-1.dmm
Labels: Map

Update voxship-1.dmm
  maps/away/voxship/voxship-1.dmm
Labels: Map

Update voxship-1.dmm
  maps/away/voxship/voxship-1.dmm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
