Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

aaaaaaaaaaaaaaaaaaaa
  code/modules/boh_misc/munitions.dm
Labels: Code

comments out darkrp baton
  code/modules/boh/admin/items.dm
Labels: Code

Fixes
  code/modules/overmap/ships/ship.dm
Labels: Code

Removing the for now unused missile parts
  baystation12.dme
  code/modules/overmap/projectiles/missiles/equipment/payload/payload.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/cargo.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/sensor.dm
  code/modules/overmap/projectiles/missiles/presets/cargo.dm
  code/modules/overmap/projectiles/missiles/presets/passenger.dm
  code/modules/overmap/projectiles/missiles/presets/sensor_probe.dm
Labels: Code

adds 2 spawn uses
  test/check-paths.sh
Labels: ‚ùåDO NOT MERGE

tries making it pass checks
  code/game/gamemodes/events.dm
Labels: Code

fixes other eror whoops
  code/modules/species/xenomorphs/alien_powers.dm
Labels: Code

wait shit I did that wrong
  code/modules/species/xenomorphs/alien_powers.dm
Labels: Code

fixes languages
  code/modules/mob/language/alien/antag.dm
  code/modules/mob/language/alien/sergal.dm
Labels: Code

adds tress and wheeler hair
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Code, Icon

adds tress and wheeler hair (#1415)
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Code, Icon

Bearcat display case, CI fixes.
  maps/away/bearcat/bearcat-2.dmm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Update voxship-1.dmm
  maps/away/voxship/voxship-1.dmm
Labels: Map

Fixes more runtimes and errors
  maps/away/rawl/rawl.dmm
  maps/away/voxship/voxship-1.dmm
Labels: Map

proper SMES subtypes for vox
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
Labels: Map

Turns Away Site's CI green (#1416)
  maps/away/bearcat/bearcat-2.dmm
  maps/away/rawl/rawl.dmm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
Labels: Map

Makes GAS Insuls available to GAS Engineers.
  maps/torch/loadout/loadout_xeno.dm
Labels: Map

Big updato
  code/game/objects/items/weapons/grenades/explosive.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/crafting/crafting_spear_prod.dm
  code/modules/crafting/crafting_zipgun.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/crafting_icons.dmi
  icons/obj/weapons.dmi
Labels: Code, Icon

Gives Tajarans robolimbs, removes them from Unathi.
  code/modules/organs/robolimbs.dm
Labels: Code

Update robolimbs.dm
  code/modules/organs/robolimbs.dm
Labels: Code

fhghfgdgfd
  code/modules/crafting/crafting_spear_prod.dm
  code/modules/crafting/crafting_zipgun.dm
  code/modules/projectiles/guns/projectile/zipgun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/zipgun.dmi
Labels: Code, Icon

howdoesthisnotruntime
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/attachments.dm
Labels: Code

comment less agressive, sorry
  code/modules/projectiles/gun.dm
Labels: Code

Adds robolimbs to Taj, removes from Unathi.
  code/modules/organs/robolimbs.dm
Labels: Code

fuck
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: Icon

fuck you
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: Icon

piece of shit
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: Icon

Revert "piece of shit"
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: Icon

WORK
  code/game/machinery/turret_control.dm
  code/game/objects/items/weapons/material/twohanded.dm
  icons/obj/weapons.dmi
  maps/away/voxship/voxship_areas.dm
Labels: Code, Icon, Map

ereersgRRG
  code/modules/projectiles/guns/projectile/zipgun.dm
Labels: Code

Changes the Z-6 to be more of an Auto Rifle, and merges it with disposable launcher for CT. (#1336)
  maps/torch/infantry/firearms.dm
  maps/torch/infantry/storage.dm
Labels: Map

e
  code/game/machinery/turret_control.dm
  maps/away/voxship/voxship_areas.dm
Labels: Code, Map

e (#1420)
  code/game/machinery/turret_control.dm
  maps/away/voxship/voxship_areas.dm
Labels: Code, Map

nerfs swords, buffs machetes
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/melee/misc.dm
Labels: Code

tazer carbine sprites
  code/modules/projectiles/guns/energy/stun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/taser_carbine.dmi
Labels: Code, Icon

This is prob fucked up
  baystation12.dme
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/munitions_crate.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/payload.dm
  code/modules/overmap/projectiles/missiles/missile.dm
  code/modules/overmap/ships/computers/target_control.dm
  code/modules/overmap/ships/ship.dm
  maps/torch/backup/torch3_deck3.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_elevator.dm
  maps/torch/torch_unit_testing.dm
  nano/templates/target.tmpl
Labels: Code, Map

slightly less fucked up
  maps/torch/backup/torch3_deck3.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map

Update medical_jobs.dm
  maps/torch/job/medical_jobs.dm
Labels: Map

gitban any %
  maps/torch/job/command_jobs.dm
Labels: Map

fixes rawl vents
  maps/away/rawl/rawl.dmm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
