Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

readds arm and leg guards as a sec thing (#1318)
  maps/torch/loadout/loadout_accessories_boh.dm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-2.dmm
Labels: Map

lets the electrolaser be blue
  code/modules/projectiles/guns/energy/stun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/taser.dmi
Labels: Code, Icon

lets the electrolaser be blue (#1320)
  code/modules/projectiles/guns/energy/stun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/taser.dmi
Labels: Code, Icon

Veteris background choices (#1309)
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  modular_mithra/code/modules/species/station/humanathi.dm
Labels: Code

Light Rig added to MechFab (#1297)
  code/modules/research/designs/designs_mechfab.dm
Labels: Code

Revert "makes D100 have 100 sides"
  code/game/objects/items/weapons/dice.dm
Labels: Code

Revert "makes D100 have 100 sides" (#1321)
  code/game/objects/items/weapons/dice.dm
Labels: Code

Skill adjustments for SolGov Fleet
  maps/torch/torch_ranks_boh.dm
Labels: Map

Revert "Adds stealth module to traitor uplink, removes them from everything else."
  code/datums/uplink/hardsuit_modules.dm
  code/game/objects/random/random.dm
  code/modules/research/designs/designs_rig_modules.dm
Labels: Code

makes med maint doors non-suck
  maps/torch/torch5_deck1.dmm
Labels: Map

Revert "Gives Basic EVA and Medical to SolGov Fleet characters"
  maps/torch/torch_ranks_boh.dm
Labels: Map

SGR fixes and additions
  maps/torch/loadout/_defines.dm
Labels: Map

Highvis suit storage permissions
  code/modules/clothing/suits/jobs.dm
Labels: Code

Add Chad Marine embassy guard
  maps/torch/job/command_jobs.dm
Labels: Map

Update _defines.dm
  maps/torch/loadout/_defines.dm
Labels: Map

Gives the SGR's Guard an actual gun
  maps/torch/structures/closets/misc.dm
Labels: Map

Gives the SGR's Guard an actual gun (#1328)
  maps/torch/structures/closets/misc.dm
Labels: Map

SGR + Guard fixes and edits. (#1329)
  maps/torch/job/command_jobs.dm
  maps/torch/loadout/_defines.dm
Labels: Map

Highvis suit storage permissions (#1327)
  code/modules/clothing/suits/jobs.dm
Labels: Code

Various quality of life changes for merchant that should make it much more fun to play
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/weaponry.dm
  maps/torch/z1_admin.dmm
Labels: Code, Map

Add files via upload
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
Labels: Icon

gives the sec revolver a slightly stronger intermediate cartridge
  code/__defines/guns.dm
  code/modules/boh/security2/pepperballs.dm
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/firearms.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Code

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-2.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-2.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-2.dmm
Labels: Map

Add files via upload
  code/modules/overmap/disperser/disperser_charge.dm
Labels: Code

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Wow!
  code/modules/species/station/nabber.dm
Labels: Code

revolver is accurate and penetrates now, shoots much slower
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/gun.dm
Labels: Code

I LOVE 300 BLACKOUT
  code/__defines/guns.dm
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/modules/boh/makeshift_weapons/improv_rifle.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/mechs/equipment/combat_projectile.dm
  code/modules/projectiles/ammunition/handfuls.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/research/designs/designs_mechfab.dm
  maps/torch/infantry/firearms.dm
Labels: Code, Map

Update firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Map

swaps point of eva skill for sci skill
  maps/torch/torch_ranks.dm
Labels: Map

Update shared.css
  nano/css/shared.css
Labels: none

Update text.dm
  code/_helpers/text.dm
Labels: Code

SGR clothing fix
  maps/torch/loadout/_defines.dm
Labels: Map

Initial Port of Improved Body Markings
  baystation12.dme
  code/__defines/mobs.dm
  code/_helpers/cmp.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/head.dm
  code/modules/sprite_accessories/_accessory.dm
  code/modules/sprite_accessories/_accessory_hair_fade.dm
  code/modules/sprite_accessories/_accessory_markings.dm
  code/modules/sprite_accessories/accessory_booster.dm
  icons/mob/human_races/species/human/hair_fade.dmi
  modular_mithra/code/modules/mithra/body_markings.dm
Labels: Code, Icon

Fixes spacing issues
  code/modules/client/preferences.dm
Labels: Code

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
