Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Updates to the Vox map (#1367)
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

various changes to the rawl, adds dohruk flightsuits and war picks. Buffs the heavy radio. (#1366)
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/under/corporate.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_under_corporate.dmi
  icons/mob/species/unathi/generated/onmob_under_corporate_unathi.dmi
  icons/obj/clothing/obj_under.dmi
  icons/obj/weapons.dmi
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl_jobs.dm
Labels: Code, Icon, Map

Add files via upload
  maps/away/voxship/voxship-2.dmm
Labels: Map

e
  code/datums/trading/ai.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  maps/torch/z1_admin.dmm
Labels: Code, Map

Update goods.dm
  code/datums/trading/goods.dm
Labels: Code

Update goods.dm
  code/datums/trading/goods.dm
Labels: Code

e
  code/datums/trading/goods.dm
Labels: Code

e
  maps/bearcat/bearcat_define.dm
Labels: Map

Update bearcat_define.dm
  maps/bearcat/bearcat_define.dm
Labels: Map

Update goods.dm
  code/datums/trading/goods.dm
Labels: Code

Flips the Envoy's and KS-40's shell capacity
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: Code

Gives the midlaser it's original AP value again
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Fixes all SSV Related CI errors.
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Update ai.dm
  code/datums/trading/ai.dm
Labels: Code

Reverts the BEARCAT rework
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_jobs.dm
Labels: Map

Fixes all SSV Related CI errors. (#1376)
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Reverts the BEARCAT rework (#1377)
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_jobs.dm
Labels: Map

Why am I getting those buggy changes
  code/game/machinery/portturret_boh.dm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship_areas.dm
Labels: Code, Map

Fixes CI?
  code/modules/boh/ascent2/structures.dm
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
Labels: Code, Map

ee
  maps/torch/z1_admin.dmm
Labels: Map

e
  maps/torch/z1_admin.dmm
Labels: Map

e
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship_areas.dm
  maps/torch/z1_admin.dmm
Labels: Map

Removes a 1.1 mod to Ascent alata hardsuits
  code/modules/ascent/ascent_rigs.dm
Labels: Code

All my vox bug fixed, in one place
  code/modules/projectiles/guns/energy/vox.dm
  code/modules/projectiles/projectile/beams.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Code, Map

Removes a 1.1 mod to Ascent alata hardsuits (#1380)
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Fixes ascent CI runtimes.
  code/modules/boh/ascent2/structures.dm
  maps/away/ascent/ascent-1.dmm
Labels: Code, Map

Stealth RIG Module
  code/datums/uplink/hardsuit_modules.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/item_worth/worths_list.dm
Labels: Code

Fixes ascent CI runtimes. (#1382)
  code/modules/boh/ascent2/structures.dm
  maps/away/ascent/ascent-1.dmm
Labels: Code, Map

Flips the Envoy's and KS-40's shell capacity (#1374)
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: Code

Gives the midlaser it's original AP value again (#1375)
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Removes some thermals
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
Labels: Code

more removals
  code/modules/skrell/skrell_rigs.dm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Code, Map

Stealth RIG Module (#1383)
  code/datums/uplink/hardsuit_modules.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/item_worth/worths_list.dm
Labels: Code

reverts voxship
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Makes Houndmaster/Hornet Not Shite
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Code

Update firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Map

Update firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Map

Removes NVGs from offships
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  code/modules/skrell/skrell_rigs.dm
Labels: Code

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Add files via upload
  code/game/machinery/turret_control.dm
Labels: Code
