Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

fixes yeosa eye glowing for real
  icons/mob/human_races/species/unathi/eyes.dmi
Labels: Icon

Update vox.dm
  code/modules/projectiles/guns/energy/vox.dm
Labels: Code

One to many of the , in the code
  maps/away/voxship/voxship_jobs.dm
Labels: Map

The holy triage needs to be made
  maps/away/voxship/voxship_jobs.dm
Labels: Map

adds holopad to merchant station
  maps/torch/z1_admin.dmm
Labels: Map

quiet footstep time
  code/game/turfs/simulated/footsteps.dm
Labels: Code

Changed the charge cost
  code/modules/projectiles/guns/energy/vox.dm
Labels: Code

proteinbarsarebetterforyou
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Code

PT1
  code/game/objects/items/devices/personal_shield.dm
  code/modules/ascent/ascent_rigs.dm
  code/modules/boh/ascent2/items.dm
  code/modules/organs/internal/species/nabber.dm
  code/modules/species/station/nabber.dm
  icons/mob/human_races/species/nabber/body.dmi
  icons/mob/human_races/species/nabber/body_msw.dmi
  icons/mob/human_races/species/nabber/msq/blood_mask.dmi
  icons/mob/human_races/species/nabber/msq/body.dmi
  icons/mob/human_races/species/nabber/msq/damage_mask.dmi
  icons/mob/human_races/species/nabber/msq/eyes.dmi
  icons/mob/human_races/species/nabber/msq/preview.dmi
  icons/mob/human_races/species/nabber/organs_nabber.dmi
  icons/mob/species/nabber/msq/onmob_back_msq.dmi
  icons/mob/species/nabber/msq/onmob_belt_msq.dmi
  icons/mob/species/nabber/msq/onmob_hands_msq.dmi
  icons/mob/species/nabber/msq/onmob_head_msq.dmi
  icons/mob/species/nabber/msq/onmob_lefthand_particle_rifle.dmi
  icons/mob/species/nabber/msq/onmob_mask_msq.dmi
  icons/mob/species/nabber/msq/onmob_righthand_particle_rifle.dmi
  icons/mob/species/nabber/msq/onmob_suit_msq.dmi
  icons/mob/species/nabber/msq/onmob_under_msq.dmi
  icons/mob/species/nabber/onmob_back_gas.dmi
  icons/mob/species/nabber/onmob_hands_gas.dmi
  icons/mob/species/nabber/onmob_head_gas.dmi
  icons/mob/species/nabber/onmob_suit_gas.dmi
  maps/away/ascent/ascent-1.dmm
Labels: Code, Icon, Map

Update nabber.dm
  code/modules/species/station/nabber.dm
Labels: Code

weh
  maps/away/ascent/ascent_jobs.dm
Labels: Map

explo gone
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

quiet footstep time (#1254)
  code/game/turfs/simulated/footsteps.dm
Labels: Code

adds holopad to merchant station (#1253)
  maps/torch/z1_admin.dmm
Labels: Map

fixes yeosa eye glowing (#1252)
  code/modules/species/station/lizard.dm
  code/modules/species/station/lizard_subspecies.dm
  icons/mob/human_races/species/unathi/eyes.dmi
Labels: Code, Icon

deck tech
  maps/torch/job/supply_jobs.dm
Labels: Map

more map
  maps/away/ascent/ascent-1.dmm
Labels: Map

a
  maps/away/ascent/ascent_jobs.dm
Labels: Map

Ascent RIG update
  code/game/objects/items/devices/personal_shield.dm
  code/modules/ascent/ascent_rigs.dm
Labels: Code

AAAAAA
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
Labels: Map

protein bars still have sugar but have iron, alt sugar free variant for protein mres
  code/game/objects/items/weapons/storage/mre.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Code

Update projectile.dm
  code/modules/projectiles/projectile.dm
Labels: Code

MUsic.
  code/_global_vars/lists/flavor.dm
  code/datums/music_tracks/boh_music_tracks.dm
  code/unit_tests/music_test.dm
  sound/music/boh/are_you_kidneying_me.ogg
  sound/music/boh/blue_moon.ogg
  sound/music/boh/cant_take_my_eyes_off_you.ogg
  sound/music/boh/cat_beat.ogg
  sound/music/boh/chanson_dautomne.ogg
  sound/music/boh/follow_molly.ogg
  sound/music/boh/you_make_me_feel_so_young.ogg
Labels: Code, Sound

Adds droppods
  code/__defines/overmap.dm
  code/datums/supplypacks/munitions.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
  icons/obj/closets/bases/odst.dmi
  maps/torch/torch3_deck3.dmm
Labels: Code, Icon, Map

ok
  code/_onclick/hud/action.dm
  code/modules/projectiles/guns/attachments.dm
Labels: Code

garbage
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: Icon

Revert "Adds droppods"
  code/__defines/overmap.dm
  code/datums/supplypacks/munitions.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
  icons/obj/closets/bases/odst.dmi
  maps/torch/torch3_deck3.dmm
Labels: Code, Icon, Map

Revert "Revert "Adds droppods""
  code/__defines/overmap.dm
  code/datums/supplypacks/munitions.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
  icons/obj/closets/bases/odst.dmi
  maps/torch/torch3_deck3.dmm
Labels: Code, Icon, Map

fixies!!!
  maps/torch/torch_areas.dm
Labels: Map

YEEEEAH
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
Labels: Map

booze
  maps/away/bearcat/bearcat-1.dmm
Labels: Map

Give the Deck Officer +2 skillpoints
  maps/torch/job/supply_jobs.dm
Labels: Map

Protein bars have iron, the ones in protein mres have no sugar (#1256)
  code/game/objects/items/weapons/storage/mre.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Code

Removes GAS antags.
  code/modules/species/station/nabber.dm
Labels: Code

Update nabber.dm
  code/modules/species/station/nabber.dm
Labels: Code

Removes GAS antag
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/species/station/nabber.dm
Labels: Code

fix
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_jobs.dm
Labels: Map

gun
  maps/torch/structures/closets/misc.dm
Labels: Map

aaaaaaaaaaa
  icons/mob/species/nabber/onmob_back_gas.dmi
  icons/mob/species/nabber/onmob_hands_gas.dmi
  icons/mob/species/nabber/onmob_head_gas.dmi
  icons/mob/species/nabber/onmob_suit_gas.dmi
Labels: Icon

Fixes deck 2 security directional signs.
  maps/torch/torch4_deck2.dmm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
