Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Fixed version using mapmerge2.
  maps/away/voxship/voxship-1.dmm
Labels: Map

armory remap
  maps/torch/torch5_deck1.dmm
Labels: Map

progress
  maps/torch/torch5_deck1.dmm
Labels: Map

Regeneration and minor balance changes.
  code/game/objects/auras/regenerating_aura.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/species/species.dm
Labels: Code

Rework de void suits
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
Labels: Icon

The Bulldog can load non-frangible mags again.
  maps/torch/infantry/firearms.dm
Labels: Map

Update torch5_deck1.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

More changes
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Update torch6_bridge.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

windoor buff
  maps/torch/torch5_deck1.dmm
Labels: Map

ammunition dump
  maps/torch/torch5_deck1.dmm
Labels: Map

Update torch5_deck1.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

ammo dump
  maps/torch/torch5_deck1.dmm
Labels: Map

aesthetic
  maps/torch/torch5_deck1.dmm
Labels: Map

buttons
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

no more tfw no co blues
  maps/torch/torch6_bridge.dmm
Labels: Map

Update torch5_deck1.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

reverts ammo dump
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

bugfix
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Oh god I'm coooooomiting aaaagh! Also fixes travis errors.
  maps/torch/torch6_bridge.dmm
Labels: Map

maps: merged
  maps/torch/torch5_deck1.dmm
Labels: Map

Test
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Nerfs the AoE effect of the Ion Rifle and the Ion Pistol.
  code/modules/projectiles/projectile/special.dm
Labels: Code

Makes Frag-Grenades deadly.
  code/game/objects/items/weapons/grenades/explosive.dm
Labels: Code

Any agony damage will no longer have you on the floor if applied to genitals
  code/modules/organs/external/_external_damage.dm
Labels: Code

Buffs the CoSs Hazard RIG to actually be useful, and used.
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code

normalizes ammunition amounts
  code/modules/boh_misc/boxes.dm
  maps/torch/torch5_deck1.dmm
Labels: Code, Map

fixes the issue of an improper id_tag value; replaces secure evidence lockers with safes
  maps/torch/torch5_deck1.dmm
Labels: Map

Backpack kit yay
  code/datums/outfits/jobs/command.dm
Labels: Code

RIP Gunbox
  maps/torch/structures/closets/command.dm
Labels: Map

cleans up detective's office, replaces psionic holding cell windows with phoron glass to better match flooring
  maps/torch/torch5_deck1.dmm
Labels: Map

Revert "cleans up detective's office, replaces psionic holding cell windows with phoron glass to better match flooring"
  maps/torch/torch5_deck1.dmm
Labels: Map

Revert "Revert "cleans up detective's office, replaces psionic holding cell windows with phoron glass to better match flooring""
  maps/torch/torch5_deck1.dmm
Labels: Map

removes a random windoor, cleans up the hydroponics section of permanent holding, adds a "dull" hatchet to the hydroponics locker
  maps/torch/torch5_deck1.dmm
Labels: Map

Lowers the bullet and laser protection down by one level.
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code

adds an emergency nanomed to the permanent holding area
  maps/torch/torch5_deck1.dmm
Labels: Map

slight fix
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code

Buffs the suit to be a suit that operates in hazardous enviroments, and makes it have the same melee protection as the riot voidsuit.
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code

vending machines for people who've been bad
  maps/torch/torch5_deck1.dmm
Labels: Map

Tectonic up, AMR down
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map
