Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

Clothing fix
  maps/torch/items/clothing/boh_accessory.dm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/items/clothing/boh_under.dm
  maps/torch/items/clothing/ec_skillbadges.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-armor.dm
  maps/torch/items/clothing/solgov-feet.dm
  maps/torch/items/clothing/solgov-hands.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/items/clothing/terran-accessory.dm
  maps/torch/items/clothing/terran-feet.dm
  maps/torch/items/clothing/terran-hands.dm
  maps/torch/items/clothing/terran-head.dm
  maps/torch/items/clothing/terran-suit.dm
  maps/torch/items/clothing/terran-under.dm
Labels: Map

Update code/modules/mob/living/simple_animal/hostile/voxslug.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: Code

Apply suggestions from code review
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: Code

Updates clothing
  maps/torch/items/clothing/boh_accessory.dm
  maps/torch/items/clothing/boh_armor.dm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/items/clothing/boh_hats.dm
  maps/torch/items/clothing/boh_masks.dm
  maps/torch/items/clothing/boh_under.dm
  maps/torch/items/clothing/ec_skillbadges.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-armor.dm
  maps/torch/items/clothing/solgov-hands.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/items/clothing/terran-feet.dm
  maps/torch/items/clothing/terran-hands.dm
  maps/torch/items/clothing/terran-head.dm
  maps/torch/items/clothing/terran-suit.dm
  maps/torch/items/clothing/terran-under.dm
Labels: Map

Fixes helmet error
  maps/torch/datums/space_suits.dm
Labels: Map

Stupid voxslugs dies to 2 hits by your feets (#1472)
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: Code

Space suit fixes
  code/datums/item_modifiers/space_suits.dm
Labels: Code

Supply/Munitions Update
  maps/torch/job/supply_jobs.dm
Labels: Map

Removal of Civvie
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Excellent.
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/under/accessories/badges.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/generated/onmob_head_unathi.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/mob/species/unathi/generated/onmob_under_unathi.dmi
  icons/obj/clothing/obj_accessories.dmi
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent_jobs.dm
Labels: Code, Icon, Map

Combat medic tweaks
  maps/torch/infantry/outfits.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/outfits/hestia_outfits.dm
  maps/torch/structures/closets.dm
Labels: Map

Small fix
  maps/torch/job/supply_jobs.dm
Labels: Map

tabs, not spaces
  maps/torch/job/hestia_jobs.dm
Labels: Map

Fix maybe?
  maps/torch/job/supply_jobs.dm
Labels: Map

Update ascent-1.dmm
  maps/away/ascent/ascent-1.dmm
Labels: Map

Update ascent-1.dmm
  maps/away/ascent/ascent-1.dmm
Labels: Map

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

Taser Carbines Tweak
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/firearms.dm
  maps/torch/torch5_deck1.dmm
Labels: Code, Map

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Github

Fix...hopefully.
  maps/torch/job/supply_jobs.dm
Labels: Map

Update supply_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Map

Update supply_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Map

Uniform Mega-Update (.DMI FILES)
  maps/torch/icons/boh/obj/clothing/longlabcoats.dmi
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/mob/onmob_cloak.dmi
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/mob/onmob_head.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/mob/unathi/onmob_head_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_suit_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_under_solgov_unathi.dmi
  maps/torch/icons/mob/unathi/onmob_under_unathi.dmi
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/icons/obj/obj_cloak.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
Labels: Map

Uniform Mega-Update (.DMI RELATED .DM FILES)
  maps/torch/items/clothing/boh_accessory.dm
  maps/torch/items/clothing/boh_armor.dm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/items/clothing/boh_hats.dm
  maps/torch/items/clothing/boh_masks.dm
  maps/torch/items/clothing/ec_skillbadges.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-armor.dm
  maps/torch/items/clothing/solgov-hands.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/items/clothing/terran-feet.dm
  maps/torch/items/clothing/terran-hands.dm
  maps/torch/items/clothing/terran-head.dm
  maps/torch/items/clothing/terran-suit.dm
  maps/torch/items/clothing/terran-under.dm
Labels: Map

Update maps/torch/job/supply_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Map

Uniform Mega-Update (UNIFORM .DM DEFINITIONS)
  code/modules/clothing/under/accessories/clothing_boh.dm
  maps/torch/datums/uniforms_exp_fleet.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/outfits/engineering_outfits.dm
  maps/torch/job/outfits/exploration_outfits.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/outfits/research_outfits.dm
  maps/torch/job/outfits/security_outfits.dm
  maps/torch/job/outfits/service_outfits.dm
  maps/torch/job/outfits/supply_outfits.dm
Labels: Code, Map

Delete boh_armor.dm
  maps/torch/items/clothing/boh_armor.dm
Labels: Map

Update boh_clothing.dm
  maps/torch/items/clothing/boh_clothing.dm
Labels: Map

Revert "Ports gun attachments (#1250)"
  baystation12.dme
  code/__defines/guns.dm
  code/_onclick/hud/action.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/attachments.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/guns/gun_attachments.dmi
  icons/obj/guns/holdout_pistol.dmi
  sound/items/attachment_add.ogg
  sound/items/attachment_remove.ogg
Labels: Code, Icon, Sound

SSV changes
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Revert "Ports gun attachments (#1250)" (#1482)
  baystation12.dme
  code/__defines/guns.dm
  code/_onclick/hud/action.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/attachments.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/guns/gun_attachments.dmi
  icons/obj/guns/holdout_pistol.dmi
  sound/items/attachment_add.ogg
  sound/items/attachment_remove.ogg
Labels: Code, Icon, Sound

Uniform Update
  maps/torch/datums/uniforms.dm
  maps/torch/datums/uniforms_fleet.dm
Labels: Map

Revert "Uniform Update"
  maps/torch/datums/uniforms.dm
  maps/torch/datums/uniforms_fleet.dm
Labels: Map

Uniform Update
  maps/torch/datums/uniforms.dm
  maps/torch/datums/uniforms_exp_fleet.dm
  maps/torch/datums/uniforms_fleet.dm
Labels: Map

Fixes runtime error
  maps/torch/torch.dm
Labels: Map

NTEF to Fleet
  maps/torch/datums/uniforms_fleet.dm
Labels: Map

Edits default spawn loadout
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/outfits/engineering_outfits.dm
  maps/torch/job/outfits/exploration_outfits.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/outfits/security_outfits.dm
  maps/torch/job/outfits/service_outfits.dm
  maps/torch/job/outfits/supply_outfits.dm
  maps/torch/job/outfits/torch_outfits.dm
Labels: Map

Runtime Error Code Fixes
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/torch.dm
Labels: Map

Bug fixes (major)
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/items/uniform_vendor_boh.dm
  maps/torch/job/outfits/exploration_outfits.dm
  maps/torch/job/outfits/service_outfits.dm
Labels: Map

Auto stash before merge of "dev" and "origin/dev"
  maps/away/voxship/voxship-1.dmm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
