Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

lock it to sec and cmd
  maps/torch/loadout/loadout_xeno.dm
Labels: Map

locks them to skrell
  maps/torch/loadout/loadout_xeno.dm
Labels: Map

Cambios QoL de mineros
  maps/torch/torch1_deck5.dmm
Labels: Map

button gang
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Inf Prep made much larger. Given some QoL features, atop that.
  maps/torch/torch1_deck5.dmm
Labels: Map

Plasma cutter continuation.
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Removes the access restrictions on the augmented tie.
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code

// WIP
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/icons/mob/human_races/species/tajaran/body.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/deformed_body.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/husk.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/tail.dmi
  modular_mithra/icons/mob/tails.dmi
  tools/dmitool/Finished/groin_f.png
  tools/dmitool/Finished/groin_m.png
  tools/dmitool/Finished/head_f.png
  tools/dmitool/Finished/head_m.png
  tools/dmitool/Finished/l_arm.png
  tools/dmitool/Finished/l_foot.png
  tools/dmitool/Finished/l_hand.png
  tools/dmitool/Finished/l_leg.png
  tools/dmitool/Finished/r_arm.png
  tools/dmitool/Finished/r_foot.png
  tools/dmitool/Finished/r_hand.png
  tools/dmitool/Finished/r_leg.png
  tools/dmitool/Finished/torso_f.png
  tools/dmitool/Finished/torso_m.png
  tools/dmitool/old/groin_f.png
  tools/dmitool/old/groin_m.png
  tools/dmitool/old/head_f.png
  tools/dmitool/old/head_m.png
  tools/dmitool/old/l_arm.png
  tools/dmitool/old/l_foot.png
  tools/dmitool/old/l_hand.png
  tools/dmitool/old/l_leg.png
  tools/dmitool/old/r_arm.png
  tools/dmitool/old/r_foot.png
  tools/dmitool/old/r_hand.png
  tools/dmitool/old/r_leg.png
  tools/dmitool/old/torso_f.png
  tools/dmitool/old/torsonew.png
  tools/dmitool/tajtail_loop1.png
  tools/dmitool/tajtail_master.png
  tools/dmitool/tajtail_static.png
Labels: Code, Icon, ‚ùåDO NOT MERGE

Whoops
  tools/dmitool/Finished/groin_f.png
  tools/dmitool/Finished/groin_m.png
  tools/dmitool/Finished/head_f.png
  tools/dmitool/Finished/head_m.png
  tools/dmitool/Finished/l_arm.png
  tools/dmitool/Finished/l_foot.png
  tools/dmitool/Finished/l_hand.png
  tools/dmitool/Finished/l_leg.png
  tools/dmitool/Finished/r_arm.png
  tools/dmitool/Finished/r_foot.png
  tools/dmitool/Finished/r_hand.png
  tools/dmitool/Finished/r_leg.png
  tools/dmitool/Finished/torso_f.png
  tools/dmitool/Finished/torso_m.png
  tools/dmitool/old/groin_f.png
  tools/dmitool/old/groin_m.png
  tools/dmitool/old/head_f.png
  tools/dmitool/old/head_m.png
  tools/dmitool/old/l_arm.png
  tools/dmitool/old/l_foot.png
  tools/dmitool/old/l_hand.png
  tools/dmitool/old/l_leg.png
  tools/dmitool/old/r_arm.png
  tools/dmitool/old/r_foot.png
  tools/dmitool/old/r_hand.png
  tools/dmitool/old/r_leg.png
  tools/dmitool/old/torso_f.png
  tools/dmitool/old/torsonew.png
  tools/dmitool/tajtail_loop1.png
  tools/dmitool/tajtail_master.png
  tools/dmitool/tajtail_static.png
Labels: ‚ùåDO NOT MERGE

woah'm
  maps/torch/items/manuals.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/torch1_deck5.dmm
Labels: Map

Buff compensation via slowdown.
  code/modules/species/mantid/mantid.dm
Labels: Code

New taj haircuts
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/code/modules/sprite_accessories/accessory_tajara.dm
  modular_mithra/icons/mob/ears.dmi
Labels: Code, Icon

Autohisshiss
  code/modules/mob/living/autohiss.dm
Labels: Code

no tengo fuerzas para seguir traduciendo...
  code/modules/surgery/robotics.dm
Labels: Code

appendix.dm y lungs.dm reeeeeeeee
  code/modules/organs/internal/appendix.dm
  code/modules/organs/internal/lungs.dm
  code/modules/surgery/robotics.dm
Labels: Code

oOpsIE DoOPsiE
  code/modules/organs/internal/brain.dm
Labels: Code

Work
  code/modules/reagents/reagent_containers/spray.dm
  icons/turf/flooring/decals.dmi
  maps/torch/structures/closets/medical.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Code, Icon, Map

diona.dm, promethean.dm, skrell.dm y unathi.dm WIIIIIIIIIIIIIIIIIIIIIIIIII
  code/modules/organs/internal/species/diona.dm
  code/modules/organs/internal/species/promethean.dm
  code/modules/organs/internal/species/skrell.dm
  code/modules/organs/internal/species/unathi.dm
Labels: Code

correciones
  code/modules/codex/entries/guns.dm
  code/modules/organs/internal/species/borer.dm
  modular_mithra/code/modules/mithra/traits_neutral.dm
  modular_mithra/code/modules/mithra/traits_positive.dm
Labels: Code

Shutters,Intercoms, ID tags
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Area fixes
  maps/torch/backup/torch5_deck1.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Map

Primer commit del port del UNO
  baystation12.dme
  code/modules/games/uno.dm
  icons/obj/uno.dmi
  maps/torch/torch3_deck3.dmm
Labels: Code, Icon, Map

Starting work on doors
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

surgery_tools.dm traduciendo
  code/game/objects/items/weapons/surgery_tools.dm
Labels: Code

Delete torch5_deck1.dmm
  maps/torch/backup/torch5_deck1.dmm
Labels: Map

Revert traducciones v2 - Cambios
  baystation12.dme
  code/controllers/configuration.dm
  code/datums/ai_law_sets.dm
  modular_mithra/code/modules/mithra/body_markings.dm
  modular_mithra/code/modules/mithra/traits_negative.dm
  modular_mithra/code/modules/mithra/traits_neutral.dm
  modular_mithra/code/modules/mithra/traits_positive.dm
Labels: Code

Minor Fixes
  maps/torch/torch5_deck1.dmm
Labels: Map

Actualiza unas cosas al ingles original
  modular_mithra/code/modules/mithra/body_markings.dm
Labels: Code

Burger
  maps/torch/torch5_deck1.dmm
Labels: Map

Veamos si esto es de tu talla
  code/datums/ai_law_sets.dm
  modular_mithra/code/modules/mithra/body_markings.dm
Labels: Code

Sizes
  code/modules/games/uno.dm
Labels: Code

Update .travis.yml
  .travis.yml
Labels: none

Working on Travis pipe warnings
  maps/torch/torch5_deck1.dmm
Labels: Map

And this
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Guns.dm original -TRAVIS PLEASE
  code/modules/codex/entries/guns.dm
Labels: Code

pepsi coke = same
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Map

69,70 press enter to merge
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Casi te tengo Travis!
  sound/music/main.ogg
Labels: Sound

Travis stuck
  maps/torch/torch_areas.dm
Labels: Map

Actually gives forensics EVA access
  maps/torch/job/security_jobs.dm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
