Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

fixes up fucky rawl stuff and mining stuff (#1459)
  code/modules/mining/machinery/mineral_processor.dm
  code/modules/mining/machinery/mineral_unloader.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/projectile/bullets.dm
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl.dmm
  maps/torch/items/explo_shotgun.dm
Labels: Code, Map

More fixes
  modular_boh/icon/obj/ammo.dmi
  modular_boh/icon/obj/guns/bohshot.dmi
  modular_boh/icon/obj/guns/skrell_shotgun.dmi
  modular_boh/icon/obj/plasmasans/obj_head_plasmasans.dmi
  modular_boh/icon/obj/plasmasans/obj_suit_plasmasans.dmi
  modular_boh/icon/obj/plasmasans/onmob_head_plasmasans.dmi
  modular_boh/icon/obj/plasmasans/onmob_suit_plasmasans.dmi
  modular_boh/icon/obj/plasmasans/phoron_tanks.dmi
  modular_boh/icon/obj/rig_modules.dmi
  modular_boh/icon/obj/skrell.dmi
  modular_boh/icon/obj/weapons/skrellshield.dmi
Labels: none

More fixes
  modular_boh/icon/mob/human_races/cyberlimbs/c-tech/c_beast.dmi
  modular_boh/icon/mob/human_races/cyberlimbs/cybersolutions/cybersolutions_alt1.dmi
  modular_boh/icon/mob/human_races/cyberlimbs/cybersolutions/cybersolutions_alt2.dmi
  modular_boh/icon/mob/human_races/cyberlimbs/cybersolutions/cybersolutions_alt3.dmi
  modular_boh/icon/mob/human_races/cyberlimbs/cybersolutions/cybersolutions_main.dmi
  modular_boh/icon/mob/items/lefthand.dmi
  modular_boh/icon/mob/items/lefthand_guns.dmi
  modular_boh/icon/mob/items/righthand.dmi
  modular_boh/icon/mob/items/righthand_guns.dmi
  modular_boh/icon/mob/species/plasmasans/body.dmi
  modular_boh/icon/mob/species/plasmasans/deformed_body.dmi
  modular_boh/icon/mob/species/plasmasans/husk.dmi
  modular_boh/icon/mob/species/plasmasans/preview.dmi
  modular_boh/icon/mob/species/skrell/onmob_back_rig_skrell.dmi
  modular_boh/icon/mob/species/skrell/onmob_chest_rig_skrell.dmi
  modular_boh/icon/mob/species/skrell/onmob_feet_rig_skrell.dmi
  modular_boh/icon/mob/species/skrell/onmob_hands_rig_skrell.dmi
  modular_boh/icon/mob/species/skrell/onmob_head_rig_skrell.dmi
  modular_boh/icon/mob/species/unathi/onmob_head_solgov_unathi.dmi
  modular_boh/icon/mob/species/unathi/onmob_suit_solgov_unathi.dmi
  modular_boh/icon/mob/species/unathi/onmob_under_solgov_unathi.dmi
  modular_boh/icon/mob/species/unathi/onmob_under_unathi.dmi
  modular_boh/icon/obj/obj_feet_skrell_rig.dmi
  modular_boh/icon/obj/obj_hands_skrell_rig.dmi
  modular_boh/icon/obj/obj_head_skrell_rig.dmi
  modular_boh/icon/obj/obj_skrell_accessories.dmi
  modular_boh/icon/obj/obj_suit_skrell_rig.dmi
Labels: none

Fixes MORE issues
  modular_boh/icon/mob/human_races/cyberlimbs/c-tech/c_beast.dmi
  modular_boh/icon/mob/human_races/cyberlimbs/cybersolutions/cybersolutions_alt1.dmi
  modular_boh/icon/mob/human_races/cyberlimbs/cybersolutions/cybersolutions_alt2.dmi
  modular_boh/icon/mob/human_races/cyberlimbs/cybersolutions/cybersolutions_alt3.dmi
  modular_boh/icon/mob/human_races/cyberlimbs/cybersolutions/cybersolutions_main.dmi
  modular_boh/icon/mob/items/lefthand.dmi
  modular_boh/icon/mob/items/lefthand_guns.dmi
  modular_boh/icon/mob/items/righthand.dmi
  modular_boh/icon/mob/items/righthand_guns.dmi
  modular_boh/icon/mob/species/plasmasans/body.dmi
  modular_boh/icon/mob/species/plasmasans/deformed_body.dmi
  modular_boh/icon/mob/species/plasmasans/husk.dmi
  modular_boh/icon/mob/species/plasmasans/preview.dmi
  modular_boh/icon/mob/species/skrell/onmob_back_rig_skrell.dmi
  modular_boh/icon/mob/species/skrell/onmob_chest_rig_skrell.dmi
  modular_boh/icon/mob/species/skrell/onmob_feet_rig_skrell.dmi
  modular_boh/icon/mob/species/skrell/onmob_hands_rig_skrell.dmi
  modular_boh/icon/mob/species/skrell/onmob_head_rig_skrell.dmi
  modular_boh/icon/mob/species/unathi/onmob_head_solgov_unathi.dmi
  modular_boh/icon/mob/species/unathi/onmob_suit_solgov_unathi.dmi
  modular_boh/icon/mob/species/unathi/onmob_under_solgov_unathi.dmi
  modular_boh/icon/mob/species/unathi/onmob_under_unathi.dmi
Labels: none

fixes monkey error
  maps/torch/items/clothing/solgov-under.dm
Labels: Map

more monkey fixes
  modular_boh/code/items/clothing/solgov-under.dm
Labels: none

Monkey Fixes 3.0
  modular_boh/code/items/clothing/solgov-under.dm
Labels: none

A bunch of changes to the map, that have been pushed back a little
  icons/obj/vox_medical.dmi
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship_jobs.dm
Labels: Icon, Map

removes putinelli
  maps/torch/torch_npcs.dm
Labels: Map

adds putinelli back
  maps/torch/torch_npcs.dm
  modular_boh/code/items/clothing/solgov-under.dm
Labels: Map

Final fix
  code/modules/overmap/ships/computers/target_control.dm
Labels: Code

Voxes can now be cloned
  code/modules/species/outsider/vox.dm
Labels: Code

aaaaaa
  code/game/jobs/access_datum.dm
  code/game/objects/items/devices/megaphone.dm
  code/modules/ascent/ascent_id.dm
  code/modules/ascent/ascent_rigs.dm
  code/modules/boh/ascent2/weapons.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/mob/language/alien/mantid.dm
  code/modules/projectiles/guns/energy/mantid.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_rig_modules.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/ascent.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/guns/particle_rifle.dmi
  icons/obj/rig_modules.dmi
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent_areas.dm
  maps/away/ascent/ascent_jobs.dm
  sound/magic/invoke_general.ogg
Labels: Code, Icon, Sound, Map

desc update
  code/modules/ascent/ascent_rigs.dm
Labels: Code

gun moment
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  sound/weapons/gunshot/pistol_mk59.ogg
  sound/weapons/gunshot/pistol_p20.ogg
Labels: Code, Sound

fix upstream merge
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_modules.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/rig_modules.dmi
Labels: Icon

removes pre-mapped access in favor of area-based
  maps/away/ascent/ascent-1.dmm
Labels: Map

rawl touchups while I can
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl_shuttles.dm
Labels: Map

Fixes final issue (I think)
  maps/torch/items/clothing/solgov-under.dm
Labels: Map

allows controller implants access to mantid weapons
  code/modules/projectiles/guns/energy/mantid.dm
Labels: Code

More fixes
  code/modules/overmap/ships/computers/target_control.dm
Labels: Code

Update mob_tests.dm
  code/unit_tests/mob_tests.dm
Labels: Code

Update skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

adds skrocking and khocking, reorganizes docking
  maps/away/ascent/ascent-2.dmm
  maps/away/ascent/ascent_shuttles.dm
  maps/away/rawl/rawl_shuttles.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
Labels: Map

cracks the case
  maps/torch/torch2_deck4.dmm
Labels: Map

Fixes skrell ship airleaks, diagonals missiles
  code/modules/overmap/projectiles/missiles/missile.dm
  icons/obj/bigmissile.dmi
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/torch/torch2_deck4.dmm
Labels: Code, Icon, Map

SMG Frangibles Buff | Other Stuff - - - Balance: TEMP
  code/modules/boh_misc/munitions.dm
Labels: Code

lighting missed whoops
  maps/away/voxship/voxship-1.dmm
Labels: Map

Makes F5 be asay
  interface/interface.dm
  interface/skin.dmf
Labels: none

Fixes silicon emotes, fixes holopad stale connection
  code/game/machinery/hologram.dm
  code/modules/mob/living/say.dm
Labels: Code

Ports gun attachments (#1250)
  baystation12.dme
  code/__defines/guns.dm
  code/_onclick/hud/action.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/attachments.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/guns/gun_attachments.dmi
  icons/obj/guns/holdout_pistol.dmi
  sound/items/attachment_add.ogg
  sound/items/attachment_remove.ogg
Labels: Code, Icon, Sound

New mech sprites
  code/modules/mechs/mech_icon.dm
  code/modules/mechs/premade/combat.dm
  icons/mecha/mech_parts.dmi
  icons/mecha/mech_parts_held.dmi
Labels: Code, Icon

Update vox.dm
  code/modules/species/outsider/vox.dm
Labels: Code

some offsite ruin about a fighter
  maps/random_ruins/exoplanet_ruins/fighter_exoplanet/fighter_exoplanet.dm
  maps/random_ruins/exoplanet_ruins/fighter_exoplanet/fighter_exoplanet.dmm
Labels: Map

Update voxslug.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: Code

Update voxslug.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: Code

Holopads have better examine() and are now constructable
  baystation12.dme
  code/game/machinery/_machines_base/machine_construction/floor.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/hologram.dm
  code/game/objects/items/weapons/circuitboards/machinery/holopad.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_furniture.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/machines/constructable_frame.dmi
  icons/obj/stock_parts.dmi
Labels: Code, Icon

Vox ship
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship_areas.dm
Labels: Map

Fucking PIPES
  maps/away/voxship/voxship-1.dmm
Labels: Map

Necessarry Change
  maps/torch/datums/uniforms_exp_fleet.dm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
