Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

burber
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Map

GAS can now be civvies
  maps/torch/job/torch_jobs.dm
Labels: Map

Forgot to push before I went on break
  maps/torch/torch5_deck1.dmm
Labels: Map

red alert
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

too hard
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

yeet
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

comma
  code/modules/projectiles/guns/energy/secure.dm
Labels: Code

final
  code/modules/projectiles/projectile/beams.dm
Labels: Code

aaa
  code/modules/projectiles/guns/energy/secure.dm
Labels: Code

actually maps the thing in
  maps/torch/torch5_deck1.dmm
Labels: Map

fucking comma
  maps/torch/torch5_deck1.dmm
Labels: Map

okey, a ver, no soy capaz de traducir engineering.dm, to much for me... no entender.
  code/datums/supplypacks/engineering.dm
Labels: Code

supply.dm traducdo... en lo que he podido haha
  code/datums/supplypacks/supply.dm
Labels: Code

cooltank o cooltan... haha oopsie doopsie
  code/datums/supplypacks/supply.dm
Labels: Code

galley.dm
  code/datums/supplypacks/galley.dm
Labels: Code

headset time
  maps/torch/items/encryption_keys.dm
  maps/torch/job/outfits/command_outfits.dm
Labels: Map

Perecibles...
  code/datums/supplypacks/galley.dm
Labels: Code

Hydroponic.dm traducido
  code/datums/supplypacks/hydroponics.dm
Labels: Code

livecargo.dm traducido WUJUH
  code/datums/supplypacks/livecargo.dm
Labels: Code

for my sanity
  code/game/antagonist/station/renegade.dm
Labels: Code

me he muerto, he visto los mensajes de daño cerebral y he pensado "hora de traducir."
  code/modules/organs/internal/brain.dm
Labels: Code

ccambio de brillo a chispa. wiuh
  code/modules/organs/internal/brain.dm
Labels: Code

DOS DM EN UN COMMIT HECK >YES<
  code/modules/organs/blood.dm
  code/modules/organs/internal/heart.dm
Labels: Code

muchos Dm's, como para decirlos... bueno... Internal.dm, eyes.dm, kidneys.dm, liver.dm, stomach.dm yy... voice.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/kidneys.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/stomach.dm
  code/modules/organs/internal/voice.dm
Labels: Code

Son las 5 AM, mañana me pongo a traducir algun dm de cirugia... uf
  code/modules/surgery/other.dm
Labels: Code

Removes 2 Infantry slots
  maps/torch/job/hestia_jobs.dm
  maps/torch/torch1_deck5.dmm
Labels: Map

Replaces Engi Storage shutters with door
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map

Clarifies a bit.
  modular_mithra/code/modules/mithra/traits_positive.dm
Labels: Code

Adresses a dumb lore concern in telepathy.
  modular_mithra/code/modules/mithra/traits_positive.dm
Labels: Code

initial
  code/modules/projectiles/projectile/beams.dm
  maps/torch/infantry/firearms.dm
  maps/torch/infantry/storage.dm
  maps/torch/items/clothing/solgov-armor.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/structures/closets.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
Labels: Code, Map

WHOOPS
  maps/torch/infantry/firearms.dm
Labels: Map

Map / Name corrections.
  maps/torch/infantry/storage.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Travis makes me want to commit neck rope.
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/renegade.dm
  code/game/antagonist/station/traitor.dm
Labels: Code

ok travis you win this time
  maps/torch/torch1_deck5.dmm
Labels: Map

Lawyer role, courtroom, lawyer office, bugfixes and code quality improvements.
  code/datums/outfits/jobs/civilian.dm
  code/game/antagonist/station/cult_god.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/traitor.dm
  code/game/jobs/access_datum.dm
  code/game/jobs/job/civilian.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/structures/closets/services.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_shuttles.dm
Labels: Code, Map

please work
  code/modules/clothing/spacesuits/void/misc.dm
  maps/torch/loadout/loadout_xeno.dm
Labels: Code, Map

fuck indents
  code/modules/clothing/spacesuits/void/misc.dm
Labels: Code

other.dm wuh
  code/modules/surgery/other.dm
Labels: Code

sE ME OLVIDO TRADUCIR ESTO
  code/modules/surgery/other.dm
Labels: Code

Changes the Deck Officer's superior to the CO, makes them, the PF and the SL a "head".
  code/game/jobs/job/civilian.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Code, Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
