Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

deleted the commented out blocks
  maps/torch/torch_ranks_boh.dm
Labels: Map

fixed the Psi advisor
  maps/torch/torch_ranks.dm
Labels: Map

gentle refinement
  code/modules/surgery/surgery.dm
Labels: Code

leaves low walls alone
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/girders.dm
  code/modules/surgery/generic.dm
Labels: Code

Cambios menores
  config/example/admin_ranks.txt
  config/example/admins.txt
  config/example/alienwhitelist.txt
  config/example/away_site_blacklist.txt
  config/example/config.txt
  config/example/custom_sprites.txt
  config/example/dbconfig.txt
  config/example/dbconfig_docker.txt
  config/example/exoplanet_ruin_blacklist.txt
  config/example/game_options.txt
  config/example/jobs.txt
  config/example/lore.html
  config/example/moderators.txt
  config/example/motd.txt
  config/example/rules.html
  config/example/space_ruin_blacklist.txt
  config/example/webhooks.json
  sound/misc/LOS-VIERNES-DE-LA-JUNGLA-SERÁN-A-TODO-OJETE.ogg
Labels: Sound, ‚ùåDO NOT MERGE

Add the shitcode
  code/game/objects/items/weapons/tools/weldingtool.dm
  sound/items/WelderActivate.ogg
  sound/items/WelderDeactivate.ogg
Labels: Code, Sound

Ascent RIG now fits defence lance.
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Quick ol' janky rules fix.
  code/modules/mob/mob.dm
  html/rules.html
  interface/interface.dm
Labels: Code

Added back in the Smybiote definitions
  baystation12.dme
Labels: none

Travis behave please
  maps/torch/torch.dm
Labels: Map

travis why
  maps/torch/torch.dm
Labels: Map

Defined tritonians in the dme
  baystation12.dme
Labels: none

Adds a simple medal vendor for all medals(including SCG Command exclusive) in the Captain's Cabin.
  icons/obj/vending.dmi
  maps/torch/items/rewards.dm
  maps/torch/torch.dm
  maps/torch/torch6_bridge.dmm
Labels: Icon, Map

ANTI-RUSSIAN PROPAGANDA
  code/game/objects/random/random.dm
  code/modules/overmap/exoplanets/planet_types/wartorn.dm
Labels: Code

whoops
  code/game/objects/random/random.dm
  maps/torch/job/hestia_jobs.dm
Labels: Code, Map

Maint value increased.
  code/game/objects/random/random.dm
  maps/torch/job/hestia_jobs.dm
Labels: Code, Map

Fix Sprite
  modular_mithra/code/modules/mithra/sprite_accessories_vr .dm
Labels: Code

Traducción codex de las armas
  code/modules/codex/entries/guns.dm
Labels: Code

Traducciones Keila
  modular_mithra/code/modules/mithra/01_ears.dm
  modular_mithra/code/modules/mithra/07_traits.dm
  modular_mithra/code/modules/mithra/traits.dm
  modular_mithra/code/modules/mithra/traits_negative.dm
Labels: Code

First commit (Supply lift edit)
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map

Unload Wartorn. Disables Infantry.
  baystation12.dme
  maps/torch/job/hestia_jobs.dm
Labels: Map

adjusttoxloss
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code

Update mob.dm
  code/modules/mob/mob.dm
Labels: Code

Fixes Travis Map Errors
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map

Fixes leaky pipe, removes flap
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
Labels: Map

Inf Skills Hotfix
  maps/torch/infantry/storage.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

Update storage.dm
  maps/torch/infantry/storage.dm
Labels: Map

hotfix 2 hotfixboogaloo
  maps/torch/job/hestia_jobs.dm
Labels: Map

Update hestia_jobs.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

Fixes "Aux Medical unused area", adds it in at the vacant infirm
  maps/torch/torch2_deck4.dmm
Labels: Map

Gets rid of scrubbers/vents in infirmary
  maps/torch/torch2_deck4.dmm
Labels: Map

Removed Scrubber
  maps/torch/torch2_deck4.dmm
Labels: Map

Adds APC
  maps/torch/torch2_deck4.dmm
Labels: Map

Update firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Map

Update firearms.dm
  maps/torch/infantry/firearms.dm
Labels: Map

Update solbanner.dm
  maps/torch/items/solbanner.dm
Labels: Map

gives mantids their crystal brothime
  code/modules/ascent/ascent_rigs.dm
Labels: Code

Changes supply vendor, re-adds lounge vendor
  maps/torch/torch2_deck4.dmm
Labels: Map

Changes falling AP
  movement.dm
Labels: none

initial merge
  baystation12.dme
  maps/torch/job/hestia_jobs.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch_areas.dm
Labels: Map
