Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

More TOC stuff
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Removes all foundation pistol spawns.
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/structures/closets/command.dm
Labels: Map

Fixes the AMR so it doesn't break your screen.
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: Code

Excessive Laser Carbine removal.
  maps/torch/structures/closets/misc.dm
  maps/torch/torch6_bridge.dmm
Labels: Map

Maps out all the infantry gun lockers.
  maps/torch/torch1_deck5.dmm
Labels: Map

Forgot to use mapmerge on these.
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

I forgot this commit.
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

Update torch5_deck1.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Two level difference instead of one. Expert can still break out a masters blue grab
  code/modules/mob/grab/grab_datum.dm
Labels: Code

No more +2 bonus ontop of the already +2 bonus (+4 if you are scoped)
  code/modules/mob/living/carbon/human/human.dm
Labels: Code

50% chance to unjam instead of 100%
  code/modules/projectiles/guns/projectile.dm
Labels: Code

BUGS BUGS BUGS AAAAAA THERES SPIDERS EVERYWHERE
  modular_mithra/code/modules/mithra/body_markings.dm
  modular_mithra/icons/mob/human_races/markings.dmi
  modular_mithra/icons/mob/human_races/species/vasilissan/body.dmi
  modular_mithra/icons/mob/human_races/species/vasilissan/preview.dmi
  modular_mithra/icons/mob/human_races/species/vasilissan/tail.dmi
  modular_mithra/icons/mob/wings.dmi
Labels: Code, Icon

Raises haywire to 3 TC, and Ion gun to 16.
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

up by 1
  code/modules/mob/living/carbon/human/human.dm
Labels: Code

unjam chances tweak
  code/modules/projectiles/guns/projectile.dm
Labels: Code

Unjam tweaks again
  code/modules/projectiles/guns/projectile.dm
Labels: Code

Deletes the beans.
  code/modules/research/designs/designs_rig_modules.dm
Labels: Code

Hornet Balance Pass and Name Change
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: Code

Adds Arm Guards to the Tan Tactical Gear crate.
  code/modules/clothing/suits/armor.dm
Labels: Code

Nanites yeeted from designs
  code/modules/research/designs/designs_mechfab.dm
Labels: Code

The lazier fix.
  code/game/machinery/suit_cycler_units.dm
Labels: Code

The laziest fix.
  code/game/machinery/suit_cycler_units.dm
Labels: Code

Update torch5_deck1.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

wiring efficiency
  maps/torch/torch5_deck1.dmm
Labels: Map

replaces armory lights with identical looking spotlights to remove the ugly darker spots
  maps/torch/torch5_deck1.dmm
Labels: Map

armory medical supplies retouched
  maps/torch/torch5_deck1.dmm
Labels: Map

Nerfs the E-Swords Damage a tiny bit.
  code/game/objects/items/weapons/melee/energy.dm
Labels: Code

Re-Sprite ERT Gear + New RIG Sound Effects
  code/modules/clothing/spacesuits/rig/rig.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/rig_modules.dmi
Labels: Code, Icon

more stuff
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  sound/machines/rigdown.ogg
  sound/machines/rigerror.ogg
  sound/machines/rigonline.ogg
  sound/machines/rigstarted.ogg
  sound/machines/rigstep.ogg
Labels: Code, Icon, Sound

Removes slips from soap and banana peels.
  code/game/objects/items/weapons/clown_items.dm
  code/game/objects/items/weapons/soap.dm
Labels: Code

Updates wallets.dm so it can hold ecig cartridges / Fixes issue #948
  code/game/objects/items/weapons/storage/wallets.dm
Labels: Code

Makes organ damage not heal passively, without enough nutrients, removes oxy_mult.
  code/game/objects/auras/regenerating_aura.dm
Labels: Code

Fixed issue #688
  code/modules/mob/living/carbon/human/examine.dm
Labels: Code

Regeneration and minor balance changes.
  code/game/objects/auras/regenerating_aura.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/species/species.dm
Labels: Code

Update misc.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
Labels: Code

I WISH TO DIE
  BoH-Bay-dev/code/modules/organs/internal/species/kidan.dm
  baystation12.dme
  code/__defines/mobs.dm
  code/modules/species/station/kidan.dm
Labels: Code

Adds a traitor only drug that completely regenerates organs at the cost of peri side effects and agonizing CBT
  code/datums/uplink/medical.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Code

Tiny flavour text change
  code/datums/uplink/medical.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code

Armor tweaks, RIP Shoes
  code/modules/clothing/clothing.dm
  code/modules/species/station/kidan.dm
Labels: Code

u w u
  code/__defines/languages.dm
  code/_helpers/text.dm
  code/modules/culture_descriptor/culture/cultures_kidan.dm
  code/modules/culture_descriptor/faction/factions_kidan.dm
  code/modules/mob/language/alien/kidan.dm
  code/modules/species/station/kidan.dm
Labels: Code
