Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

RCD fixes
  code/_onclick/adjacent.dm
  code/game/objects/items/weapons/RCD.dm
Labels: Code

Stasis Clamps fix
  code/game/machinery/atmoalter/clamp.dm
  code/modules/atmospherics/pipes.dm
Labels: Code

fixes windoors
  code/game/machinery/doors/windowdoor.dm
Labels: Code

No more high pressure depiping
  code/modules/atmospherics/pipes.dm
Labels: Code

Sprite updates
  icons/boh/mob/species/skrell/onmob_back_rig_skrell.dmi
  icons/boh/mob/species/skrell/onmob_chest_rig_skrell.dmi
  icons/boh/mob/species/skrell/onmob_feet_rig_skrell.dmi
  icons/boh/mob/species/skrell/onmob_hands_rig_skrell.dmi
  icons/boh/mob/species/skrell/onmob_head_rig_skrell.dmi
Labels: Icon

More tweaks
  code/game/machinery/portable_turret.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/special.dm
  icons/boh/mob/items/lefthand_guns.dmi
  icons/boh/mob/items/onmob_back.dmi
  icons/boh/mob/items/righthand_guns.dmi
  icons/boh/obj/guns/ion.dmi
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_overmap.dm
Labels: Code, Icon, Map

Update complexus_latency.dm
  code/modules/psionics/complexus/complexus_latency.dm
Labels: Code

sutures?!
  code/game/objects/items/weapons/surgery_tools.dm
  icons/obj/surgery.dmi
Labels: Code, Icon

bugfixes
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

Update automatic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

Update automatic.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Code

sound (matt credit) and i forgot how math works
  code/game/objects/items/weapons/surgery_tools.dm
  sound/weapons/suture.ogg
Labels: Code, Sound

this works
  code/game/objects/items/weapons/surgery_tools.dm
Labels: Code

Fixes some bugs with the SSV
  code/game/machinery/portable_turret.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Code, Map

Update corporate_jobs.dm
  maps/torch/job/corporate_jobs.dm
Labels: Map

Landable shuttles
  baystation12.dme
  code/controllers/subsystems/shuttle.dm
  code/game/gamemodes/godmode/form_items/starlight_mobs.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/mob/living/deity/deity.dm
  code/modules/mob/living/deity/deity_sources.dm
  code/modules/mob/living/deity/phenomena/starlight.dm
  code/modules/mob/living/life.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/observer/eye/eye.dm
  code/modules/mob/observer/eye/freelook/ai/cameranet.dm
  code/modules/mob/observer/eye/freelook/ai/chunk.dm
  code/modules/mob/observer/eye/freelook/ai/eye.dm
  code/modules/mob/observer/eye/freelook/ai/update_triggers.dm
  code/modules/mob/observer/eye/freelook/chunk.dm
  code/modules/mob/observer/eye/freelook/cult/cultnet.dm
  code/modules/mob/observer/eye/freelook/cult/mask.dm
  code/modules/mob/observer/eye/freelook/freelook.dm
  code/modules/mob/observer/eye/freelook/life.dm
  code/modules/mob/observer/eye/freelook/logging.dm
  code/modules/mob/observer/eye/freelook/read_me.dm
  code/modules/mob/observer/eye/freelook/update_triggers.dm
  code/modules/mob/observer/eye/freelook/visualnet.dm
  code/modules/mob/observer/eye/landing_eye/landing_eye.dm
  code/modules/mob/observer/virtual/helpers.dm
  code/modules/mob/skills/skill.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/overmap_shuttle.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/shuttle.dm
  code/modules/shuttles/landmarks.dm
  code/modules/shuttles/shuttle.dm
  code/modules/spells/general/god_vision.dm
  code/modules/spells/racial_wizard.dm
  icons/obj/action_buttons/actions.dmi
  nano/templates/shuttle_control_console_exploration.tmpl
Labels: Code, Icon

Update pistol.dm
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: Code

Lets you pull engi face-masks down
  code/modules/clothing/masks/gasmask.dm
  icons/obj/clothing/obj_mask.dmi
Labels: Code, Icon

RUST injector fix
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
Labels: Code

The strands sit upon the imperfect flesh, to give it new life once more.
  code/modules/sprite_accessories/_accessory_hair.dm
  icons/mob/human_races/species/human/hair.dmi
Labels: Code, Icon

No.
  modular_mithra/code/modules/mithra/traits_positive.dm
Labels: Code

organ sprites and hud implants
  code/modules/augment/active/hudimplants.dm
  code/modules/augment/active/tool/surgical.dm
  icons/mob/human_races/species/ascent/organs.dmi
  icons/mob/human_races/species/skrell/organs.dmi
  icons/mob/human_races/species/unathi/organs.dmi
  icons/obj/augment.dmi
  icons/obj/surgery.dmi
  icons/obj/tank.dmi
Labels: Code, Icon

No.
  modular_mithra/code/modules/mithra/spawncheck.dm
Labels: Code

This was horrid
  icons/mob/bot/farmbot.dmi
  icons/mob/bot/floorbot.dmi
  icons/mob/bot/medibot.dmi
  icons/mob/bot/medibot_skins.dmi
  icons/obj/crafting_icons.dmi
  icons/obj/device.dmi
  icons/obj/robot_component.dmi
Labels: Icon

Inflatable Module to Security Borg
  code/modules/mob/living/silicon/robot/modules/module_security.dm
Labels: Code

Sake Fix
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
Labels: Code

bearcatfix
  maps/away/bearcat/bearcat-2.dmm
Labels: Map

Update torch1_deck5.dmm
  maps/torch/torch1_deck5.dmm
Labels: Map

Update mob_defines.dm
  code/modules/mob/mob_defines.dm
Labels: Code

schizo
  code/modules/mob/mob.dm
Labels: Code

Update living.dm
  code/modules/mob/living/living.dm
Labels: Code

Update skin.dmf
  interface/skin.dmf
Labels: none

areas
  icons/boh/area.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_areas.dm
Labels: Icon, Map

Update eye.dm
  code/modules/mob/observer/eye/freelook/ai/eye.dm
Labels: Code

observation deck
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
Labels: Map

door names
  maps/torch/torch1_deck5.dmm
Labels: Map

Update gun.dm
  code/modules/projectiles/gun.dm
Labels: Code

operating room removal
  maps/torch/torch1_deck5.dmm
Labels: Map

more
  maps/torch/torch1_deck5.dmm
Labels: Map

Update eye.dm
  code/modules/mob/observer/eye/eye.dm
Labels: Code
