Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

test
  maps/torch/torch3_deck3.dmm
Labels: Map

Uniship suits
  maps/away/unishi/unishi-1.dmm
Labels: Map

Garuda QoL
  maps/torch/torch1_deck5.dmm
Labels: Map

another test of travis' hate
  maps/torch/torch3_deck3.dmm
Labels: Map

Update maps/torch/items/cards_ids.dm
  maps/torch/items/cards_ids.dm
Labels: Map

Update maps/torch/job/hestia_jobs.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

Update maps/torch/job/hestia_jobs.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

Update maps/torch/job/hestia_jobs.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

Update maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/outfits/boh_outfits.dm
Labels: Map

Update maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs.dm
Labels: Map

Update maps/torch/loadout/_defines.dm
  maps/torch/loadout/_defines.dm
Labels: Map

Update maps/torch/loadout/_defines.dm
  maps/torch/loadout/_defines.dm
Labels: Map

Update maps/torch/loadout/_defines.dm
  maps/torch/loadout/_defines.dm
Labels: Map

Update maps/torch/loadout/_defines.dm
  maps/torch/loadout/_defines.dm
Labels: Map

Update maps/torch/torch_areas.dm
  maps/torch/torch_areas.dm
Labels: Map

updated areas
  maps/torch/torch3_deck3.dmm
Labels: Map

Removes death alarms from Dagon.
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map

Removes death alarm from research.
  code/modules/research/designs/designs_implant.dm
Labels: Code

Revert "Removes death alarm from research."
  code/modules/research/designs/designs_implant.dm
Labels: Code

MK4: or "You aren't standard issue!"
  code/modules/research/designs/designs_weapon.dm
Labels: Code

Adds the military pistol the the weapons printer.
  code/modules/research/designs/designs_weapon.dm
Labels: Code

testing
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

actually allow authorisation
  code/modules/projectiles/guns/energy/secure.dm
Labels: Code

bye bye
  maps/torch/job/command_jobs.dm
Labels: Map

doLOR
  code/modules/emotes/definitions/visible.dm
Labels: Code

Akula stuff
  maps/torch/torch_ranks_boh.dm
Labels: Map

Update torch_ranks_boh.dm
  maps/torch/torch_ranks_boh.dm
Labels: Map

Update torch_ranks_boh.dm
  maps/torch/torch_ranks_boh.dm
Labels: Map

Update torch_ranks.dm
  maps/torch/torch_ranks.dm
Labels: Map

oops
  code/_global_vars/lists/flavor.dm
  code/datums/music_tracks/manaos_music_tracks.dm
  code/game/movietitles.dm
  maps/torch/torch_holodecks.dm
  sound/music/Torch.ogg
  sound/music/lasers_rip_apart_the_bulkhead.ogg
  sound/music/lasers_rip_apart_the_bulkhead_looped.ogg
  sound/music/manaos/seeingyourname.ogg
  sound/music/treacherous_voyage.ogg
  sound/music/wake.ogg
Labels: Code, Sound, Map

Start
  code/game/turfs/flooring/flooring_decals.dm
  icons/turf/flooring/decals.dmi
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Code, Icon, Map

Fixes merge conflict for real, thanks Jade!
  maps/torch/torch3_deck3.dmm
Labels: Map

Force ERT Spawn
  maps/antag_spawn/ert/ert.dm
Labels: Map

Why yes, I am a professional retard, how could you tell?
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/devices/uplink_random_lists.dm
Labels: Code

hat fix
  maps/torch/datums/uniforms_marine-corps.dm
Labels: Map

Tweaks Bay/lounge layout (adds wall), atmos blast doors,
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map

Lights+Cams+Alarms
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Esto debería reparar todo
  baystation12.dme
Labels: none

Camera names
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

Fire alarms
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*
