Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Forgot the access the robots needed for the doors
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

makes the rawl DOCK GOOD also miner thing
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl.dmm
  maps/away/rawl/rawl_areas.dm
  maps/away/rawl/rawl_shuttles.dm
  maps/away/rawl/rawl_sprites.dmi
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
Labels: Map

exempts from test the thing that isn't supposedto have a scrubber
  maps/away/rawl/rawl.dm
Labels: Map

Gives SL Bridge access
  maps/torch/job/hestia_jobs.dm
Labels: Map

hopefully fixes vent errors for real
  maps/away/rawl/rawl.dm
Labels: Map

Update supply_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Map

Update torch_jobs_boh.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Exploration rank change
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

SGR Guard clothing update.
  maps/torch/loadout/_defines.dm
Labels: Map

Update hestia_jobs.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

Update hestia_jobs.dm
  maps/torch/job/hestia_jobs.dm
Labels: Map

AHHH WHAT HAVE I DONE OH GOD
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Map

ABORT ABORT
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Map

fixes infantry suits not being equippable by hestia species
  modular_mithra/code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code

ABORT ABORT (#1449)
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Map

Deck Officer alt title + Fleet Prospector (#1438)
  maps/torch/job/supply_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

Fixes Uniform Shit
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/obj/obj_accessories_solgov.dmi
  maps/torch/icons/obj/obj_hands_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
  maps/torch/items/clothing/solgov-hands.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: Map

Fixes More Uniform Shit
  maps/torch/icons/mob/onmob_accessories_solgov.dmi
  maps/torch/icons/mob/onmob_hands_solgov.dmi
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
Labels: Map

fixes previous mistakes
  maps/torch/torch_defense_state.dm
  modular_boh/code/items/cards_ids.dm
  modular_boh/code/items/documents.dm
  modular_boh/code/items/items.dm
  modular_boh/code/items/medical.dm
  modular_boh/code/items/psyker/agent_items.dm
  modular_boh/code/items/storage.dm
  modular_boh/code/items/weapons/melee/energy.dm
  modular_boh/code/items/weapons/shields.dm
  modular_boh/icon/boh/ammo.dmi
  modular_boh/icon/boh/area.dmi
  modular_boh/icon/boh/items/firing_pin.dmi
  modular_boh/icon/boh/items/guns.dmi
  modular_boh/icon/boh/items/hornet.dmi
  modular_boh/icon/boh/items/launchers.dmi
  modular_boh/icon/boh/items/sd_keys.dmi
  modular_boh/icon/boh/items/shotguns.dmi
  modular_boh/icon/boh/items/z6.dmi
  modular_boh/icon/boh/items/z8.dmi
  modular_boh/icon/boh/items/z9.dmi
  modular_boh/icon/boh/items/z9b.dmi
  modular_boh/icon/boh/misc/MeleeWeapons_1.dmi
  modular_boh/icon/boh/misc/PMC.dmi
  modular_boh/icon/boh/misc/juggernaut_1.dmi
  modular_boh/icon/boh/mob/onmob/onmob_head.dmi
  modular_boh/icon/boh/mob/onmob/onmob_mask.dmi
  modular_boh/icon/boh/mob/onmob/onmob_modular_armor.dmi
  modular_boh/icon/boh/mob/onmob/onmob_suit.dmi
  modular_boh/icon/boh/newshields_64x32.dmi
  modular_boh/icon/boh/obj/clothing/longlabcoats.dmi
  modular_boh/icon/boh/obj/clothing/obj_head.dmi
  modular_boh/icon/boh/obj/clothing/obj_mask.dmi
  modular_boh/icon/boh/obj/clothing/obj_modular_armor.dmi
  modular_boh/icon/boh/obj/key_terminal.dmi
  modular_boh/icon/boh/structures/64x64machinery.dmi
  modular_boh/icon/boh/structures/coffee.dmi
  modular_boh/icon/boh/structures/large_hardpoints.dmi
  modular_boh/icon/boh/structures/pointdefensemainframe.dmi
  modular_boh/icon/boh/structures/railgun.dmi
Labels: Map

attachies
  code/modules/projectiles/guns/attachments.dm
  icons/obj/guns/gun_attachments.dmi
Labels: Code, Icon

Re-adds robolimbs mistakenely removed.
  code/modules/organs/robolimbs.dm
Labels: Code

More fixes
  code/modules/overmap/projectiles/missiles/equipment/payload/diffuser.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/emp.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/explosive.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/thruster.dm
  code/modules/overmap/projectiles/missiles/missile.dm
  code/modules/overmap/projectiles/projectile.dm
  code/modules/overmap/ships/computers/target_control.dm
  code/modules/overmap/ships/ship.dm
  icons/obj/bigmissile.dmi
  nano/templates/target.tmpl
Labels: Code, Icon

makes the rawl dock properly, other minor changes to it (#1442)
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl.dmm
  maps/away/rawl/rawl_areas.dm
  maps/away/rawl/rawl_shuttles.dm
  maps/away/rawl/rawl_sprites.dmi
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
Labels: Map

Makes xenos unable to grenade stuff
  code/__defines/mobs.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/species/xenomorphs/alien_species.dm
Labels: Code

Exoplanet Drop
  maps/torch/torch_define.dm
Labels: Map

Adds proper auxtools debug support, updates license
  .gitignore
  LICENSE-AUXTOOLS
  LICENSE-TGS
  README.md
  code/game/world.dm
Labels: Code

new breacher suit sprites
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
Labels: Icon

Adds the IUV Diplomat, a new vox away site, and other changes
  code/modules/materials/definitions/materials_metal.dm
  maps/away/vox/_vox.dm
  maps/away/vox/vox-1.dmm
  maps/away/vox/vox_areas.dm
  maps/away/vox/vox_areas.dmi
  maps/away/vox/vox_overmap.dm
  maps/torch/torch.dm
Labels: Code, Map

Adds proper auxtools debug support, updates license (#1456)
  .gitignore
  LICENSE-AUXTOOLS
  LICENSE-TGS
  README.md
  code/game/world.dm
Labels: Code

fixes up fucky rawl stuff and mining stuff
  code/modules/mining/machinery/mineral_processor.dm
  code/modules/mining/machinery/mineral_unloader.dm
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl.dmm
Labels: Code, Map

fixes casings fucky wucky
  maps/away/rawl/rawl.dm
Labels: Map

Final round of fixes. Better target indication.
  code/game/objects/structures/crates_lockers/munitions_crate.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/thruster.dm
  code/modules/overmap/projectiles/missiles/missile.dm
  code/modules/overmap/projectiles/projectile.dm
  code/modules/overmap/ships/computers/target_control.dm
  code/modules/overmap/ships/ship.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch6_bridge.dmm
  nano/templates/target.tmpl
Labels: Code, Map

moves net shells somewhere else
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/projectile/bullets.dm
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl.dmm
  maps/torch/items/explo_shotgun.dm
Labels: Code, Map

Vox sleeper and chem fix for the ascent sleeper
  baystation12.dme
  code/modules/Vox2/vox_machines.dm
  code/modules/ascent/ascent_machines.dm
  icons/obj/vox_medical.dmi
Labels: Code, Icon

Update vox_medical.dmi
  icons/obj/vox_medical.dmi
Labels: Icon

yup
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Code

reconsidered
  code/modules/projectiles/projectile/beams.dm
Labels: Code

11->10
  code/modules/projectiles/guns/energy/stun.dm
Labels: Code

new breacher sprites
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
Labels: Icon

new breacher sprites (#1462)
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
Labels: Icon
