Repository BoHBranch/BoH-Bay, changes with the labels that .github/labeler.yml gives for each.
All labels: Code, Icon, Sound, Map, ‚ùåDO NOT MERGE, Github

.github/labeler.yml:

Code: 
  - code/**/*
  - ~code/**/*
  - modular_mithra/code/**/*
  
Icon:
  - icons/**/*
  - modular_mithra/icons/**/*
  
Sound:
  - sound/**/*
  
Map:
  - maps/**/*
  
Interface:
  - html/**/!(*.yml)
  - interface/**/*
  - news_articles/**/*
  - scripts/**/*
  - fonts/**/
  - nano/**/
  - vueui/**/*

‚ùåDO NOT MERGE:
  - data/**/*
  - settings/**/*
  - config/**/*
  - cfg/**/*
  - doc/**/*
  - scripts/**/
  - sql/**/*
  - test/**/*
  - tools/**/*
  
Github:
  - .git/**/*
  - .github/**/*

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Add files via upload
  code/game/machinery/turret_control.dm
Labels: Code

Add files via upload
  code/game/machinery/portturret_boh.dm
Labels: Code

Add files via upload
  code/game/machinery/turret_control.dm
Labels: Code

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Add files via upload
  code/game/machinery/turret_control.dm
Labels: Code

SSV Runtimes
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-2.dmm
Labels: Map

Update skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Add files via upload
  code/game/machinery/portturret_boh.dm
Labels: Code

Checked a few numbers
  code/modules/projectiles/guns/energy/vox.dm
Labels: Code

what
  code/modules/organs/internal/species/fbp.dm
Labels: Code

Update fbp.dm
  code/modules/organs/internal/species/fbp.dm
Labels: Code

Removes some runtimes from away sites testings (#1387)
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: Map

Update fbp.dm
  code/modules/organs/internal/species/fbp.dm
Labels: Code

a
  code/modules/organs/internal/species/fbp.dm
Labels: Code

Makes them scale
  code/modules/organs/internal/species/fbp.dm
Labels: Code

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

Removes Corp-Sec
  html/changelogs/N8Toe-CorpSecRemoval.yml
  maps/torch/job/security_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Map

fixed hud
  maps/torch/icons/assignment_hud_boh.dmi
Labels: Map

Change to 2
  code/modules/projectiles/projectile/beams.dm
Labels: Code

Medkits Sprites
  code/game/objects/items/weapons/storage/firstaid.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: Code, Icon

Last SOME Vox ship up doots. (#1368)
  code/game/machinery/turret_control.dm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Code, Map

Removes NVGs from offships (#1386)
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  code/modules/skrell/skrell_rigs.dm
Labels: Code

Adds 1 skrell themed song
  code/_global_vars/lists/flavor.dm
  code/datums/music_tracks/boh_music_tracks.dm
  sound/music/boh/skrell_choir.ogg
Labels: Code, Sound

adds name stuff to unathi thing
  code/modules/species/station/lizard.dm
  code/modules/species/station/lizard_subspecies.dm
Labels: Code

Initial Icons
  modular_mithra/icons/mob/human_races/markings.dmi
Labels: Icon

Makes FBP Charge relevant (#1388)
  code/modules/organs/internal/species/fbp.dm
Labels: Code

adds name stuff to unathi thing (#1393)
  code/modules/species/station/lizard.dm
  code/modules/species/station/lizard_subspecies.dm
Labels: Code

holy shit please work
  code/game/objects/items/weapons/melee/energy.dm
  icons/obj/weapons.dmi
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl.dmm
  maps/away/rawl/rawl_jobs.dm
  maps/away_sites_testing/away_sites_testing.dm
Labels: Code, Icon, Map

Rawl fixes (#1389)
  code/game/objects/items/weapons/melee/energy.dm
  icons/obj/weapons.dmi
  maps/away/rawl/rawl.dm
  maps/away/rawl/rawl.dmm
  maps/away/rawl/rawl_jobs.dm
  maps/away_sites_testing/away_sites_testing.dm
Labels: Code, Icon, Map

unathi inhand sprite adds
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: Icon

Add files via upload
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
Labels: Map

Add files via upload
  maps/away/voxship/voxship.dm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map

Add files via upload
  maps/away/voxship/voxship-1.dmm
Labels: Map
