Repository BoHBranch/BoH-Bay, pull requests merged in 2019-12, with the labels that each got.

#35 Fixs
  code/modules/culture_descriptor/faction/factions_sergal.dm
  maps/torch/torch_ranks.dm
Labels: Bugfix

#16 Changes to contributing guidlines.
  README.md
Labels: DO NOT MERGE

#36 Fixs not all for me this time
  code/modules/species/outsider/vox.dm
  maps/torch/torch_ranks.dm
Labels: Bugfix

#40 Vox ship additions, crashed pod minor tweaks.
  maps/away/voxship/voxship-1.dmm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
Labels: Feedback required, enhancement

#39 Removes ExoFabs access restictions
  code/game/machinery/robotics_fabricator.dm
Labels: Feedback required, Ignore Travis CI, Salt PR

#41 Removal of Poly/Cryo from Mithra
  baystation12.dme
  modular_mithra/icons/obj/Cryogenic2_1.dmi
Labels: Bugfix

#48 Species and Access Tweaks(Read description)
  maps/torch/job/command_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/torch_jobs.dm
Labels: Feedback required, Ignore Travis CI, enhancement

#46 OTHER_CULTURE (aka non-human) for custom species
  modular_mithra/code/modules/species/station/custom.dm
Labels: Ignore Travis CI, enhancement

#37 Oorah!
  baystation12.dme
  code/__defines/culture.dm
  code/modules/culture_descriptor/faction/factions_human_boh.dm
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/audible.dm
  maps/torch/items/clothing/boh_accessory.dm
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/security_jobs_boh.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_accessories_boh.dm
  maps/torch/loadout/loadout_head.dm
  maps/torch/loadout/loadout_shoes.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/torch.dm
  maps/torch/torch_ranks_boh.dm
  maps/~mapsystem/maps.dm
Labels: Feedback required, Ignore Travis CI, enhancement

#60 Cloner biomass fix
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
Labels: Bugfix

#38 Rigsuit/Voidsuit fix for Sergal Species
  code/modules/species/outsider/vox.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks.dm
  modular_mithra/code/modules/clothing/spacesuits/rig/suits/station.dm
  modular_mithra/code/modules/clothing/spacesuits/void/void.dm
Labels: Feedback required, Merge conflict

#86 alters security skills default max level and increases cost
  code/modules/mob/skills/skill.dm
Labels: Ignore Travis CI, enhancement

#89 ports polaris/tg blob2 system
  baystation12.dme
  code/__defines/flags.dm
  code/_helpers/lists.dm
  code/_helpers/unsorted.dm
  code/_onclick/item_attack.dm
  code/datums/wires/apc.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/effects/chem/water.dm
  code/game/objects/effects/explosion_particles.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/turf.dm
  code/modules/blob/blob.dm
  code/modules/blob2/_defines.dm
  code/modules/blob2/announcement.dm
  code/modules/blob2/base_blob.dm
  code/modules/blob2/blob_mobs/blob_mob.dm
  code/modules/blob2/blob_mobs/spore.dm
  code/modules/blob2/core.dm
  code/modules/blob2/factory.dm
  code/modules/blob2/ghost_trap.dm
  code/modules/blob2/node.dm
  code/modules/blob2/normal.dm
  code/modules/blob2/overmind/blob_overmind_types.dm
  code/modules/blob2/overmind/blob_powers.dm
  code/modules/blob2/overmind/overmind.dm
  code/modules/blob2/resource.dm
  code/modules/blob2/shield.dm
  code/modules/events/blob.dm
  code/modules/mob/living/living_defense.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/power/singularity/emitter.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/tables/tables.dm
  icons/mob/blob.dmi
Labels: enhancement

#96 Senior Engineer Access Update
  maps/torch/job/engineering_jobs.dm
Labels: Ignore Travis CI, enhancement

#167 Certain. CERTAIN somebody complained they cant be SEA just because they are not Human. What the fuck is happening with this life?
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Feedback required
