Repository BoHBranch/BoH-Bay, pull requests merged in 2020-03, with the labels that each got.

#421 Resprites Vents and Scrubbers
  icons/atmos/vent_pump.dmi
  icons/atmos/vent_scrubber.dmi
Labels: Feedback required, Test Merge Candidate, enhancement

#378 Genemodder background truly customizeable, tested locally, works
  modular_mithra/code/modules/species/station/custom.dm
Labels: DO NOT MERGE, enhancement

#461 Ascent Fixes! Now you can take hostages safely!
  baystation12.dme
  code/modules/ascent/ascent_outfit.dm
  code/modules/ascent/ascent_rigs.dm
  code/modules/boh/ascent2/weapons.dm
  code/modules/projectiles/guns/energy/mantid.dm
  maps/away/ascent/ascent_jobs.dm
Labels: enhancement

#487 LPA tweaks.
  code/modules/boh_misc/boxes.dm
  maps/torch/structures/closets/misc.dm
Labels: enhancement

#485 Combat Calamity
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/grab/normal/norm_aggressive.dm
  code/modules/mob/grab/normal/norm_kill.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob_helpers.dm
  code/modules/species/species.dm
Labels: Pending Merge, enhancement

#483 New Shield Sprite + Multitile machinery backend
  code/_helpers/game.dm
  code/_onclick/adjacent.dm
  code/modules/nano/interaction/default.dm
  code/modules/shield_generators/shield_generator.dm
  html/changelogs/andromedak22-shieldtweaks.yml
  icons/boh/newshields_64x32.dmi
  maps/torch/torch4_deck2.dmm
Labels: Pending Merge, enhancement

#478 Merchant Station Changes
  maps/torch/z1_admin.dmm
Labels: Pending Merge, enhancement

#492 critical adjacency fixes
  code/_onclick/adjacent.dm
  code/modules/nano/interaction/default.dm
Labels: Bugfix

#497 BO Science Skill
  code/modules/mob/skills/skill.dm
  maps/torch/job/command_jobs.dm
Labels: Pending Merge, enhancement

#490 Xeno Rank Overhaul and Other Rank Things
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/torch_ranks_boh.dm
Labels: Bugfix, Pending Merge, enhancement

#470 Properly incorporates Fleet E1s into all roles.
  maps/torch/job/torch_jobs_boh.dm
Labels: Test Merge Candidate, enhancement

#489 Phases out lentext.
  code/_helpers/text.dm
  code/controllers/subsystems/garbage.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/supply_display.dm
  code/game/objects/items/weapons/paint.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/emotes/emote_mob.dm
  code/modules/flufftext/TextFilters.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/pai/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/modular_computers/file_system/programs/security/digitalwarrant.dm
  code/modules/organs/blood.dm
  code/modules/xenoarcheaology/artifacts/replicator.dm
  code/modules/xenoarcheaology/finds/talking.dm
Labels: Pending Review, documentation

#505 EMERGENCY FIXES FOR EXPLOIT
  baystation12.dme
  code/controllers/configuration.dm
  code/controllers/subsystems/fail2topic.dm
  code/game/world.dm
  code/modules/admin/IsBanned.dm
  config/example/config.txt
Labels: FUCK FUCK FUCK FUCK FUCK, Salt PR

#504 NSFW/OOC Desc. Protection
  code/modules/client/preference_setup/general/04_flavor.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: enhancement

#484 Security remap, cleans up CL.
  html/changelogs/MDP-secgetout.yml
  html/changelogs/burgerbb-fuckthischangelogsystem.yml
  html/changelogs/burgerbb-humanathi.yml
  html/changelogs/burgerbb-improvedfirelocks.yml
  html/changelogs/burgerbb-ipcnerf.yml
  html/changelogs/burgerbb-maint_memes.yml
  html/changelogs/burgerbb-slurrrrrrrr.yml
  html/changelogs/burgerbb-species_restriction.yml
  html/changelogs/burgerbb-stopsounds.yml
  html/changelogs/burgerbb-unisex.yml
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: Pending Merge, enhancement

#479 Makes Travis Stop Failing PRs
  code/game/objects/random/random.dm
  code/unit_tests/map_tests.dm
  icons/obj/ascent_doodads.dmi
  icons/obj/ascent_freezer.dmi
  maps/torch/torch_unit_testing.dm
  modular_mithra/icons/mob/human_races/species/humanathi/hair.dmi
  test/check-paths.sh
  test/run-test.sh
Labels: Bugfix, documentation

#516 new hairstyles
  code/modules/sprite_accessories/_accessory_hair.dm
  html/changelogs/chaoko99-hair6.yml
  icons/mob/human_races/species/human/hair.dmi
Labels: enhancement

#507 Deletes Sergal.
  code/modules/species/station/Sergal_subspecies.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks.dm
  maps/torch/torch_ranks_boh.dm
Labels: Pending Merge

#514 Fixes Wheelchairs and other vehicles transcending space and time.
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/vehicles/bike.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/train.dm
Labels: Pending Merge

#513 turns the panic bunker off
  code/controllers/configuration.dm
Labels: Pending Merge

#518 Ports Burgerstation Time Formatting
  code/_helpers/time.dm
  code/game/world.dm
Labels: enhancement

#460 adds job whitelist
  baystation12.dme
  code/controllers/configuration.dm
  code/game/jobs/job/job.dm
  code/modules/boh/job_whitelist/jobwl.dm
  code/modules/client/preference_setup/occupation/occupation.dm
Labels: Pending Merge, enhancement

#515 Removes E1s, trainees are now E2s/E3s.
  code/modules/boh/security2/jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/torch_ranks_boh.dm
Labels: enhancement

#538 Fixes almost everything wrong with the Job Whitelist PR aka The PR that almost made me resign as dev
  baystation12.dme
  code/controllers/configuration.dm
  code/controllers/subsystems/jobs.dm
  code/game/jobs/job/job.dm
  code/modules/boh/job_whitelist/jobwl.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/submaps/submap_job.dm
  code/modules/submaps/submap_join.dm
  modular_mithra/code/modules/mithra/spawncheck.dm
Labels: Bugfix

#486 Unblacklists head roles from antagonism.
  maps/torch/torch_antagonism.dm
Labels: Feedback required, Pending Review

#527 Combat Calamity 2: The Brainmed Blowup
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/lungs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: enhancement

#526 adds new lobby screen
  maps/torch/lobby/lobby_screen_test2.gif
  maps/torch/torch_lobby.dm
Labels: Awaiting Merge, Feature

#491 Language changes part 2: super duper talking time
  baystation12.dme
  code/__defines/languages.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/mob/language/alien/sergal.dm
  code/modules/mob/language/alien/skrell.dm
  code/modules/mob/language/alien/unathi.dm
  code/modules/mob/language/human/arabic.dm
  code/modules/mob/language/human/chinese.dm
  code/modules/mob/language/human/euro.dm
  code/modules/mob/language/human/gaian.dm
  code/modules/mob/language/human/indian.dm
  code/modules/mob/language/human/misc/gutter.dm
  code/modules/mob/language/human/misc/legalese.dm
  code/modules/mob/language/human/misc/spacer.dm
  code/modules/mob/language/human/russian.dm
  code/modules/mob/language/human/selenian.dm
  code/modules/mob/language/human/spanish.dm
  code/modules/mob/language/language.dm
  code/modules/mob/skills/skill.dm
  code/stylesheet.dm
Labels: Awaiting Merge, Feature

#543 Switches failed GC to to_world_log() instead of crash_at().
  code/controllers/subsystems/garbage.dm
Labels: Awaiting Merge, Bugfix, Code Improvement

#533 Adds instruments to the loadout.
  code/modules/client/preference_setup/loadout/lists/utility.dm
Labels: Awaiting Merge, Concept Feedback Required, Feature

#545 Neural lace fix
  code/modules/surgery/organs_internal.dm
Labels: Awaiting Merge, Bugfix

#541 Gave water breathing to Tritonians and Akula
  code/modules/species/station/human_subspecies.dm
  html/changelogs/N8gills.yml
  modular_mithra/code/modules/species/station/akula.dm
Labels: Awaiting Merge, Feature

#548 Space man bad
  code/modules/surgery/organs_internal.dm
Labels: Awaiting Merge, Bugfix, FUCK FUCK FUCK FUCK FUCK, High Priority, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#552 makes the paintgun actually work right
  code/game/objects/items/devices/paint_gun.dm
Labels: Awaiting Merge, Bugfix

#508 Local Sounds
  code/__defines/misc.dm
  code/game/area/areas.dm
  code/game/objects/explosion.dm
  code/game/objects/items/devices/hacktool.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/sound.dm
  code/modules/detectivework/forensics.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/hallucinations.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/power/singularity/emitter.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/launcher.dm
  html/changelogs/MDP-localsounds.yml
Labels: Bugfix, Feature, High Risk, Test Merge Candidate

#553 Reverts unblacklisting head roles.
  maps/torch/torch_antagonism.dm
Labels: Awaiting Merge, Balance Change, Feature, Revert

#547 Makes Skipjack Thrusters visible again
  maps/antag_spawn/heist/heist_base.dmm
Labels: Bugfix, Map Change

#568 Fixes pinpointer sound runtimes
  code/game/sound.dm
Labels: Bugfix, Needs Code Review, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#559 Lets you tint IPC hair
  code/modules/species/station/machine.dm
Labels: Awaiting Merge, Feature, Visual Change

#561 Broke a very poorly named var up into two vars in guncode.
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/magnetic.dm
Labels: Awaiting Merge, Code Improvement

#560 Traitor item rebalance + Small additions.
  code/datums/uplink/ammunition.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/implants.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
Labels: Awaiting Merge, Balance Change, Feature

#463 EMERGENCY RUNTIME FIX
  code/__defines/rust_g.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/client/asset_cache.dm
  code/modules/client/preference_setup/global/05_settings.dm
  code/modules/mechs/components/body.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mechs/mech.dm
  code/modules/mechs/mech_damage.dm
  code/modules/mechs/mech_life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/multiz/_stubs.dm
  code/modules/multiz/basic.dm
  code/modules/tgs/v3210/api.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
Labels: Awaiting Merge, Bugfix, Code Improvement, FUCK FUCK FUCK FUCK FUCK, Test Merge Candidate

#502 Tweaks away site and overmap spawns.
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  maps/torch/torch_define.dm
Labels: Awaiting Merge, Feature, Test Merge Candidate

#517 Minor map tweaks and fixes
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Awaiting Merge, Feature, Map Change

#531 Colony stuff
  maps/random_ruins/exoplanet_ruins/playablecolony/playablecolony.dm
Labels: Awaiting Merge, Feature

#544 Readds Legalese
  baystation12.dme
  code/__defines/languages.dm
  code/modules/mob/language/human/misc/gutter.dm
  code/modules/mob/language/human/misc/legalese.dm
  code/modules/mob/language/human/selenian.dm
  code/modules/mob/skills/skill.dm
Labels: Awaiting Merge, Feature, Revert

#564 Makes Prosthetics Render Properly On Custom Species/Genemodders
  code/modules/organs/external/_external_icons.dm
  modular_mithra/code/modules/species/station/custom.dm
Labels: Awaiting Merge, Bugfix, Code Improvement

#565 Puts the Deck Chief's fax machine back in their office instead of Supply
  maps/torch/torch2_deck4.dmm
Labels: Awaiting Merge, Bugfix

#570 Fixes
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/washing_machine.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Awaiting Merge, Bugfix, Code Improvement

#562 changes fuckin uhhh diety
  code/modules/mob/living/deity/phenomena/conjuration.dm
  code/modules/mob/living/deity/phenomena/conversion.dm
  code/modules/mob/living/deity/phenomena/narsie.dm
  code/modules/mob/living/deity/phenomena/starlight.dm
  code/modules/mob/living/deity/phenomena/transmutation.dm
Labels: Awaiting Merge, Balance Change, Concept Feedback Required

#575 Fixes some grammatical mistakes on APCs.
  code/modules/power/apc.dm
Labels: Awaiting Merge, Bugfix

#530 ZAS, GC optimisations, QDel hint fixes
  baystation12.dme
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem.dm
  code/controllers/subsystems/zcopy.dm
  code/datums/extensions/scent/_scent.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/cult/narsie.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/doppler_array.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/newscaster.dm
  code/game/objects/effects/fake_fire.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/turfs/simulated.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/modules/atmospherics/datum_pipe_network.dm
  code/modules/atmospherics/datum_pipeline.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/locks/lock.dm
  code/modules/mob/mob.dm
  code/modules/multiz/zmimic/mimic_turf.dm
  code/modules/power/breaker_box.dm
  code/modules/power/solar.dm
  code/modules/power/tracker.dm
  code/modules/shieldgen/emergency_shield.dm
  code/modules/shieldgen/shieldwallgen.dm
  code/modules/synthesized_instruments/usage_info.dm
  code/modules/xenoarcheaology/tools/ano_device_battery.dm
Labels: Attention Needed, Awaiting Merge, Bugfix, High Risk, Needs Code Review, Test Merge Candidate

#593 DUE TO MY BENEVOLENCE AS DEVELOPER, I HAVE DECIDED YOU NOW HAVE UNLIMITED PASSENGER SLOTS. BOW BEFORE ME.
  code/game/jobs/job/job.dm
  html/changelogs/burgerbb-unlimitedpower.yml
  maps/torch/job/misc_jobs.dm
Labels: Awaiting Merge, Bugfix, Code, Feature, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#511 Promethean fixes and tweaks
  code/__defines/mobs.dm
  code/game/objects/auras/regenerating_aura.dm
  code/modules/organs/external/species/prometheans.dm
  code/modules/organs/internal/species/promethean.dm
  code/modules/species/species_shapeshift.dm
  code/modules/species/station/prometheans.dm
  maps/torch/torch_ranks_boh.dm
  modular_mithra/code/modules/sprite_accessories/_accessory_hair.dm
Labels: Awaiting Merge, Concept Feedback Required, Feature, Test Merge Candidate

#540 Disables fluids.
  baystation12.dme
  code/_helpers/global_access.dm
  code/game/atoms_fluids.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/items/weapons/flame.dm
  code/game/objects/items/weapons/lighter.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/drain.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/watercloset.dm
  code/game/objects/structures/window.dm
  code/game/sound.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor_icon.dm
  code/game/turfs/simulated/floor_static.dm
  code/game/turfs/simulated/footsteps.dm
  code/game/turfs/turf.dm
  code/modules/ZAS/Fire.dm
  code/modules/ZAS/Zone.dm
  code/modules/admin/admin_verbs.dm
  code/modules/clothing/masks/smokable.dm
  code/modules/events/event_container.dm
  code/modules/mechs/mech.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/overmap/exoplanets/turfs.dm
  code/modules/projectiles/gun.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/species/station/station.dm
  maps/torch/torch2_deck4.dmm
Labels: Attention Needed, Awaiting Merge, Code Improvement, Feature, Merge Conflict, Test Merge Candidate

#585 Dylovene counters sleeping chems
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Awaiting Merge, Balance Change, Changes Requested, Code, Feature

#571 Removes the low Yield EMP grenade from the equipment kits.
  code/modules/boh_misc/boxes.dm
Labels: Awaiting Merge, Balance Change, Concept Feedback Required

#579 Rebalances the XO and CO gun options.
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/firearms.dm
  code/modules/boh_misc/munitions.dm
Labels: Awaiting Merge, Balance Change, Code, Concept Feedback Required, Needs Code Review

#584 Labels colors for arm and leg guards.
  code/modules/clothing/under/accessories/armor.dm
Labels: Awaiting Merge, Code Improvement, Feature

#595 Removes Wizard LRP Spell
  code/modules/spells/spellbook/cleric.dm
Labels: Awaiting Merge, Balance Change, Code, Concept Feedback Required, Revert

#594 changed description, sprite of cryptographic sequencer
  code/game/objects/items/weapons/cards_ids.dm
Labels: Awaiting Merge, Code, Feature

#572 Replaces the brig chief's kit with the regular kit.
  code/modules/boh_misc/boxes.dm
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/security.dm
Labels: Awaiting Merge, Balance Change, Concept Feedback Required

#580 Deck four changes and fixes.
  maps/torch/torch2_deck4.dmm
Labels: Awaiting Merge, Bugfix, Feature, Map

#587 Halves handcuff and buckling escape times.
  code/game/objects/items/weapons/handcuffs.dm
  code/modules/mob/living/carbon/resist.dm
Labels: Awaiting Merge, Balance Change, Code, Concept Feedback Required

#598 Various emissive objects now have overlays that light over the lighting plane.
  code/game/machinery/alarm.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/status_display.dm
  code/game/machinery/status_display_ai.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/modular_computers/ntos/visuals.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  icons/obj/computer.dmi
  icons/obj/monitors.dmi
Labels: Awaiting Merge, Code, Feature

#605 Bandaid Fix Travis Errors
  maps/torch/torch2_deck4.dmm
Labels: Awaiting Merge, Bugfix, FUCK FUCK FUCK FUCK FUCK, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#589 Brain thresholds tweak, headshot meta nerf.
  code/modules/organs/internal/brain.dm
Labels: Awaiting Merge, Balance Change, Code, Concept Feedback Required, Poll

#601 MAA access to guards vendor
  code/modules/boh_misc/vending.dm
Labels: Awaiting Merge, Balance Change, Code, Concept Feedback Required, Feature
