Repository BoHBranch/BoH-Bay, pull requests merged in 2020-02, with the labels that each got.

#379 Removes jam Chance on Z9 Bulldog/nulls it
  code/modules/boh/infantry/firearms.dm
Labels: question

#339 Overhauls how chemicals interact with plants
  code/modules/hydroponics/trays/tray.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: travis issue

#411 [READY] Better Sprites 2: Not-Awful Boogaloo
  icons/mob/mecha.dmi
  icons/obj/chemical.dmi
  icons/obj/device.dmi
  icons/obj/hydroponics_machines.dmi
  icons/obj/lighting.dmi
  icons/obj/radio.dmi
  icons/obj/robot_component.dmi
  icons/obj/surgery.dmi
Labels: enhancement

#453 R-UST buff and fixes
  code/modules/power/fusion/core/core_field.dm
Labels: enhancement

#450 Fixes anti-boarding turrets killing people with apostrophes
  code/modules/mob/mob_helpers.dm
Labels: question

#443 Removal of Collars - Sec Rebalance
  baystation12.dme
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/material/knives.dm
  code/modules/boh/security2/jobs.dm
  code/modules/boh/security2/pepperballs.dm
  code/modules/boh/security2/storage.dm
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/firearms.dm
  code/modules/boh_misc/vending.dm
  code/modules/clothing/under/accessories/collars.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/obj/clothing/obj_accessories.dmi
  maps/torch/job/command_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_accessories_boh.dm
  maps/torch/torch5_deck1.dmm
Labels: DO NOT MERGE, travis issue

#465 Requested (Various) Changes
  baystation12.dme
  code/game/machinery/vending.dm
  code/modules/boh/security2/gear.dm
  code/modules/boh/security2/jobs.dm
  code/modules/boh/security2/storage.dm
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/vending.dm
  code/modules/shield_generators/shield_generator.dm
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/structures/closets/command.dm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Feedback required, enhancement

#474 Adds Sergeant Major of the Marine Corps
  maps/torch/icons/obj/obj_accessories_boh.dmi
  maps/torch/items/clothing/boh_accessory.dm
  maps/torch/torch_ranks_boh.dm
Labels: enhancement

#471 Language-related tweaks (part one?)
  code/modules/mob/language/alien/mantid.dm
  code/modules/mob/language/alien/sergal.dm
  code/modules/mob/language/alien/skrell.dm
  code/modules/mob/language/alien/unathi.dm
  code/modules/mob/language/human/arabic.dm
  code/modules/mob/language/human/chinese.dm
  code/modules/mob/language/human/euro.dm
  code/modules/mob/language/human/indian.dm
  code/modules/mob/language/human/misc/gutter.dm
  code/modules/mob/language/human/misc/legalese.dm
  code/modules/mob/language/human/misc/spacer.dm
  code/modules/mob/language/human/russian.dm
  code/modules/mob/language/human/selenian.dm
  code/modules/mob/language/human/spanish.dm
Labels: enhancement
