Repository BoHBranch/BoH-Bay, pull requests merged in 2020-07, with the labels that each got.

#1014 Traitor PDA Culling
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Code, ⚠️Balance Change, ✂Revert, 💬Code Review Required

#1023 Lasers no longer .delete organs
  code/modules/organs/external/_external_damage.dm
Labels: Code, ⚠️Balance Change, 💬Code Review Required

#1013 guaranteed O2 closet supplies
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval, 💚Quality of Life, 💬Concept Feedback Required

#1022 Getting relaced reduces your combat skills to nothing/basic for 30 minutes
  code/modules/organs/internal/stack.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💡Feature, 🥇Seal of Excellence

#1021 Makes Security Bomb Suit Immune to Explosions Again. + Adds New Juggernaut Suit.
  code/datums/uplink/armor_and_tactical_wear.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/suits/utility.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Code, Icon, ⚠️Balance Change, ✔️Awaiting Merge, 💡Feature, 💬Concept Feedback Required

#1020 Fixes the ERT base not needing access.
  maps/antag_spawn/ert/ert.dm
  maps/antag_spawn/ert/ert_base.dmm
Labels: Code, Map, 💬Code Review Required, 🔧Bugfix

#1019 Removes NTNet requirement for P2P. Adds uplink program to downloadables.
  code/__defines/misc.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/antagonist/uplink.dm
  code/modules/modular_computers/file_system/programs/generic/nttransfer.dm
  code/modules/modular_computers/file_system/programs/research/ntmonitor.dm
  nano/templates/ntnet_monitor.tmpl
Labels: Code, ⚠️Balance Change, ✂Revert, 💚Quality of Life, 💡Feature, 💬Code Review Required, 🔧Bugfix

#1018 PADV item attribute changes
  code/modules/psionics/equipment/foundation_weapon.dm
Labels: Code, 💚Quality of Life, 💡Feature, 💬Code Review Required

#1016 Removes Sergal from suit cyclers.
  code/game/machinery/suit_cycler.dm
  maps/torch/items/machinery.dm
Labels: Code, 💬Code Review Required, 🔧Bugfix

#1017 Puts two KADs to the nuke room. Puts a charger into perma.
  maps/torch/torch5_deck1.dmm
Labels: Code, Map, 💚Quality of Life, 💡Feature, 💬Code Review Required

#1026 Organ hit chances adjusted
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/kidneys.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/organs/internal/stack.dm
Labels: Code, ⚠️Balance Change

#1029 Adds destruction effects to laces
  code/modules/organs/internal/stack.dm
Labels: Code, 💡Feature, 💬Code Review Required
