Repository BoHBranch/BoH-Bay, pull requests merged in 2020-04, with the labels that each got.

#578 New Shoal scavenger base no backup files Edition (Merge Ready.)
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship.dm
  maps/away/voxship/voxship.dmi
  maps/away/voxship/voxship_access.dm
  maps/away/voxship/voxship_areas.dm
  maps/away/voxship/voxship_jobs.dm
  maps/away/voxship/voxship_jobs_boh.dm
Labels: Attention Needed, Awaiting Merge, Concept Feedback Required, Feature, Map, Test Merge Candidate

#614 Adds a use number to adrenalin
  code/game/objects/items/weapons/implants/implants/adrenaline.dm
Labels: Awaiting Merge, Bugfix, Code

#600 Imports zipties
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/storage/boxes.dm
  icons/obj/items.dmi
  maps/torch/items/machinery.dm
  maps/torch/torch5_deck1.dmm
Labels: Awaiting Merge, Balance Change, Code, Concept Feedback Required, Feature

#615 CorpSec Beret typo fix
  icons/mob/onmob/onmob_head.dmi
Labels: Awaiting Merge, Bugfix

#616 more over light effects. I should really make this into a proc.
  code/game/machinery/doors/airlock.dm
  code/game/machinery/vitals_monitor.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  icons/obj/closets/bases/cart.dmi
  icons/obj/closets/bases/closet.dmi
  icons/obj/closets/bases/large_crate.dmi
  icons/obj/closets/bases/wall.dmi
Labels: Awaiting Merge, Code, Feature

#542 Limits varedit selection to prevent lag
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/verbs/modifyvariables.dm
Labels: Bugfix, Code Improvement, Needs Code Review

#556 Adds a lazy check that prevents ERT from spawning where their ghost is also makes the ERT base bigger just in case too.
  code/game/response_team.dm
  maps/antag_spawn/ert/ert_base.dmm
Labels: Bugfix, Map, Needs Code Review

#582 Adds some workflows.
  .github/labeler.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
Labels: Feature, Github, Ignore Travis CI

#586 Removes Black Tar from Uplink
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
Labels: Balance Change, Code, Concept Feedback Required, Poll, Revert

#581 NSFW Flavor Text is only displayed when your torso and legs are exposed.
  code/modules/client/preference_setup/general/04_flavor.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/pai/examine.dm
  code/modules/mob/mob.dm
Labels: Awaiting Merge, Bugfix, Code Improvement, Concept Feedback Required, Feature, Needs Code Review, Revert

#583 Energy projectile nerfs, plate carrier QoL, new gun options in kits.
  code/modules/boh_misc/boxes.dm
  code/modules/clothing/suits/armor.dm
  code/modules/projectiles/guns/energy/secure.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  maps/torch/items/storage.dm
  maps/torch/structures/closets.dm
  maps/torch/structures/closets/command.dm
  maps/torch/structures/closets/security.dm
Labels: Attention Needed, Awaiting Merge, Balance Change, Concept Feedback Required, Merge Conflict, Poll

#588 Promethean glomp fix + QoL
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/power/power.dm
  code/modules/species/species_helpers.dm
  code/modules/species/station/prometheans.dm
Labels: Awaiting Merge, Balance Change, Code, Feature

#603 Removes the meteor gamemode from being votable
  code/game/gamemodes/meteor/meteor.dm
Labels: Awaiting Merge, Code, Concept Feedback Required, Poll, Revert

#604 Cooking/Food Fixes
  baystation12.dme
  code/game/machinery/bioprinter.dm
  code/modules/cooking/recipes/recipes_microwave.dm
  code/modules/random_map/drop/drop_types.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
Labels: Awaiting Merge, Bugfix, Changes Requested, Code, Needs Code Review

#624 Job Tweaks
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Awaiting Merge, Bugfix, Code, Concept Feedback Required, Feature, Needs Code Review

#630 Fix build release workflow
  .github/workflows/release.yml
Labels: Github, Ignore Travis CI

#590 Removes fuzzy cuffs, makes straitjackets adminspawn only for now.
  code/datums/outfits/jobs/misc.dm
  code/game/gamemodes/wizard/servant_items/overseer.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/spells/general/toggle_armor.dm
  maps/torch/torch4_deck2.dmm
Labels: Awaiting Merge, Balance Change, Code, Poll, Revert

#642 Changes the Adherent job list.
  maps/torch/job/torch_jobs.dm
Labels: Awaiting Merge, Code, Concept Feedback Required, Revert

#638 Loadout changes.
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_eyes.dm
  maps/torch/loadout/loadout_gloves.dm
  maps/torch/loadout/loadout_head.dm
  maps/torch/loadout/loadout_shoes.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/loadout/loadout_xeno.dm
Labels: Awaiting Merge, Code

#618 Fluid fix ports from Nebula + misc. fixes
  code/__defines/atmos.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/game/atoms.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/objects/random/random.dm
  code/modules/ZAS/Zone.dm
  code/modules/boh_misc/chemicals.dm
  code/modules/boh_misc/gases.dm
  code/modules/xgm/gases.dm
  code/modules/xgm/xgm_gas_data.dm
  maps/torch/torch1_deck5.dmm
Labels: Attention Needed, Awaiting Merge, Bugfix, Code, Needs Code Review, Test Merge Candidate

#627 Emissive bugfixes.
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/ntos/visuals.dm
  code/modules/power/apc.dm
Labels: Code, ✔️Awaiting Merge, ❌Author Attention Needed, 💬Code Review Required, 🔧Bugfix

#609 GCC/UCG lore compliance
  code/__defines/culture.dm
  code/game/movietitles.dm
  code/game/objects/items/weapons/storage/lunchbox.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/faction/factions_human.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/mob/language/human/gaian.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  html/changelogs/N8GCC.yml
  maps/torch/items/clothing/solgov-head.dm
  modular_mithra/code/modules/species/station/vulpkanin.dm
  news_articles/space_magazine_5.html
Labels: Code, ✔️Awaiting Merge

#635 Readds removed officer gunbox, returns said gunbox to brig chief
  code/modules/boh_misc/boxes.dm
Labels: Code, ⚠️Balance Change, ✂Revert, ✔️Awaiting Merge

#650 Fixes/changes some forensics stuff
  code/datums/extensions/label.dm
  code/modules/clothing/clothing.dm
  code/modules/detectivework/microscope/microscope.dm
Labels: ✔️Awaiting Merge, 🔧Bugfix

#659 Fixes the Labeler
  .github/workflows/label.yml
Labels: Github, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE, 🔧Bugfix

#660 will this work? lets find out
  .github/labeler.yml
Labels: SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE, 🔥FUCK FUCK FUCK FUCK FUCK

#662 what a fucking meme
  .github/labeler.yml
Labels: SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE, 🔥FUCK FUCK FUCK FUCK FUCK

#613 Nerfs Mindslave/Imprint
  code/game/objects/items/weapons/implants/implants/imprinting.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Poll

#482 Parry Nerf
  code/game/objects/items.dm
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/augment/active/armblades.dm
  code/modules/holodeck/HolodeckObjects.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, ❕ High Priority, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required, 💬Poll, 🔵Test Merge Candidate

#633 Removes vox pariah
  code/modules/species/outsider/vox.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Code, Map, ⚠️Balance Change, ✂Revert, ✔️Awaiting Merge, 💬Code Review Required

#643 Galilei ID
  code/datums/mil_ranks.dm
  code/game/jobs/job/job.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/misc_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/supply_jobs.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks.dm
  maps/torch/torch_ranks_boh.dm
Labels: Code, Map, ✔️Awaiting Merge, 💡Feature, 💬Code Review Required

#646 Bear Robotics + Medical Skill PR
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
Labels: Code, Map, ✔️Awaiting Merge, 💡Feature, 💬Concept Feedback Required

#649 deck 1 changes, adding pills to medical, adding autolathe to medical a-la tg medilathe
  maps/torch/torch5_deck1.dmm
Labels: Map, ⚠️Balance Change, ✔️Awaiting Merge, 💬Concept Feedback Required

#656 More glows
  code/game/machinery/alarm.dm
  code/game/machinery/atmoalter/canister.dm
  code/modules/atmospherics/components/binary_devices/circulator.dm
  code/modules/power/smes.dm
  code/modules/shield_generators/shield_generator.dm
  icons/boh/newshields_64x32.dmi
  icons/obj/firealarm.dmi
  icons/obj/power.dmi
Labels: Code, Icon, ✔️Awaiting Merge, 💡Feature, 💬Code Review Required

#657 Bearcat away map rework 2. no different map formats edition
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_areas.dm
  maps/away/bearcat/bearcat_shuttles.dm
Labels: Code, Map, ✔️Awaiting Merge, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required

#658 Readds AP to slugs and mid-lasers.
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Code, ✂Revert, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#666 Fixes my screw ups on loadout restrictions
  code/modules/client/preference_setup/loadout/lists/storage.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_accessories.dm
Labels: Code, Map, ✔️Awaiting Merge, 🔧Bugfix

#668 Travis and TGM Fixes
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/casino/casino.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/magshield/magshield.dmm
  maps/away/mining/mining-asteroid.dmm
  maps/away/mining/mining-orb.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
  maps/away/voxship/voxship-1.dmm
  maps/away/yacht/yacht.dmm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dmm
  maps/random_ruins/exoplanet_ruins/oldpod/oldpod.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE, ✔️Awaiting Merge, 🔥FUCK FUCK FUCK FUCK FUCK, 🔧Bugfix

#676 Add patreon information via Github
  .github/FUNDING.yml
Labels: Github

#669 Changes parts of laptops and tablets, and loadout price.
  code/modules/client/preference_setup/loadout/lists/utility.dm
  code/modules/modular_computers/computers/subtypes/preset_laptop.dm
  code/modules/modular_computers/computers/subtypes/preset_tablet.dm
  code/modules/modular_computers/laptop_vendor.dm
  nano/templates/computer_fabricator.tmpl
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge

#672 Potential Armalis Character generation bugfix
  maps/torch/job/torch_jobs.dm
Labels: Code, Map, ✔️Awaiting Merge, 🔧Bugfix

#677 removes meta box
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Code, ✔️Awaiting Merge, 🥇Seal of Excellence

#681 Fixes NSFW text not saving.
  code/modules/client/preference_setup/general/04_flavor.dm
  test/check-paths.sh
Labels: Code, 💬Code Review Required, 🔧Bugfix

#686 Changes Vox descriptions to no longer endorse murderbone
  code/modules/species/outsider/vox.dm
Labels: Code, ✔️Awaiting Merge

#684 Revert "Changes the Adherent job list."
  maps/torch/job/torch_jobs.dm
Labels: Map, ✂Revert, 💬Code Review Required, 💬Concept Feedback Required

#641 Adds Adrenalin Implant to traitor uplink
  code/datums/uplink/implants.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, ❌Author Attention Needed, 💤STALE, 💬Code Review Required, 💬Concept Feedback Required

#655 Revert "Readds removed officer gunbox, returns said gunbox to brig chief"
  code/modules/boh_misc/boxes.dm
Labels: Code, ⚠️Balance Change, ✂Revert, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#683 Robotic Limb Tweak
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/organs/external/_external.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#696 Removes news articles, disables news browser
  code/modules/client/asset_cache.dm
  code/modules/modular_computers/file_system/news_article.dm
  code/modules/modular_computers/file_system/programs/generic/news_browser.dm
  news_articles/images/issue1.png
  news_articles/images/issue2.png
  news_articles/images/issue3.png
  news_articles/images/issue4.png
  news_articles/images/issue5.png
  news_articles/images/issue6.png
  news_articles/space_magazine_1.html
  news_articles/space_magazine_2.html
  news_articles/space_magazine_3.html
  news_articles/space_magazine_4.html
  news_articles/space_magazine_5.html
  news_articles/space_magazine_6.html
Labels: Code, Interface, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE, ✔️Awaiting Merge, ❕ High Priority, 🔥FUCK FUCK FUCK FUCK FUCK

#689 Makes dispersive blaster (Immolator Pistol) somewhat viable
  code/modules/projectiles/guns/energy/special.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#679 Customization cleanup and addition
  code/modules/species/outsider/vox.dm
  icons/mob/human_races/species/vox/body.dmi
  modular_mithra/code/modules/mithra/01_ears.dm
  modular_mithra/code/modules/mithra/body_markings.dm
  modular_mithra/code/modules/mithra/preferences_vr.dm
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/code/modules/mithra/update_icons_vr.dm
  modular_mithra/icons/mob/ears.dmi
  modular_mithra/icons/mob/human_face.dmi
  modular_mithra/icons/mob/human_face_add.dmi
  modular_mithra/icons/mob/human_races/markings.dmi
  modular_mithra/icons/mob/tails.dmi
  modular_mithra/icons/mob/wings.dmi
Labels: Code, Icon, ❌DO NOT MERGE, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required, 🛠WIP

#567 Up hint + Look Up/Down refactor
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/deity.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/client/ui_style.dm
  code/modules/mechs/mech_movement.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/mob_defines.dm
  code/modules/multiz/movement.dm
  code/modules/species/species_hud.dm
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
  icons/mob/screen1_robot.dmi
  icons/mob/screen_unused_midnight.dmi
  icons/mob/screen_unused_old.dmi
  icons/mob/screen_unused_orange.dmi
  icons/mob/screen_unused_white.dmi
Labels: Code, Icon, ✔️Awaiting Merge, ❌Author Attention Needed, 💡Feature, 💤STALE, 💬Code Review Required, 🔵Test Merge Candidate

#665 Stun/Pain Punishment Reduction
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/organs/external/_external_damage.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Concept Feedback Required

#700 Makes musical instruments usable as weapons.
  code/modules/synthesized_instruments/real_instruments/Guitar/guitar.dm
  code/modules/synthesized_instruments/real_instruments/Synthesizer/synthesizer.dm
  code/modules/synthesized_instruments/real_instruments/Trumpet/trumpet.dm
  code/modules/synthesized_instruments/real_instruments/Violin/violin.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge

#664 Antag Chem Buffs + Bone-Fixing Juice
  code/datums/uplink/medical.dm
  code/modules/organs/internal/heart.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#697 Removes primary network requirement from terminal commands.
  code/modules/modular_computers/terminal/terminal_commands.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#698 Tweaks several items.
  code/game/objects/items/devices/uplink.dm
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Code, ✔️Awaiting Merge, 💬Concept Feedback Required

#703 Removed Straight jackets from the Voxship + other improvments.
  maps/away/voxship/voxship-1.dmm
Labels: Map, ✔️Awaiting Merge, ❌Author Attention Needed, 💬Concept Feedback Required

#711 Changes default skill level to master (debug stuff)
  code/__defines/skills.dm
Labels: Code, ✔️Awaiting Merge

#707 Dissuades no fear edgelords from aiming at people when they are at gunpoint.
  code/modules/projectiles/targeting/targeting_overlay.dm
Labels: Code, ✔️Awaiting Merge, ❌Author Attention Needed, 💬Code Review Required, 💬Concept Feedback Required

#712 Added a borer symbiote job definition.
  baystation12.dme
  code/__defines/culture.dm
  code/game/jobs/job/symbiote.dm
  code/modules/mob/language/alien/antag.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_attacks.dm
  code/modules/species/station/Sergal.dm
  code/modules/species/station/human_subspecies.dm
  code/modules/species/station/station.dm
  maps/torch/job/torch_jobs.dm
  maps/~mapsystem/maps.dm
  modular_mithra/code/modules/species/station/akula.dm
  modular_mithra/code/modules/species/station/custom.dm
  modular_mithra/code/modules/species/station/human2.dm
  modular_mithra/code/modules/species/station/tajaran.dm
  modular_mithra/code/modules/species/station/vasilissan.dm
  modular_mithra/code/modules/species/station/vulpkanin.dm
Labels: Code, Map, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#718 Fixes cloners getting stuck
  code/game/machinery/computer/cloning.dm
Labels: Code, ✔️Awaiting Merge, 🔧Bugfix

#715 Allows all loadout items to be renamed.
  code/modules/client/preference_setup/loadout/_defines.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/client/preference_setup/loadout/lists/accessories_boh.dm
  code/modules/client/preference_setup/loadout/lists/earwear.dm
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_accessories_boh.dm
Labels: Code, Map, ✔️Awaiting Merge, 💡Feature, 💬Concept Feedback Required

#721 updates ai laws to nt, per what i was told to do by gabopwn
  maps/torch/torch_define.dm
Labels: Map, ✔️Awaiting Merge, 🔧Bugfix

#722 Makes the mini ebow mini
  code/modules/projectiles/guns/energy/stun.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Concept Feedback Required

#730 Give Minds ZAC and Spacer
  code/modules/mob/living/silicon/robot/flying/module_flying_ascent.dm
Labels: Code, 💬Code Review Required, 💬Concept Feedback Required, 💬Loredev Input Required

#735 Delete label.yml
  .github/workflows/label.yml
Labels: Github, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#741 Chemdart to Lathe
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
Labels: SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#717 Voxship incinerator wall melting fix
  maps/away/voxship/Vox_material.dm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship.dm
Labels: Map, 💬Code Review Required, 💬Concept Feedback Required, 🔧Bugfix

#739 Reverts the Neon Vox
  body.dmi
  code/modules/species/outsider/vox.dm
Labels: Code, ✂Revert, 💬Code Review Required, 💬Concept Feedback Required

#716 More mithra/genemodder sprites and fixes
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/icons/mob/tails.dmi
  modular_mithra/icons/mob/wings.dmi
Labels: Code, Icon, 💡Feature, 💬Concept Feedback Required

#644 Cooking Update: Part 2
  baystation12.dme
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/codex/categories/category_reagents.dm
  code/modules/codex/categories/category_recipes.dm
  code/modules/cooking/recipes/recipe.dm
  code/modules/cooking/recipes/recipes_fryer.dm
  code/modules/cooking/recipes/recipes_microwave.dm
  code/modules/cooking/recipes/recipes_oven.dm
  code/modules/cooking/recipes/recipes_pan.dm
  code/modules/cooking/trays.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  code/modules/reagents/reagent_containers/food/sushi.dm
Labels: Code, 💡Feature, 💬Code Review Required, 🔎Needs Investigation, 🔧Bugfix, 🔵Test Merge Candidate, 🛠WIP

#687 Kitchen + Bar Remap, Honey Bottle, Condimaster tweaks
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/obj/aurora/food.dmi
  icons/obj/objects.dmi
  maps/torch/torch3_deck3.dmm
Labels: Code, Icon, Map, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required, 🔵Test Merge Candidate, 🛠WIP

#566 Sensor Overhaul
  baystation12.dme
  code/modules/overmap/_defines.dm
  code/modules/overmap/contacts/_contact.dm
  code/modules/overmap/contacts/contact_class.dm
  code/modules/overmap/contacts/contact_sensors.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/ship.dm
  icons/obj/overmap.dmi
  maps/antag_spawn/mercenary/mercenary.dm
  maps/away/bearcat/bearcat.dm
  maps/away/casino/casino.dm
  maps/away/unishi/unishi.dm
  maps/away/yacht/yacht.dm
  maps/bearcat/bearcat.dm
  maps/bearcat/bearcat_overmap.dm
  maps/torch/torch_overmap.dm
  sound/machines/sensors/alarm1.ogg
  sound/machines/sensors/contact_identified.ogg
  sound/machines/sensors/contact_lost.ogg
  sound/machines/sensors/contact_regained.ogg
  sound/machines/sensors/contactgeneric.ogg
  sound/machines/sensors/dradis.ogg
  sound/machines/sensors/newcontact.ogg
Labels: Code, Icon, Map, Sound, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required, 🔵Test Merge Candidate, 🛠WIP

#747 Foundation Advisor job, psionic changes, minor fun stuff
  code/datums/outfits/spec_op.dm
  code/game/jobs/access_datum.dm
  code/game/jobs/job/job.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/boh/nullglass/implant.dm
  code/modules/organs/internal/brain.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/psionics/complexus/complexus.dm
  code/modules/psionics/complexus/complexus_latency.dm
  code/modules/psionics/equipment/cerebro_enhancers.dm
  code/modules/psionics/equipment/foundation_implanter.dm
  code/modules/psionics/equipment/foundation_weapon.dm
  code/modules/psionics/equipment/implant.dm
  code/modules/psionics/equipment/psimonitor.dm
  code/modules/psionics/equipment/psipower_tinker.dm
  code/modules/psionics/faculties/coercion.dm
  code/modules/psionics/faculties/energistics.dm
  code/modules/psionics/faculties/psychokinesis.dm
  code/modules/psionics/faculties/redaction.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/species/station/human_subspecies.dm
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/structures/closets/command.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_ranks.dm
  maps/torch/torch_submaps.dm
Labels: Code, Quality of Life, ⚠️Balance Change, 💡Feature, 🔵Test Merge Candidate, 🥇Seal of Excellence

#754 Blacklists IPCs from the Foundation Advisor role
  maps/torch/job/torch_jobs.dm
Labels: SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#769 Removes the Greeting
  .github/workflows/greetings.yml
Labels: Github, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#744 FBP/IPC microbattery health boost.
  code/modules/organs/internal/species/fbp.dm
Labels: Quality of Life

#714 Adds MREs to general loadout
  code/modules/client/preference_setup/loadout/lists/misc.dm
Labels: Code, ❌Author Attention Needed, 💡Feature, 💬Concept Feedback Required

#737 removes mindslave implants
  code/datums/uplink/implants.dm
Labels: Code, ✂Revert, ❌Author Attention Needed, 💬Code Review Required, 💬Concept Feedback Required, 💬Poll

#771 Various QoL Changes / More
  code/modules/ascent/ascent_rigs.dm
  code/modules/boh/ascent2/items.dm
  code/modules/boh_misc/machinery.dm
  code/modules/codex/entries/psionics.dm
  code/modules/mob/living/silicon/robot/preset.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
  code/modules/psionics/equipment/null_ammo.dm
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship_areas.dm
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/items/psyker/agent_items.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/outfits/medical_outfits.dm
  maps/torch/structures/closets/command.dm
  maps/torch/torch.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_ranks.dm
Labels: Lore Correction

#734 makes the Ebow actually do what it's supposed to. (AKA: reverts ebow nerf)
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/energy.dm
Labels: Code, ⚠️Balance Change, ✂Revert, 💬Code Review Required, 💬Concept Feedback Required
