Repository BoHBranch/BoH-Bay, pull requests merged in 2020-05, with the labels that each got.

#774 Take two: Traitor Branch Expansion.
  baystation12.dme
  code/datums/uplink/armor_and_tactical_wear.dm
  code/datums/uplink/chemicals.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/datums/uplink/uplink_categories.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  icons/obj/device.dmi
Labels: ⚠️Balance Change, 👍Awaiting Approval, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required

#772 No stale gimmick but I need a better writer
  maps/torch/datums/game_modes/torch_revolution.dm
Labels: Code, 👍Awaiting Approval, 💬Code Review Required

#708 changes surgery cyborgs failing at surgery and crisis borgs failing at chemistry
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval

#796 [PORT] Forensics Borgs can now do forensics stuff
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
Labels: Code, 💡Feature, 💬Concept Feedback Required

#795 [PORT] Ascent-Glow is now considered sign language
  code/modules/mob/language/alien/mantid.dm
Labels: Code, 💡Feature, 💬Concept Feedback Required

#709 Changes gamemode vote visibility to be a config option.
  code/controllers/configuration.dm
  code/datums/vote/gamemode.dm
  code/datums/vote/vote.dm
Labels: Code, 👍Awaiting Approval, 💡Feature

#804 RIG QoL, as per the closed PR.
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
Labels: ⚠️Balance Change

#788 Re-Buff CO Revolver
  code/modules/boh_misc/munitions.dm
Labels: Code, ⚠️Balance Change, ✂Revert, 💬Concept Feedback Required, 💬Poll

#806 Buffed the Vox emergency nitrogen tank + gives them a pocket tank spawn.
  code/game/objects/items/weapons/tanks/tank_types.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Code, ⚠️Balance Change, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required

#720 Fluid optimisations from Nebula
  code/__defines/fluids.dm
  code/controllers/subsystems/fluids.dm
  code/game/objects/effects/fluids.dm
  code/game/turfs/turf_fluids.dm
Labels: Code, ❌High Risk, ❕ High Priority, 🔧Bugfix, 🔵Test Merge Candidate

#756 Tracking implant nerf.
  code/game/machinery/teleporter.dm
Labels: Code, ⚠️Balance Change, ✂Revert, 👍Awaiting Approval

#763 Fire equipment fixes and QOL.
  code/datums/supplypacks/engineering.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/tools/crowbar.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/mob/living/carbon/human/life.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod/crashed_pod.dmm
Labels: Code, 👍Awaiting Approval, 💚Quality of Life, 💬Code Review Required, 🔧Bugfix

#779 Marine, Fleet & Surveyor Corp description change + UCG/GCC uniform update
  maps/torch/items/clothing/solgov-accessory.dm
  maps/torch/items/clothing/solgov-head.dm
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
  maps/torch/items/clothing/terran-feet.dm
  maps/torch/items/clothing/terran-hands.dm
  maps/torch/items/clothing/terran-head.dm
  maps/torch/items/clothing/terran-suit.dm
  maps/torch/items/clothing/terran-under.dm
  modular_mithra/code/modules/mob/inventory.dm
Labels: Code, 👍Awaiting Approval, 💬Code Review Required, 💬Concept Feedback Required

#501 Radial Menus
  baystation12.dme
  code/__defines/math_physics.dm
  code/_helpers/game.dm
  code/_helpers/lists.dm
  code/_onclick/hud/radial.dm
  code/_onclick/hud/radial_persistent.dm
  code/game/machinery/_machines_base/machinery_components.dm
  code/game/machinery/floorlayer.dm
  code/game/objects/items/weapons/material/swiss.dm
  code/game/objects/structures/skele_stand.dm
  code/modules/augment/active/polytool.dm
  code/modules/augment/augment.dm
  code/modules/client/client_defines.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/ui_style.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
  code/modules/clothing/spacesuits/rig/rig_verbs.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/cooking/machinery/cooking_machines/_appliance.dm
  code/modules/cooking/machinery/cooking_machines/_cooker.dm
  code/modules/cooking/machinery/cooking_machines/_mixer.dm
  code/modules/cooking/machinery/cooking_machines/fryer.dm
  code/modules/cooking/machinery/cooking_machines/grill.dm
  code/modules/cooking/machinery/cooking_machines/oven.dm
  code/modules/cooking/machinery/cooking_machines/stove.dm
  code/modules/mechs/mech_construction.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/stripping.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/login.dm
  code/modules/psionics/equipment/psipower_tinker.dm
  code/modules/reagents/dispenser/dispenser2.dm
  code/modules/reagents/reagent_containers/drinkingglass/extras.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/surgery.dm
  code/modules/tooltip/tooltip.dm
  code/modules/tooltip/tooltip.html
  html/changelogs/MDP-radial.yml
  icons/mob/radial.dmi
  icons/obj/augment_tools.dmi
  icons/obj/surgery.dmi
  interface/skin.dmf
  test/check-paths.sh
Labels: Code, ❌DO NOT MERGE, ❌High Risk, 💡Feature, 💤STALE, 💬Code Review Required, 🔵Test Merge Candidate, 🛠WIP

#695 Fixes leaky pipes?
  code/game/machinery/atmoalter/clamp.dm
  code/modules/atmospherics/pipes.dm
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/lost_supply_base/lost_supply_base.dmm
Labels: Code, ❌Author Attention Needed, 💬Code Review Required, 🔧Bugfix, 🔵Test Merge Candidate

#726 Potential fix for exoplanets bursting into flame
  code/modules/overmap/exoplanets/exoplanet.dm
Labels: Code, 💬Code Review Required, 🔧Bugfix, 🔵Test Merge Candidate, 🛠WIP

#723 SEA Security Access, Prospector maintenance/E-storage
  maps/torch/job/command_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Map, ⚠️Balance Change, 👍Awaiting Approval, 💬Concept Feedback Required

#784 Makes holograms not retrieve icons from records
  code/game/machinery/hologram.dm
Labels: Code, 👍Awaiting Approval, 💬Concept Feedback Required, 🔧Bugfix

#810 Allows surgery borgs to put organs in again.
  code/modules/surgery/surgery.dm
Labels: Code, 👍Awaiting Approval, 🔧Bugfix

#812 Crowbar Buffs
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/girders.dm
  code/modules/surgery/generic.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval

#793 [Ready] Moves Foundation Advisors Office and some other stuff
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Map, 👍Awaiting Approval, 💡Feature, 💬Concept Feedback Required

#803 Infantry Rework.
  baystation12.dme
  code/__defines/ruin_tags.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/rubble.dm
  code/modules/mob/living/simple_animal/hostile/boh_mechs.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/overmap/exoplanets/planet_types/wartorn.dm
  icons/mob/simple_animal/animal.dmi
  maps/away/blueriver/blueriver-1.dmm
  maps/away/blueriver/blueriver-2.dmm
  maps/away/casino/casino.dmm
  maps/away/derelict/derelict-station.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/icarus/icarus-1.dmm
  maps/away/lar_maria/lar_maria-1.dmm
  maps/away/lar_maria/lar_maria-2.dmm
  maps/away/magshield/magshield.dmm
  maps/away/mining/mining-asteroid.dmm
  maps/away/mining/mining-orb.dmm
  maps/away/mining/mining-signal.dmm
  maps/away/mobius_rift/mobius_rift.dmm
  maps/away/slavers/slavers_base.dmm
  maps/away/smugglers/smugglers.dmm
  maps/random_ruins/exoplanet_ruins/deserted_lab/deserted_lab.dmm
  maps/random_ruins/exoplanet_ruins/russian_lodge/russian_lodge.dm
  maps/random_ruins/exoplanet_ruins/russian_lodge/russian_lodge.dmm
  maps/random_ruins/exoplanet_ruins/syndi_dropship/syndi_dropship.dm
  maps/random_ruins/exoplanet_ruins/syndi_dropship/syndi_dropship.dmm
  maps/torch/infantry/awaysitestuff.dm
  maps/torch/infantry/firearms.dm
  maps/torch/infantry/storage.dm
  maps/torch/infantry/vending.dm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/torch.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_unit_testing.dm
Labels: Code, ⚠️Balance Change, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required

#817 Medal Vending
  icons/obj/vending.dmi
  maps/torch/items/rewards.dm
  maps/torch/torch.dm
  maps/torch/torch6_bridge.dmm
Labels: Code, Map, ❌Author Attention Needed, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required

#822 Inf Skills Hotfix
  maps/torch/infantry/storage.dm
  maps/torch/job/hestia_jobs.dm
Labels: SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#823 Hotfixboogaloo
  maps/torch/job/hestia_jobs.dm
Labels: SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#827 Lets Riflemen be Corporals (E4s) again
  maps/torch/job/hestia_jobs.dm
Labels: Nerd Salt PR

#729 X-Ray Love
  code/modules/projectiles/projectile/beams.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval, 💬Concept Feedback Required

#828 Infantry locker tweaks
  maps/torch/structures/closets.dm
Labels: Nerd Salt PR, 🔥FUCK FUCK FUCK FUCK FUCK

#842 Fixes Travis Issues
  code/_onclick/hud/ability_screen_objects.dm
  code/game/objects/structures/wall_frame.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  maps/torch/infantry/awaysitestuff.dm
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_unit_testing.dm
Labels: Code, 💬Code Review Required, 🔧Bugfix, 🥇Seal of Excellence

#855 Gunbox choice names are more detailed
  code/modules/boh_misc/boxes.dm
  maps/torch/infantry/storage.dm
Labels: Code, 👍Awaiting Approval, 💚Quality of Life

#836 White Hazard Vests now fit medical equipment
  code/modules/clothing/suits/jobs.dm
Labels: Code, 👍Awaiting Approval, 🔧Bugfix

#833 Add sprites for 'empty basket' and 'square tray'
  icons/obj/trash.dmi
Labels: Icon, 👍Awaiting Approval, 🔧Bugfix

#837 Fixes psychic whisper's "LRP" behavior features.
  code/modules/mob/living/carbon/human/human_powers.dm
Labels: Code, 👍Awaiting Approval, 💬Code Review Required, 🔧Bugfix

#841 Blood red voidsuit fix.
  code/datums/uplink/armor_and_tactical_wear.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Code, 👍Awaiting Approval, 🔧Bugfix

#830 Gives forensics a security belt on their locker
  maps/torch/structures/closets/security.dm
Labels: Code, 👍Awaiting Approval, 💡Feature, 💬Code Review Required

#840 Fixes APA locker access.
  maps/torch/structures/closets/misc.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval, 💬Concept Feedback Required

#845 Resin now fits in ascent surgery kits
  code/modules/boh/ascent2/items.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval

#850 Gives forensics EVA access
  code/game/jobs/job/security.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval, 💬Concept Feedback Required

#860 Adds bowman headsets for infantry roles
  maps/torch/infantry/outfits.dm
  maps/torch/structures/closets.dm
Labels: Code, 👍Awaiting Approval, 💡Feature

#862 Fixes grammar on finger snap emotes
  code/modules/emotes/definitions/audible.dm
Labels: Code, 👍Awaiting Approval, 💚Quality of Life

#853 Gives the APA access to command comms & a maglight
  maps/torch/structures/closets/misc.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval, 💬Concept Feedback Required

#835 ascent rigs can now carry any gun
  code/modules/ascent/ascent_rigs.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval, 💬Concept Feedback Required

#851 Combat Tech skill buffs
  maps/torch/job/hestia_jobs.dm
Labels: Code, ⚠️Balance Change, 💬Concept Feedback Required

#792 Fixes air alarm sensor settings for server and sauna
  code/game/machinery/alarm.dm
Labels: Code, ❌Author Attention Needed, 👍Awaiting Approval, 🔧Bugfix

#861 Mess/Kitchen/Hydro Remap
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
Labels: Map, ✔️Awaiting Merge, 💡Feature, 💬Concept Feedback Required

#838 Adresses a dumb lore concern in telepathy.
  modular_mithra/code/modules/mithra/traits_positive.dm
Labels: Code, 👍Awaiting Approval, 💬Concept Feedback Required, 💬Lore Feedback Required

#887 Fixes LPA getting command headsets in their locker but not on spawn, adds infantry comms to SEAs and DO
  maps/torch/items/encryption_keys.dm
  maps/torch/job/outfits/command_outfits.dm
Labels: Code, 👍Awaiting Approval, 💡Feature, 🔧Bugfix

#781 ADDS PURPLE SANS FROM UNDERTALE
  baystation12.dme
  code/__defines/chemistry.dm
  code/__defines/mobs.dm
  code/__defines/species.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/modules/boh/items/plasmasans.dm
  code/modules/boh/organs/plasmasans.dm
  code/modules/boh_misc/equipment.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/clothing/suits/bio.dm
  code/modules/mob/language/alien/antag.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/species/station/plasmasans.dm
  icons/mob/human_races/species/plasmasans/body.dmi
  icons/mob/human_races/species/plasmasans/deformed_body.dmi
  icons/mob/human_races/species/plasmasans/husk.dmi
  icons/mob/human_races/species/plasmasans/preview.dmi
  icons/mob/species/plasmasans/onmob_head_plasmasans.dmi
  icons/mob/species/plasmasans/onmob_suit_plasmasans.dmi
  icons/obj/clothing/species/plasmasans/obj_head_plasmasans.dmi
  icons/obj/clothing/species/plasmasans/obj_suit_plasmasans.dmi
  icons/obj/storage.dmi
  icons/obj/tank.dmi
Labels: Code, 👍Awaiting Approval, 💡Feature, 💬Code Review Required, 💬Lore Feedback Required, 🔵Test Merge Candidate

#894 Actually gives forensics EVA access
  maps/torch/job/security_jobs.dm
Labels: SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#856 Engineering Remap
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
Labels: Map, 👍Awaiting Approval, 💡Feature, 💬Concept Feedback Required, 🛠WIP

#876 Removes SEA security access
  maps/torch/job/command_jobs.dm
Labels: Code, ✂Revert, 👍Awaiting Approval, 💬Poll

#882 Fixes duplicate urban fatigues in marine uniform vendor
  maps/torch/datums/uniforms_marine-corps.dm
Labels: Code, 👍Awaiting Approval, 🔧Bugfix

#895 Nerfs bullpup rifle damage, buffs shotgun slug falloff
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval, 💬Concept Feedback Required

#896 Buffs buckshot
  code/modules/projectiles/projectile/bullets.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval, 💬Concept Feedback Required

#901 Quick and dirty adherent surgery fix (maybe)
  code/modules/surgery/surgery.dm
Labels: Code, 👍Awaiting Approval, 🔧Bugfix

#904 Minor loadout tweaks.
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  maps/torch/loadout/loadout_accessories.dm
  maps/torch/loadout/loadout_suit.dm
  maps/torch/loadout/loadout_uniform.dm
Labels: Code, ✂Revert, 👍Awaiting Approval

#907 Sent to Lobby
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
Labels: Code, 👍Awaiting Approval, 💡Feature

#906 Adminverbs - Hide Most
  code/modules/admin/admin_verbs.dm
Labels: Code, 👍Awaiting Approval, 💡Feature

#910 Adds fleet polo shirts & Jackets
  maps/torch/datums/uniforms_exp_fleet.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/icons/mob/onmob_suit_solgov.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/icons/obj/obj_suit_solgov.dmi
  maps/torch/icons/obj/obj_under_solgov.dmi
  maps/torch/items/clothing/solgov-suit.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: Code, Icon, 👍Awaiting Approval, 💡Feature

#915 Tajaran Resprite + Haircuts
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/code/modules/sprite_accessories/accessory_tajara.dm
  modular_mithra/icons/mob/ears.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/body.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/deformed_body.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/husk.dmi
  modular_mithra/icons/mob/human_races/species/tajaran/tail.dmi
  modular_mithra/icons/mob/tails.dmi
Labels: Code, Icon, 👍Awaiting Approval, 💡Feature

#854 Rank tweaks for infantry and misc. jobs, brig chief alternate title
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: Code, Lore, 👍Awaiting Approval, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required, 💬Lore Feedback Required

#857 Gun Printer nerf + Autolathe buff
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/research/designs/designs_weapon.dm
Labels: Code, ⚠️Balance Change, ✂Revert, ❌Author Attention Needed, 👍Awaiting Approval, 💬Concept Feedback Required, 🔵Test Merge Candidate

#891 Changes the Deck Officer's superior to the CO, other minor changes
  code/game/jobs/job/civilian.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/supply_jobs.dm
Labels: Code, Lore, 👍Awaiting Approval

#877 Akula can now be marines, Genemodders and IPC can now be Sol Federal Police agents
  maps/torch/torch_ranks.dm
  maps/torch/torch_ranks_boh.dm
Labels: Code, Lore, 👍Awaiting Approval, 💬Code Review Required, 💬Concept Feedback Required

#919 Removes the limit on adherents/round
  code/modules/species/station/adherent.dm
Labels: Code, ✂Revert, 💬Concept Feedback Required

#899 More Alt titles
  maps/torch/icons/assignment_hud.dmi
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/research_jobs.dm
Labels: Code, 👍Awaiting Approval, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required
