Repository BoHBranch/BoH-Bay, pull requests merged in 2020-06, with the labels that each got.

#908 Adds Biomechanical Technician title to roboticist
  maps/torch/job/engineering_jobs.dm
Labels: Code, 👍Awaiting Approval, 💡Feature

#914 Adds Three Eye to the uplink and Jerraman changes, minor fixes.
  code/datums/uplink/medical.dm
  code/game/jobs/access_datum.dm
  code/modules/psionics/equipment/foundation_weapon.dm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/structures/closets/command.dm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval, 💬Code Review Required, 💬Concept Feedback Required

#728 Detethers most ghosttraps from a role pref so they actually work with our playerbase.
  code/modules/ghosttrap/trap.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: Code, Icon, ✔️Awaiting Merge, 👍Awaiting Approval, 🔵Test Merge Candidate

#890 Infantry Rebalance - Plasmacutter Buff
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/projectiles/projectile/beams.dm
  maps/torch/infantry/firearms.dm
  maps/torch/infantry/storage.dm
  maps/torch/items/clothing/boh_clothing.dm
  maps/torch/items/clothing/solgov-armor.dm
  maps/torch/items/manuals.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/structures/closets.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: Map, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE, ⚠️Balance Change, ✔️Awaiting Merge, 💬Concept Feedback Required, 🔥FUCK FUCK FUCK FUCK FUCK, 🔵Test Merge Candidate

#762 Cult QoL pass and features
  baystation12.dme
  code/__defines/materials.dm
  code/datums/outfits/cult.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/cultify/other.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/cult/runes/_runes.dm
  code/game/gamemodes/cult/runes/astral_journey.dm
  code/game/gamemodes/cult/runes/blood_drain.dm
  code/game/gamemodes/cult/runes/confuse.dm
  code/game/gamemodes/cult/runes/convert.dm
  code/game/gamemodes/cult/runes/defile.dm
  code/game/gamemodes/cult/runes/emp.dm
  code/game/gamemodes/cult/runes/equip.dm
  code/game/gamemodes/cult/runes/imbue_runes.dm
  code/game/gamemodes/cult/runes/obscure_reveal.dm
  code/game/gamemodes/cult/runes/offering.dm
  code/game/gamemodes/cult/runes/revive.dm
  code/game/gamemodes/cult/runes/shade.dm
  code/game/gamemodes/cult/runes/summon_material.dm
  code/game/gamemodes/cult/runes/summon_pylon.dm
  code/game/gamemodes/cult/runes/summon_shell.dm
  code/game/gamemodes/cult/runes/tear_reality.dm
  code/game/gamemodes/cult/runes/teleport.dm
  code/game/gamemodes/cult/runes/tome.dm
  code/game/gamemodes/cult/runes/wall.dm
  code/game/gamemodes/cult/runes/weapons.dm
  code/game/gamemodes/cult/talisman.dm
  code/game/objects/structures/window.dm
  code/game/turfs/flooring/flooring.dm
  code/modules/materials/definitions/materials_other.dm
  code/modules/materials/material_sheets.dm
  code/modules/mob/living/simple_animal/constructs/soulstone.dm
  code/modules/mob/living/simple_animal/shade.dm
  icons/turf/flooring/cult.dmi
  icons/turf/flooring/tiles.dmi
  test/check-paths.sh
Labels: Code, 👍Awaiting Approval, 💚Quality of Life, 💬Code Review Required, 💬Concept Feedback Required, 🔵Test Merge Candidate

#883 Ascent Buffs
  code/modules/ascent/ascent_rigs.dm
  code/modules/boh/ascent2/firearms.dm
  code/modules/boh/ascent2/projectiles.dm
  code/modules/boh/ascent2/weapons.dm
  code/modules/projectiles/guns/energy/mantid.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/species/mantid/mantid.dm
  sound/weapons/gauss.ogg
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#892 Adds (nerfed) Skrellian voidsuits + helmets to xenowear loadout for Dagon Skrell
  code/modules/clothing/spacesuits/void/misc.dm
  maps/torch/loadout/loadout_xeno.dm
Labels: Code, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#921 Flashdark buffs
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/devices/flashlight.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Concept Feedback Required

#900 Branch/rank tweaks for diona, adherent, and prometheans
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: Code, Lore, ✂Revert, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required, 💬Lore Feedback Required, 💬Poll

#928 Changes job ages
  maps/torch/job/command_jobs.dm
  maps/torch/job/corporate_jobs.dm
  maps/torch/job/exploration_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/medical_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
Labels: Code, ✔️Awaiting Merge, 💡Feature, 💬Concept Feedback Required, 💬Lore Feedback Required

#931 Fixes the fleet polo pants
  maps/torch/datums/uniforms_exp_fleet.dm
Labels: Code, ✔️Awaiting Merge, 🔧Bugfix

#932 Adds a new tactical armor set in to cargo. In Black!
  code/datums/supplypacks/security.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/clothing/under/jobs/security.dm
  icons/mob/onmob/onmob_under.dmi
  icons/obj/clothing/obj_under.dmi
Labels: Code, ✔️Awaiting Merge, 💡Feature, 💬Concept Feedback Required

#936 Adds Brand New Marksman Rifle (Z2 Hornet)
  code/__defines/guns.dm
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/obj/guns/hornet.dmi
  maps/torch/datums/supplypacks/security.dm
  sound/weapons/gunshot/hornet.ogg
Labels: ✔️Awaiting Merge, 👍Awaiting Approval, 💡Feature, 🔵Test Merge Candidate

#937 Re-adds Supply Changes to D5
  maps/torch/torch1_deck5.dmm
  maps/torch/torch4_deck2.dmm
Labels: ✔️Awaiting Merge, 👍Awaiting Approval, 🔧Bugfix

#938 Adjusts the costs of "loud" traitor items
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: ⚠️Balance Change, ✔️Awaiting Merge, 👍Awaiting Approval

#939 Changes the cost of stims and zerk
  code/datums/uplink/medical.dm
Labels: ⚠️Balance Change, ✔️Awaiting Merge, 👍Awaiting Approval

#940 Removes slugs from maint spawn
  code/game/objects/random/random.dm
Labels: ✂Revert, ✔️Awaiting Merge, 👍Awaiting Approval

#941 General gun balance pass
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
Labels: ⚠️Balance Change, ✔️Awaiting Merge, 👍Awaiting Approval

#943 Adds cigarette packets to the loadout
  code/modules/client/preference_setup/loadout/lists/misc.dm
Labels: ✔️Awaiting Merge, 👍Awaiting Approval, 💡Feature

#945 Improvement to Update Flavour Text: Issue #688 Fix
  code/modules/mob/living/carbon/human/examine.dm
Labels: ✔️Awaiting Merge, 👍Awaiting Approval, 🔧Bugfix

#950 Wallets can now hold E-Cig Cartridges: Issue #948 Fix
  code/game/objects/items/weapons/storage/wallets.dm
Labels: ✔️Awaiting Merge, 👍Awaiting Approval, 🔧Bugfix

#956 Regeneration and minor balance changes.
  code/game/objects/auras/regenerating_aura.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/internal/species/fbp.dm
  code/modules/species/species.dm
Labels: ⚠️Balance Change, ✔️Awaiting Merge, 👍Awaiting Approval, 💬Concept Feedback Required

#839 Legal PR: The second coming.
  code/datums/outfits/jobs/civilian.dm
  code/game/antagonist/station/cult_god.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/traitor.dm
  code/game/jobs/access_datum.dm
  code/game/jobs/job/civilian.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/documents.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  maps/torch/datums/reports/solgov.dm
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/services.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_shuttles.dm
Labels: Code, Lore, Map, ✔️Awaiting Merge, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required, 🛠WIP

#947 Improvements to cable coils consistency + Issue #690 Fix
  code/modules/power/cable.dm
Labels: ✔️Awaiting Merge, 👍Awaiting Approval, 🔧Bugfix

#986 Fix Merchant Shuttle + Removing Infantry Armory from D5(Inactive and being looted)
  maps/torch/torch1_deck5.dmm
  maps/torch/torch_areas.dm
  maps/torch/z1_admin.dmm
Labels: SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE, ❌DO NOT MERGE

#935 Changes the laser carbine sound
  code/modules/projectiles/projectile/beams.dm
  sound/weapons/Laser4.wav
Labels: Sound, ✔️Awaiting Merge, 💡Feature

#944 Reduces TC on ID, voice changer and compressed matter implant
  code/datums/uplink/implants.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge

#958 The Bulldog can load non-frangible mags again.
  maps/torch/infantry/firearms.dm
Labels: ⚠️Balance Change, ✔️Awaiting Merge, 💬Concept Feedback Required

#961 Makes Frag-Grenades deadly.
  code/game/objects/items/weapons/grenades/explosive.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#962 You will no longer be floored from any agony damage to genitals
  code/modules/organs/external/_external_damage.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#963 CoS Hazard Hardsuit, Armor Buff.
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#968 Refreshes Vassilisan Sprites
  modular_mithra/code/modules/mithra/body_markings.dm
  modular_mithra/icons/mob/human_races/markings.dmi
  modular_mithra/icons/mob/human_races/species/vasilissan/body.dmi
  modular_mithra/icons/mob/human_races/species/vasilissan/preview.dmi
  modular_mithra/icons/mob/human_races/species/vasilissan/tail.dmi
  modular_mithra/icons/mob/wings.dmi
Labels: Code, ✔️Awaiting Merge, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required

#970 Hornet Balance Pass and Name Change + Fixes Tan Tactical Crate
  code/modules/clothing/suits/armor.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#971 Nanites can no longer be produced
  code/modules/research/designs/designs_mechfab.dm
Labels: Code, ✂Revert, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#972 Fixes pilot suit cycler.
  code/game/machinery/suit_cycler_units.dm
Labels: Code, ✔️Awaiting Merge, 🔧Bugfix

#981 Adjudicator speedrun fix.
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, 👍Awaiting Approval, 🔧Bugfix

#978 Traitor only organ healing drug: Kompoton
  code/datums/uplink/medical.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💡Feature, 💬Code Review Required, 💬Concept Feedback Required

#992 Fixes name on explosive harpoon.
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code, 👍Awaiting Approval, 🔧Bugfix

#974 Re-Sprite ERT Gear + New RIG Sound Effects + ERT Hardsuit Roles.
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/rig_modules.dmi
  sound/machines/rigdown.ogg
  sound/machines/rigerror.ogg
  sound/machines/rigonline.ogg
  sound/machines/rigstarted.ogg
  sound/machines/rigstep.ogg
Labels: Code, Icon, Sound, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#984 Race war now, aka species branch changes and cleanup
  baystation12.dme
  code/modules/species/station/station.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks.dm
  maps/torch/torch_ranks_boh.dm
  modular_mithra/code/modules/species/station/akula.dm
  modular_mithra/code/modules/species/station/sergal.dm
  modular_mithra/code/modules/species/station/vasilissan.dm
  modular_mithra/code/modules/species/station/vulpkanin.dm
Labels: Code, ⚠️Balance Change, 💬Code Review Required, 💬Concept Feedback Required

#988 Secure Windoors Access fixing + Merchant 100% availability
  maps/torch/job/misc_jobs.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/z1_admin.dmm
Labels: Code, Map, 👍Awaiting Approval, 💬Code Review Required, 🔧Bugfix

#991 Adjudicator PR tweaks.
  maps/torch/job/hestia_jobs.dm
Labels: Code, ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#993 Ascent tweaks.
  code/modules/ascent/ascent_rigs.dm
  code/modules/boh/ascent2/projectiles.dm
Labels: ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required, 💬Concept Feedback Required

#994 Slight skrell voidsuit buff
  code/modules/clothing/spacesuits/void/misc.dm
Labels: ⚠️Balance Change, ✔️Awaiting Merge, 💬Code Review Required

#996 [Hotfix] Fixes two pixels in the vassilisan sprite
  modular_mithra/icons/mob/human_races/species/vasilissan/body.dmi
Labels: Code, ✔️Awaiting Merge, 🔧Bugfix

#983 Blacklists adjudicator, bailiff, infantry and cyborgs from antags
  code/game/antagonist/station/renegade.dm
  code/game/antagonist/station/traitor.dm
  maps/torch/torch_antagonism.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval, 💡Feature, 💬Concept Feedback Required

#1000 Adds the fleet officer coveralls to the loadout
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: Code, 👍Awaiting Approval, 💡Feature, 💬Code Review Required

#973 Nerfs the E-Swords Damage a tiny bit.
  code/game/objects/items/weapons/melee/energy.dm
Labels: Code, ⚠️Balance Change, 👍Awaiting Approval, 💬Concept Feedback Required, 💬Poll

#934 Nerfs the CO's Revolver SLIGHTLY.
  code/modules/boh_misc/munitions.dm
Labels: ⚠️Balance Change, 💬Concept Feedback Required, 🔵Test Merge Candidate

#1003 Revert "Fix server crashes from syndicates endlessly shooting leeches"
  code/modules/mob/living/simple_animal/hostile/leech.dm
Labels: Code, ✂Revert, 💬Code Review Required

#1007 Hostile mobs don't break the server now
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  maps/away/slavers/slavers_base.dmm
  maps/torch/torch1_deck5.dmm
Labels: Code, Map, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE, ⚠️Balance Change, ✂Revert, 💬Code Review Required, 🔧Bugfix

#1009 Kompoton balance pass
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: Code, ⚠️Balance Change, 💬Concept Feedback Required

#1008 Gives CoS more access
  maps/torch/job/command_jobs.dm
Labels: Code, 👍Awaiting Approval

#1012 Fixes the skrellship's SMES Room air alarm & adds multiple weapon and cell rechargers to it.
  maps/away/skrellscoutship/skrellscoutship-1.dmm
  maps/away/skrellscoutship/skrellscoutship-2.dmm
Labels: :trophy: Good First PR, Map, 🔧Bugfix

#1015 Medkit tweaks
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/med_pouch.dm
Labels: Code, ⚠️Balance Change, 💚Quality of Life, 💬Concept Feedback Required
