Repository BoHBranch/BoH-Bay, pull requests merged in 2022-04, with the labels that each got.

#1726 Removes Skrell Railgun Hardstun
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/projectile/magnetic.dm
Labels: ⚠️3 Balance Change

#1724 plasmaman burning no longer double-dips burn damage
  code/modules/species/station/plasmasans.dm
Labels: 👍1 Awaiting Approval

#1719 Fixes the commented out darkrp baton (NOT FOR APRIL FOOLS!)
  baystation12.dme
  code/modules/boh/admin/items.dm
  maps/torch/items/items.dm
Labels: ✔️1 Awaiting Merge

#1659 Replaces the MK59s in the bridge storage with the Sec compact smartgun that doesn't recharge.
  maps/torch/structures/closets/misc.dm
  maps/torch/torch6_bridge.dmm
Labels: ✔️1 Awaiting Merge

#1723 Saferoom Atmos Safety
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: ✔️1 Awaiting Merge

#1685 xenobio buffs/changes
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/xenobiological/items.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/wounds/wound.dm
  code/modules/power/cell.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
Labels: ✔️1 Awaiting Merge

#1733 Adds the Polymer machete sheath
  code/modules/client/preference_setup/loadout/lists/tactical.dm
  code/modules/clothing/under/accessories/holster.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/obj/clothing/obj_accessories.dmi
Labels: 💡3 Feature, ✔️1 Awaiting Merge, 🎨3 Icon

#1713 adds maid outfit to loadout menu
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
Labels: 💬1 Concept Feedback Required, ✔️1 Awaiting Merge, 🧂7 what

#1708 Adds a new phoron suit choice.
  code/modules/boh/items/plasmasans.dm
  icons/mob/species/plasmasans/onmob_head_plasmasans.dmi
  icons/mob/species/plasmasans/onmob_suit_plasmasans.dmi
  icons/obj/clothing/species/plasmasans/obj_head_plasmasans.dmi
  icons/obj/clothing/species/plasmasans/obj_suit_plasmasans.dmi
Labels: 💬1 Concept Feedback Required, ✔️1 Awaiting Merge, 🎨3 Icon

#1682 Adds sutures+inside kits
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/surgery_tools.dm
  icons/obj/surgery.dmi
  sound/weapons/suture.ogg
Labels: 💡3 Feature, ✔️1 Awaiting Merge

#1590 Fleet polo & pants uniform additions
  code/datums/underwear/undershirt.dm
  icons/mob/human.dmi
  maps/torch/icons/mob/onmob_under_solgov.dmi
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: ✔️1 Awaiting Merge

#1720 Banana pie redux
  code/modules/cooking/recipes/recipes_oven.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: 🔧3 Bugfix, ❌0 Author Attention Needed
