Repository BoHBranch/BoH-Bay, pull requests merged in 2022-03, with the labels that each got.

#1319 New Vox ship!
  code/game/machinery/portturret_boh.dm
  code/modules/overmap/disperser/disperser_charge.dm
  icons/mob/species/vox/onmob_head_vox.dmi
  icons/mob/species/vox/onmob_suit_vox.dmi
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
  maps/away/voxship/voxship_areas.dm
Labels: 🔵Test Merge Candidate

#1376 Fixes all SSV Related CI errors.
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: 🔧Bugfix, Map, 👍Awaiting Approval

#1374 Changes the Envoy's and KS-40's shell capacities back to their original ones
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: ✔️Awaiting Merge, Code

#1375 Gives the midlaser (laser carbine laser) it's original AP value again
  code/modules/projectiles/projectile/beams.dm
Labels: ✔️Awaiting Merge, ⚠️Balance Change

#1387 Removes some runtimes from away sites testings
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: 🔧Bugfix, ✔️Awaiting Merge

#1381 All my vox balance changes in one place
  code/modules/projectiles/projectile/beams.dm
  maps/away/voxship/voxship_jobs.dm
Labels: ⚠️Balance Change, 🛠WIP

#1368 Last SOME Vox ship up doots.
  code/game/machinery/turret_control.dm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: 💬Code Review Required, Map, 👍Awaiting Approval

#1392 Adds 1 skrell themed song to jukeboxes
  code/_global_vars/lists/flavor.dm
  code/datums/music_tracks/boh_music_tracks.dm
  sound/music/boh/skrell_choir.ogg
Labels: ✔️Awaiting Merge, Sound

#1391 Accurated (and new) Medkits Sprites (Suggestion)
  code/game/objects/items/weapons/storage/firstaid.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: 💬Code Review Required, Icon, 💚Quality of Life, 👍Awaiting Approval

#1402 Darkmatter Gun Nerf
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy.dm
Labels: ⚠️Balance Change

#1398 Ports New Hairstyles from Sojourn
  code/modules/sprite_accessories/_accessory_hair.dm
  html/changelogs/N8Toe-sojournhair.yml
  icons/mob/human_races/species/human/hair.dmi
Labels: ❌DO NOT MERGE, ❌Author Attention Needed, 💚Quality of Life

#1403 Veteris can now wear unathi voidsuits/rigsuits
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/void/misc.dm
  icons/mob/onmob/onmob_suit.dmi
Labels: ✔️Awaiting Merge

#1408 Fixes weird vox commit issues
  code/game/machinery/portturret_boh.dm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: 🔥FUCK FUCK FUCK FUCK FUCK

#1416 Turns Away Site's CI green
  maps/away/bearcat/bearcat-2.dmm
  maps/away/rawl/rawl.dmm
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
Labels: 🔧Bugfix, ✔️Awaiting Merge, 🥇Seal of Excellence

#1417 Makes GAS Insuls available to GAS Engineers.
  maps/torch/loadout/loadout_xeno.dm
Labels: 🔧Bugfix, ✔️Awaiting Merge

#1413 Sec Primaries | Stuff
  code/__defines/guns.dm
  code/modules/boh/admin/items.dm
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/firearms.dm
  code/modules/boh_misc/munitions.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/boh/items/smg.dmi
  maps/torch/structures/closets/security.dm
  maps/torch/torch_areas.dm
Labels: ⚠️Balance Change

#1336 Changes the Z-6 to be more of an Auto Rifle, and merges it with disposable launcher for CT.
  maps/torch/infantry/firearms.dm
  maps/torch/infantry/storage.dm
Labels: ❌DO NOT MERGE, ❌Author Attention Needed, ⚠️Balance Change, Code

#1434 Raises Exoplanet Count | Raises Off-Site Budget
  maps/torch/torch_define.dm
Labels: ⚠️Balance Change

#1429 New Pulse Carbine Sprites by ShadeAware +Very small damage buff
  code/modules/projectiles/projectile/beams.dm
  icons/obj/guns/pulse_carbine.dmi
  icons/obj/guns/pulse_pistol.dmi
Labels: 🔧Bugfix, ✔️Awaiting Merge, 💬Code Review Required, Icon

#1437 Do you have any idea how much this gear costs, son? - Infantry Edition
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_rig_modules.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/unathi/generated/onmob_rig_back_unathi.dmi
  icons/mob/species/unathi/onmob_feet_unathi.dmi
  icons/mob/species/unathi/onmob_hands_unathi.dmi
  icons/mob/species/unathi/onmob_head_helmet_unathi.dmi
  icons/mob/species/unathi/onmob_suit_unathi.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/rig_modules.dmi
  maps/torch/infantry/hardsuit.dm
  maps/torch/torch.dm
  maps/torch/torch2_deck4.dmm
Labels: 💬Code Review Required, Icon, 🥇Seal of Excellence, 💚Quality of Life, 👍Awaiting Approval

#1439 Nerfs Makeshift Guns Somewhat
  code/modules/crafting/crafting_spear_prod.dm
  code/modules/projectiles/guns/projectile/zipgun.dm
Labels: ⚠️Balance Change, Code

#1447 SL Changes (Rank and Skills (Foxy has no idea how to use Github))
  maps/torch/job/hestia_jobs.dm
Labels: ✔️Awaiting Merge

#1450 Fixes Infantry Suits for Xenos
  modular_mithra/code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: 🔧Bugfix

#1449 ABORT ABORT SHIT FUCK
  maps/torch/job/torch_jobs.dm
  maps/torch/torch_ranks_boh.dm
Labels: ⚠️Balance Change, ✂Revert, Code

#1438 Deck Officer alt title + Fleet Prospector
  maps/torch/job/supply_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: 💬Concept Feedback Required, Code, 👍Awaiting Approval

#1453 Re-adds robolimbs mistakenely removed.
  code/modules/organs/robolimbs.dm
Labels: 💬Code Review Required, 👍Awaiting Approval

#1452 Makes xenos unable to grenade stuff
  code/__defines/mobs.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/species/xenomorphs/alien_species.dm
Labels: 🔧Bugfix, ❌Author Attention Needed, Code

#1461 Electrolaser carbine changes
  code/modules/projectiles/guns/energy/stun.dm
Labels: Deferred to Carl

#1405 Missiles Initial Commit
  baystation12.dme
  code/__defines/overmap.dm
  code/_helpers/unsorted.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  code/game/objects/structures/crates_lockers/munitions_crate.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/turfs/turf.dm
  code/modules/overmap/contacts/contact_sensors.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/projectiles/missiles/equipment/missile_equipment.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/antimissile.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/diffuser.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/emp.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/explosive.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/payload.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/armer.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/passenger.dm
  code/modules/overmap/projectiles/missiles/equipment/utility/thruster.dm
  code/modules/overmap/projectiles/missiles/missile.dm
  code/modules/overmap/projectiles/missiles/presets/antispace.dm
  code/modules/overmap/projectiles/missiles/presets/diffusive.dm
  code/modules/overmap/projectiles/missiles/presets/explosive.dm
  code/modules/overmap/projectiles/missiles/presets/impact.dm
  code/modules/overmap/projectiles/projectile.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/target_control.dm
  code/modules/overmap/ships/ship.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/bigmissile.dmi
  icons/obj/missile_equipment.dmi
  icons/obj/overmap.dmi
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_elevator.dm
  maps/torch/torch_unit_testing.dm
  nano/templates/target.tmpl
Labels: ❌DO NOT MERGE, ❌High Risk, ❕ High Priority, 🥇Seal of Excellence

#1250 Ports gun attachments
  baystation12.dme
  code/__defines/guns.dm
  code/_onclick/hud/action.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/attachments.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/guns/gun_attachments.dmi
  icons/obj/guns/holdout_pistol.dmi
  sound/items/attachment_add.ogg
  sound/items/attachment_remove.ogg
Labels: ❌DO NOT MERGE, ❌High Risk, ❌Author Attention Needed, 🛠WIP

#1472 Stupid voxslugs dies to 2 hits by your feets
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: ✔️Awaiting Merge, ⚠️Balance Change

#1476 Combat medic tweaks
  maps/torch/infantry/outfits.dm
  maps/torch/job/hestia_jobs.dm
  maps/torch/job/outfits/hestia_outfits.dm
  maps/torch/structures/closets.dm
Labels: ⚠️Balance Change, 👍Awaiting Approval, Deferred to Carl

#1478 Taser Carbines Tweak
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/firearms.dm
  maps/torch/torch5_deck1.dmm
Labels: 💬Concept Feedback Required, ⚠️Balance Change

#1488 Mantid Turret
  code/game/machinery/portable_turret.dm
Labels: Code, :trophy: Good First PR

#1492 Weapon Fab bug fix
  code/modules/research/designs/designs_weapon.dm
Labels: 🔧Bugfix, Code

#1483 (READY) SSV changes
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: ✔️Awaiting Merge, Map

#1477 (READY) Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 💬Concept Feedback Required, 🛠WIP, Github

#1473 Holopads have better examine() and are now constructable
  baystation12.dme
  code/game/machinery/_machines_base/machine_construction/floor.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/hologram.dm
  code/game/objects/items/weapons/circuitboards/machinery/holopad.dm
  code/modules/ascent/ascent_machines.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_furniture.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/machines/constructable_frame.dmi
  icons/obj/stock_parts.dmi
Labels: 💚Quality of Life, 👍Awaiting Approval

#1427 [READY] The Ascent Tiro, a Khaarmani-Human role for the Seedship.
  code/game/jobs/access_datum.dm
  code/game/objects/items/devices/megaphone.dm
  code/modules/ascent/ascent_id.dm
  code/modules/ascent/ascent_outfit.dm
  code/modules/ascent/ascent_rigs.dm
  code/modules/boh/ascent2/weapons.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/language/alien/mantid.dm
  code/modules/organs/internal/species/insectoid.dm
  code/modules/projectiles/guns/energy/mantid.dm
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_modules.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/unathi/generated/onmob_feet_unathi.dmi
  icons/mob/species/unathi/generated/onmob_hands_unathi.dmi
  icons/mob/species/unathi/generated/onmob_head_unathi.dmi
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
  icons/mob/species/unathi/generated/onmob_under_unathi.dmi
  icons/obj/ascent.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/clothing/obj_accessories.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_under.dmi
  icons/obj/guns/particle_rifle.dmi
  icons/obj/rig_modules.dmi
  icons/obj/surgery.dmi
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
  maps/away/ascent/ascent_areas.dm
  maps/away/ascent/ascent_jobs.dm
  sound/magic/invoke_general.ogg
Labels: ❌DO NOT MERGE, Map, ❌Author Attention Needed, ⚠️Balance Change, 🥇Seal of Excellence, Deferred to Carl

#1500 combat belt slowdown
  code/game/objects/items/weapons/storage/belt.dm
Labels: ⚠️3 Balance Change, 🔧3 Code

#1516 makes it possile to fuel the byakhee
  maps/torch/torch6_bridge.dmm
Labels: 📃3 Map

#1524 nerfs par and queen rig weapons, nerfs poopcode.
  code/modules/ascent/ascent_rigs.dm
Labels: ✔️1 Awaiting Merge, ⚠️3 Balance Change

#1517 Hotfix of the ascent/vox cannon
  code/modules/overmap/disperser/disperser_console.dm
Labels: 🔧3 Bugfix, ✔️1 Awaiting Merge

#1522 fixes tiros
  code/modules/ascent/ascent_rigs.dm
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
Labels: 👍1 Awaiting Approval

#1521 Voxslug armalis attacking fix
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
Labels: ✔️1 Awaiting Merge

#1514 Rebalances Skrell Scout Vessel
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
Labels: ✔️1 Awaiting Merge, 📃3 Map, ⚠️3 Balance Change

#1525 Allows Roboticists to be W1, W2, W3
  maps/torch/job/torch_jobs_boh.dm
Labels: 💡3 Feature

#1523 reduces tiro skill points
  maps/away/ascent/ascent_jobs.dm
Labels: ❌0 DO NOT MERGE

#1494 Serpentid queen, the medical support
  maps/away/ascent/ascent_jobs.dm
Labels: ❌0 Author Attention Needed

#1526 makes prommies immune to rads
  code/modules/species/station/prometheans.dm
Labels: ✔️1 Awaiting Merge

#1533 Makes Bluespace Beakers cheaper
  code/modules/research/designs/designs_beaker.dm
Labels: ✔️1 Awaiting Merge

#1527 Buffs missiles somewhat
  code/modules/overmap/projectiles/missiles/equipment/payload/diffuser.dm
  code/modules/overmap/projectiles/missiles/equipment/payload/explosive.dm
Labels: ⚠️3 Balance Change

#1537 I'm Sorry
  code/modules/hydroponics/seed_storage.dm
Labels: 🚒0 SPEEEEEEEEEED MEEERGEEE

#1475 Supply/Munition update!
  maps/torch/job/supply_jobs.dm
Labels: ❌0 Author Attention Needed

#1512 buffs breacher suits
  code/modules/clothing/spacesuits/rig/suits/alien.dm
Labels: 💬1 Concept Feedback Required, ✔️1 Awaiting Merge, ⚠️3 Balance Change

#1540 [NERF(?)] Adds Prommies to the Tiro species blacklist.
  maps/away/ascent/ascent_jobs.dm
Labels: 💬1 Concept Feedback Required, 👍1 Awaiting Approval

#1549 Citizens & Feds
  code/datums/mil_ranks.dm
  code/game/jobs/job/job.dm
  code/game/objects/items/weapons/cards_ids.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/service_jobs.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/torch_ranks.dm
  maps/torch/torch_ranks_boh.dm
Labels: ✔️1 Awaiting Merge, 📘3 Lore

#1565 Federal Agent Icon
  maps/torch/icons/assignment_hud_boh.dmi
Labels: 🚒0 SPEEEEEEEEEED MEEERGEEE

#1562 Ascent Turret Update
  code/game/machinery/portable_turret.dm
  code/game/machinery/turret_control.dm
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
  maps/away/ascent/ascent.dm
  maps/away/ascent/ascent_shuttles.dm
Labels: 📃3 Map, 🔧3 Code, 💚3 Quality of Life

#1566 Adds the mantid "nutrient" dispenser
  baystation12.dme
  code/modules/boh/ascent2/mantid_food.dm
  icons/obj/food.dmi
  icons/obj/machines/mantid_food.dmi
  maps/away/ascent/ascent-1.dmm
Labels: 💡3 Feature, 🧂7 Salt PR, 🧂7 what, 🧂7 Cringe, 🧂7 Skill Issue

#1571 Unifies naming of suits
  code/modules/ascent/ascent_rigs.dm
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void/merc.dm
  maps/torch/items/rigs.dm
Labels: 👍1 Awaiting Approval

#1579 [FUCK NODE-IPC] Locks all npm dependency versions to fixed
  vueui/package-lock.json
  vueui/package.json
Labels: 🚒0 SPEEEEEEEEEED MEEERGEEE

#1548 Crashed Fighter v2
  baystation12.dme
  maps/random_ruins/exoplanet_ruins/c_fighter/c_fighter.dm
  maps/random_ruins/exoplanet_ruins/c_fighter/c_fighter.dmm
Labels: 💡3 Feature, 📃3 Map

#1560 make alien go see dark
  code/modules/species/xenomorphs/alien_species.dm
Labels: ✔️1 Awaiting Merge

#1585 Adds MULE's to the list of species that may not be a Tiro.
  maps/away/ascent/ascent_jobs.dm
Labels: ✔️1 Awaiting Merge, ⚠️3 Balance Change, 🔧3 Code

#1576 Handfuls can be loaded into magazines, and birdshot handfuls added.
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/handfuls.dm
  icons/obj/ammo.dmi
  sound/weapons/guns/bulletin_mag.ogg
Labels: ✔️1 Awaiting Merge, 💚3 Quality of Life

#1557 Gives combat medic hardsuit chem injector module and medHUD module
  maps/torch/structures/closets.dm
Labels: ✔️1 Awaiting Merge

#1577 Adds a non-self-charging version of the compact smartgun as a sec sidearm
  code/modules/boh_misc/boxes.dm
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/guns/energy/stun.dm
Labels: 💡3 Feature, ✔️1 Awaiting Merge, 💬1 Code Review Required, ⚠️3 Balance Change

#1591 Ascent clothes shuffle
  code/modules/ascent/ascent_outfit.dm
  icons/mob/species/nabber/onmob_under_gas.dmi
Labels: 🔧3 Bugfix, 🎨3 Icon, 🔧3 Code

#1555 Infantry hardsuit rebalance
  maps/torch/infantry/hardsuit.dm
Labels: 💬1 Concept Feedback Required, ⚠️3 Balance Change, 👍1 Awaiting Approval

#1574 makes xeno not wear hats and suits
  code/modules/species/xenomorphs/alien_species.dm
Labels: 🔧3 Bugfix

#1594 [FUCK] Ports Taur Bodies and Weaversilk from Virgo
  baystation12.dme
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/external/_external.dm
  code/modules/species/species.dm
  icons/mob/human_races/sprite_accessories/taurs.dmi
  icons/mob/taurmob/taursuits_naga.dmi
  icons/mob/taurmob/taursuits_slug.dmi
  icons/mob/taurmob/taursuits_spider.dmi
  icons/weaver_icons_vr.dmi
  modular_mithra/code/__defines/misc.dm
  modular_mithra/code/_helpers/global_lists.dm
  modular_mithra/code/modules/mithra/sprite_accessories_vr.dm
  modular_mithra/code/modules/mithra/taurbodies.dm
  modular_mithra/code/modules/mithra/update_icons_vr.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/traits.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_abilities.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_constructions.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_objects.dm
  modular_mithra/code/modules/species/station/custom.dm
  modular_mithra/code/modules/species/station/extreme_modder.dm
  modular_mithra/code/modules/species/station/human2.dm
  modular_mithra/code/modules/species/station/vasilissan.dm
  test/check-paths.sh
Labels: 👍1 Awaiting Approval

#1582 Tactical Frogs
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/clothing/under/accessories/armor_boh.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/species/skrell/onmob_head_skrell.dmi
  icons/mob/species/skrell/onmob_modular_armor_skrell.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/species/skrell/obj_head_skrell.dmi
  icons/obj/clothing/species/skrell/obj_modular_armor_skrell.dmi
Labels: ❌0 Author Attention Needed, 💚3 Quality of Life

#1547 Hestia: Up-Armored Edition.
  code/modules/mechs/components/armour.dm
  code/modules/mechs/mech_damage.dm
  code/modules/mechs/premade/combat.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/mechs/premade/light.dm
  code/modules/mechs/premade/misc.dm
  code/modules/mechs/premade/powerloader.dm
  code/modules/mob/living/silicon/robot/component.dm
Labels: ❌0 Author Attention Needed, 💚3 Quality of Life, 👍1 Awaiting Approval

#1608 Removes the 0.1u of Creth from mantid nutrient cubes
  code/modules/boh/ascent2/mantid_food.dm
Labels: ✔️1 Awaiting Merge

#1606 some exoplanet ruin about bluespace :)
  baystation12.dme
  maps/random_ruins/exoplanet_ruins/blue_puddle/blue_puddle.dm
  maps/random_ruins/exoplanet_ruins/blue_puddle/blue_puddle.dmm
Labels: ✔️1 Awaiting Merge, 📃3 Map

#1432 (READY FOR TEST-MERGING) Full Medical Remap + Virology part 1
  code/game/area/Space Station 13 areas.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/events/prison_break.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  maps/torch/structures/closets/medical.dm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_shuttles.dm
  maps/torch/torch_unit_testing.dm
  maps/torch/z2_transit.dmm
  maps/~mapsystem/maps_unit_testing.dm
Labels: ❌0 High Risk, 🔵1 Test Merge Candidate, 📃3 Map, 🥇1 Seal of Excellence, 🛠2 WIP, 💚3 Quality of Life

#1605 Pathfinder's office makeover... kinda? Also a stamp
  icons/obj/bureaucracy.dmi
  maps/torch/items/stamps.dm
  maps/torch/torch2_deck4.dmm
Labels: ✔️1 Awaiting Merge, 📃3 Map

#1599 Sparrow moment
  code/modules/clothing/ears/headphones.dm
Labels: ✔️1 Awaiting Merge, 💚3 Quality of Life

#1564 Updates Play Global Sound
  code/modules/admin/verbs/playsound.dm
Labels: ✔️1 Awaiting Merge, 🔧3 Code

#1563 Adds offer_ghost from /tg/
  code/_helpers/game.dm
  code/_helpers/maths.dm
  code/_helpers/time.dm
  code/_helpers/unsorted.dm
  code/datums/browser.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/mob/mob_helpers.dm
Labels: 💡3 Feature, ✔️1 Awaiting Merge

#1589 Neural Lace Changes
  code/modules/boh/organs/disintegratable.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/stack.dm
  code/modules/surgery/organs_internal.dm
Labels: 🔧3 Bugfix, ❕0 High Priority, 🥇1 Seal of Excellence, 💚3 Quality of Life

#1569 Ports Kaksisilma:suitsensors from Alanii:master (Suit sensors for IPCs)
  code/controllers/subsystems/jobs.dm
  code/datums/repositories/crew/binary.dm
  code/datums/repositories/crew/vital.dm
  code/modules/client/preference_setup/general/03_equipment.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/silicon/robot/analyzer.dm
  nano/templates/crew_monitor.tmpl
Labels: ✔️1 Awaiting Merge, 💚3 Quality of Life

#1618 Medals are highly visible on uniforms
  code/modules/clothing/under/accessories/medals.dm
Labels: ✔️1 Awaiting Merge

#1629 Ascent Seedship Consistency
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
  maps/away/ascent/ascent.dm
Labels: ✔️1 Awaiting Merge

#1616 Reduces squinting associated with darkvision
  code/__defines/species.dm
Labels: ✔️1 Awaiting Merge

#1596 Sidearms
  maps/torch/job/command_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/loadout/_defines.dm
  maps/torch/loadout/loadout_sikits.dm
  maps/torch/torch_ranks.dm
  maps/torch/torch_ranks_boh.dm
Labels: ✔️1 Awaiting Merge

#1637 Missile Pod Door Relabling
  maps/torch/torch3_deck3.dmm
Labels: ✔️1 Awaiting Merge

#1615 removes hair options from Unathi
  code/modules/sprite_accessories/_accessory_facial.dm
  code/modules/sprite_accessories/_accessory_hair.dm
  modular_mithra/code/modules/sprite_accessories/_accessory_hair.dm
Labels: ✔️1 Awaiting Merge

#1632 Hestia: Mechs Are Scuffed This Fixes It Hopefully Edition.
  code/modules/mechs/premade/combat.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/mechs/premade/light.dm
  code/modules/mechs/premade/powerloader.dm
  code/modules/research/designs/designs_mechfab.dm
Labels: 💡3 Feature, ✔️1 Awaiting Merge

#1645 vox removal (of the useless holopads)
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: ✔️1 Awaiting Merge

#1650 Adds Transform
  code/modules/admin/view_variables/topic.dm
  code/modules/admin/view_variables/view_variables.dm
Labels: 💡3 Feature, ✔️1 Awaiting Merge

#1649 Admins can now see sensor stuff
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: 💡3 Feature, ✔️1 Awaiting Merge

#1652 No! Bad snek!
  code/game/antagonist/antagonist.dm
Labels: ✔️1 Awaiting Merge, ⚠️3 Balance Change, 🔧3 Code, 🐢1 Deferred to Carl

#1653 Psionic spawn fix
  maps/torch/torch6_bridge.dmm
Labels: ✔️1 Awaiting Merge

#1644 radiation mod for unat
  code/modules/species/station/lizard.dm
Labels: ✔️1 Awaiting Merge

#1614 Offship gloves
  code/modules/ascent/ascent_rigs.dm
  code/modules/skrell/skrell_rigs.dm
Labels: ✔️1 Awaiting Merge

#1658 SolGov Dress, Fleet and Service jackets can now hold firearms. Dress jackets hold the same stuff as service. Gun icons to suit storage.
  icons/mob/onmob/onmob_belt_mirror.dmi
  maps/torch/items/clothing/solgov-suit.dm
Labels: 🎨3 Icon

#1631 Gantry
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry.dm
  maps/away/scavver/scavver_gantry_jobs.dm
  maps/away/scavver/scavver_gantry_shuttles.dm
  maps/away/scavver/scavver_gantry_sprites.dmi
  maps/away_sites_testing/away_sites_testing.dm
  maps/torch/torch.dm
  maps/torch/z2_transit.dmm
Labels: ✔️1 Awaiting Merge, 📃3 Map

#1611 Seizure moment
  code/modules/boh/ascent2/firearms.dm
  code/modules/boh/ascent2/projectiles.dm
Labels: ⚠️3 Balance Change, 🔧3 Code

#1638 Changes SM Sprite to something nicer.
  icons/obj/engine.dmi
Labels: 🎨3 Icon

#1627 Adds new Weaver items, makes the Ascent Gyne capable of weaving things.
  code/modules/species/mantid/mantid.dm
  icons/mob/onmob/onmob_eyes.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_under.dmi
  icons/obj/clothing/obj_under.dmi
  icons/weaver_icons_vr.dmi
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/traits.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_abilities.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_constructions.dm
  modular_mithra/code/modules/mob/living/carbon/human/species/trait_stuff/weaver_objects.dm
  modular_mithra/code/modules/species/station/human2.dm
  modular_mithra/code/modules/species/station/vasilissan.dm
Labels: 👍1 Awaiting Approval

#1673 Makes eye glow not fuck with your helmets even better.
  code/modules/organs/internal/eyes.dm
Labels: ✔️1 Awaiting Merge

#1672 unathi bracelet icons
  icons/mob/species/unathi/generated/onmob_accessories_unathi.dmi
Labels: ✔️1 Awaiting Merge

#1671 Gives the plasma rifle actual size
  code/modules/projectiles/guns/energy/special.dm
Labels: ✔️1 Awaiting Merge

#1655 Fleet uniforms moment
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/loadout/loadout_uniform_boh.dm
Labels: ✔️1 Awaiting Merge

#1633 Changes the Merc SMG to actually be an accurate description
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: ✔️1 Awaiting Merge

#1670 Buffs shields.
  code/game/objects/items/weapons/shields.dm
Labels: ✔️1 Awaiting Merge, ⚠️3 Balance Change

#1640 Re-adds Telecomms Relay
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/presets.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/weapons/circuitboards/machinery/telecomms.dm
  code/modules/research/designs/designs_circuits.dm
Labels: 💬1 Concept Feedback Required, ✔️1 Awaiting Merge

#1648 Rebalances Yeosa to make them more distinct from Regular Unat
  baystation12.dme
  code/game/objects/auras/regenerating_aura.dm
  code/modules/organs/internal/species/yeosa.dm
  code/modules/species/station/lizard_subspecies.dm
Labels: ✔️1 Awaiting Merge

#1654 Bay Overmap sprites
  code/modules/overmap/_defines.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/planet_types/wartorn.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/ships/ship.dm
  icons/obj/overmap.dmi
  icons/turf/space.dmi
Labels: ✔️1 Awaiting Merge

#1691 Allows your CKey to be hidden as an antag/offship
  code/controllers/subsystems/ticker.dm
  code/game/antagonist/antagonist_print.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: ✔️1 Awaiting Merge

#1694 Ascent makes food and surgery too
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
Labels: ✔️1 Awaiting Merge

#1698 Combat Medic Marine
  maps/torch/job/hestia_jobs.dm
Labels: ✔️1 Awaiting Merge

#1681 MSQ name adjustment
  maps/away/ascent/ascent_jobs.dm
Labels: ✔️1 Awaiting Merge

#1678 Clicking your revolver with your offhand simply opens it.
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: ✔️1 Awaiting Merge

#1680 Gantry Fixes
  maps/away/scavver/scavver_gantry-1.dmm
  maps/away/scavver/scavver_gantry-2.dmm
  maps/away/scavver/scavver_gantry_jobs.dm
Labels: 🔧3 Bugfix, 📃3 Map

#1692 makes diona roast recipe possible
  code/modules/cooking/recipes/recipes_oven.dm
Labels: ✔️1 Awaiting Merge

#1702 Revert "Bay Overmap sprites"
  code/modules/overmap/_defines.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/exoplanets/planet_types/barren.dm
  code/modules/overmap/exoplanets/planet_types/chlorine.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/overmap/exoplanets/planet_types/grass.dm
  code/modules/overmap/exoplanets/planet_types/shrouded.dm
  code/modules/overmap/exoplanets/planet_types/snow.dm
  code/modules/overmap/exoplanets/planet_types/volcanic.dm
  code/modules/overmap/exoplanets/planet_types/wartorn.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/ships/ship.dm
  icons/obj/overmap.dmi
  icons/turf/space.dmi
Labels: 🚒0 SPEEEEEEEEEED MEEERGEEE, 🧂7 what

#1706 Fixes Ninja Uplink
  code/game/antagonist/outsider/ninja.dm
Labels: ✔️1 Awaiting Merge
