Repository BoHBranch/BoH-Bay, pull requests merged in 2022-02, with the labels that each got.

#1079 Added The Cuchulain Foundation faction
  code/__defines/culture.dm
  code/modules/culture_descriptor/faction/factions_human.dm
Labels: :trophy: Good First PR

#1084 Removes combat augs from loadout
  maps/torch/loadout/loadout_augments.dm
Labels: ⚠️Balance Change

#1097 Fixes compile
  code/modules/supermatter/supermatter.dm
Labels: 🔧Bugfix

#1096 Ascent equaliser
  code/game/objects/structures/mineral_bath.dm
Labels: 🔧Bugfix

#1139 damage_mult and pen_mult added
  code/modules/projectiles/gun.dm
Labels: Code

#1148 STS Rebalance- Full auto, Accuracy changes, Dispersion
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: 💡Feature, ⚠️Balance Change

#1132 Overhauls a lot of sprites
  icons/mob/bot/farmbot.dmi
  icons/mob/bot/floorbot.dmi
  icons/mob/bot/medibot.dmi
  icons/mob/bot/medibot_skins.dmi
  icons/obj/computer.dmi
  icons/obj/crafting_icons.dmi
  icons/obj/device.dmi
  icons/obj/power.dmi
  icons/obj/robot_component.dmi
Labels: ❌DO NOT MERGE, 🔵Test Merge Candidate

#1161 Modular computers no longer give off light when turned off.
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/ntos/subtypes/device.dm
Labels: 🔧Bugfix, Code

#1166 Makes revolvers break open to be reloaded and eject casings.
  code/modules/projectiles/guns/projectile/revolver.dm
  icons/obj/guns/foundation.dmi
  icons/obj/guns/revolvers.dmi
  maps/torch/icons/obj/uniques.dmi
Labels: Icon, Code

#1172 Fixes a couple window-related bugs
  code/_onclick/adjacent.dm
  code/game/atoms.dm
  code/game/objects/structures.dm
  code/game/objects/structures/window.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/materials/recipes_furniture.dm
Labels: 🔧Bugfix, Code

#1176 fucking makes the voidsuits work FUCK
  code/game/machinery/suit_cycler_units.dm
  modular_mithra/code/modules/clothing/spacesuits/void/void.dm
Labels: 🔧Bugfix, Code

#1177 unathi BELLOW and yeosa SQUEAL
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  sound/voice/LizardBellow.ogg
  sound/voice/LizardSqueal.ogg
Labels: 💡Feature, Sound

#1178 Tweaks to the Bearcat's weight and speed
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_shuttles.dm
Labels: Map, Code

#1169 Adds Boron & Supply Stuff
  code/datums/supplypacks/dispcarts.dm
  code/datums/supplypacks/medical.dm
  code/game/objects/random/random.dm
  code/modules/materials/material_sheets.dm
  code/modules/power/fusion/_setup.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  maps/torch/datums/supplypacks/security.dm
Labels: 💡Feature, 🔵Test Merge Candidate, ⚠️Balance Change, Code

#1184 Removes unused areas
  code/modules/boh/admin/items.dm
  maps/torch/torch_areas.dm
Labels: 🔧Bugfix

#1185 Vox Ship Guarantee
  maps/away/voxship/voxship.dm
Labels: ⚠️Balance Change

#1187 Fixes wrong/broken crests on Sensor readings + more
  maps/torch/items/manuals.dm
  maps/torch/torch_setup.dm
Labels: 🔧Bugfix, Code

#1186 Officer sword update
  code/game/objects/items/weapons/melee/misc.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_back.dmi
  icons/mob/onmob/onmob_belt.dmi
  icons/obj/clothing/obj_belt.dmi
  icons/obj/clothing/obj_belt_overlays.dmi
  icons/obj/weapons.dmi
  maps/torch/datums/uniforms_exp_fleet.dm
  maps/torch/datums/uniforms_fleet.dm
  maps/torch/datums/uniforms_marine-corps.dm
  sound/effects/holster/blade_unsheath.ogg
  sound/weapons/bladeslice.ogg
Labels: ✔️Awaiting Merge, Icon, Sound

#1175 Revolver Rework Attempt 2- With new sounds and better testing. Uplink changes.
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/modules/boh_misc/firearms.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  icons/obj/guns/revolvers.dmi
  maps/torch/icons/obj/uniques.dmi
  maps/torch/items/items.dm
  sound/weapons/gunshot/revolver_medium.ogg
  sound/weapons/gunshot/revolver_small.ogg
  sound/weapons/gunshot/revolver_strong.ogg
Labels: 💡Feature, 🔵Test Merge Candidate, ✔️Awaiting Merge, Code, Sound, 💚Quality of Life

#1192 General Balance Edit - Prommie/IPC
  code/modules/organs/internal/species/fbp.dm
  code/modules/organs/internal/species/promethean.dm
  code/modules/species/station/prometheans.dm
Labels: ⚠️Balance Change

#1188 More accurate snipers, SSV bugfixes & new features, Pulse damage scaling.
  code/game/machinery/portable_turret.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/skrell/skrell_rigs.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away/skrellscoutship/skrellscoutship_areas.dm
  maps/away/skrellscoutship/skrellscoutship_revamp.dmm
  maps/away/skrellscoutship/skrellscoutship_shuttles.dm
Labels: 🔧Bugfix, Map, ⚠️Balance Change, Code, 👍Awaiting Approval

#1199 Fixes some hats and gloves for unathi
  icons/mob/species/unathi/onmob_hands_unathi.dmi
  icons/mob/species/unathi/onmob_head_unathi.dmi
  maps/torch/items/clothing/solgov-hands.dm
  maps/torch/items/clothing/solgov-head.dm
Labels: Icon

#1191 Merchantstuff2
  code/datums/trading/ai.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/unique.dm
  code/modules/item_worth/worths_list.dm
  maps/torch/z1_admin.dmm
Labels: ✔️Awaiting Merge, Map, ⚠️Balance Change, Code

#1201 Fixes CI
  code/modules/culture_descriptor/location/locations_vox.dm
  test/check-paths.sh
Labels: 🔧Bugfix, ✔️Awaiting Merge

#1202 Removal of GAS from Antagonistic Roles
  code/modules/species/station/nabber.dm
Labels: ⚠️Balance Change

#1204 Promethean torso fix
  code/modules/organs/external/species/prometheans.dm
Labels: ✔️Awaiting Merge

#1208 Cursed Species ban code
  code/game/jobs/job/job.dm
  code/modules/admin/topic.dm
  code/modules/mob/new_player/new_player.dm
  modular_mithra/code/modules/mithra/spawncheck.dm
Labels: 🔧Bugfix, ❕ High Priority, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE, 👍Awaiting Approval, what

#1207 Adds pools
  code/controllers/subsystems/fluids.dm
  code/game/machinery/pipe/pipe_datums/device_pipe_datums.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/drain.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_fluids.dm
  code/modules/materials/recipes_stacks.dm
  icons/obj/drain.dmi
  icons/obj/tiles.dmi
  icons/obj/watercloset.dmi
  icons/turf/flooring/pool.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
Labels: 👍Awaiting Approval, what

#1219 Vox Rebalance & Minor Map Fix
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  code/modules/projectiles/guns/energy/vox.dm
  code/modules/projectiles/guns/launcher/alien.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy.dm
  maps/away/voxship/voxship-1.dmm
  maps/torch/torch1_deck5.dmm
Labels: ⚠️Balance Change

#1226 Fixes unintended trader-related behavior with the QX-2
  code/datums/trading/unique.dm
Labels: 🔧Bugfix

#1234 Shamelessly buffs drop pouches
  code/modules/clothing/under/accessories/storage.dm
Labels: 💡Feature, Code

#1232 Replaces rubbers in secarm (for pistol) with lethals
  maps/torch/torch5_deck1.dmm
Labels: 💬Concept Feedback Required, ⚠️Balance Change

#1240 Adds the high-visibility jacket
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/jobs.dm
  icons/mob/species/unathi/generated/onmob_suit_unathi.dmi
Labels: Icon, Code, 💚Quality of Life

#1243 Significantly lessens laser damage.
  code/modules/projectiles/projectile/beams.dm
Labels: 💬Concept Feedback Required, ⚠️Balance Change, Nerd Salt PR

#1237 Carl Balance Electric Boogaloo
  baystation12.dme
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/grenades.dm
  code/game/objects/auras/regenerating_aura.dm
  code/game/objects/items/weapons/grenades/neutron.dm
  code/modules/culture_descriptor/culture/cultures_vox.dm
  code/modules/culture_descriptor/faction/factions_vox.dm
  code/modules/culture_descriptor/location/locations_vox.dm
  code/modules/species/outsider/vox.dm
  code/modules/species/species_attack.dm
  maps/away/voxship/voxship_jobs.dm
  maps/away/voxship/voxship_jobs_boh.dm
Labels: ⚠️Balance Change, Lore

#1241 changes (fixes?) some awkward hat loadout requirements
  maps/torch/loadout/loadout_head.dm
  maps/torch/loadout/loadout_head_boh.dm
Labels: 🔧Bugfix, ✔️Awaiting Merge

#1224 Dexalin plus changes
  code/modules/organs/blood.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: 🔵Test Merge Candidate, ⚠️Balance Change

#1223 Ports handfuls+some handful sprites from me.
  baystation12.dme
  code/__defines/guns.dm
  code/modules/boh_misc/munitions.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/ammunition/handfuls.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/ammo.dmi
Labels: 💡Feature, 🥇Seal of Excellence, Code, 💚Quality of Life, 👍Awaiting Approval

#1257 Monarchs
  code/game/objects/items/devices/personal_shield.dm
  code/modules/ascent/ascent_rigs.dm
  code/modules/boh/ascent2/items.dm
  code/modules/organs/internal/species/nabber.dm
  code/modules/species/station/nabber.dm
  icons/mob/human_races/species/nabber/body.dmi
  icons/mob/human_races/species/nabber/body_msw.dmi
  icons/mob/human_races/species/nabber/msq/blood_mask.dmi
  icons/mob/human_races/species/nabber/msq/body.dmi
  icons/mob/human_races/species/nabber/msq/damage_mask.dmi
  icons/mob/human_races/species/nabber/msq/eyes.dmi
  icons/mob/human_races/species/nabber/msq/preview.dmi
  icons/mob/human_races/species/nabber/organs_nabber.dmi
  icons/mob/species/nabber/msq/onmob_back_msq.dmi
  icons/mob/species/nabber/msq/onmob_belt_msq.dmi
  icons/mob/species/nabber/msq/onmob_hands_msq.dmi
  icons/mob/species/nabber/msq/onmob_head_msq.dmi
  icons/mob/species/nabber/msq/onmob_lefthand_particle_rifle.dmi
  icons/mob/species/nabber/msq/onmob_mask_msq.dmi
  icons/mob/species/nabber/msq/onmob_righthand_particle_rifle.dmi
  icons/mob/species/nabber/msq/onmob_suit_msq.dmi
  icons/mob/species/nabber/msq/onmob_under_msq.dmi
  icons/mob/species/nabber/onmob_back_gas.dmi
  icons/mob/species/nabber/onmob_hands_gas.dmi
  icons/mob/species/nabber/onmob_head_gas.dmi
  icons/mob/species/nabber/onmob_suit_gas.dmi
  maps/away/ascent/ascent-1.dmm
  maps/away/ascent/ascent-2.dmm
  maps/away/ascent/ascent_jobs.dm
Labels: 💡Feature, ❌High Risk, Icon, Code

#1260 Removes bodyshielding until further notice
  code/modules/projectiles/projectile.dm
Labels: 🔥FUCK FUCK FUCK FUCK FUCK, ⚠️Balance Change, Nerd Salt PR, what

#1259 Adds droppods
  code/__defines/overmap.dm
  code/datums/supplypacks/munitions.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/modules/overmap/disperser/disperser_charge.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/disperser/disperser_fire.dm
  icons/obj/closets/bases/odst.dmi
  maps/torch/torch3_deck3.dmm
Labels: 💡Feature, ❌Author Attention Needed

#1256 Protein bars have iron, the ones in protein mres have no sugar
  code/game/objects/items/weapons/storage/mre.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: ❌Author Attention Needed

#1239 Bearcat Remake
  maps/away/bearcat/bearcat-1.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/bearcat/bearcat.dm
  maps/away/bearcat/bearcat_jobs.dm
Labels: ❌DO NOT MERGE, ❌Author Attention Needed

#1269 Fixes Torch CI
  maps/torch/torch_areas.dm
Labels: 🔧Bugfix, SPEEEEEEEEEEEEEEEEEEEEEEED MERRRRGEEEEEEEEEEEEEEEE

#1270 Ascent and Skrell guns rebalance. Increases infantry rig laser armor ever so slightly.
  code/modules/boh/ascent2/projectiles.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/magnetic.dm
  maps/torch/items/clothing/boh_clothing.dm
Labels: 💬Code Review Required, ⚠️Balance Change, Code

#1258 Replaces the old exploration ranks
  maps/torch/job/supply_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
Labels: ⚠️Balance Change, Code

#1280 Bugfixes & Balance
  code/game/machinery/suit_cycler_units.dm
  code/modules/boh_misc/munitions.dm
  code/modules/client/goonchatint.dm
  code/modules/client/preference_setup/general/04_flavor.dm
  icons/boh/ammo.dmi
  interface/skin.dmf
  maps/torch/infantry/firearms.dm
  maps/torch/infantry/storage.dm
  maps/torch/job/hestia_jobs.dm
  test/check-paths.sh
Labels: 🔧Bugfix, ⚠️Balance Change

#1284 [Ready] Rewrites Unathi codex stuff, makes their background selection better etc, makes their minimum age 25
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  code/modules/culture_descriptor/faction/factions_unathi.dm
  code/modules/culture_descriptor/location/locations_unathi.dm
  code/modules/culture_descriptor/religion/religions_unathi.dm
  code/modules/species/station/lizard.dm
  code/modules/species/station/lizard_subspecies.dm
  modular_mithra/code/modules/species/station/custom.dm
  modular_mithra/code/modules/species/station/human2.dm
  modular_mithra/code/modules/species/station/humanathi.dm
  modular_mithra/code/modules/species/station/tajaran.dm
Labels: Lore

#1300 Fixes the Half-Assed MS Material | Other Stuff
  code/__defines/culture.dm
  code/modules/boh_misc/munitions.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  code/modules/culture_descriptor/faction/factions_unathi.dm
  code/modules/culture_descriptor/religion/religions_unathi.dm
  maps/away/ascent/ascent_jobs.dm
  maps/away/voxship/voxship.dm
  maps/torch/items/clothing/boh_clothing.dm
Labels: ❌DO NOT MERGE, 🔧Bugfix, ❌High Risk, 🔵Test Merge Candidate, ⚠️Balance Change, Code

#1307 Balance Adjustments, Boogaloo
  code/modules/organs/blood.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch6_bridge.dmm
Labels: ⚠️Balance Change

#1308 /me Window Expansion Attempt 3
  code/modules/mob/say.dm
  code/modules/mob/typing_indicator.dm
Labels: ❌Author Attention Needed

#1305 Sol Gov Rep + Fed Guard
  code/modules/clothing/suits/jobs.dm
  icons/turf/areas.dmi
  maps/torch/icons/assignment_hud_boh.dmi
  maps/torch/items/cards_ids.dm
  maps/torch/items/encryption_keys.dm
  maps/torch/items/headsets.dm
  maps/torch/items/psyker/agent_items.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/outfits/boh_outfits.dm
  maps/torch/job/outfits/command_outfits.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/job/torch_jobs_boh.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/torch6_bridge.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_ranks.dm
Labels: Map, ❌Author Attention Needed, :trophy: Good First PR

#1309 Veteris background choices
  code/__defines/culture.dm
  code/modules/culture_descriptor/culture/cultures_unathi.dm
  modular_mithra/code/modules/species/station/humanathi.dm
Labels: ❌DO NOT MERGE, ❌Author Attention Needed

#1297 Light Rig added to MechFab
  code/modules/research/designs/designs_mechfab.dm
Labels: ❌Author Attention Needed, ⚠️Balance Change, 💚Quality of Life

#1339 SGR & guard edits
  maps/torch/job/command_jobs.dm
  maps/torch/loadout/_defines.dm
Labels: ❌DO NOT MERGE, ❌Author Attention Needed

#1342 SGR Guard locker fix,
  maps/torch/job/command_jobs.dm
Labels: 🔥FUCK FUCK FUCK FUCK FUCK

#1357 fixes 2 doors
  maps/torch/torch3_deck3.dmm
Labels: 🔧Bugfix

#1354 Tablets on Hand, my Beloved
  code/modules/modular_computers/computers/subtypes/dev_tablet.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: ✔️Awaiting Merge, Icon, Code, :trophy: Good First PR
